/** dialog style **/


body .ui-dialog {
    background-color: rgb(243, 240, 223);
    z-index: 3500;
}

body .ui-front {
    z-index: 3000;
}
body .ui-widget-content {
    background:
 rgb(243, 240, 223);
    border: 1px solid rgb(170, 170, 170);
    color: rgb(34, 34, 34);
}

 body .ui-widget-header {
    background: rgb(49, 52, 54);
    border: 1px solid rgb(170, 170, 170);
    color: rgb(234, 234, 234);
    font-weight: bold;
}


body .ui-dialog .ui-dialog-title {
    height: 30px;
    padding: 7.5px 0;
 
}

#cse .ui-widget-content {
	  background-color: rgb(243, 240, 223);
}

/** google style **/
#cse .gsc-control-cse {
    background-color: rgb(243, 240, 223);
    padding: 5px;
}
#cse .gsc-control-cse .gsc-table-result {
    font-family: "Open Sans",sans-serif;
}
#cse .gsc-control-cse .gsc-table-result div {
    padding: 5px;
}
#cse .gsc-result .gs-title {
    height: auto;
    overflow: hidden;
}
input.gsc-input {
    border-color: rgb(187, 187, 187);
    height: 45px;
}
input.gsc-search-button {
    background-color: rgb(103, 117, 35);
    border: 1px solid rgb(103, 117, 35);
    color: rgb(255, 255, 255);
    font-family: "Roboto Slab",serif;
    font-size: 17px;
    height: 45px;
    letter-spacing: 1px;
   
    text-transform: uppercase;
    transition: background-color 0.5s ease-out 0s;
    width: 150px;
}
.gsc-tabHeader.gsc-tabhInactive {
    background-color: rgb(243, 240, 223);
    border-color: rgb(51, 51, 51);
}
.gsc-tabHeader.gsc-tabhActive {
    background-color: rgb(243, 240, 223);
    border-color: rgb(119, 119, 119);
}
.gsc-tabsArea {
    border-color: rgb(51, 51, 51);
}
.gsc-webResult.gsc-result, .gsc-results .gsc-imageResult {
    background-color: rgb(243, 240, 223);
    border-color: rgb(255, 255, 255);
}
.gsc-webResult.gsc-result:hover, .gsc-imageResult:hover {
    background-color: rgb(243, 240, 223);
    border-color: rgb(0, 0, 0);
}
.gsc-webResult.gsc-result.gsc-promotion:hover {
    background-color: rgb(243, 240, 223);
    border-color: rgb(0, 0, 0);
}
.gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b {
    color: rgb(68, 68, 68);
}
.gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
    color: rgb(68, 68, 68);
}
.gs-webResult.gs-result a.gs-title:hover, .gs-webResult.gs-result a.gs-title:hover b, .gs-imageResult a.gs-title:hover, .gs-imageResult a.gs-title:hover b {
    color: rgb(68, 68, 68);
}
.gs-webResult.gs-result a.gs-title:active, .gs-webResult.gs-result a.gs-title:active b, .gs-imageResult a.gs-title:active, .gs-imageResult a.gs-title:active b {
    color: rgb(119, 119, 119);
}
.gsc-cursor-page {
    color: rgb(68, 68, 68);
}
a.gsc-trailing-more-results:link {
    color: rgb(68, 68, 68);
}
.gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType {
    color: rgb(51, 51, 51);
}
.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
    color: rgb(0, 0, 0);
}
.gs-webResult div.gs-visibleUrl-short {
    color: rgb(0, 0, 0);
}
.gs-webResult div.gs-visibleUrl-short {
    display: none;
}
.gs-webResult div.gs-visibleUrl-long {
    display: block;
}
.gs-promotion div.gs-visibleUrl-short {
    display: none;
}
.gs-promotion div.gs-visibleUrl-long {
    display: block;
}
.gsc-cursor-box {
    border-color: rgb(255, 255, 255);
}
.gsc-results .gsc-cursor-box .gsc-cursor-page {
    background-color: rgb(243, 240, 223);
    border-color: rgb(119, 119, 119);
    color: rgb(68, 68, 68);
}
#cse .gs-result .gs-title, #cse .gs-result .gs-title * {
    font-weight: 200;
    text-decoration: none;
}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    border-color: rgb(51, 51, 51);
}
.gsc-webResult.gsc-result.gsc-promotion {
    background-color: rgb(243, 240, 223);
    border-color: rgb(204, 204, 204);
}
.gsc-completion-title {
    color: rgb(68, 68, 68);
}
.gsc-completion-snippet {
    color: rgb(51, 51, 51);
}
.gs-promotion a.gs-title:link, .gs-promotion a.gs-title:link *, .gs-promotion .gs-snippet a:link {
    color: rgb(0, 0, 204);
}
.gs-promotion a.gs-title:visited, .gs-promotion a.gs-title:visited *, .gs-promotion .gs-snippet a:visited {
    color: rgb(0, 0, 204);
}
.gs-promotion a.gs-title:hover, .gs-promotion a.gs-title:hover *, .gs-promotion .gs-snippet a:hover {
    color: rgb(68, 68, 68);
}
.gs-promotion a.gs-title:active, .gs-promotion a.gs-title:active *, .gs-promotion .gs-snippet a:active {
    color: rgb(0, 204, 0);
}
.gs-promotion .gs-snippet, .gs-promotion .gs-title .gs-promotion-title-right, .gs-promotion .gs-title .gs-promotion-title-right * {
    color: rgb(51, 51, 51);
}
.gs-promotion .gs-visibleUrl, .gs-promotion .gs-visibleUrl-short {
    color: rgb(0, 204, 0);
}
