/*Bootstrap core CSS */
@import url(bootstrap.css);
@import url(fonts.css);
@import url(bootstrap-select.css);
@import url(bootstrap-timepicker.min.css);
@import url(jquery.fancybox.css);
@import url(flexslider.css);
@import url(datepicker.css);



/*************************************************************/
/*	Basic Style
/*************************************************************/
body{
	font-family: 'ralewayregular';
	background:#E6E7E8;
	font-size: 16px !important;
	color: #656668;
	word-wrap: break-word;
}
a, a:hover, a:focus, button, button:focus, input, input:focus, input:hover, button:hover{
	outline:none;
	text-decoration:none;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
a {
	color: #539bbb;
}
a:hover{
	color: #40819E;
}
b, strong {
    font-family: 'ralewaybold';
    font-weight: normal;
}
.container{
	background-color: #fff;
}
.txt-center{
	text-align:center;
}
.txt-left{
	text-align:left;
}
.txt-right{
	text-align:right;
}
input, select, textarea{
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
}
ul{
	padding-left: 20px;
}
ul li{
	list-style:disc ;
	margin-bottom: 10px;
}
hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid #C3C4C4;
}
h1{
	font-size:72px;
}
h2{
	font-size:45px;
	color: #447D96;
	margin-bottom: 30px;
	text-transform: uppercase;
}
h3{
	font-size:32px;
	margin-bottom: 15px;
}
h4{
	font-size:24px;
	line-height: 36px;
}
h4.style2{
	font-family: 'ralewaysemibold';
}
h5{
	font-size:22px;
}
h6{
	font-size:18px;
	font-family: 'ralewaysemibold';
	color: #292934;
}
h6 .style2, h6.style2{
	font-family: 'ralewayregular';
}


h1, h2, h3, h4, h5{
	font-family: 'corbenregular';
	letter-spacing: 1px;
	color: #292934;
}
p{
	font-size:16px;
	line-height: 30px;
	font-family: 'ralewayregular';
	color: #656668;
}
img{
	max-width: 100%;
}
@media (max-width:1199px){
	h1{
		font-size:60px;
	}
}
@media (max-width:991px){
	h1{
		font-size:50px;
	}
	h2{
		font-size:40px;
		margin-bottom: 25px;
	}
	h3{
		font-size:30px;
	}
	h4{
		font-size:22px;
	}
	h5{
		font-size:20px;
	}
}
@media (max-width:767px){
	h1{
		font-size:45px;
	}
	h2{
		font-size:35px;
	}
	h3{
		font-size:25px;
	}
	h4{
		font-size:20px;
	}
	h5{
		font-size:19px;
	}
}
@media (max-width:480px){
	
}
/*************************************************************/
/*	Reusable Style
/*************************************************************/
.navyblue{
	background: #292934;
	color: #fff;
}
.green{
	background: #1e795f;
	color: #fff;
}
.green h3, .green p, .yellow h3, .red p, .red h3, .orange h3, .orange p, .story-map-info p, .ourVideos p, .ourResources p, .navyblue h3, .navyblue p, .yellow p, .missionbg h3, .missionbg p, .groupbg p, .groupbg h3, .mission-sec h3, .caption h4{
	color: #fff;
}
.individualTitle .lineDiv{
	border-left: 1px solid #FFFFFF;
}
.yellow{
	background-color: #d58812;
	color: #fff;
}
.red{
	background-color: #d10020;
	color: #fff;
}
.blue{
	background:#539bbb;
	color:#fff;
}
.orange{
	background: #d45f16;
}
.navyblue h2, .green h2, .yellow h2, .red h2, .blue h2, .orange h2, .blue h3, .blue p{
	color:#fff;
}
a.txt-white{
	color: #fff;
	text-decoration: underline;
}
.join-btn{
	min-width: 120px !important;
}
.addlynx-btn{
	min-width: 130px !important;
}
.lynxadded{
	color:transparent !important;
	background: #1E795F !important;
    border-color: #1E795F !important;
    position: relative;
}
.lynxadded:before{
	content: "";
    background-image: url("img/added_icon.png");
    background-size: 22px auto;
    background-position: center center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;   
}
.btn, input.btn{
	color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    padding: 12px 15px;
    font-family: 'ralewaybold';
    letter-spacing: 1px;
    border-radius: 0px;
    min-width: 172px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    font-weight: normal;
}
.btn.btn-sm, input.btn.btn-sm{
	padding: 7px 20px;
	min-width: 98px;
	font-size: 16px;
}
input.btn:focus, .btn-yellow:focus, .btn-orange:focus{
	outline: none;
}
.btn:hover, .btn:focus, .btn.focus{
	color: #fff;
	-webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
}
.btn-line.dark{
	background: transparent;
	color: #464749;
	border: 1px solid #464749;
}
.btn-line.dark:hover, .btn-line.dark:focus, .btn-line.dark:active{
	background: #464749;
	color: #fff;
	border: 1px solid #464749;
}
.btn-line{
	background: transparent;
	border: 1px solid #ffffff;
}
.btn-line:hover, .btn-line:focus, .btn-line:active{
	border: 1px solid #ffffff;
	background: #ffffff;
	color: #464749;
	outline: 0px;
}
.btn-gray{
	color: #838a8c !important;
	border: 1px solid #838a8c;
	background-color: transparent;
}
.btn-gray:hover{
	background: #838a8c;
	color: #fff !important;
	border: 1px solid #838a8c;
}
.btn-red{
	background:#d10020;
	border: 1px solid #d10020;
	color:#fff;
}
.btn-red:hover{
	background: transparent;
	border: 1px solid #d10020;
	color: #d10020;
}
.btn-yellow{
	background: #d58812;
	color: #fff;
}
.btn-yellow:hover{
	    background: #C47807;
}
.btn-green{
	background: #1e795f;
	color: #fff;
}
.btn-green:hover{
	background:#186651;
}
.btn-abmi{
	background: #74882e;
	color: #fff;
	border: 1px solid #74882e;
}
.btn-abmi:hover{
	background: transparent;
	color: #74882e;
	border: 1px solid #74882e;
}

.btn-blue{
	background:#539bbb;
	color:#fff;
	border: 1px solid #539bbb;
	font-family: 'ralewayregular';
    letter-spacing: 0px;
}
.btn-blue:hover{
	background:transparent;
	color:#539bbb;
	border: 1px solid #539bbb;
}
.btn-blue.solidblue:hover{
	background:#fff;
	color:#539bbb;
	border: 1px solid #fff;
}
.dark-btn, input.dark-btn, .dark-btn.refineBtn:hover{
	background: #292934 !important;
	color: #fff !important;
	border: 1px solid #292934 !important;
}
.dark-btn:hover, input.dark-btn:hover{
	color: #292934 !important;
	background: transparent !important;
	border: 1px solid #292934;
}
.btn-orange{
	background-color:#D45F16;
	border: 1px solid #D45F16;
	color: #fff;
}
.btn-orange:hover{
	background-color: transparent;
	border: 1px solid #D45F16;
	color: #D45F16;
}
.banner .btn-orange:hover{
	background-color:#BD5413;
	border: 1px solid #BD5413;
	color: #fff;
}
a.more-btn{
	color:#fff;
}
.more-btn:hover{
	box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.5);
}
.btn-white{
	background:none;
}
.more-btn.red-btn:hover{
	background:none;
	box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.5);
}
.mrgB2em{
	margin-bottom: 2em;
}
.bg-block{
	background-repeat: no-repeat !important;
	background-position:center center !important;
	background-size:cover !important;
}
.post_date{
	color: #999fa1;
	margin-left: 10px;
}
.btn-aside{
	margin-left: 15px;
}
@media (max-width:767px){
	.btn, input.btn{
		font-size: 15px !important;
	    padding: 8px 15px !important;
	    min-width: 150px !important;

	}
}
/*************************************************************/
/*	Header
/*************************************************************/
.topnav-bar{
	background:#508FA7;
	text-align: right;
}
.topnav-bar a{
	color:#ffffff;
	text-transform:uppercase;
	font-size:12px;
	font-family: 'ralewaylight';
	margin-left: 5px;
    padding-left: 10px;
	display: inline-block;
	line-height: 16px;
	border-left: 1px solid #fff;
}
.topnav-bar a:first-child{
	border-left: 0px;
}
.topnav-bar a:hover{
	color:rgba(255, 255, 255, 0.75);
}
.ct-search {
	position: relative;
	height:38px;
	width:38px;
	background:url("img/search-icon.png") no-repeat right center;
	background-size:20px auto;
	z-index: 100000;
	-moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.ct-search-open {
    width: 320px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.ct-search-input-wrap {
	position: absolute;
	right: 38px;
	height: 38px;
	width: 0;
	overflow: hidden;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
input[type="text"].ct-search-input {
	border: none;
	outline: none;
	background: #fff;
	width: 265px;
	height: 38px;
	margin: 0;
	padding: 2px 7px;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
input[type="submit"].ct-search-submit {
	background: transparent;
	color: transparent;
	box-shadow: none;
	border: none;
	padding: 0;
	border-radius: 0;
	outline: none;
	z-index: -1;
}
.ct-icon-search, input[type="submit"].ct-search-submit {
	height:38px;
	width:38px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	line-height: 42px;
	text-align: center;
	cursor: pointer;
}
 .ct-search.ct-search-open .ct-search-input-wrap {
	width: 278px;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.ct-search.ct-search-open input[type="submit"].ct-search-submit {
	z-index: 90;
}
.add-user.search-block{
	margin: 50px;
}
.add-user .searchbar{
    background: #E5E6E8;
    border-radius: 0px;
    border: 0px;
	min-width: 360px;    
}
.add-user input[type="submit"].ct-search-submit{
	background-color:#292934;
	background-image: url("img/add-icon-white.png") !important;
}
@media (min-width:768px){
	.ct-search {
		display:inline-block;
		vertical-align: middle;
	}
}
@media (max-width:767px){
	.topnav-bar {
		text-align: center;
		padding-top: 5px;
	}
	.ct-header-items-right {
		float: none;
		margin: 0 auto;
		clear: both;
	}
	.ct-search {
		background-color: #539bbb;
		width: 262px !important;
		float: none;
		margin: 10px auto;
		height: 38px;
		background-position: right 5px center;
	}
	.ct-search input[type="text"].ct-search-input {
		opacity: 1;
	}
	.ct-search .ct-search-input-wrap, .ct-search.ct-search-open .ct-search-input-wrap {
		width: 228px;
		-webkit-transition: none;
		-moz-transition: none;
		transition: none;
	}
	.ct-search .ct-icon-search {
		z-index: 1;
		pointer-events: none;
	}
}
/*************************************************************/
/*	Navigation
/*************************************************************/
nav li{
	margin-bottom: 0px;
}
.nav-bar{
	background:#539bbb;
	padding: 0px 15px;
}
.navbar-brand > img{
	width:260px;
	height:48px;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	font-family: 'ralewaybold';
}
.navbar-inverse .navbar-nav > li > a{
	color:#fff;
	text-transform:uppercase;
	font-size:14px;	
	font-family: 'ralewaylight';
	    letter-spacing: 0.5px;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.75);
}
@media (min-width: 1200px){
	.navbar-nav {
		float: right;
	}
	.navbar-nav > li:last-child > a{
		padding-right:0px;
	}
	header{
		position: absolute;
		z-index: 1000;
		width: 100%;
	}
}
@media (max-width:1199px){
	header {
		position: relative;
		width: 100%;
	}
	.navbar-brand {
		padding: 13px 15px;
	}
	.navbar-toggle .icon-bar + .icon-bar {
		margin-top: 5px;
	}
	.navbar-brand > img {
		width: 163px;
		height: 30px;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		border-color: #508FA7;
	}
	.navbar-toggle .icon-bar {
		width: 30px;
		height: 3px;
	}
	.navbar-toggle{
		padding: 10px;
	}
	.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    	background: #4A8CA9;
}	
}
/*************************************************************/
/*	sigin/signup popup 
/*************************************************************/
.main-nav{
	display: inline-block;
}
.sy-user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 100000;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
  -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
  transition: opacity 0.3s 0, visibility 0 0.3s;
}
.sy-user-modal.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0, visibility 0 0;
  -moz-transition: opacity 0.3s 0, visibility 0 0;
  transition: opacity 0.3s 0, visibility 0 0;
}
.sy-user-modal.is-visible .sy-user-modal-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.sy-user-modal-container {
  position: relative;
  width: 90%;
  max-width: 770px;
  background: #FFF;
  margin: 3em auto 4em;
  cursor: auto;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.sy-user-modal-container .sy-switcher:after {
  content: "";
  display: table;
  clear: both;
}
.sy-switcher{
	padding: 0px;
    margin-bottom: 0px;
}
.sy-user-modal-container .sy-switcher li {
	width: 50%;
	float: left;
	text-align: center;
	list-style: none;
	margin-bottom: 0px;
}
.sy-user-modal-container .sy-switcher a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #C7CBCC;
  color: #6E7576;
  font-size: 18px;
}
.sy-user-modal-container .sy-switcher a.selected {
  background: #FFF;
  color: #464749;
}

.sy-form {
  padding: 1.4em;
}
.sy-form .btn{
	max-width: 200px;
	margin-top: 2em;
}
.sy-form .fieldset {
  margin: 5px 0;
}
.sy-form .fieldset:first-child {
  margin-top: 0;
}
.sy-form .fieldset:last-child {
  margin-bottom: 0;
}
.sy-form input {
  margin: 0;
  padding: 0;
  background: #DFE0E1;
  color: #464749;
  text-align: center;
  width: 100%;
  padding: .8em;
  outline: none;
  border: none;
  font-size: 16px;
}
.sy-form  input[type="checkbox"] {
    width: auto !important;
    padding:0px;
}
.sy-form .sy-error-message {
  display: inline-block;
  position: absolute;
  left: 15px;
  bottom: -35px;
  background: rgba(215, 102, 102, 0.9);
  padding: .2em .5em;
  z-index: 2;
  color: #FFF;
  /* prevent click and touch events */
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
  -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
  transition: opacity 0.2s 0, visibility 0 0.2s;
}
.sy-form .sy-error-message::after {
  /* triangle */
  content: '';
  position: absolute;
  left: 22px;
  bottom: 100%;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}
.sy-form .sy-error-message.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s 0, visibility 0 0;
  -moz-transition: opacity 0.2s 0, visibility 0 0;
  transition: opacity 0.2s 0, visibility 0 0;
}
.sy-form-message {
  padding: 1.4em 1.4em 0;
  line-height: 1.4;
  text-align: center;
  font-size: 14px;
}
.sy-form a{
	color: #539BBB;
}
a.forgot-password {
  float: right;
}
.sy-close-form {
  /* form X button on top right */
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: -40px;
  background-image: url("img/icon-close.png");
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: 20px auto;
}

#sy-login, #sy-signup, #sy-reset-password {
  display: none;
}
#sy-login.is-selected, #sy-signup.is-selected, #sy-reset-password.is-selected {
  display: block;
}
@media only screen and (min-width: 1170px) {
  .sy-close-form {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
	.sy-form .btn {
    	max-width: 180px;
    }
}
@media only screen and (min-width: 600px) {
  .sy-form {
    padding: 3em;
  }
  .sy-user-modal-container {
    margin: 4em auto;
  }
  .sy-user-modal-container .sy-switcher a {
    height: 80px;
    line-height: 80px;
    font-size: 22px;
  }
  .sy-form-message {
    padding: 2em 2em 0;
  }
  .sy-form input {
    padding: 1.2em;
  }
}
@media (max-width:480px){
	.main-nav{
		display: block;
	}
	.topnav-bar a:nth-child(2){
		border-left: 0px;
		padding-left: 0px;
		margin-left: 0px;
	}
}
@media only screen and (max-width: 420px) {
	.sy-form  .col-xs-6{
		width: 100%;
	}
	.forgot-password{
		float: left !important;
	}
}
/*************************************************************/
/*	Banner
/*************************************************************/
.home.banner{
	height: 800px;
}
.banner{
	height: 500px;
	overflow: hidden;
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner .banner-img{
	display: none;
	width: 100%;
	height: auto;
}
.banner .banner-txt{
	background:rgba(0, 0, 0, 0.20);
	padding:30px 25px;
	margin-top:140px;
	text-align:center;
	position: relative;
	z-index: 100;
	width: 100%;
	color: #ffffff;
}
.home.banner .banner-txt{
	margin-top:220px;
}
.banner .banner-txt .btn{
	min-width: 200px;
}
.banner .banner-txt h1{
	margin-bottom:30px;
	font-family: 'corbenregular';
	color: #fff;
	text-transform: uppercase;
}
.banner .banner-txt p{
	font-family: 'ralewaylight';
	font-size: 18px;
	color: #fff;
	margin: 0 auto 30px;
	line-height: 25px;
	max-width:700px;
}
.banner .banner-txt h6{
	letter-spacing:1px;
	margin-top: 30px;
	font-family: 'corbenregular';
	color: #fff;
}
.abmi-monitiring{
	max-height: 54px;
}
@media (max-width:1480px){
	.home.banner{
		height: 700px;
	}
	.banner{
		height: 450px;
	}
	.home.banner .banner-txt{
		margin-top: 200px;
	}
	.banner .banner-txt{
		margin-top: 130px;
		padding: 10px 20px 20px;
	}
}
@media (max-width:1300px){
	.home.banner{
		height: 600px;
	}
	.banner{
		height: 400px;
	}
	.banner-txt h1{
		font-size:50px;
	}
	.home.banner .banner-txt{
		margin-top: 170px;
	}
	.banner .banner-txt {
	    margin-top: 150px;
	}
}
@media (max-width:1199px){
	.home.banner{
		height: 450px;
	}
	.banner{
		height: 300px;
		background: none !important;
	}
	.home.banner .banner-txt{
		margin-top: 40px;
	}
	.banner .banner-txt{
		margin-top: 55px;
	}
	.banner .banner-img{
		display: block;
		position: absolute;
	}
	.banner .banner-txt h1 {
    	font-size: 30px;
	}
}
@media (max-width:767px){
	.home.banner, .banner{
		height: auto;
	}
	.home.banner .banner-txt, .banner .banner-txt{
		margin-top: 0px;
	}
	.banner .banner-img{
		min-height: 100%;
	    width: auto;
	    max-width: 120%;
	}
	.banner .banner-txt .btn{
		min-width: 150px;
	}
}
@media (max-width:480px){
	.banner .banner-img{
		position: relative;
		width: 100%;
		max-width: 100%;
		min-height: 0px;
	}
	.banner .banner-txt{
		margin-top:0px;
	    position: relative;
	    background: #292934;
	}
	.banner .banner-txt p{
		font-size: 16px;
	}
}
/*************************************************************/
/*	Landing Page
/*************************************************************/
.species-count{
	background: #539bbb;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 1px;
}
.species-count span{
	    vertical-align: middle;
}
.species-count .count{
	font-size: 45px;
	font-family: 'corbenregular';
	border-left: 1px solid #ffffff;
	padding-left: 20px;
	margin-left: 20px;
}
.s_identified{
	padding: 15px 40px;
}
.s_verified{
	padding: 15px 40px;
	background: #447D96;
}
.recent-sightings{
	color: #fff;
	padding: 40px 30px;
	text-align: center;
}
.sightings-icon{
	width: 125px;
	height:auto;
}
.recent-sightings h2{
	margin: 40px auto;
}
.recent-sightings .btn{
	margin-top: 70px;
}
.sightings-slider{
	position: relative;
	padding: 0px;
}
.flex-control-nav {
    bottom: 10px !important;
}
.flex-control-paging li a {
	width: 12px !important;
    height: 12px !important;
    background: #ccc;
    background: rgba(255, 255, 255, 0.3) !important;
}
.flex-control-paging li a.flex-active {
    background: #fff;
    background: rgba(255, 255, 255, 0.9) !important;
}
.sightings-slider .caption{
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
}
.sightings-slider .caption h4{
	display: inline-block;
	vertical-align: middle;
	padding: 0px 25px;
}
.status{
	font-size: 15px;
	padding: 60px 15px 10px;
    display: inline-block;
    letter-spacing: 0.5px;
    vertical-align: middle;
    text-transform: uppercase;
}
.verified{
	background-color: #21674C;
    background-image: url("img/verified-icon.png");
    background-position: top 10px center;
    background-repeat: no-repeat;
    background-size: 42px 42px;
}
.pending{
	background-color: #d45f16;
    background-image: url("img/pending-icon.png");
    background-position: top 10px center;
    background-repeat: no-repeat;
    background-size: 42px 42px;
}
.unknown{
	background-color: #d10020;
    background-image: url("img/unknown-icon.png");
    background-position: top 10px center;
    background-repeat: no-repeat;
    background-size: 42px 42px;
}
/***** CallOut *****/
.callout{
	padding-top:45px;
	padding-bottom: 45px; 
	color: #fff;
}
.callout img{
	display: inline-block;
	vertical-align: middle;
	margin: 0px 30px;
}
.callout .callout-text{
	display: inline-block;
	vertical-align: middle;
}
.callout p{
	margin-bottom: 0px;
}
.all-about h3{
	margin: 0px;
}
.all-about img{
	height: 45px;
}
.abmi-more img{
	width: 80px;
}
.abmi-more .btn{
	margin-top: 23px;
}
.abmi-more h3{
	margin-top: 0px;
}
.about-sec{
	background:url("img/img-2.jpg") no-repeat;
	background-position: top left;
	background-size:cover;
	color:#fff;
	padding-right: 30px;
	padding-bottom:20px;
	display: table;
}
.mission-sec .btn{
	margin-bottom:20px;
	display:block;
	width: 172px;
}
.mission-sec p, .identify-sec p{
	margin-bottom:20px;
}
.about-sec .btn{
	float: right;
}

.mission-sec{
	padding-right:0px;
	display: table;
}
.toknow-sec{
	background:url("img/img-3.jpg") no-repeat;
	background-position:center left;
	background-size:cover;
	color:#fff;
	padding: 0px 30px 20px;
	display: table;
}
.identify-sec{
	padding-left:0px;
	display: table;
}
.identify-txt{
	padding-left:30px;
}
.about-sec .btn, .toknow-sec .btn, .identify-sec .btn, .story-map-info .btn{
	margin-top: 40px;
    margin-bottom: 20px;
}
/*Story Map*/
.large-icon{
	height:86px;
	width:auto;
	margin-bottom:15px;
}
.map-img{
	padding:0px;
}
.map-img img{
	width:100%;
	height:auto;
}
.story-map-info{
	text-align:center;
	padding: 50px 50px 70px;
}
.story-map-info h2{
	margin-bottom:30px;
}
.flexslider ul{
	padding-left: 0px;
	
}
.flexslider ul li{
	margin-bottom: 0px;
	list-style: none;
}
@media (max-width:1200px){
	.recent-sightings .btn{
		margin-top: 40px;
	}
}
@media (max-width:1199px){
	.callout{
		text-align: center;
	}
	.callout .callout-text{
		margin-bottom: 15px;
		display: block;
	}
	.callout img {
    	display: block;
    	margin: 0px auto 15px;
    }
    .callout .btn{
	    margin-top: 20px;
    }
    .about-sec, .toknow-sec{
		padding:20px 35px 35px !important;
	}
	.story-map-info, .padding-lg {
	    padding: 30px 50px !important;
	}
}
@media (max-width:991px){
	.s_identified{
		text-align: left;
	}
	.story-map-info , .padding-lg{
		padding: 30px 20px 50px !important;
	}
	.species-count span{
		font-size: 18px;
	}
	.s_verified, .s_identified{
		padding: 10px 20px;
		text-align: center;
	}
	.species-count .count{
		font-size: 35px;
		display: block;
	    margin: 0 auto;
	    text-align: center;
	    padding-left: 0;
	    border-left:none;
	}
}
@media (max-width:767px){
	
	.bg-block{
		display:none;
	}
	.mission-sec, .about-sec, .toknow-sec, .identify-sec{
		text-align:center
	}
	.about-sec .btn, .toknow-sec .btn{
		float:none;
		margin: 30px auto 10px;
	}
	.mission-sec .btn, .identify-sec .btn{
		margin: 20px auto;
	}
	.mission-sec, .identify-sec{
		padding: 20px 0px;
	}
	
	.identify-txt {
		padding: 0px 15px;
	}
	.about-sec, .toknow-sec{
		padding:20px 15px 35px !important;
	}
}
@media (max-width:480px){
	
}
/*************************************************************/
/*	Sub nav
/*************************************************************/
.sub-nav{
	background: #E6E7E8;
    position: relative;
    z-index: 100;
    top: -70px;
    margin-bottom: -70px;
    height: 70px;
}
.sub-nav ul{
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.sub-nav ul li{
	list-style: none;
    display: inline-block;
    padding: 24px 15px;
}
.sub-nav ul li a{
	text-transform: uppercase;
	color: #447D96;
	font-size: 14px;
}
.sub-nav ul li.active a{
	font-family: 'ralewaybold';
}
.sidebar-more-link{
	padding: 20px;
	border-top: 1px solid #464749;
}
.sidebar-more-link .btn{
	width:100%;
	padding: 7px 5px;
	
}
@media (max-width: 1199px){
	.sub-nav {
    	top: -50px;
	    margin-bottom: -50px;
	    height: auto;
    }
	.sub-nav .navbar-toggle {
	    display: block;
	    margin: 4px auto;
	    float: none;
	    font-weight: bold;
	    width: 200px;
	}
	.sub-nav .navbar-toggle .nav-trigger {
	    position: relative;
	    display: inline-block;
	    vertical-align: middle;
	    height: 20px;
	    text-align: left;
	    margin-right: 30px;
	}
	.sub-nav .navbar-toggle .nav-trigger span {
	  position: absolute;
	  height: 2px;
	  width: 25px;
	  top: 50%;
	  margin-top: -3px;
	  left: 50%;
	  -webkit-transition: background-color 0.3s 0.3s;
	  -moz-transition: background-color 0.3s 0.3s;
	  transition: background-color 0.3s 0.3s;
	}
	.sub-nav .navbar-toggle .sr-only{
	    position: relative;
	    color: #447D96;
	}
	.sub-nav .navbar-toggle .nav-trigger span:before,
	.sub-nav .navbar-toggle .nav-trigger span:after {
	  content: '';
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  background-color: #447D96;
	  -webkit-transform: translateZ(0px);
	  -moz-transform: translateZ(0px);
	  -ms-transform: translateZ(0px);
	  -o-transform: translateZ(0px);
	  transform: translateZ(0px);
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	  -webkit-transition: -webkit-transform 0.3s 0.3s;
	  -moz-transition: -moz-transform 0.3s 0.3s;
	  transition: transform 0.3s 0.3s;
	}
	.sub-nav .navbar-toggle.collapsed .nav-trigger span:before {
	  -webkit-transform: translateY(-6px);
	  -moz-transform: translateY(-6px);
	  -ms-transform: translateY(-6px);
	  -o-transform: translateY(-6px);
	  transform: translateY(-6px);
	}
	.sub-nav .navbar-toggle.collapsed .nav-trigger span:after {
	  -webkit-transform: translateY(6px);
	  -moz-transform: translateY(6px);
	  -ms-transform: translateY(6px);
	  -o-transform: translateY(6px);
	  transform: translateY(6px);
	}
	.sub-nav .navbar-toggle.collapsed .nav-trigger span {
	  background-color: #447D96 !important;
	}
	.sub-nav .navbar-toggle .nav-trigger span:before,
	.sub-nav .navbar-toggle .nav-trigger span:after {
	  background-color: #447D96 !important;
	}
	
	.sub-nav .navbar-toggle .nav-trigger span:before {
	  -webkit-transform: translateY(0) rotate(-45deg);
	  -moz-transform: translateY(0) rotate(-45deg);
	  -ms-transform: translateY(0) rotate(-45deg);
	  -o-transform: translateY(0) rotate(-45deg);
	  transform: translateY(0) rotate(-45deg);
	}
	.sub-nav .navbar-toggle .nav-trigger span:after {
	  -webkit-transform: translateY(0) rotate(45deg);
	  -moz-transform: translateY(0) rotate(45deg);
	  -ms-transform: translateY(0) rotate(45deg);
	  -o-transform: translateY(0) rotate(45deg);
	  transform: translateY(0) rotate(45deg);
	}
	.sub-nav ul li {
	    display: block;
	    padding: 10px 0px;
	}
}
@media (max-width: 767px){
	.sub-nav {
	    top: 0;
	    margin-bottom: 0;
    }
}
/*************************************************************/
/*	Groups & Missions
/*************************************************************/
.content-wrap{
	padding: 50px 0px;
}
.txtStyle-blue{
	color: #539BBB;
	text-transform: uppercase;
	font-size: 16px;
}
.txt-blue{
	color: #539BBB;
}
.btn-aside{
	margin-top: 70px;
}
.btn-aside .btn{
	min-width: 200px;
}
.btn-aside .btn:last-child{
	margin-left: 20px;
}
.txt-wrap{
	padding: 70px;
}
.groups-sec h2, .missions-sec h2{
	margin-top: 0px;
}

.stickto {
	position: fixed;
	top: 50px;
	width: 213px;
}
.listNav{
	z-index: 10;
}
.listNav.stickto{
	top: 0px;
	width: 700px;
	background: #ffffff;
	padding: 30px 0px !important;
	box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.11);
	-webkit-box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.11);	
	-moz-box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.11);
}
@media (max-width:991px){
	.btn-aside{
		margin-top: 40px;
	}
	.txt-wrap{
		padding: 30px;
	}
	.btn-aside .btn:last-child{
		margin-left: 0px;
		margin-top: 20px;
	}
	.stickto {width: 220px;}
	#filterByAlphabet-nav {
	    padding: 0px 0px 10px !important;
	}
	#filterByAlphabet-nav.listNav.stickto {
    	width: 473px !important;
    	padding:16px 0px !important
	}
	.ln-letters a{
		font-size: 20px !important;
		padding: 2px 10px !important;
	}
}
@media (max-width:767px){
	.txt-wrap{
		padding: 30px 15px;
	}
	.btn-aside .btn:last-child{
		margin-left: 20px;
		margin-top: 0px;
	}
}
@media (max-width:480px){
	.btn-aside .btn {
	    display: block;
	    width: 200px;
	}
	.btn-aside .btn:last-child{
		margin-left: 0px;
		margin-top: 15px;
	}
}

/*************************************************************/
/*	Missions
/*************************************************************/
.mission-btns .btn:last-child{
	margin-left: 10px;
}
.mission-btns .btn{
	margin-top: 10px;
}
.featured-items{
    padding-top: 55px;
}
.block-item{
	text-align: center;
}
.item-desc{
	margin-top: 20px;
}
a.block-link span{
	color: #464749;
}
a.block-link{
	display: block;
	margin-bottom: 15px;
}
a.block-link:hover{
	opacity: 0.8;
}
.item-img{
	overflow: hidden;
    height: 187px;
    position: relative;
}
.item-img img{
	min-height: 100%;
    min-width: 100%;
    max-width: none;
    max-height: 100%;
}
.divider{
	width: 100%;
	border-top: 1px solid #464749;
	display: block;
	margin: 60px 0px;
}
.select-guide{
	height: 300px;
	width: 100%;
	overflow: hidden;
	position: relative;
	display: table;
	width: 100%;
	margin-top: 30px;
}
.select-guide.selected .overlay-box{
	opacity: 1;
}
.select-guide.selected .guideTitle{
	opacity: 0;
}
.select-guide.selected .btn{
	border: 1px solid #ffffff;
    background: #ffffff;
    color: #464749;
}
.select-guide .guideTitle{
	color: #fff;
	-webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
        display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}
.select-guide:hover .guideTitle{
	opacity: 0;
	-webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
}
.guide1{
	background: url("img/time-missions.jpg") no-repeat;
	background-size: cover;
}
.guide2{
	background: url("img/area-missions.jpg") no-repeat;
	background-size: cover;
}
.guide3{
	background: url("img/time-area-missions.jpg") no-repeat;
	background-size: cover;
}
.guide4{
	background: url("img/time-area-efforts-missions.jpg") no-repeat;
	background-size: cover;
}
.select-guide a{
	overflow: hidden;
}
.select-guide .overlay-box {
    position: absolute;
    background: #447d96;
    background: rgba(68, 125, 152, 0.85);
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    top: 0;
    left: 0;
}
.select-guide:hover .overlay-box {
    opacity: 1;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
}
.select-guide .overlay-box .text-wrapper {
    display: table;
    height: 100%;
    width: 100%;
}
.overlay-box .tab-cell {
    display: table-cell;
    height: 100%;
    vertical-align: top;
    text-align: left;
    padding: 25px;
    position: relative;
}
.overlay-box .tab-cell h3 {
    margin-top: 0px;
    color: #fff;
    margin-bottom: 10px;
}
a .overlay-box p{
	color: #fff;
}
.overlay-box .btn{
	position: absolute;
    bottom: 25px;
}
.social-url{
	position: relative;
}
.social-url input{
	padding-left: 55px !important;
}
.facebook-icon{
	background-image: url("img/fb-icon.png");
}
.twitter-icon{
	background-image: url("img/twit-icon.png");
}
.instagram-icon{
	background-image: url("img/insta-icon.png");
}

.social-url span{
	width: 21px;
	height: 21px;
	background-size: 100% auto;
	position: absolute;
	left: 20px;
	top:14px;
	background-repeat: no-repeat;
}
.socialsec a{
	width: 40px;
    height: 40px;
	background-size: 100% auto;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 10px 15px 0px 0px;
}
.socialsec a:hover{
	opacity: 0.8;
}
.featuredImg{
	overflow: hidden;
	background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.featuredImg img{
	min-height: 100%;
    min-width: 100%;
    max-width: none;
    display: none;
}
.album{
	display: none;
}
.open-modalwindow{
	width: 55px;
    height: 55px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: #539bbb;
    background-image: url("img/search-icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px auto;
}
.open-modalwindow:hover {
    background-color: #40819E;
}
.fancybox-title-inside-wrap{
	
}
.fancybox-title{
	font-size: 18px !important;
    font-family: 'ralewayregular' !important;
    line-height: 25px !important;
    margin: 0px 30px 15px 0px;
        padding-top: 5px !important;
}
.fancybox-type-image .fancybox-close{
	background-position: 5px 18px;
    top: 0px !important;
    right: 0px !important;
}
.fancybox-close{
	background-image: url("img/close-icon.png") !important;
	background-repeat: no-repeat;
    background-size: 23px auto;
    background-position: top right;
    top: -35px !important;
    right: 0px !important;
    width: 40px !important;
    height: 45px !important;
}
.fancybox-type-inline .fancybox-close{
	background-size: 19px auto;
	background-position: center right;
    width: 38px !important;
    height: 38px !important;
    border-radius: 50%;
}
.fancybox-type-image .fancybox-outer{
	margin-bottom: 30px !important;
}
.fancybox-skin {
    background: #ffffff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.fancybox-next span{
	background: transparent url("img/next-icon.png") !important;
    background-repeat: no-repeat !important;
    background-size: 20px auto !important;
    right: -10px !important;
        visibility: visible;
}
.fancybox-prev span{
	background: transparent url("img/prev-icon.png")!important;
    background-repeat: no-repeat !important;
    background-size: 20px auto !important;
        visibility: visible;
}
#links li.active label {
    background-color: rgba(54, 55, 57, 0.25) !important;
}
#links {
    position: absolute;
    bottom: -5px;
    width: 100%;
    padding-top: 10px;
    list-style: none;
    text-align: center;
    z-index: 99999;
}

#links li {
    display: inline;
    padding: 0 5px;
}

#links li label {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

#links li.active label {
    background-color: white;
}

.embed-container { position: relative; padding-bottom: 56.25%; height:auto; overflow: hidden; max-width: 100%; width: 1100px } 
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.individualInfo{
	padding-bottom: 132px !important;
}
.individualTitle{
	padding: 20px 35px 34px;
	color: #fff;
	position: relative;
}
.edit{
	background: url("img/edit-icon.png") no-repeat;
	background-size: 80% auto;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-position: center center;
}
.edit:hover{
	opacity: 0.8;
}
.missionbg{
	background: #d58812;
}
.groupbg{
	background: #1e795f;
}
.extraInfo{
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-transform: uppercase;
}
.extraInfo h3, .extraInfo span{
	color: #333;
}
.individualInfo .right-sec{
	padding: 10px 20px 30px;
	background: #f0f1f2;
	text-align: center;
	color: #333;
	min-height: 132px;
}

.individualInfo .left-sec{
	padding: 10px 20px 30px;
	background: #e2e4e5;
	text-align: center;
	color: #333;
	min-height: 132px;
}
.individualInfo .left-sec img{
	width: auto;
	height: 35px;
	margin: 20px auto 15px;
	display: block;
}
.videoThumbnail{
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
}
.videoThumbnail:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: url("img/video-icon.png") no-repeat;
	background-size: 100px auto;
	background-position: center center;
}
.videoThumbnail:hover img{
	opacity: 1;
}
@media (max-width:991px){
	.featuredImg{
		background: none;
	}
	.featuredImg img{
		width: 100%;
		height: auto;
		display: block;
		min-height: 0;
	}
	.item-img {
		height: 150px;
	}
	.individualInfo{
		padding-bottom: 0px !important;
		height: auto !important;
	}
	.extraInfo{
		position: relative;
		display: table;
	}
}
@media (max-width:767px){
	.item-img {
		height: 250px;
	}
}

.ourResources{
	background: url("img/our-resources.jpg") no-repeat;
		background-position: center bottom;
}
.ourVideos{
	background: url("img/our-videos.jpg") no-repeat;   
	background-position: center center;
}
.ourVideos, .ourResources{

    background-size: cover;
    color: #fff;
    padding: 20px 50px 40px;
}
.ourVideos h2, .ourResources h2{
	color: #fff;
}
/*************************************************************/
/*	Page basics
/*************************************************************/
a h3{
	color: #333;
}
a:hover img{
	opacity: 0.8;
}
.contentWrap{
	padding: 75px 15px;
}
.contentWrap h6{
	color: #464749;
	line-height: 25px;
}
.contentWrap .breadcrumb {
    margin-bottom: 35px;
}
.listHead{
	border-bottom: 1px solid #464749;
}
.listHead span{
	font-size: 16px;
	text-transform: uppercase;
}
.listHead .totalNumb{
	margin-bottom: 15px;
	color: #464749;
}
.sortBtn{
	margin-bottom: 15px;
	color:#838a8c;
	text-align: right;
}
.lineDiv{
	border-left: 1px solid #464749;
	padding-left: 10px;
	margin-left: 10px;
}
.loadMore{
	background-color: #539bbb;
	color: #fff;
	text-transform: uppercase;
	font-family: 'ralewaybold';
	text-align: center;
	padding: 18px 15px;
    cursor: pointer;
    letter-spacing: 1px;
    	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.loadMore:hover{
	background-color: #4286A5;
		-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
button:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{
	outline: none !important;
	-webkit-box-shadow: none;
    box-shadow: none;
}
.nopadding{
	padding: 0px;
}
.mrgRm{
	margin-right: 30px;
}
.nomrgT{
	margin-top: 0px;
}
.mrgBl{
	margin-bottom: 50px;
}
.mrgBm{
	margin-bottom: 35px;
}
.mrgBs{
	margin-bottom: 30px;
}
.mrgBxs{
	margin-bottom: 20px;
}
.mrgTl{
	margin-top: 50px;
}
.mrgTxl{
	margin-top: 80px;
}
.mrgTm{
	margin-top: 35px;
}
.mrgTs{
	margin-top: 30px;
}
.mrgTxs{
	margin-top: 20px;
}
.mrgT0{
	margin-top: 0px;
}
.pdTB{
	padding-top: 90px;
	padding-bottom: 90px;	
}
.pdT{
	padding-top: 90px;	
}
.pdTm{
	padding-top: 40px;
}
.pdTB h3{
	margin-top: 0px;
}
.navBtn{
	position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    padding: 24px 15px;
    min-width: 200px;
}
.mrgLRB{
	margin:0pc 10px 10px 10px;
	display: inline-block;
}

.inlinetxt{
	display: inline-block;
    margin-right: 10px;
}
@media (max-width:1199px){
	.navBtn{
		height: 50px;
		padding: 15px  !important;
	}
	.contentWrap {
	    padding: 35px 15px;
	}
}
@media (max-width:991px){
	.pdTB{
		padding-top: 50px;
		padding-bottom: 50px;	
	}
}
@media (max-width:767px){
	.pdTB{
		padding-top: 30px;
		padding-bottom: 30px;	
	}
	.pdT{
		padding-top: 50px;
	}
}

/*************************************************************/
/*	Form style
/*************************************************************/
input:focus, textarea:focus, button:focus{
	outline: none;
}
.form textarea{
	max-height: 300px;
}
.form textarea,
.form input[type=text],
.form input[type=url],
.form input[type=tel],
.form input[type=number],
.form input[type=email],
.form input[type=password]{
	padding: 10px 20px;
	border: 1px solid #838a8c;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	width: 100%;
	max-width: 100%;
}
.form input[type=text],
.form input[type=url],
.form input[type=tel],
.form input[type=number],
.form input[type=email],
.form input[type=password]{
	height: 50px;
}
.form .formselect{
	margin-bottom: 20px;
}
.form .formselect.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
	width: 100%;
}
.form .formselect .btn-default{
	height: 50px;
	color: #333;
	text-transform: none;
	font-family: 'ralewayregular';
	font-weight: normal;
	padding: 10px 40px 10px 20px;
	border: 1px solid #838a8c;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	width: 100%;
	max-width: 100%;
	letter-spacing: 0px;
}
.caret {
	right: 15px;
    border-top: 7px solid;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}
.dropup .caret, .navbar-fixed-bottom .dropdown .caret{
	border-bottom: 0px solid;
}
.inputGroup{
	margin-bottom: 20px;
}
.form label{
	color: #464749;
	font-size: 18px;
	font-family: 'ralewaysemibold';
	margin-bottom: 20px;
	font-weight: normal;
}
.form .inputTitle{
	padding-left: 20px;
}
.select_box{
	position: relative;
}
.select_box .caret{
	position: absolute;
    top: 22px;
    right: 13px;
}

.datepicker table tr td span.active:hover, .datepicker table tr td span.active:hover:hover, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover:hover, .datepicker table tr td span.active:focus, .datepicker table tr td span.active:hover:focus, .datepicker table tr td span.active.disabled:focus, .datepicker table tr td span.active.disabled:hover:focus, .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td span.active, .open .dropdown-toggle.datepicker table tr td span.active:hover, .open .dropdown-toggle.datepicker table tr td span.active.disabled, .open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
    color: #ffffff;
    background-color: #1f1f28;
    border-color: #1f1f28;
}
.add-on.capture-time{
	    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
}
.bootstrap-timepicker-widget table td a {
    padding: 5px 0;
}
.bootstrap-timepicker-widget table td {
    height: 10px;
}
.datepicker, .bootstrap-timepicker-widget.dropdown-menu.open{
	z-index:100000;
}
.bootstrap-timepicker .add-on {
	position: absolute;
	top: 0;
	left: 0;
	height: 35px;
	width: 100%;
}
.bootstrap-timepicker input{
	padding: 10px 10px 10px 45px;
}
.datepicker td.active, .datepicker td.active:hover{
	background-color:#1f1f28;
	background-color: #1f1f28 !Important;
	background-image: none;
	border-radius: 3px !important;
}
.datepicker .switch, .datepicker thead tr:first-child th:hover{
	background:none;
}
[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("img/glyphicons-halflings.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
}
.icon-chevron-up {
	background-position: -288px -120px;
}
.icon-chevron-down {
	background-position: -313px -119px;
}
.bootstrap-timepicker-widget table td a i {
	margin-top: 2px;
	font-size: 18px;
}
.bootstrap-timepicker-widget table td input {
	width: 40px;
	font-size:12px;
	border: 1px solid #ccc;
    border-radius: 3px;
}
.capture-date{
	padding: 10px 20px !important;
} 	
.form .mapPin.lg {
    background-size: 40px auto;
    width: 40px;
    height: 35px;
    vertical-align: middle;
    margin-left: 0px;
    margin-right: 16px;
}
.helpBtn{
	width: 27px;
	height: 27px;
	background: url("img/helpIcon.png") no-repeat;
	background-size: 100% auto;
	display: inline-block;
	margin: 5px 5px 5px 0px;
    vertical-align: middle;
}
.popover{
	font-size: 14px;
    line-height: 25px;
    font-family: 'ralewaylight';
}
.publishbtn{
	margin-left: 8px;
}
.drop-area{
  background-color:#dfe0e1;
  background-image: url("img/add-icon-white.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25px auto; 
  text-align: center;
  cursor:pointer;
  position: relative;
  overflow: hidden;
  height: 100%;
}
.drop-area input {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    opacity: 0 !important;
    overflow: hidden !important;
    cursor: pointer;
}
.MultiFile-title{
	display: none;
}
.MultiFile-label{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background:#191919;
}
.MultiFile-list.uploaded{
	display: block;
}
.MultiFile-wrap{
	height: 100%;
}
.MultiFile-label img{
	min-height: 100%;
	min-width: 100%;
	max-width: none;
	max-height: 100%
}
.MultiFile-remove{
	  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-indent: -9999px;
}
.MultiFile-remove:before{
	content: '';
	background: url("img/close-icon-white.png") no-repeat;
	background-position: center center;
	background-size: 25px auto;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
}
.upload-sec{
	height: 100%;
	cursor: pointer;
}
.imgL .drop-area, .imgL .MultiFile-remove:before{
	background-size: 54px auto; 
}


@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

/* #### checkbox buttons #### */

input[type="checkbox"].css3checkbox{
  display: none;
}

label.toggler{ /* checkbox label */
  display: block;
  position: relative;
  padding-left: 32px; /* space to the left of label text */
  padding-top: 2px;
  margin-bottom: 1em; /* bottom spacing */
  cursor: pointer;
}

label.toggler::before{ /* flat box */
  content: '';
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  background: #B1E5EF;
  box-shadow: 0 0 3px #BFDEFC inset;
  left: 0;
  top: 0;
}

label.toggler::after{ /* check mark inside flat box*/
  content: '\f00c'; /* fontAwesome icon font unicode. See http://fortawesome.github.io/Font-Awesome/cheatsheet/ for others */
  position:absolute;
  left: 3px;
  top: 3px;
  font: bold 18px FontAwesome;
  color: #1B4977;
  width: 0; /* hide check mark initially */
  text-shadow: 0 0 2px #eee;
  overflow: hidden;
}

input[type="checkbox"]:checked + label.toggler::after{ /* check mark when checkbox is checked */
  transition: width 0.2s; /* CSS3 transition on width property */
  width: 25px; /* expand check mark to show it. Value should reflect that of container box */
}

/* #### radio buttons #### */

input[type="radio"].radioInput{
  display: none;
}

label.radioBtn{ /* radio label */
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    margin-left: 20px;
	font-family: 'ralewayregular';
	font-size: 16px;
}

label.radioBtn::before{ /* outer round circle */
  content: '';
  display: block;
  position:absolute;
  width: 20px;
  height: 20px;
      background: #FFFFFF;
    border: 1px solid #c6c6c6;
  border-radius: 25px;
  left: 0;
  top: 0;
}

label.radioBtn::after{ /* inner dark circle */
  content: '';
  position:absolute;
	width: 12px;
	height: 12px;
	border-radius: 15px;
	left: 4px;
	top: 4px;
  overflow: hidden;
  transition: all 0.2s;  /* CSS3 transition on dark circle */
}

input[type="radio"]:checked + label.radioBtn::after{ /* inner dark circle when radio is selected */
  background: #292934;
}
/*************************************************************/
/*	Message Board
/*************************************************************/
.comment-reply{
	display: none;
	padding-top: 20px;
}
.commentBtn{
	margin: 20px 0px;
}
.messageBoard{
	color: #656668;
}
.messageBoard .btn-right{
	text-align: right;
}
.messageBoard .roundImg{
	float: left;
}
.commentDetail{
	margin-left: 100px;
    padding-top: 15px;
}
.messageBoard h6{
	margin-bottom: 20px;
}
.messageBoard .replied-comment h6{
	margin-bottom: 5px;
}
.comment-reply-link{
	color: #539bbb;
	cursor: pointer;
	display: inline-block;
	padding-right: 8px;
	margin-right: 8px;
	border-right:1px solid #656668;
}
.comment-reply-link span.replycounter, .likeComment span.replycounter{
	padding-right: 5px;
	position: relative;
}
.comment-reply-link span.replycounter:before, .likeComment span.replycounter:before{
	content: "("
}
.comment-reply-link span.replycounter:after, .likeComment span.replycounter:after{
	content: ")";
}
.commnetslist ul{
	padding-left: 0px;
	margin-bottom: 0px;
}
.commnetslist ul li{
	list-style: none;
	margin-bottom: 0px;
}
.commnetslist ul>li{
	border-bottom: 1px solid #c6c6c6;
    padding: 30px 0px 30px 15px;
}
.commnetslist ul>li:first-child{
	border-top: 1px solid #c6c6c6;    
}
.replied-comment{
	padding: 10px 0px;
}
.replied-comment p{
	margin-bottom: 0px;
}
.addReply{
	padding-top: 20px;
}
.replyBtn{
	margin-top: 20px;
}
.deleteComment{
	padding-left: 8px;
	margin-left: 8px;
	border-left:1px solid #656668;
}
/*************************************************************/
/*	Learn - Species Profiles
/*************************************************************/
.species-selection .overlay-box{
	    position: absolute;
    background: #539bbb;
    background: rgba(83, 155, 187, 0.8);
    width: 100%;
    height: 100%;
        opacity: 0;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
}
.species-selection .block-item:hover .overlay-box{
	opacity: 1;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
}
.species-selection .block-item:hover img{
	opacity: 1;
}
.species-selection .overlay-box img, img.profile-icon{
	height: auto;
    width: auto;
    margin: 0 auto;
    max-width: 44px;
    max-height: 42px;
}
.species-selection .overlay-box .text-wrapper {
    display: table;
    height: 100%;
    width: 100%;
}
.species-selection .overlay-box .tab-cell{
	display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    padding: 15px 5px;
}
.species-selection .overlay-box h4, .species-selection .overlay-box span{
	color: #fff;
}
.species-selection .featured-items{
	padding-top: 15px;
}
.species-img{
	overflow: hidden;
	height: 200px;
	position: relative;
}
.species-img.birdsBg{
	background: url("img/birds-bg.jpg") no-repeat;
	background-size: cover;
}
.species-img.fungiBg{
	background: url("img/fungi-bg.jpg") no-repeat;
	background-size: cover;
}
.species-img.lichenBg{
	background: url("img/lichen-bg.jpg") no-repeat;
	background-size: cover;
}
.species-img.insectsBg{
	background: url("img/insects-bg.jpg") no-repeat;
	background-size: cover;
}
.species-img.plantsBg{
	background: url("img/plants-bg.jpg") no-repeat;
	background-size: cover;
}
.species-img.reptilesBg{
	background: url("img/reptiles-bg.jpg") no-repeat;
	background-size: cover;
}
.species-img.fishBg{
	background: url("img/fish-bg.jpg") no-repeat;
	background-size: cover;
}
.species-img.mammalsBg{
	background: url("img/mammals-bg.jpg") no-repeat;
	background-size: cover;
}
.itemData{
	display: table;
	width: 100%;
	    border-bottom: 1px solid #c6c6c6;
    display: table;
    width: 100%;
    padding: 10px;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
}
.itemData:hover{
	    background: #F9F9F9;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
}
#filterByAlphabet-nav{
	padding: 9px 0px 7px;
}
#filterByAlphabet{
	border-top:1px solid #c6c6c6
}
.listNav,
.ln-letters { overflow: hidden }

.listNavHide { display: none }

.listNavShow { display: list-item }

.letterCountShow { display: block }

.ln-letters a {
	color: #aeb4b6;
	font-size: 20px;
	font-family: 'ralewaylight';
	display: block;
	float: left;
	padding: 2px 6px;
	border-right: none;
	text-decoration: none
}

.ln-letters .ln-last {padding-right: 0px;}

.ln-letters a:hover,
.ln-letters .ln-selected { color: #539bbb;
font-family: 'ralewayregular';
}

.ln-letters a.all{
	background: none;
}
.ln-no-match {
    padding: 30px 0px;
}
.notificationsTotal{
	position: relative;
    margin-left: 0px !important;
    padding-left: 15px !important;
    color:#D10020;
	font-size: 14px;
    padding: 0px;
    font-family: 'ralewaybold';
    vertical-align: middle;
    display: inline-block;
}
.notifications-link{
	position: relative;
    height: 38px;
    width: 38px;
    vertical-align: top;
    margin-left: 0px !important;
    background: #D10020;
}
.notifications-link:before{
	content: "";
    background: url("img/alert-white.png");
    background-repeat: no-repeat;
    background-size: 18px auto;
    background-position: center center;
    position: absolute;
    width: 38px;
    height: 38px;
    left: 0;
    top: 0;
}
.notificationsTotal:before{
	content: "(";
	position: relative;
}
.notificationsTotal:after{
	content: ")";
	position: relative;
}
.notifications-link:hover:before, .notifications-link:focus:before, .notifications-link:active:before {
  -webkit-animation-name: hvr-icon-buzz-out;
  animation-name: hvr-icon-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* Icon Buzz Out */
@-webkit-keyframes hvr-icon-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  40% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  80% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes hvr-icon-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  40% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  80% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.baclToSightings{
	position: relative;
    float: right;
    right: 0px;
    background-image: url("img/close-btn.png");
    width: 20px;
    height: 20px;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.baclToSightings:hover{
	opacity: 0.7;
}
@media (min-width:992px){
	.featuredL h3{
		margin-top: 0px;
	}
	.ln-letters a {
	    font-size: 20px;
		padding: 2px 6px;
	}
}
/*************************************************************/
/*	Sightings Map View
/*************************************************************/
.refineBtn{
	float: left;
    position: relative;
    height: 70px;
    line-height: 30px;
    padding: 20px 20px 20px 55px;
    font-size: 16px;
}
.refineBtn:before{
	content: "";
    position: absolute;
    display: inline-block;
    background-image: url("img/refine-icon.png");
    background-size: 23px auto;
    background-repeat: no-repeat;
    width: 23px;
    height: 70px;
    background-position: left center;
    left: 20px;
    top: 0px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.refineBtn:hover:before{
	-ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
/*************************************************************/
/*	Sightings List View
/*************************************************************/
.bootstrap-select.btn-group .dropdown-menu li{
	margin-bottom: 0px;
}
.dropdown-menu > li > a{
	padding: 8px 20px;
}
.dropdown-menu{
	padding: 0;
}
.bootstrap-select.open .caret{
	-ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.filterList{
	padding-top: 50px;
}
ul.sidenav{
	padding-left: 0px;
}
.filterList ul.sidenav li{
	list-style: none;
	margin-bottom: 0px;
}
.filterList ul.sidenav li ul{
	margin-top: 20px;
}
.filterList ul.sidenav li ul li a{
	text-transform: capitalize;
    padding: 5px 20px 5px 30px;
}
.filterList .button a{
	display: block;
    background-color: transparent;
    outline: none;
    border: none;
    text-transform: uppercase;
    padding: 20px 17px;
    width: 100%;
    text-align: left;
    background-position: left 23px center;
    color: #333;
}
.filterList .button.selected > a{
	background-color: #f0f1f2;
}
.filterList .button.selected > a, .filterList ul li ul li.selected > a{
	color: #539bbb;
}
.filterList .btnall.selected a{
	color: #333;
}
.filterList .button.btnunknown.selected a{
	color:#d10020;
}
.filterList .button.btnpending.selected a{
	color:#c67400
}
.filterList .button.btnverified.selected a{
	color:#1E795F;
}
.filterList .button.btnall a{
	background-image: url("img/all-dark-icon.png");
	background-repeat: no-repeat;
	background-size: 28px auto;
	padding: 20px 20px 20px 80px;
	
}
.filterList .button.btnunknown a{
	background-image: url("img/unknown-color-icon.png");
	background-repeat: no-repeat;
	background-size: 28px auto;
	padding: 20px 20px 20px 80px;
}
.filterList .button.btnpending a{
	background-image: url("img/pending-color-icon.png");
	background-repeat: no-repeat;
	background-size: 28px auto;
	padding: 20px 20px 20px 80px;
}
.filterList .button.btnverified a{
	background-image: url("img/verified-color-icon.png");
	background-repeat: no-repeat;
	background-size: 28px auto;
	padding: 20px 20px 20px 80px;
}

.listgroup{
	margin-bottom: 45px;
	background-color: #fff;
	padding-left: 0px;
}

.listDetail{
	display: inline-block;
	max-width: 60%;
	 
}
.listDetail h4, .listDetail h4 a{
	color: #292934;
	font-family: 'ralewaymedium';
}
.listDetail span{
	color: #464749;
}
.listDetail .summary, .listDetail p{
	margin-top: 15px;
}

.pawTotal, .commentsTotal, .groupTotal, .picTotal{
	color: #292934;
	padding: 6px 20px 6px 40px;
    display: inline-block;
    background-position: left center;
    vertical-align: middle;
}
.pawTotal{
	background: url("img/pawIcon.png") no-repeat;
	background-size: auto 34px;
}
.commentsTotal{
	background: url("img/commentIcon.png") no-repeat;
	background-size: auto 34px;
}
.groupTotal{
	background: url("img/group-icon.png") no-repeat;
	background-size: auto 34px;
}
.picTotal{
	background: url("img/pic-icon.png") no-repeat;
	background-size: auto 34px;
	padding-left: 50px;
}
.listDetail .btn{
	margin-top: 20px;
}
.listgroup .itemImg{
	width: 230px;
	height: 230px;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	margin-right: 35px;
	position: relative;
}
.listgroup .itemImg img{
	min-height: 100%;
	min-width: 100%;
}
.listgroup .unknownS.itemImg:before, .listgroup .pendingS.itemImg:before, .listgroup .verifiedS.itemImg:before,
.statusS.unknownS:before, .statusS.pendingS:before, .statusS.verifiedS:before{
	content: '';
    position: absolute;
    top: 0px;
    right: 0px;
	width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 50px 50px 0;
}
.listgroup .unknownS.itemImg:before, .statusS.unknownS:before{
	border-color: transparent #d10020 transparent transparent;
}
.listgroup .pendingS.itemImg:before, .statusS.pendingS:before{
	border-color: transparent #c67400 transparent transparent;
}
.listgroup .verifiedS.itemImg:before, .statusS.verifiedS:before{
	border-color: transparent #1E795F transparent transparent;
}
.displayOtions{
	display: inline-block;
}
.displayOtions .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
	width: 120px;
}
.displayOtions .bootstrap-select .btn-default{
	border:none;
	color: #539bbb;
	min-width: 120px !important;
}
.displayOtions .bootstrap-select .btn-default:hover, 
.displayOtions .bootstrap-select .btn-default:focus, 
.displayOtions .bootstrap-select .btn-default.focus, 
.displayOtions .bootstrap-select .btn-default:active, 
.displayOtions .bootstrap-select .btn-default.active, 
.displayOtions .bootstrap-select .open > .dropdown-toggle.btn-default{
	background-color: #fff !important;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{
	background-color: #fff !important;
}
.displayOtions .bootstrap-select.btn-group .dropdown-toggle .caret {
    margin-top: -5px;
}
.caret {
	    color: #539bbb;
}
.displayOtions .caret{
    border-top: 7px solid;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
    outline: none !important;
    outline-offset: 0 !important;
}
.displayOtions .btn, .displayOtions input.btn{
	padding: 0px 15px;
}
.sightingsGrid{
	display: table;
    width: 100%;
}
.sightingsGrid .listgroup{
	margin-bottom: 0;
    background-color: #fff;
    width: 33%;
    float: left;
}
.sightingsGrid .listgroup .itemImg {
    width: 100%;
    height: 223px;
}
@media (max-width:991px){
	.listgroup .itemImg {
	    width: 200px;
	    height: 200px;
	    margin-right: 0px;
    }
    .listDetail{
	    display: block;
		max-width: 100%;
		margin-top: 25px;
	}
	.sightingsGrid .listgroup {
    	width: 50%;
	}
	.sightingsGrid .listgroup .itemImg {
    	height: 225px;
	}
}
@media (max-width:767px){
	.listHead .totalNumb, .listHead .sortBtn{
		text-align: center;
	}
}
/*************************************************************/
/*	View Sightings
/*************************************************************/
.speciesD h6{
	display: inline-block;
}
.speciesD span{
	margin-left: 10px;
}
.mapPin{
	background-image: url("img/mapPine-icon.png");
	background-repeat: no-repeat;
	background-size: 26px auto;
	width: 26px;
	height: 20px;
	display: inline-block;
	margin-left: 10px;
}
.mapPin:hover{
	opacity: 0.8;
}
.imgL{
	max-width: 100%;
	width: 455px;
	height: 455px;
	overflow: hidden;
	position: relative;
}
.imgL img{
	min-height: 100%;
	min-width: 100%;
}
.imgThumbs{
	margin-top: 20px;
}
.imgThumbs{
	margin-left: -5px;
	margin-right: -5px;
	display: inline-block;
}
.thumbWrapper{
    width: 106px;
    height: 106px;
    margin: 5px;
    float: left;
    overflow: hidden;
}
.status-icon{
	text-align: center;
    padding: 60px 10px 10px 10px;
    position: absolute;
    top:0px;
    right: 0px;
    margin: 0 auto;
    background-position: center 10px;
    background-repeat: no-repeat;
    background-size: 42px auto;
}
.status-icon span{
	text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    font-family: 'ralewaymedium';
    display: block;
    line-height: 15px;
}
.unknown_status{
	background-color: #d10020;
    background-image: url("img/unknown-icon.png");
}
.pending_status{
	background-color: #c67400;
    background-image: url("img/pending-icon.png");
}
.verified_status{
	background-color: #1E795F;
    background-image: url("img/verified-icon.png");
}
.roundImg{
	width: 70px;
    height: 70px;
    border-radius: 100%;
    overflow: hidden;
    display: block;
}
.roundImg img{
	min-height: 100%;
	min-width: 100%;
}
.listGroup{
	padding-left: 0px;
}
.listGroup li{
	list-style: none;
	margin-bottom: 0px;
}
.listItem{
	border-bottom: 1px solid #c6c6c6;
	display: table;
	width: 100%;
	padding: 10px;
	-webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
}
.listItem:hover {
    background: #F9F9F9;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
}
.listItem:first-child{
	border-top: 1px solid #c6c6c6;
}
.cellImg{
	display: table-cell;
	vertical-align: middle;
	width: 70px;
}
.cellDetails{
	padding: 10px 20px;
	display: table-cell;
    vertical-align: middle;
    line-height: 30px;
}
.cellAction{
	display: table-cell;
    vertical-align: middle;
    width: 40px;
}
.cellAction .action{
	width: 40px;
	height: 40px;
	background-image: url("img/add_icon.png");
	background-repeat: no-repeat;
	background-size: 13px auto;
	background-position: center center;
	background-color: transparent;
	border: 1px solid #c7cbcc;
	outline: none;
	border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
        display: block;
}
.cellAction .action.add{
	background-image: url("img/add_icon.png");
}
.cellAction .action.added{
	background-image: url("img/added_icon.png");
	background-size: 16px auto;
	background-color: #1E795F;
    border-color: #1E795F;
}
.cellAction .action.remove{
	background-image: url("img/close-btn.png");
}
.cellAction .action.remove:hover{
	border-color: #d10020;
	background-image: url("img/close-btn-red.png");
}
.cellDetails .name{
	font-family: 'ralewaymedium';
	display: block;
}

.cellAction .action.more{
	background-image: url("img/more_icon.png");
	background-size: auto 15px;
}
.cellAction .action:hover{
	/*background-color: #F9F9F9;*/
}
.mistaken-btn{
	text-transform: uppercase;
	position: relative;
	cursor: pointer;
}
.mistaken-btn:after{
	color: #539bbb;
	content: "";
	display: inline-block;
    width: 0;
    height: 0;
    position: relative;
    margin-left: 10px;
    vertical-align: middle;
    border-top: 7px solid;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}
.mistaken-btn.open:after{
    border-bottom: 7px solid;
	border-top: 0px;
}
.commonly-mistaken{
	margin-bottom: 50px;
}
.mistaken-list{
	display: none;
	margin-top: 30px;
}
.uName{
	font-weight: bold;
}

@media (max-width:991px){
	.listItem .cellDetails .uName{
		display: block;
	}
	.listItem .cellDetails .lineDiv.areaTxt{
		border-left: 0px;
	    padding-left: 0px;
	    margin-left: 0px;
	}
}
/*************************************************************/
/*	Search Sightings
/*************************************************************/
.searchdata{
	display: none;
}
.search-sightings-header{
	background: #E6E7E8;
    position: relative;
    z-index: 100;
    width: 100%;
    float: left;
    top: -70px;
    margin-bottom: -70px;
}
.sightings-icons{
	float: left;
	padding: 20px;
}
.sightings-icons a{
	 height: 30px;
     width: 35px;
        float: left;
    margin: 0px 5px;
    background-size: auto 30px !important;
}
.sightings-icons a:hover{
	opacity: 0.6;
}
.all{
	background: url("img/all-icon.png") no-repeat;
}
.bird{
	background: url("img/birds-icon.png") no-repeat;
}
.mammals{
	background: url("img/mammals-icon.png") no-repeat;
}
.plants{
	background: url("img/plants-icon.png") no-repeat;
}
.fungi{
	background: url("img/fungi-icon.png") no-repeat;
}
.mosses{
	background: url("img/mosses-icon.png") no-repeat;
}
.insects{
	background: url("img/insects-icon.png") no-repeat;
}
.reptiles{
	background: url("img/reptiles-icon.png") no-repeat;
}
.fish{
	background: url("img/fish-icon.png") no-repeat;
}
.unknown_s{
	background: url("img/unknown_s_icon.png") no-repeat;
}
.all.selected{
	background: url("img/all-active-icon.png") no-repeat;
}
.bird.selected{
	background: url("img/birds-active-icon.png") no-repeat;
}
.mammals.selected{
	background: url("img/mammals-active-icon.png") no-repeat;
}
.plants.selected{
	background: url("img/plants-active-icon.png") no-repeat;
}
.fungi.selected{
	background: url("img/fungi-active-icon.png") no-repeat;
}
.mosses.selected{
	background: url("img/mosses-active-icon.png") no-repeat;
}
.insects.selected{
	background: url("img/insects-active-icon.png") no-repeat;
}
.reptiles.selected{
	background: url("img/reptiles-active-icon.png") no-repeat;
}
.fish.selected{
	background: url("img/fish-active-icon.png") no-repeat;
}
.unknown_s.selected{
	background: url("img/unknown_s_active_icon.png") no-repeat;
}

.globe{
	background: url("img/globe-icon.png") no-repeat;
	background-size: auto 30px;
}
.globe.selected{
	background: url("img/globe-color-icon.png") no-repeat;
	background-size: auto 30px;
}
.list{
	background: url("img/thumbview-icon.png") no-repeat;
	background-size: auto 25px;
    background-position: 0px 2px;
}
.list.selected{
	background: url("img/thumbview-color-icon.png") no-repeat;
	background-size: auto 25px;
    background-position: 0px 2px;
}
.sightings-header-right, .flt-right{
	float: right;
}
.flt-left{
	float: left;
}
.layout-icons{
	padding: 20px 10px;
	float: left;
}
.head-layout-icons{
	padding: 10px 0px;
	float: left;
}
.topbar{
	border-bottom: 1px solid #464749;
    padding-bottom: 15px;
}
.search-sort-bar .sortBtn{
	margin-top: 12px;
	margin-bottom: 12px;
}
.list, .globe{
	height: 30px;
    width: 35px;
    float: left;
    margin: 0px 5px;
}
.list:hover, .globe:hover{
	opacity: 0.7;
}
.search-icon{
	background-image: url("img/search-icon.png");
}
.search-link{
	background-color: #539BBB;
	padding: 35px;
    float: left;
	transition: none !important;
	background-size: 28px auto;
	background-position: center center;
    background-repeat: no-repeat;		
}

.map-area, .search-area{
	background: #fff;
}
.map-data{
	width: 100%;
	height: 800px;
	overflow: hidden;
}
.get-data{
	background: #539BBB;
	color: #fff;
	padding: 10px 15px;
}
.get-data .total-spices{
	padding: 14px 0px;
}
.get-data a{
	float: right;
}
.get-data a:first-child{
	margin-left: 15px;
}
.get-data span{
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.get-data span:last-child{
	padding-left: 15px;
	margin-left: 15px;
	border-left: 1px solid #fff;
}


/** Search ***/
.search-area{
	
}
.search-group{
	border: 1px solid #999FA1;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-bottom: 15px;
}
.searchBy{
	padding: 0px 15px 0px;
}
.searchBy .title{
	padding: 15px 0px;
	color: #6E7576;
	position: relative;
	cursor: pointer;
}
.searchBy .title:after{
	content: "";
	position: absolute;
	right: 10px;
    top: 23px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 7.5px 0 7.5px;
	border-color: #999FA1 transparent transparent transparent;
}
.search-group.open .searchBy .title:after{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 7.5px 7px 7.5px;
	border-color: transparent transparent #999FA1 transparent;
}
.searchdata{
	padding: 15px;
	color: #464C4A;
}
.group-title{
	display: block;
	padding: 5px 0px;
	cursor: pointer;
	position: relative;
}
.group-title:after{
	content: " >";
	position: relative;
}
.search-block{
	margin-bottom: 20px;
	position: relative;
}
.search-block input[type="submit"].ct-search-submit{
	height: 100%;
    width: 48px;
    z-index: 1000;
    background-image: url("img/search-gray.png");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size:20px auto;
}
.searchbar{
	width: 100%;
	outline: none;
	border: 1px solid #999fa1;
	border-radius: 3px;
	padding: 12px 48px 12px 15px;
	
}
.dataTables_filter .searchbar {
	background-image: url("img/search-gray.png");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 20px auto;
}
.breadcrumb {
    padding: 0px;
    background-color: transparent;
   }
.dataTables_length, .dataTables_info, .dataTables_paginate{
		    display: none;
	    }
	    .dataTables_filter label{
		    width: 100%;
	    }
	    .data-list{
		    margin-top: 20px;
	    }
	    .data-list th{
		    color: #4293ce;
		    font-family: 'ralewaybold';
	    }
	    .data-list th:focus{
		    outline: none;
	    }
	    .data-list td, .data-list th{
		    padding:10px !important;
	    }
	    .sorting{
		  position: relative;
		  cursor: pointer; 
		  
	    }
	    .sorting:after{
		    background-image: url("img/sort-icon.png");
		    background-repeat:  no-repeat;
		    content: "";
		    position: relative;
		    left: 5px;
		    top: 2px;
		    height: 13px;
		    width: 12px;
		    display: inline-block;
		    background-size: 11px auto;
	    }
	    .sorting_asc, .sorting_desc{
		  position: relative;
		  cursor: pointer;  
	    }
	    .sorting_asc:after{
		    content: "";
		    position: relative;
		    left: 5px;
		    top: -11px;
		    width: 0;
		    height: 0;
		    border-style: solid;
		    border-width: 0 6.5px 6px 6.5px;
			border-color: transparent transparent #999FA1 transparent;
	    }
	    
	    .sorting_desc:after{
		    content: "";
			position: relative;
		    left: 7px;
		    top: 15px;
		    width: 0;
		    height: 0;
		    border-style: solid;
		    border-width: 6px 6.5px 0 6.5px;
		    border-color: #999FA1 transparent transparent transparent;
	    }
	    .data-list tr{
		    cursor: pointer;
		    
	    }
	    .data-list tbody tr:hover{
		    background: #f0f1f2;
	    }
	    .data-selected .item{
		    background-color: #e2ecf9;
		    padding: 10px 35px 10px 15px;
		    border-radius: 3px;
		    margin: 0px 15px 15px 0px;
		    display: inline-block;
		    position: relative;
		    cursor: pointer;
	    }
	    .data-selected .item span:last-child{
		    margin-left: 5px;
		    border-left: 1px solid #464C4A;
		    padding-left: 5px;
	    }
	    .data-selected .item:after{
		    background-image: url("img/close-btn.png");
		    background-repeat: no-repeat;
		    content: "";
		    position: absolute;
		    right: 13px;
		    top: 15px;
		    height: 12px;
		    width: 12px;
		    background-size: 12px auto;
	    }   
   
   
@media (max-width:991px){
	.get-data .total-spices {
    	padding: 0px 0px 15px 0px;
    	text-align: center;
    }
    .get-data{
	    text-align: center;
    }
    .get-data a{
		float: none;
	}
    .map-data {
    	height: 500px;
    }
    .search-sightings-header{
	    top:0px;
	    margin-bottom: 0px;
	    background: #F2F2F2;
	    float: none;
    }
    .layout-icons {
    	padding: 9px 10px;
    }
    .refineBtn{
	    float: none;
	    height: 48px;
	    padding: 10px;
    }
    .refineBtn{
	    padding-left: 40px !important;
    }
    .refineBtn:before{
		height: 48px;
		left: 10px;
	}
    .sightings-icons{
	    text-align: center;
	    float: none;
	    padding: 10px 15px;
    }
    .search-link {
    	padding: 24px;
    }
    .sightings-icons a{
	    display: inline-block;
	    float: none;
    }
    .get-data a:first-child{
		margin-left: 0px;
	}
	.get-data a:last-child{
		margin-left: 15px;
	}
    .sightings-header-right{
	    position: absolute;
	    top: 0;
	    right: 0;
    }
}
@media (max-width:767px){
	.get-data span{
		display: block;
	}
	.get-data span:last-child {
	    padding-left: 0;
	    margin-left: 0;
	    border-left: 0;
	    margin-top: 10px;
	}
	.get-data a {
		display: block;
		width: 100%;
	}
	.get-data a:last-child{
		margin-left: 0px;
		margin-top: 10px;
	}
	
}
@media (max-width:480px){
	
	.search-link{
		padding: 25px;
	}
	.layout-icons {
    	padding: 10px 0px;
    }
    .layout-icons a {
    	margin: 0px 3px;
    }
    .map-data {
	    height: 400px;
	}
}
/*************************************************************/
/*	Footer
/*************************************************************/
footer{
	text-align:center;
	padding:70px 0px 55px;
}
footer .container{
	background-color: transparent;
}
footer a:hover, .footer-nav li a:hover{
	color:#FFFFFF;
}
.newsletter-form{
	display:inline-block;
}
.newsletter-form input::-webkit-input-placeholder {
   color: #ebede9;
}
.newsletter-form input:-moz-placeholder { /* Firefox 18- */
   color: ##ebede9;  
}
.newsletter-form input::-moz-placeholder {  /* Firefox 19+ */
   color: #ebede9;  
}
.newsletter-form input:-ms-input-placeholder {  
   color: #ebede9;  
}
.newsletter-form input{
	background:#646275;
	border:none;
	color:#F0F1EE;
	font-size:16px;
	float: left;
	height:58px;
	width:560px;
	padding:10px 15px;
	text-align: center;
}
input::-webkit-input-placeholder {
   
}
.newsletter-form button{
	background:#539bbb;
	font-size:18px;
	font-family: 'ralewaysemibold';
	letter-spacing:2px;
	color:#fff;
	text-transform:uppercase;
	border:none;
	float: left;
	height:58px;
	padding:10px 36px;
}
.newsletter-form button:hover{
	background:#4286A5
}
.footer-links{
	margin: 20px auto;
}
.footer-nav, .social-nav{
	margin:5px auto;
	padding:0px;
	list-style:none;
	display:inline-block;
}
.footer-nav li, .social-nav li{
	display:inline-block;
	vertical-align: middle;
	margin:5px 11px;
}
.footer-nav li a{
	font-size:16px;
	color:#D0D2D3;
}
.social-nav li img{
	height:32px;
	width:auto;
}
.copyright a, .copyright span{
	color:#929497;
	font-size:12px;
}
.copyright a{
	margin:0px 5px;
}

.copyright span{
	border-right:1px solid #929497;
	padding:0px 5px;
}
@media (max-width:991px){
	footer{
		padding: 30px 0px 25px;
	}
}


/*************************************************************/
/*	About
/*************************************************************/
.padding-lg{
	padding: 70px;
}
.app-info h4{
	color: #fff;
}
.download-app{
	background-color: #f0f1f2;
}
.total-sites{
	background-color: #74882e;
	color: #fff;
	font-size: 45px;
	background-image: url("img/total-sites-icon.png");
	background-repeat: no-repeat;
	background-size: 170px auto;
	background-position: bottom -10px right 50px;
	padding: 50px 200px 50px 70px;
}
.total-sites span{
	font-size: 60px;
	font-weight: bold;
}
.team-sec img{
	margin-top: 20px;
}
.faq-sec{
	text-align: left;
	margin-top: 80px;
}
.faq-sec h4{
	border-bottom: 1px solid #c6c6c6;
    padding: 0px 60px 30px 0px;
    position: relative;
    cursor: pointer;
}
.faq-sec h4:after{
	    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-size: 40px auto;
    background-image: url("img/toggle-arrow.png");
    background-repeat: no-repeat;
    right: 0;
    top: 0;
        -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.faq-sec h4.open:after{
	    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.toggle-box{
	display: none;
	padding-top: 30px;
}
.toggle-sec{
	margin-bottom: 30px;
}
.verifying-sightings img{
	width: 100%;
}
.verifying-sightings .status-icon{
	
}
.txt-red{
	color: #d10020;
}
.txt-green{
	color: #1E795F;
}
.txt-yellow{
	color: #c67400;
}
.group-sec{
	display:inline-block;
	width: 100%;
}
.group-sec .status{
	text-align: center;
    padding: 36px 10px 8px 10px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0 auto;
    background-position: center 7px;
    background-repeat: no-repeat;
    background-size: 22px auto;
    color: #fff;
    font-size: 9px;
}
@media (min-width:992px){
.order-sec{
	-moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}
.order-2{
	    -moz-order: 2;
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
}
.order-1{
	-moz-order: 1;
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
}
}
@media (max-width:1199px){
	.total-sites {
	    font-size: 35px;
	    background-size: 90px auto;
	    background-position: top 40px center;
	    padding: 130px 50px 30px;
	    text-align: center;
	}
	.total-sites span {
    	font-size: 50px;
    }
}
@media (max-width:991px){
	.i-xl{
		max-width: 50px !important;
	}
	.txt-center-md{
		text-align: center;
	}
	.total-sites {
		font-size: 28px;
	}
	.total-sites span {
    	font-size: 30px;
    }

}

/*************************************************************/
/*	Load More
/*************************************************************/

.top-to-bottom {
-webkit-animation:top_to_bottom .6s 1 cubic-bezier(0.77, 0, .175, 1);
-moz-animation:top_to_bottom .6s 1 cubic-bezier(0.77, 0, .175, 1);
-o-animation:top_to_bottom .6s 1 cubic-bezier(0.77, 0, .175, 1);
animation:top_to_bottom .6s 1 cubic-bezier(0.77, 0, .175, 1);
	opacity:1
}
@-webkit-keyframes top_to_bottom {
0% {
-webkit-transform:translate(0, -20%);
opacity:0
}
100% {
-webkit-transform:translate(0, 0);
opacity:1
}
}
@-moz-keyframes top_to_bottom {
0% {
-moz-transform:translate(0, -20%);
opacity:0
}
100% {
-moz-transform:translate(0, 0);
opacity:1
}
}
@-o-keyframes top_to_bottom {
0% {
-o-transform:translate(0, -20%);
opacity:0
}
100% {
-o-transform:translate(0, 0);
opacity:1
}
}
@keyframes top_to_bottom {
0% {
transform:translate(0, -20%);
opacity:0
}
100% {
transform:translate(0, 0);
opacity:1
}
}

/*************************************************************/
/*	Media Query
/*************************************************************/
@media (max-width:1199px){
.map-img{
	display: none;
}
.landing-info{
	margin:15% 0px;
}
}
@media (max-width:1024px){
	.landing-info h1{
	font-size:30px;
	margin:5px auto 10px;
}
}
@media (max-width:991px){
.newsletter-form input {
	width: 550px;
}

}
@media (min-width:992px){
.navbar-nav {
	padding: 14px 0px;
}
}
@media (max-width:960px){
.landing-info {
	margin: 0px 0px;
	position: relative;
	background: #292934;
}
}

@media (max-width:767px){


.newsletter-form {
	width: 100%;
}
.newsletter-form input{
	float: none;
	width: 100%;
}
input::-webkit-input-placeholder {
   font-size:10px;
   line-height:25px;
}
.newsletter-form button {
	float: none;
	margin-top:10px;
}
.join-group{
	text-align:center;
}
}
@media (max-width:600px){
.copyright span {
	margin: 5px;
	display: block;
	border: none;
}
}


@media (max-width:480px){
.map-img{
	width: 100%;
	margin:0;
}
}
@media (max-width:380px){

}
@media (max-width:300px){
	.navbar-toggle{
		padding:0px;
	}
	.navbar-brand {
	 padding: 4px 5px 6px;
	}
	.ct-search {
		width: 220px !important;
	}
	.ct-search .ct-search-input-wrap{
		width: 185px;
	}
	input[type="text"].ct-search-input {
		width: 180px;
	}
	.about-sec {
		display: block;
	}
	h2 {
	font-size: 23px;
	}
}
@media screen and (min-width: 1em){
#header-box.fixed {
	position: fixed;
	width: 100%;
	left: 0;
	top: -200px;
	z-index: 10000;
}
#header-box.invisible {
	top: -200px;
	opacity: 0;
	-webkit-transition: all .8s;
	transition: all .8s;
}
#header-box.visible {
	top: 0;
	opacity: 1;
	-webkit-transition: all .4s;
	transition: all .4s;
	transition-property: all;
	transition-duration: 0.4s;
	transition-timing-function: initial;
	transition-delay: initial;
}
}




/* Select Box */
.dropcontainer {
	position:relative;
	} 

.trigger {
	background: #fff;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease; 
	transition: all 0.5s ease;
	}

.trigger:hover {

	}

.activetrigger {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}

.activetrigger:hover {

	}

.activetrigger:active {

	}

.dropcontainer ul {
	list-style-type: none;
	margin: 0;
	width: 50%;
	z-index: 100;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}

.dropcontainer ul li {
	padding: 5px;
	-webkit-transition: all 0.5s ease; 
	-moz-transition: all 0.5s ease; 
	-o-transition: all 0.5s ease; 
	transition: all 0.5s ease;
	}

.dropcontainer ul li:hover {
	outline: none;
	}

.dropdownhidden {
	display: none;
	}

.dropdownvisible {
	height: auto;
	}


