.abmi-mapping-sec {
  
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0;
    text-align: center;
}

.abmi-bio-browser-banner {
    background: rgba(0, 0, 0, 0) no-repeat scroll center top / cover ;
    padding: 120px 0 150px;
}

.species-category .abmi-box1 {
    background: rgba(0, 0, 0, 0)  no-repeat scroll center center / cover ;
    height: 570px;
}
.species-category .abmi-box2 {
    background: rgba(0, 0, 0, 0) no-repeat scroll center center / cover ;
    height: 430px;
}
.species-category .abmi-box3 {
    background: rgba(0, 0, 0, 0)  no-repeat scroll 0 0 / cover ;
    height: 430px;
}
.species-category .abmi-box4 {
    background: rgba(0, 0, 0, 0)  no-repeat scroll right center / cover ;
    height: 430px;
}
.species-category .abmi-box5 {
    background: rgba(0, 0, 0, 0) no-repeat scroll 0 0 / cover ;
    height: 570px;
}
.species-category .abmi-box6 {
    background: rgba(0, 0, 0, 0)  no-repeat scroll right center / cover ;
    height: 285px;
}
.species-category .abmi-box7 {
    background: rgba(0, 0, 0, 0)  no-repeat scroll right center / cover ;
    height: 285px;
}


.secondarybar .search div input#searchSpecies {
    color: #1d1e1d;
    font-size: 16px;
    width: 300px;
}
.search div input#searchSpecies {
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
    color: rgb(255, 255, 255);
    font-size: 2em;
    height: 65px;
    padding-left: 15px;
    position: absolute;
    width: 214px;
    left: 0px;
}


/***-----------------------**/
.dataWrapper {
    overflow-x: auto; /* don't show species table x scroll*/
}

.dataTables_scrollBody{min-height:850px;}

.dataTables_scrollBody thead tr
{display:none;}

#data > thead {	/*hide sorting arrow header row */
    display: none;
}
.datatableimg {width:12%;}


/* in design it was 29px and works well, but in real implementation, I have to change it to 26px */
.tree >li {
    padding-left: 26px;
}


#region-summary .level1region{
	font-weight:700;
}
#region-summary .level2region{
	font-weight:500;
	padding-left:8px;
}

#region-summary .level3region{
	
	padding-left:16px;
}


/* hide data table informaiton*/
.dataTables_length,
.dataTables_paginate ,
.dataTables_filter
{
display:none;
}


/*distirubtion maps*/
 #map {  width:397px:; height:671px; }
