/* ABMI Data & Analytics - by Syncopate Media Inc. */

/***************************************************/
/* Reusable Style
/***************************************************/
.flt-none{
	float: none;
}
.nopadding{
	padding: 0px;
}
.txtcenter{
	text-align: center;
}
.mrgT-50{
	margin-top: 50px;
}
.mrgB-50{
	margin-bottom: 50px;
}
.data-analytics hr{
	margin-top: 6em;
    margin-bottom: 5em;
}
ol li, ul li{
	margin-bottom:15px;
}
.mrgBnone{
	margin-bottom: 0px;
}
.flt-right{
	float: right;	
}
.flt-left{
	float: left;	
}
/***************************************************/
/* Reset Style
/***************************************************/
.data-analytics footer{
	margin-top: 0px;
}
.line-btn{
	background-color: transparent;
	font-family: "Roboto Slab", serif !important;
	font-size: 18px;
    font-weight: 300;
    padding: 13px 30px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    min-width: 189px;
    display: inline-block;
}
.line-btn:focus, .solid-btn:focus{
	outline: none;
}
.line-btn.btn-white{
	background-color: transparent;
    color: #fff;
    border: solid 1px #fff;
    display: inline-block;
}
.line-btn.btn-white:hover{
	background: #fff;
	color: #323633;
}
.line-btn.blue-btn{
	color: #0e3642;
    border: solid 1px #0e3642;
}
.line-btn.blue-btn:hover{
	background-color: #0e3642;
    color: #fff;
}
.line-btn.btn-orange{
	color: #CA5F46;
    border: solid 1px #CA5F46;
}
.line-btn.btn-orange:hover{
	background-color: #CA5F46;
    color: #fff;
}
.solid-btn{
	font-family: "Roboto Slab", serif !important;
	font-size: 18px;
    font-weight: 300;
    padding: 13px 30px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    min-width: 189px;
    display: inline-block;
}
.solid-btn.blue-btn{
	background-color: #0e3642;
    color: #fff;
    border: solid 1px #0e3642;
}
.solid-btn.blue-btn:hover{
	background-color: transparent;
    color: #0e3642;
}

/***************************************************/
/* Data & Analytics Navigation
/***************************************************/
.mainNav{
	display: none;
}
@media screen and (min-width: 1em) {
  .data-nav.fixed {
    position: fixed;
    width: 100%;
    top: -200px;
    z-index: 10000;
  }
  .data-nav.invisible {
    top: -200px;
    opacity: 0;
    -webkit-transition: all .8s;
    transition: all .8s;
  }
  .data-nav.visible {
    top: 0;
    opacity: 1;
    -webkit-transition: all .4s;
    transition: all .4s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: initial;
    transition-delay: initial;
  }
}
.data-nav{
	background-color: #0E3444;
}
.backtoHome {
	float: left;
}
.backtoHome a{
	display: block;
	background-image: url("../assets/backto-mainpage.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	height: 100px;
	width: 100px;
}
.data-nav-links{
	float: right;
	height: 100px;
}
.data-nav-links .datalink{
	display: inline-block;
    line-height: 95px;
    padding: 0px 20px;
    overflow: hidden;
    list-style: none;
    white-space:nowrap;
    display: inline-block;
    vertical-align: middle;
    height: 100px;
}
.data-nav-links .datalink:hover, .data-nav-links .datalink.active{
	background-color: #CA5F46;
}
.data-nav-links .datalink img{
	width: 36px;
}
.data-nav-links .datalink span{
	line-height: 93px;
	padding-left: 15px;
	opacity: 0;
    max-width: 0;
    display: inline-block;
    text-decoration: none;
    transition: max-width .5s linear 0s, opacity .5s linear 0s, color .1s;
}
.data-nav-links .feedback-link, .data-nav-links .datalink span{
	color: #fff;
    font-size: 18px;
    font-family: "Roboto Slab", serif;
    vertical-align: middle;
    font-weight: 300;
}
.data-nav-links .datalink:hover span, .data-nav-links .datalink.active span {
    opacity: 1;
    max-width: 350px;
    transition: max-width .5s linear 0s, opacity .5s linear 0s, color .1s;
}
.data-nav-links .feedback-link{
	padding: 0px 20px;
}
/***************************************************/
/* Landing Page - Data
/***************************************************/
.portal-main{
	background: url("../assets/abmi-data-background.jpg") no-repeat;
	background-size: cover;
	background-position: center top;
}
.portal-info{
	background-color: transparent;
}
.portal-info h2{
	font-weight: 400;
	color:#122836;
	margin-top: 1.2em !Important;
} 
.portal-info p{
	color:#59646e;
	margin-bottom: 60px;
}
.portal-info a.last{
	margin-right: 0;
} 
.portal-info a.button:hover {
    background-color: #5A6A24;	
}
.portal-info .btn-grouping{
	margin-bottom: 100px;
}
/** Breadcrumb **/
.data-analytics .row-fluid.breadcrumb, .data-analytics .row.breadcrumb{
	background: #0E3444;
}
.data-analytics .row-fluid.breadcrumb-triangle, .data-analytics .row.breadcrumb-triangle {
    background: transparent;
}
.data-analytics .row-fluid.breadcrumb-triangle .triangle, .data-analytics .row.breadcrumb-triangle .triangle {
    border-color: #0E3444 transparent transparent transparent;
}
.data-analytics .breadcrumb h3{
	float: left;
}
.data-analytics .breadcrumb a.feedback-link{
	float: right;
    color: #fff;
    font-size: 18px;
    font-family: "Roboto Slab", serif;
    line-height: 70px;
}
.data-analytics .breadcrumb a.feedback-link:hover{
	text-decoration: underline;
}
.popover{
	color: #000;
	border-radius: 0px;
	font-size: 13px;
	letter-spacing: 0.5px;
}
.popover:before{
	
}
.logo a:hover {
    background-color: #5A6A24;
}
/** End Breadcrumbs **/

/** portal quick section **/
.portal-quicksec{
	margin-top:80px;
	margin-bottom: 100px;
}
.portal-quicksec .box-text, .portal-quicksec .box-text p , .portal-quicksec .box-text h3{
	color:#fff;
}
.data-download , .custom-reporting , .mapping-portal{
	display: table;
    width: 100%;
}
.portal-quicksec .set-height{
	margin-bottom: 30px;
	position: relative;
}
.data-download .box-img, .custom-reporting .box-img, .mapping-portal .box-img{
	width: 25%;
    height: 100%;
    overflow: hidden;
}
.data-download .box-img{
	background-image: url("../assets/reporting-img.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.custom-reporting .box-img{
	background-image: url("../assets/Custom-reporting.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.mapping-portal .box-img{
	background-image: url("../assets/mapping-portal.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.data-download .box-img, .custom-reporting .box-img, .mapping-portal .box-img
.data-download .box-text, .custom-reporting .box-text, .mapping-portal .box-text{
	display: table-cell;
	vertical-align: top; 
}
.data-download .box-text, .custom-reporting .box-text,  .mapping-portal .box-text{
	width: 75%;
}	
.box-text{
	padding: 35px;
}
.quickbox-link{
	position: absolute;
    bottom: 35px;
}
.quickbox-title{
	display: table;
    width: 100%;
    margin-bottom: 30px;
}
.quickbox-title img{
	display: inline-block;
	width: 48px;
}
.portal-quicksec h3{
	margin: 0px 0px 25px;
	font-size: 30px;
	font-weight: 300;
}
.portal-quicksec .quickbox-title h3{
	margin: 0px;
	font-size: 30px;
	font-weight: 300;
	display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
.data-download{
	background-color: #CA5F46;
}
.bio-browser{
	background-image: url("../assets/bio-browser-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.mapping-portal{
	background-color: #74882e;
}
.custom-reporting{
	background-color: #0E3444;
}
.data-download, .bio-browser, .mapping-portal, .custom-reporting{

}

.news-sec{
	background-color: #266672;
}
.search-form{
	margin-bottom: 30px;
}
.bio-browser-search .search-form .search-group {
    position: relative;
    width: 100%;
}
.bio-browser-search .search-form .form-control {
    background-color: #f2f2f2;
    color: #191d1f;
    padding-right: 80px;
    padding-left: 20px;
    height: 55px;
    width: 100%;
    display: block;
    border: 0px;
    font-size: 15px;
}
.bio-browser-search .search-form .search-btn {
    height: 55px;
    width: 70px;
    background-size: 20px;
    padding: 0px;
    min-height: 0;
    min-width: 0;
    position: absolute;
    right: 0;
    z-index: 10;
    top: 0;
    background-color: #0E3444;
    border: none;
    background-image: url("../assets/search-icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    outline: none;
}
.bio-browser-search .search-form .search-btn:focus{
	outline: none;
}
.bio-browser-search .search-form .search-btn span {
    display: none;
}

.news-sec .news-link{
	display: inline-block;
    width: 220px;
    vertical-align: top;
    border-right: 1px solid #fff;
    padding-right: 30px;
}
.news-sec .news-desc{
	display: inline-block;
    width: 75%;
    padding-left: 30px;
    vertical-align: middle;
}
.news-sec .news-desc p{
	height: 50px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.news-sec .next-newspost{
	display: inline-block;
    text-align: right;
    width: 30px;
    vertical-align: middle;
}
.news-sec .newspost-date{
	margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #fff;
}
.bx-next{
	background-image: url("../assets/arrow-right-icon.png");
	background-repeat: no-repeat;
	width: 12px;
	height: 22px;
	background-size: 100% auto;
	display: inline-block;
    text-indent: -9999px;
    position: relative;
    right: 10px;
}
.bx-prev{
	background-image: url("../assets/arrow-left-icon.png");
	background-repeat: no-repeat;
	width: 12px;
	height: 22px;
	background-size: 100% auto;
	display: inline-block;
    text-indent: -9999px;
    position: relative;
    left: -40px;
}
.bx-next:hover, .bx-prev:hover{
	opacity: 0.4;
}
.abmi-data{
	padding: 100px 0px;
}
.abmi-data img{
	max-width: 100%;
}
.abmi-data h4{
	color: #1f1f1f;
	margin-bottom: 35px;
}
.abmi-data h4 span{
	color: #b5681b;
	margin-left: 15px;
	padding-left: 15px;
	border-left: 1px solid #1f1f1f;
}
.abmi-data p{
	color: #282a2b;
}
/* BX Slider */
.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
}
.bx-wrapper img {
	max-width: 100%;
	display: block;
}
.bx-wrapper .bx-viewport {
	left: -5px;	
	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);
}
/* LOADER */
.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url("../assets/bx_loader.gif") center center no-repeat;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 30%;
	outline: 0;
	text-indent: -9999px;
	z-index: 9999;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

.guild-slider{
	color: #fff;
}
.guild-sec .bx-wrapper{
	max-width: 100% !important;
}
.guild-sec .species-item span{
	color: #fff;
}
.guild-sec .bx-next {
    right: -40px;
}
@media screen and (max-width:1300px) and (min-width:655px) {
	.guild-sec .bx-wrapper{
		max-width: 85% !important;
	}
}
@media screen and (max-width:654px){
	.guild-sec .bx-next {
	    right: 10px;
	}
	.guild-sec .bx-prev {
	    left: 10px;
	}
}


/***************************************************/
/* Species & Habitat Data
/***************************************************/
.review-data-sec{
	
}
.review-title{
	background-color: #d6d6d6;
	padding: 21px 30px;
	margin: 0px !important;
}
.selected-data{
	display: table;
    width: 100%;
    background: #fff;
    padding: 30px 15px;
}
.selection-title{
	font-size: 15px;
    color: #26282a;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    margin-top: 30px;
    display: block;
}
.mid-sec{
	border-left: 2px solid #d6d6d6;
    border-right: 2px solid #d6d6d6;
}
.data-list{
	
}
.data-list ul{
	padding: 0px;
    list-style: none;
}
.data-list ul li{
	font-size: 15px;
    color: #26282a;
    font-family: "Open Sans", sans-serif;
	font-style: italic;
	margin-bottom: 0px;
}
.btn-solid{
	position: relative;
    display: inline-block;
    color: #fff !important;
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 0.5em;
    font-family: "Roboto Slab", serif !important;
    font-weight: 300;
    letter-spacing: 1px;
    border: none;
}
.btn-green{
	background: #74882e;
}
.btn-green:hover{
	background-color: #5e6d1d;
}
.btn-green:active{
	background-color: #444e17;
}
.btn-orange{
	background:#CA5F46;
}
.btn-orange:hover{
	background-color: #BD5941;
}
.btn-orange:active{
	background-color: #AD523C;
}
.btn-blue{
	background-color: #19617d;
}
.btn-blue:hover{
	background-color: #185b70;
}
.download-btn{
	
}
.download-btn:before{
	content: "";
	position: relative;
	background-image: url("../assets/download-icon.png");
	width: 16px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    float: left;
}
.btn-sec{
	color:#27292b;
	font-size: 18px;
	text-align: center;
    padding: 50px 0px;
}
.mrg-lr{
	margin-left: 15px;
	margin-right: 15px;
}
.selection-sec{
display:none;
}
#first{
display:block;
}
#progressbar{
	display: inline-block;
    padding: 0px;
    margin-top: 50px;
}
#progressbar li{
	list-style-type: none;
    color: #26282a;
    width: 150px;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    height: 100px;
    padding-top: 54px;
    text-align: center;
    font-size: 16px;
    text-transform: none;
    line-height: 21px;
}
#progressbar li.selected-step:before,
#progressbar li.selected-step:after{
	background: #bb4831;
    color: #fff;
}
#progressbar li:before{
	content: "";
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    color: #333;
    background: #dbd9c6;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    margin: 0 auto 5px auto;
    position: absolute;
    z-index: 1;
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    top: 0;
    left: 33%;
}
#progressbar li.selected-step {
    color: #bb4831 !important;
}
#progressbar li:after {
	content: '';
    width: 100%;
    height: 7px;
    background: #dbd9c6;
    position: absolute;
    left: -67px;
    top: 22px;
}
#progressbar li:first-child:before{
	content:"1";
}
#progressbar li:nth-child(2):before{
	content:"2";
}
#progressbar li:nth-child(3):before{
	content:"3";
}
#progressbar li:nth-child(4):before{
	content:"4";
}
#progressbar li:nth-child(5):before{
	content:"5";
}
#progressbar li:first-child:after{
	content:none;
}
.right-btns{
	max-width: 50%;
    text-align: right;
}
#progressbar li.selectedSec:before, #progressbar li.selectedSec::after{
	background-color: #27292b;
}
#progressbar li.selectedSec{
	color: #27292b  !important;
}
#progressbar li.selectedSec:before{
	content: "";
	background-image: url("../assets/check-icon.png");
	background-repeat: no-repeat;
    background-position: center center;
}
.steps{
	display: none;
	color: #CA5F49;
}
@media only screen and (max-width:991px){
	#progressbar li:after{
		display: none;
	}
	#progressbar li:before{
		line-height: 49px;
		border: 2px solid #fff;
	}
	#progressbar li{
		width: 19%;
		color: transparent;
		height: 50px;
	}
	#progressbar li.selected-step{
		color: transparent !important;
	}
	.btn-sec span{
		display: block;
		margin-bottom: 10px;
	}
	.steps{
		display: block;
		font-size: 2rem;
	}
}
@media screen and (max-width:767px){
	.mid-sec{
		border-left: 0px;
		border-right: 0px;
	}
}
@media screen and (max-width:580px){
	.btn-sec .right-btns {
	    max-width: 100%;
	    float: none;
	}
	.btn-sec .btn-solid{
		width: 100%;
	}
	.btn-sec{
		display: inline-block;
		width: 100%;
	}
}
/***************************************************/
/* selection section
/***************************************************/
.selection-sec{
	
}
.choose-filters{
	background-color: #fff;
	font-size: 15px;
}
.filter-sec{
	background-color: #27292b;
    padding: 22px 50px 22px 20px;
    font-family: "Roboto Slab", serif;
    font-size: 15px;
}
.choose-toggle-link{
	position: relative;
}
.filter-sec .toggle-bar{
	background-image: url("../assets/arrow-white.png");
}
.toggle-bar.open{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}
.clear-all{
	float: right;
	font-weight: lighter;
	cursor: pointer;
}
.select-cat{
	
}
.selection-bar{
	padding: 22px 50px 22px 50px;
	background-color: #f0f1f2;
}
.s-title{
	color: #bb4831;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.clear-selected{
	font-family: "Roboto Slab", serif;
	color: #27292b;
	text-transform: capitalize;
	float: right;
	cursor: pointer;
}
.select-from{
	padding: 30px 50px 10px 50px;
}
.select-from ul.tree{
	padding-left: 0px;
    position: relative;
}
.tree >li{
	padding-left: 29px;
}
.tree>li.has-child{
	padding-left: 0px
}
.select-from ul li{
    margin-bottom: 5px;
    list-style: none;
    font-family: "Roboto Slab", serif;
}
.select-from ul li input[type=checkbox]{
	margin-right: 10px;
}
.select-from ul li label{
	font-weight: 600;
}
.select-from ul.sub-selection li label{
	font-weight: normal;
}
.toggle-bar{
   	background-image: url("../assets/down-arrow.png");
    background-repeat: no-repeat;
    height: 10px;
    width: 16px;
    position: relative;
    background-size: 100% auto;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}
.select-from ul.sub-selection{
	padding-left: 60px;
}
/* Checkbox-css*/
.select-from input[type=checkbox] {
    display: none;
}
.select-from label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
}
.select-from label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 5px;
    background-color: #FFF;
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    border: 1px solid #323232;
}
.select-from input[type=checkbox]:checked + label:before {
    content: "\2713";
    font-size: 15px;
    color: #323232;
    text-align: center;
    line-height: 15px;
}

.progress-button{
	display: inline-block;
	line-height:1;
	position:relative;
	width: 325px;
}
/*	Hide the original text of the button. Then the loading or finished
	text will be shown in the :after element above it. */
.progress-button.in-progress,
.progress-button.finished{
	color:transparent !important;
	transition: none !important;
}
.progress-button.in-progress:after,
.progress-button.finished:after{
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	padding-top: inherit;
	color: #fff !important;
	left: 0;
}
/*	If the .in-progress class is set on the button, show the
	contents of the data-loading attribute on the butotn */
.progress-button.in-progress:after{
	content:attr(data-loading);
	left: 5px;
}
/* The same goes for the .finished class */
.progress-button.finished:after{
	content:attr(data-finished);
}
/* The colorful bar that grows depending on the progress */
.progress-button .tz-bar{
	background-color: #fff;
	background-image: url("../assets/prog-bg.png");
	background-repeat: repeat-x;
	background-size: auto 100%;
	height:15px;
	bottom:-15px;
	left:0;
	width:0;
	position:absolute;
	z-index:1;
	-webkit-transition: width 0.5s, height 0.5s;
	-moz-transition: width 0.5s, height 0.5s;
	transition: width 0.5s, height 0.5s;
}
@media only screen and (max-width:991px){
	.progress-button .tz-bar{
		    bottom: -25px;
	}
}
/***************************************************/
/* Landing Page - Biodiversity Browser
/***************************************************/
.bio-browser-page{
	background: #fff;
	font-family: "Open Sans", sans-serif;
}
.bio-browser-banner{
	padding: 120px 0px 150px;
	background: url("../assets/browser-banner-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}
.bio-browser-banner h1{
	font-size: 100px;
	margin-bottom: 55px;
}
.bio-browser-banner p{
	font-size: 16px;
	color: #fff;
	margin-bottom: 70px;
}
.bio-browser-img{
	background: url("../assets/browser-banner-img.png");
	background-repeat: no-repeat;
	background-position: right top;
	background-position: right 20% top;
    background-size: 730px auto;
}
.bio-browser-graphic{
	display: none;
	max-width: 100%;
	height: auto;
}
.species-monitored-counter:before{
	content:"";
	position: absolute;
	background-image: url("../assets/Species-Monitored-topbg.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: left bottom;
	top:-70px;
	width: 100%;;
	height: 70px;
}
.species-sec h3{
	font-weight: 300;
	text-align: center;
	margin-bottom: 70px;
}
.guild-sec{
	padding: 60px 0px 120px;
}
.species-monitored-counter{
	padding: 60px 0px 70px;
}
.guild-sec, .species-monitored-counter{
	position: relative;
    background-color: #0E3444;
    background-image: url("../assets/bottom-white.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100% auto;
}
.guild-sec h3, .species-monitored-counter h3{
	color: #fff;
	text-align: center;
	margin-top: 0px;
}
.guild-sec h4{
	text-align: center;
	font-family: "raleway", sans-serif;
	font-weight: 300;
}
.stat-analysis-collaborations{
	padding:50px 0px 100px;
}
.stat-analysis-collaborations .sec h2{
	padding-top: 0px;
}
.stat-analysis-collaborations .sec{
	padding: 0px 50px;
	color: #122836;
	margin-top: 40px;
}
.stat-analysis-collaborations .sec:first-child{
	border-right: 1px solid #282B2D;
}
.stat-analysis-collaborations .sec p{
	margin-bottom: 60px;
}
.stat-analysis-collaborations .sec:fiest-child{
	background:ur("../assets/line.png");
	background-repeat: no-repeat;
	background-size: 2px auto;
	background-position: right center;
}
.mapping-sec{
	background-image: url("../assets/mapping-portal-sec-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 70px 0px;
	text-align: center;
}
.mapping-sec h2{
	color: #fff;
	font-weight: 400;
	margin-bottom: 20px;
}
.species-category a{
	display: block;
}
.species-category .overlay-box{
	opacity: 0;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
}
.species-category .item:hover .overlay-box{
	opacity: 1;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
}
.species-category .item img{
	width: 100%;
}
/******* Species Category ********/
.species-category .item{
	width: 100%;
}
.species-category .box1{
	background: url("../assets/mammals.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	height: 570px;
}
.species-category .box2{
	background: url("../assets/soil-mites.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	height: 430px;
}
.species-category .box3{
	background: url("../assets/birds.jpg") no-repeat;
	background-size: cover;
	height: 430px;
}
.species-category .box4{
	background: url("../assets/Vascular-Plants.jpg") no-repeat;
	background-size: cover;
	background-position: right;
	height: 430px;
}
.species-category .box5{
	background: url("../assets/Lichens.jpg") no-repeat;
	background-size: cover;
	height: 570px;
}
.species-category .box6{
	background: url("../assets/Aquatic-Invertabrates.jpg") no-repeat;
	background-size: cover;
	background-position: right;
	height: 285px;
}
.species-category .box7{
	background: url("../assets/Bryophytes.jpg") no-repeat;
	background-size: cover;
	background-position: right;
	height: 285px;
}
.species-category {
	position: relative;
}
.species-category .item {
	position: relative;
}
.species-category .item a{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
.species-category .item a {
	overflow: hidden;
}
.species-category .item a .overlay-box {
	position: absolute;
	background: #CA5F46;
	background: rgba(202, 95, 70, 0.85);
	width: 100%;
	height: 100%;
}
.species-category .item a .overlay-box span {
	margin-top: 40px;
	-webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.species-category .item .overlay-box .text-wrapper{
	display: table;
    height: 100%;
    width: 100%;
}
.species-category .item .overlay-box .tab-cell{
	display: table-cell;
	height: 100%;
    vertical-align: middle;
    text-align: center;
}
.species-category .item h3{
	margin-top: 0px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.species-category .item h4{
	text-align: center;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 300;
}

/***************************************************/
/* Innerpage - Sidemenu
/***************************************************/
.data-analytics .sidemenu .module-title{
	padding: 20px 0px;
}
.data-analytics .sidemenu .module-title img{
	display: inline-block;
    vertical-align: middle;
}
.data-analytics .sidemenu .module-title h4{
	display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 0px 10px;
}
.data-analytics .sidemenu ul li.active{
	list-style-image: none;
	position: relative;
	margin-top: 35px;
    margin-bottom: 5px;
}
.data-analytics .sidemenu ul li.active:before{
	content: "";
    position: absolute;
    width: 12px;
    height: 50px;
    background-color: #CB5E42;
    left: -18px;
    top: -21px;
}
.data-analytics .sidemenu ul li.active a, .data-analytics  .aside ul li a:hover {
    color: #CB5E42;
}
.data-analytics .widget.searchbox {
    margin-bottom: 3em;
    margin-top: 42px;
}
.data-analytics input.sidemenuSearch{
	float: left;
	max-width: 79%;
}
.data-analytics button.sidemenuSearchBtn{
	background-color: #0E3444;
}

/***************************************************/
/* Innerpage - Overview
/***************************************************/
.overview-quicklinks{
	margin-top: 70px;
}
.overview-link{
	display: block;
    margin-bottom: 30px;
}
.overview-link .img-box{
	height: 188px;
	overflow: hidden;
}
.overview-link .img-box img{
	min-width: 100%;
	min-height: 100%;
	max-width: 150%;
}
.overview-link .caption{
	padding: 10px 25px;
}
.overview-link .caption h4, .overview-link .caption p{
	color: #fff;
	font-weight: 300;
}
.overview-link .box1{
	background-color: #163545;
}
.overview-link .box2{
	background-color: #C47C34;
}
.overview-link .box3{
	background-color: #CA5F46;
}
.overview-link .box4{
	background-color: #19748D;
}
.overview-link .box5{
	background-color: #6C7780;
}
/***************************************************/
/* Innerpage - List-view / Grid-view
/***************************************************/
.data-analytics .listSyle{
	margin: 50px 0px 30px;
}
.data-analytics a.sidemenuGridview {
    background: url('../assets/grid-view-icon.png') center center;
        background-repeat: no-repeat;
}
.data-analytics a.sidemenuListview{
    background: url('../assets/list-view-icon.png') center center;
        background-repeat: no-repeat;
}
.data-analytics a.sidemenuGridview.active {
    background: url('../assets/grid-view-active-icon.png') center center;
        background-repeat: no-repeat;
}
.data-analytics a.sidemenuListview.active {
    background: url('../assets/list-view-active-icon.png') center center;
        background-repeat: no-repeat;
}
.data-analytics a.sidemenuGridview,
.data-analytics a.sidemenuListview{
	width: 35px;
    height: 35px;
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 1.3em;
}
.data-analytics .shortpost {
    min-height: 200px;
    width: 100%;
    display: inline-block !important;
}
.data-analytics .shortpost:hover h4{
	text-decoration: underline;
}
.data-analytics .readmore-link {
    font-size: 15px;
    font-family: "Roboto Slab", serif;
    color: #0e2735;
    text-transform: uppercase;
    margin-top: 20px;
}
.data-analytics .post-data span{
	color: #CB5E42;
	margin-right: 5px;
	display: inline-block;
    vertical-align: middle;
}
.data-analytics .post-pdf{
    background: url("../assets/pdf-ico.png") no-repeat scroll left;
    height: 19px;
    width: 17px;
    padding: 0px;
}
.data-analytics .post-zip{
	background: url("../assets/zip-ico.png") no-repeat scroll left;
	height: 19px;
    width: 17px;    
}
.data-analytics .post-ref{
	background: url("../assets/search-ico.png") no-repeat scroll left;
    height: 21px;
    width: 20px;
}
.data-analytics  .data-post .post-text {
    float: right;
    position: absolute;
    right: 0px;
    height: 100%;
}
.data-analytics .post-exerpt p {
    max-height: 70px;
    height: auto;
    -webkit-line-clamp: 3;
    margin-top: 15px;
}
.data-analytics .readmore-link{
	position: absolute;
	bottom: 30px;
}
.load-moreData{
	background: #c9c7b5;
	color: #282a2b;
	font-size: 24px;
	text-align: center;
	font-family: "Roboto Slab", serif;
	padding: 16px 15px;
	cursor: pointer;
}
.data-analytics .data-post.list-view .shortpost {
    min-height: 0px;
    background: none !important;
    display: table;
}
.data-post.list-view .post-feature-img,
.data-post.list-view .post-exerpt{
	display: none;
}
.data-analytics .data-post.list-view  .post-text {
    float: left;
    position: relative;
    height: auto;
    padding: 0px;
}
.data-analytics .data-post.list-view .shortpost:hover h4{
	    text-decoration: underline;
}
.data-analytics .data-post.list-view .readmore-link {
    position: relative;
    bottom: 0;
    display: block;
}

/***************************************************/
/* Innerpage - Download Data Single page
/***************************************************/
.single-datapage{
	padding-top: 80px;
    padding-bottom: 80px;
}
a.type-pdf{
	color: #CB5E42;
}
a.type-ftp{
	color: #59646e;
}
a.type-ftp, a.type-pdf{
	font-family: "Roboto Slab", serif;
	font-size: 18px;
	display: block;
	margin-bottom: 20px;
    position: relative;
    padding-left: 40px;
}
.type-pdf:before{
	position: absolute;
	content: "";
	background-image: url("../assets/pdf-ico.png");
	background-repeat: no-repeat;
	background-size: 23px auto;	
	width: 29px;
	height: 27px;
	left: 4px;
}
.type-ftp:before{
	position: absolute;
	content: "";
	background-image: url("../assets/ftp-ico.png");
	background-repeat: no-repeat;
	background-size: 29px auto;	
	width: 29px;
	height: 27px;
	left: 0px;
}
a.type-ftp:hover, a.type-pdf:hover{
	text-decoration: underline;
}
.databy{
	margin-top: 60px;
}
.databy-year h4{
	background-color: #fff;
    padding: 20px 60px 20px 40px;
    cursor: pointer;
    position: relative;
    margin-bottom: 0px;
}
.databy-year h4.open:after{
	background-image: url("../assets/up-arrow.png");
}
.databy-year h4:after{
	content: "";
    position: absolute;
    background-image: url("../assets/down-arrow.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 70px;
    width: 60px;
    top: 3px;
    right: 0px;
}
.yearData{
	padding: 40px 30px;
	display: none;
}
.single-data{
	background-color: #19748D;
	color: #fff;
}
.single-data h3, .single-data p, .single-data span{
	color: #fff;
}
.single-data .post-data span{
	color: #fff
}
.data-analytics .post-zip.white{
	background: url("../assets/zip-white-ico.png") no-repeat scroll left;
}
.data-analytics .post-pdf.white{
    background: url("../assets/pdf-white-ico.png") no-repeat scroll left;
}
.single-data{
	padding: 30px;
}
.single-data h3{
	margin: 0px 0px 20px;
}
.single-data .post-data{
	margin-bottom: 30px;
}
.single-data-img{
	overflow: hidden;
}
.single-data-img img{
	min-height: 100%;
	min-width: 100%;
	max-height: 200%;
    max-width: 200%;
}
.data-ftpData{
	background-color: #353739;
	padding: 30px;
	margin-bottom: 60px;
}
.data-ftpData p{
	color: #fff;
}
.data-ftpData img{
	display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}
.ftp-details{
	display: inline-block;
    vertical-align: top;
}
.ftp-details a{
	color: #CA5F47;
}
/**************************************************/
/* News page
/***************************************************/
.news_post{
	margin-bottom: 50px;
}
.news_post a.post_title{
	color: #313436;
}
.news_post .post_title h4{
	margin-bottom: 0px;
}
.news_post .post_title:hover{
	text-decoration: underline;
}
.news_post h4.news_postdate{
	color: #CA5F46;
	margin-bottom: 10px;
}
.news_post a.news_post_more{
	font-size: 15px;
    font-family: "Roboto Slab", serif;
    color: #0e2735;
    text-transform: uppercase;
    margin-top: 20px;
}
.news_post a.news_post_more:hover{
	color: #CA5F46;
}
/***************************************************/
/* Browser Innerpage - basic styles
/***************************************************/
.bio-browser-page .browser-banner{
	overflow: hidden;
	position: relative;
	background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    background-position: center center;
    padding: 0px;
}
.bio-browser-page .banner-caption{
	margin: 0px auto;
    vertical-align: middle;
    display: table;
    position: relative;
    text-align: left;
    height: 500px;
    background-color: rgba(6, 6, 6, 0.26);
    width: 100%;
}
.bio-browser-page .banner-caption h1, .bio-browser-page .banner-caption h3, .bio-browser-page .banner-caption p{
	color: #fff;
}
.bio-browser-page .banner-caption h1{
	font-size: 100px;
	margin-bottom: 25px;
	margin-top: 0px;
}
.bio-browser-page .banner-caption h3{
	margin: 25px 0px 0px 0px;
}
.banner-caption p{
	font-size: 18px !important;
	margin-top: 25px;
}
.textwrap{
	max-width: 100%;
	height: 500px;
    display: table-cell;
    vertical-align: middle;
}
.secondarybar{
	background-color: #e1e3e4;
}
.secondarybar .totalNumbers{
	display: inline-block;
}
.secondarybar .totalNumbers h4{
	color: #CA5F46;
    margin: 20px 20px 20px 0px;
    border-right: 2px solid #1d1e1d;
    display: inline-block;
    padding-right: 20px;
    line-height: 22px;
}
.secondarybar .search div{
	top:0;
	background-color: #ffffff;
}
.secondarybar .search div input.btn {
    background-color: #0E3444;
    width: 65px;
}
.secondarybar .search div input#q {
    color: #1d1e1d;
    font-size: 16px;
    width: 300px;
}
.secondarybar .search div:hover, .search div:focus {
    max-width: 100%;
}
.search div input.btn:focus{
	outline: none;
}
.slectGroup{
    padding: 20px 45px 20px 0px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
    font-size: 16px;
    color: #1d1e1d;
    vertical-align: top;
}
.slectGroup:after {
    content: "";
    position: absolute;
    background-image: url("../assets/down-arrow.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 60px;
    width: 40px;
    top: 3px;
    right: 0px;
}
.slectGroup.open:after{
	 background-image: url("../assets/up-arrow.png");
}
.species-groupList{
	padding-top:35px;
	display: none;
	border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}
a.species-item {
	display: block;
}
a.species-item:hover{
	opacity: 0.5;
}
.species-item span{
	font-family: "Roboto Slab", serif;
	text-align: center;
    margin: 20px auto 0px;
    display: block;
    font-size: 18px;
    color: #1d1e1d;
}
.speciesImg-block{
	border-radius: 100%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
/**************************************************/
/* Single page subnav
/***************************************************/
.subNav{
	background: #0e3443;
	color: #fff;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
}
.subNav .pageTitle{
	background: #0e3443;
	display: table;
    width: 100%;
    height: 100px;
    vertical-align: middle;
}
.pagetitleimg{
	border-radius: 100%;
    height: 70px;
    width: 70px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
}
.pagetitleimg img{
	min-height: 100%;
    min-width: 100%;
    height: 100%;
}
.pageTitle span{
	color: #fff;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    vertical-align: middle;
}
.titleWrap{
	display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    padding: 0px 25px;
}
.subNav .col-lg-12{
	padding: 0px;
	min-height: 0;
}
.subNav .navbar-collapse{
	margin-right: 0px !important;
}
.subNav .navbar{
	border: 0px;
    margin-bottom: 0px;
    min-height: 0;
}
.subNav .navbar ul{
	width: 100%;
    display: table;
    min-height: 100px;
    vertical-align: middle;
    margin: 0;
}
	.subNav .navbar li{
	width: 18.2%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.subNav .navbar a:hover{
	color: #CA5F46 !important;
}
.subNav .navbar a{
	color: #fff;
    font-size: 16px;
}
.subNav .navbar li.active{
	background-color: #cc6046;
	
}
.subNav .navbar li.active a{
	color: #fff !important;
	transition:none;
}
.subNav .navbar-header{
	position: absolute;
	top: 15px;
    right: 20px;
}
.subNav .nav>li>a:hover, .subNav .nav>li>a:focus {
    background-color: transparent;
    outline: none;
}
.subNav .nav-trigger{
	position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    text-align: left;
}
.subNav .navbar-toggle .nav-trigger span {
  position: absolute;
  height: 2px;
  width: 25px;
  top: 50%;
  margin-top: -3px;
  left: 50%;
  -webkit-transition: background-color 0.3s 0.3s;
  -moz-transition: background-color 0.3s 0.3s;
  transition: background-color 0.3s 0.3s;
}
.subNav .navbar-toggle .nav-trigger span:before,
.subNav .navbar-toggle .nav-trigger span:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  transform: translateZ(0px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  -moz-transition: -moz-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
}
.subNav .navbar-toggle.collapsed .nav-trigger span:before {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}
.subNav .navbar-toggle.collapsed .nav-trigger span:after {
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
}
.subNav .subnav .navbar-toggle.collapsed .nav-trigger span {
  background-color: #fff !important;
}
.subNav .subnav .navbar-toggle .nav-trigger span:before,
.subNav .subnav .navbar-toggle .nav-trigger span:after {
  background-color: #fff !important;
}
.subNav .navbar-toggle.collapsed .nav-trigger span {
  background-color: #fff !important;
  text-align: left;
}
.subNav .navbar-toggle .nav-trigger span {
  background-color: transparent !important;
}
.subNav .navbar-toggle .nav-trigger span:before {
  -webkit-transform: translateY(0) rotate(-45deg);
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -o-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}
.subNav .navbar-toggle .nav-trigger span:after {
  -webkit-transform: translateY(0) rotate(45deg);
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -o-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
/**************************************************/
/* Single page
/***************************************************/
.subNav.is-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.sec .wrap{
	padding: 30px 0px;
}
.sec .wrap p, .sec .wrap li{
	font-size: 18px !important;
	line-height: 27px;
}
.sec p.txt-lg{
	font-size: 18px !important;
	font-weight: 600;
}
.sec .txt-style1{
	color: #CA5F46;
	font-style: italic;
}
.sec-title{
	background-color: #eae4da;
	display: block;
}
.sec-title h2{
	color: #0e3443;
	font-weight: normal;
	padding-bottom: 20px;
	padding-top: 20px;
	font-size: 45px;
}
.getData-btn{
	position: relative;
}
.getData-btn:before{
	content:"";
	position: relative;
	display: inline-block;
	margin-right: 10px;
	width: 28px;
    vertical-align: middle;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.getData-btn:before{
	background: url(../assets/data-download-color-icon.png) no-repeat;
	background-size: 100% auto;
	height: 22px;
    
}
.getData-btn:hover:before{
	background: url(../assets/data-download-white-icon.png) no-repeat;
	background-size: 100% auto;
	-webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
/**************************************************/
/* Filter
/***************************************************/
.data-section{
	padding: 60px 0px;
}
.data-block{
	color:#26282a;
}
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
.data-filter-btn{
	padding: 60px 0px 35px;
}
.data-section .button-group{
	padding-bottom: 50px;
}
.data-section .button-group button{
	margin:0px 15px 15px 0px;
	color:#333638;
	background-color:transparent; 
    border: 1px solid #333638;
    display: inline-block;
    padding: 10px 20px;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.data-section .button-group button:hover, 
.data-section .button-group button.is-checked{
	background-color: #333638;
	color: #fff;
	outline: none;
}
.data-section .button-group button:last-child{
	margin-right: 0px;
}
.data-block table{
	width: 100%;
}
.data-block tbody{
	width: 100%;
}
.data-block table thead{
	border-bottom: 1px solid #ccc;
}
.data-block table tbody tr{
	width: 100%;
    position: relative !important;
    top: 0 !important;
    left: 0px !important;
    transform: none !important;
    /* transition-property: opacity !important; */
   	transition-duration: 0.1s !important;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
}
.data-block table tbody tr:hover{
	background-color: #eff0f1;
}
.data-block table  td, .data-block table  th{

	    display: table-cell;
	    padding: 10px 15px;
}
.data-block table  th:focus{
	outline: none;
}
.data-block table th{
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
    padding-bottom: 25px;
}
.data-block table th:first-child{
	cursor: auto;
	visibility: hidden;
}
.data-block table th:first-child:after{
	content: none;
}


.data-block table a{
	color: #26282a;
}
.data-block table a:hover{
	color: #CA5F46;
}
.sorting{
  position: relative;
  cursor: pointer; 
  
}
.sorting:after{
    background-image: url("../assets/a_up_down.png");
    background-repeat:  no-repeat;
    content: "";
    position: relative;
    left: 5px;
    height: 13px;
    width: 12px;
    display: inline-block;
    background-size: auto 14px;
}
.sorting_asc, .sorting_desc{
  position: relative;
  cursor: pointer;  
}
.sorting_asc:after{
    content: "";
    position: relative;
    left: 5px;
    width: 11px;
    height: 11px;
    background: url("../assets/a_up.png") no-repeat;
    display: inline-block;
}

.sorting_desc:after{
    content: "";
	position: relative;
    left: 7px;
    width: 11px;
    height: 11px;
     background: url("../assets/a_down.png") no-repeat;
     display: inline-block;
}
.data-list tr{
    cursor: pointer;
    
}
.data-list tbody tr:hover{
    background: #f0f1f2;
}
.data-summaries{
	margin-bottom: 50px;
}
.full, .basic, .forested, .prairie{
	position: relative;
}   
.full:before, .basic:before, .forested:before, .prairie:before{
	content:"";
	width: 25px;
	height: 25px;
	margin-right: 15px;
	display: inline-block;
	border-radius: 100%;
	vertical-align: middle;
}
.data-summaries .basic , .data-summaries .prairie, .data-summaries .forested
{
	margin-left: 20px;
}
.full:before{
	background-color: #ce5d48;
}
.basic:before{
	background-color: #c77b3b;
}
.forested:before{
	background-color: #69763b;
}
.prairie:before{
	background-color: #00758b;
}

.mixed:before{
	background-color:transparent;
	background-image: url("../assets/mixed.jpg");
	background-size: 25px auto;
	background-repeat: no-repeat;
}
.peddign-l{
	padding-left: 30px;
}
.peddign-r{
	padding-right: 30px;
}	
.relation_sec h3{
	position: relative;
} 
.relation_sec h3:after{
	content: "";
    display: block;
    height: 1px;
    width: 56px;
    background-color: #282b2d;
    margin-top: 25px;
}
.colored{
	color: #CA5F46;
}   
.relation_sec h3.colored:after{
	background-color: #CA5F46;
}
.dataWrapper{
	overflow-x: scroll;
}
.data-block{
	min-width: 720px;
}
.mapImg{
	max-width:315px;
}
.ForestedRegion-map .mapImg{
	max-width:100%;
} 
.sp-btns{
	position: relative;
	display: block;
}
.overview{
	display: inline-block;
	width: 100%;
	padding: 50px 0px 50px 50px;
}
/**************************************************/
/* Species Page
/***************************************************/
.cell-img{
	display: table-cell;
    vertical-align: top;
}
.cell-img img{
	max-width: none;
	min-width: 100%;
}
.sp-main{
	color: #fff;
	display: table;
	background-color: #cc6046;
}
.sp-main p{
	color: #fff;
}
.banner-txt h2, .banner-txt h3{
	margin: 0px;
	padding: 0px;
}
.banner-txt h2{
	font-weight: normal;
	color:#fff;
	font-size: 45px;
}
.banner-txt h3{
	color: #751e11;
	font-size: 35px;
	font-style: italic;
}
.map-portal-sec{
	position: relative;
}
.banner-txt{
	display: table-cell;
    vertical-align: top;
	padding: 60px 60px 35px;
	background-image: url("../assets/bio-img.png");
	background-repeat: no-repeat;
	background-position: bottom right 60px;
}
.map-portal-sec .mapPortal-btn:hover{
	background-color: #B75039;
}
.map-portal-sec .btn-pos{
	position: absolute;
    bottom: 40px;
    text-align: center;
    width: 100%;
}
.map-portal-sec .mapPortal-btn{
	position: relative;
    background: #cc6046;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 6px 10px;
    font-size: 16px;
    font-family: "Roboto Slab", serif;
    color: #fff;
    font-weight: 300;
}
.mapPortal-btn:before{
	content:"";
	position: relative;
	display: inline-block;
	margin-right: 10px;
	width: 19px;
    vertical-align: top;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    background: url(../assets/mapping-portal-icon.png) no-repeat;
	background-size: auto 100%;
	height: 22px;
}
.species-desc{
	margin-top: 30px;
    max-height: 120px;
    overflow: scroll;
    margin-bottom: 20px;
    padding-right: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.species-desc p{
	font-size: 20px !important;
	line-height: 30px !important;
}
.species-details{
	margin-bottom: 50px;
}
.species-details p{
	font-size: 17px !important;
}
.species-details span{
	color: #751e11;
}
.download-report{
	    background: transparent;
    border: 1px solid #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    font-size: 16px;
    position: relative;
    padding: 6px 10px;
    font-family: "Roboto Slab", serif;
    color: #fff !important;
    font-weight: 300;
}
.download-report:before{
	content: "";
    position: relative;
    background-image: url("../assets/download-icon.png");
    background-size: 100% auto;
    width: 12px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.download-report:hover{
	background-color: rgba(249, 249, 249, 0.05);
}
.downloaddata-btn, .mapPortal-btn{
	background: #cc6046;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    font-size: 16px;
    position: relative;
    padding: 6px 10px;
    font-family: "Roboto Slab", serif;
    color: #fff !important;
    font-weight: 300;
}
.downloaddata-btn:before{
	content: "";
    position: relative;
    background-image: url("../assets/download-icon.png");
    background-size: 100% auto;
    width: 12px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.mapPortal-btn:before{
	content: "";
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 19px;
    vertical-align: top;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    background: url(../assets/mapping-portal-icon.png) no-repeat;
    background-size: auto 100%;
    height: 22px;
}
.downloaddata-btn:hover, .mapPortal-btn:hover{
	background-color: #B75039;
}
.btnr{
	text-align: right;
}
.mrgr{
	margin-right: 15px;
}
a{
	word-break: break-all;
}
.nomrg{
	margin: 0px;
}
.sec h3{
	margin: 0px 0px 10px;
	font-size: 30px;
}
.sec a{
	color:#464A4F;
}
.sec h4{
	color: #282b2d;
}
.map-current, .map-ref{
	background-color: #E7F3F1;
}
.map-ref{
	width: 110%;
}
.relation_sec h4{
	text-align: center;
}
.relation_sec{
	color: #0e3443;
}
.relation_sec .colored{
	color: #60afa0;
}
.map-current:after{
	position: absolute;
    content: "";
    width: 65px;
    height: 40px;
    background: url("../assets/arrow-green.png");
    background-size: 100% auto;
    top: 44%;
    right: -82px;
    background-repeat: no-repeat;
}
.togglelink {
	display: block;
}
.togglelink h4{
	position: relative;
	display: inline-block;
		
}
.togglelink h4:after{
	position: relative;
	content: "";
	background: url("../assets/arrow-down.png");
	width: 19px;
	height: 12px;
	display: inline-block;
	background-size: 100% auto;
	background-repeat: no-repeat;
	margin-left: 10px;
}
.togglesec{
	display: none;
}
.Forested-Region h4, .Forested-Region h3{
	color:#748938;
	display: inline-block;
    width: 90%;
    margin-left: 15px;
    vertical-align: middle;
}
.Prairie-Region h4, .Prairie-Region h3{
	color: #ca7a44;
	display: inline-block;
    width: 90%;
    margin-left: 15px;
    vertical-align: middle;
}
.Forested-Region img, .Prairie-Region img{
	display: inline-block;
	vertical-align: middle;
}
.head-s{
	margin-bottom: 20px;
}
.paririe-sec{
	background-color: rgba(206, 198, 182, 0.15);
	border-top: 2px solid #ca7a44;
	border-bottom: 2px solid #0e3443;
}
.paririe-sec h4{
	text-align: center;
	color: #ca7a44;
}
@media (max-width: 1500px){
	.banner-txt{
		padding: 30px;
	}
	.banner-txt h2 {
    	font-size: 35px;
	}
	.banner-txt h3{
		font-size: 25px;
	}
	.species-desc {
	    margin-top: 20px;
	}
}
@media (max-width: 1500px){
	
	.species-desc p {
	    font-size: 16px !important;
	    line-height: 22px !important;
	}
	.species-details p{
		margin-bottom: 15px;
	}
	.banner-txt {
	    padding: 30px;
	    float: left;
	    width: 40%;
	}
	.cell-img {
		width: 32%;
	    display: inline-block;
	    overflow: hidden;
	    float: left;
	}
	.map-portal-sec{
		width: 28%;
		float: right;
	}
}
@media (min-width: 1025px){
	.formobile{
		display: none;
	}
}
@media (max-width: 1199px){
	.map-current:after{
		display: none;
	}
}
@media (max-width: 1024px){
	.fordesktop.cell-img{
		display: none;
	}
	.cell-img{
		width: 55%;
	}
	.banner-txt{
		width: 100%;
		height: auto !important;
	}
	.map-portal-sec{
		width: 45%;
	}
	.cell-img img{
		min-width: 100%;
		height: auto;
		max-width: 100%;
	}
	.banner-txt h2 {
	    font-size: 25px;
	}
	.banner-txt h3 {
	    font-size: 18px;
	}
	.species-desc p {
    	font-size: 14px !important;
    	line-height: 20px !important;
    }
    .banner-txt {
    	padding: 20px;
    }
    .species-details p {
    	font-size: 15px !important;
        margin-bottom: 0px;
	}
	.species-desc{
		max-height: none;
	}
}

@media (max-width: 991px){
	.map-ref {
	    width: auto !important;
	}
	.btnr{
		text-align: left;
	}
}
@media (max-width: 1024px){
	.map-current, .map-ref{
		background-color: #fff;
	}
	.map-ref{
		width: 100%;
	}
}
@media (max-width: 400px){
	.map-portal-sec, .cell-img{
		width: 50%;
	}
	.mapPortal-btn:before {
	    margin-right: 5px;
	    width: 14px;
	    height: 17px;
	}
	.map-portal-sec .mapPortal-btn {
	    border-radius: 5px;
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    padding: 5px 8px;
	    font-size: 12px;
	}
	.map-portal-sec .btn-pos {
	    bottom: 20px;
    }
    
}
/**************************************************/
/* Fancy Box
/***************************************************/
.mapImgSec:hover .open-modalwindow{
	display: block;
	    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.open-modalwindow{
	display: none;
	    width: 54px;
    height: 56px;
    position: absolute;
    left: 46%;
    top: 38%;
    background-image: url("../assets/search-icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 33px auto;
    background-color: rgba(47, 47, 47, 0.55);
    border-radius: 7px;
        -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.zoom-graph{
	float: right;
	width: 38px;
    height: 38px;
    position: relative;
    background-image: url("../assets/zoom-icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
}
.album {
    display: none;
}
.fancybox-close{
	background-image: url("../assets/close-icon.png") !important;
	background-repeat: no-repeat;
    background-size: 23px auto;
    background-position: top right;
    top: 10px !important;
    right: 10px !important;
    width: 40px !important;
    height: 45px !important;
}
.fancybox-nav{
	display: none;
}
#links{
	display: none;
}
.mapImgSec{
	display: inline-block;
    position: relative;
    margin-bottom: 20px;
}
/**************************************************/
/* Media query
/***************************************************/
@media (min-width: 768px){
	.data-analytics .post-feature-img {
	    left: 0;
	    float: left !important;
	}
}
@media only screen and (min-width: 480px){
	.secondarybar .search div:hover, .search div:focus {
	    width: 300px;
	}
}
@media only screen and (min-width:1900px){
	.species-monitored-counter {
    	padding: 30px 0px 80px;
	}
	.species-category .box1, .species-category .box5{
		height:590px;
	}
	.species-category .box2, .species-category .box3, .species-category .box4{
		height: 450px;
	}
	.species-category .box6, .species-category .box7{
		height: 295px;
	}
}
@media only screen and (max-width:1800px){
	.bio-browser-img{
	    background-position: right 10% top;
    }
}
@media only screen and (max-width:1580px){
	.bio-browser-img{
	    background-position: right 0 top;
	    background-size: 45% auto;
    }
    .bio-browser-page .banner-caption h1{
	    font-size: 80px;
    }
}
@media only screen and (min-width:1200px){
	.species-titlebar{
		display: none;
	}
	.navbar-collapse.collapse{
		vertical-align: middle;
	    display: inline-block !important;
	    width: 89%;
	}
	.pagetitleimg.desktoppic{
		display: inline-block;
	    margin-left: 25px;
	    vertical-align: middle;
	}
	.navbar-nav>li>a {
	    padding-top: 0px;
	    padding-bottom: 0px;
	    border-left: 1px solid #fff;
	}
}
@media only screen and (max-width:1450px){
	.subNav .navbar li {
	    width: 17.2%;
	}
	.subNav .navbar a{
		font-size: 14px;
	}
}
@media only screen and (max-width:1199px){
	.subNav .navbar li {
	    width: 33%;
	    display: inline-block;
	}

	.pagetitleimg.desktoppic{
		    display: none;
	}
	.data-nav-links .datalink{
		    padding: 0px 15px
	}
	.data-nav-links .feedback-link, .data-nav-links .datalink span{
		font-size: 15px;
	}
	.data-nav-links .datalink img {
	    width: 25px;
	}
	.news-sec .news-desc{
		width: 70%;
	}
	.abmi-data h4 span{
		margin-left: 0;
		padding-left: 0;
		border-left: 0px;
		display: block;
		margin-top: 10px;
	}
	.stat-analysis-collaborations .sec{
		padding: 0px 30px;
	}
	.species-monitored-counter h3{
		margin-bottom: 0px;
	}
	.bio-browser-banner h1, .bio-browser-page .banner-caption h1 {
    	font-size: 7em;
    }
    .bio-browser-img{
	    background-position: right top 40%;
	    background-size: 45% auto;
    }
    .bio-browser-banner {
    	padding: 60px 0px 100px;
    }
    .species-monitored-counter {
	    padding: 50px 0px 100px;
	}
	.data-analytics .main > h3 {
	    margin: 0px 0px 30px;
	}
	.data-analytics .sidemenu .module-title {
	    padding: 0px 0px;
	}
	.single-datapage {
	    padding-top: 20px;
	    padding-bottom: 30px;
	}
	.speciesImg-block {
    	width: 130px;
		height: 130px;
    }
    .sec .wrap , .data-section{
	    padding: 60px 0px;
	}
}
@media screen and (max-width:1199px) and (min-width:992px) {
	.data-download .box-text, .custom-reporting .box-text , .mapping-portal .box-text{
	    width: 78%;
	}
	.data-download .box-img, .custom-reporting .box-img , .mapping-portal .box-img{
    	width: 22%;
    }
    .subNav .navbar a{
	    font-size: 14px;
    }
}
@media only screen and (max-width:991px){
	.btn-right{
		float: left;
		margin: 50px 0px 0px;
	}
	.sp-btns{
		margin-bottom: 0px;
	}
	.textwrap {
    	margin-left: 0px;
    	height: auto;
    }
    .overview{
	    padding: 30px 0px 50px;
    }
	.bio-browser-page .banner-caption{
		width: 100%;
		height: auto;
		display: block;
		text-align: center;
	}
	.quickbox-link {
	    position: relative;
	    bottom: 0;
	}
	.news-sec .news-link {
	    display: block;
	    width: 100%;
	    vertical-align: top;
	    border-right: none;
	    padding-right: 0;
	}
	.news-sec .news-desc {
	    width: 100%;
	    display: block;
	    margin-top: 30px;
	    padding-left: 0px;
    }
    .news-sec .next-newspost {
	    display: block;
	    text-align: left;
	    vertical-align: top;
	}
	.abmi-data h4{
		margin-top: 30px;
	}
	.stat-analysis-collaborations .sec{
		padding: 0px 15px;
		text-align: center;
	}
	.stat-analysis-collaborations .sec:fiest-child{
		background: none;
	}
	.stat-analysis-collaborations .sec p{
		margin-bottom: 40px;
	}
	.bio-browser-graphic{
		display: block;
		max-width: 300px;
		    margin: 0 auto;
	}
	.bio-browser-img{
		background: none;
	}
	.bio-browser-banner {
    	text-align: center;
    }
    .bio-browser-page .browser-banner {
    	min-height: 0px;
	}
	.bio-browser-page .banner-caption{
		position: relative;
	    transform: none;
	    left: 0;
	    top: 0;
	    padding: 10%;
	}
    .data-analytics .logo {
	    height: 67px;
		width: 67px;
	}
	.backtoHome a{
		height: 67px;
		width: 67px;
	}
	.data-nav-links, .data-nav-links .datalink{
		height: 67px;
		line-height: 65px;
	}
	.data-nav-links .datalink span{
		line-height: 65px;
	}
    .data-nav-links .datalink img {
	    width: 25px;
	}
	.data-nav-links .datalink {
    	padding: 0px 5px;
    }
    .data-nav-links .feedback-link, .data-nav-links .datalink span {
    	font-size: 13px;
    }
    .data-nav-links .datalink span{
		padding-left: 8px;
	}
	.data-nav-links .feedback-link {
	    padding: 0px 10px;
	}
	
	.stat-analysis-collaborations .sec:first-child{
		border-right: 0px;
	}
	.species-category .item {
		height: 400px;
	}
	.subNav .navbar li {
	    width: 100%;
	    display: block;
	    padding: 5px 15px;
	}
	.navbar-nav > li > a br{
		display: none;
	}
	.pagetitleimg {
	    height: 50px;
	    width: 50px;
	    margin-right: 20px;
	}
	.subNav .pageTitle {
    	height: 70px;
    }
	.subNav .navbar-header {
    	top: 0px;
    	padding-right: 0px;
    }
    .peddign-l{
		padding-left: 15px;
	}
	.peddign-r{
		padding-right: 15px;
	}
	.data-block table tbody tr{
		font-size: 14px;
	}
	.data-block table th{
		font-size: 13px;
	}
	.data-block table td, .data-block table th{
		padding: 10px;
	}
}
@media screen and (max-width:991px) and (min-width:768px) {
	.species-category .nopadding{
		display: table;
		width: 100%;
	}
	.species-category .item.box1, .species-category .item.box1,
	.species-category .item.box6, .species-category .item.box7 {
	    width: 50%;
	    display: table-cell;
	}
	.speciesImg-block {
	    width: 100px;
	    height: 100px;
	}
	.species-item span {
    	font-size: 16px;
    }
}
@media only screen and (max-width:767px){
	.data-analytics .breadcrumb h3, .data-analytics .breadcrumb a.feedback-link{
		float: none;
		display: block;
		line-height: 50px;
	}
	.portal-quicksec {
	    margin-top: 40px;
	    margin-bottom: 40px;
	}
	.abmi-data, .mapping-sec{
		padding: 40px 0px;
	}
	.portal-info .btn-grouping{
		margin-bottom: 40px;
	}
	.portal-info h2 {
    	margin-top: 10px !important;
    }
    .data-analytics .row-fluid.breadcrumb, .data-analytics .row.breadcrumb,
    .abmi-data{
	    text-align: center;
    }	
    .portal-info .btn-grouping .icon{
		height: 30px;
	    width: auto;
	}
	.stat-analysis-collaborations{
		padding: 0px 0px 40px;
	}
	.guild-sec, .species-monitored-counter{
		padding: 40px 0px 50px;
	}
	.species-sec{
		padding-top: 20px;
	}
	.bio-browser-banner h1, .bio-browser-page .banner-caption h1 {
	    font-size: 6em;
	        margin-bottom: 20px;
	}
	.bio-browser-banner p {
    	margin-bottom: 30px;
	}
	.bio-browser-graphic{
		max-width: 200px;
	}
	.bio-browser-banner {
	    padding: 60px 0px 60px;
	}
	.species-sec h3 {
    	margin-bottom: 30px;
    }
    
	.species-category .item {
    	height: 400px;
	}
	.overview-link .img-box {
    	height: auto;
    }
    .overview-link .img-box img {
    	max-width: 100%;
    }
    .data-analytics .widget.searchbox {
	    margin-bottom: 0px;
	    margin-top: 0px;
	}
	.data-analytics .data-post .post-text {
		position: relative;
		float: left;
	}
	.data-analytics .data-post .readmore-link {
	    position: relative;
	    bottom: 0;
	}
	.databy-year h4 {
    	padding: 15px 60px 15px 20px;
    }
    .databy-year h4:after {
    	height: 49px;
    }
    .yearData {
	    padding: 30px 20px;
	}
	a.type-ftp, a.type-pdf {
    	font-size: 15px;
    }
    .single-data-img img{
	    max-width: 100%;
	    width: 100%;
	    height: auto;
	    max-width: none;
    }
    .bio-browser-page .banner-caption{
	    transform: none;
	    left: 0px;
	    top: 0px;
	    position: relative;
	    display: block;
	}
	.pageTitle span {
	    font-size: 16px;
	}
	.titleWrap{
		text-align: left;
	}
	.sec .wrap, .data-section{
	    padding: 40px 0px;
	}
	.mrgT-50 {
	    margin-top: 30px;
	}
	.sec-title h2{
		padding-top: 10px;
		padding-bottom: 15px;
	}
	.relation_sec h3{
		margin: 20px 0px;
	}
	.full, .basic {
	    position: relative;
	    display: block;
	}
	.data-summaries .basic, .data-summaries .mixed {
	    margin-left: 0px;
	    margin-top: 5px;
	}
	.species-item span{
		margin: 20px auto;
	}
	.data-nav-links .datalink span, .data-nav-links .feedback-link{
		display: none;
	}
}
@media only screen and (max-width:580px){
	.line-btn, .solid-btn {
	    font-size: 15px;
	    padding: 10px 20px;
	    min-width: 150px;
    }
	.data-download .box-img, .custom-reporting .box-img, .mapping-portal .box-img{
		display: none;
	}
	.data-download .box-text, .custom-reporting .box-text , .mapping-portal .box-text{
	    width: 100%;
	    display: block;
	}
	.box-text {
	    padding: 25px;
	}
	.quickbox-title img{
		width: 30px;
	}
	.portal-quicksec .quickbox-title h3{
		font-size: 20px;
	}
	
	.data-nav-links .datalink {
	    padding: 0px 9px;
	}
	.species-category .item h3 {
    	font-weight: 400;
    	letter-spacing: 0px;
    }
	.species-category .item a .overlay-box span {
		margin-top: 20px;
	}
	.speciesImg-block {
	    width: 100px;
	    height: 100px;
	}
	.species-item span{
		font-size: 16px;
	}
	.mapImg{
		max-height: 400px;
	}
}
@media only screen and (max-width:480px){
	.portal-info .btn-grouping .icon{
		float: none;
	}
	.mapping-sec img{
		height: 60px;
	}
	.mapping-sec h2{
		margin-bottom: 0px;
	}
	.bio-browser-banner h1, .bio-browser-page .banner-caption h1{
	    font-size: 4em;
	}
	.species-groupList .col-sm-2.col-xs-4{
		width: 50%;
	}
	.secondarybar{
		text-align: center;
	}
	.secondarybar .totalNumbers{
		display: block;
		text-align: center;
	}
	.secondarybar .totalNumbers h4{
		border-right: 0px;
	    margin: 10px auto;
	    padding: 0px;
	}
	.bio-browser-page .banner-caption{
		text-align: center;
	}
	.sp-btns{
		position: relative;
		margin-bottom: 50px;
		top: 0px;
		right: 0px;
		text-align: center;
	}
	.data-filter-btn{
		text-align: center;
	}
	.data-filter-btn a {
    	padding: 10px;
		font-size: 15px;
	}
}

@media only screen and (min-width: 768px){
	.data-analytics .shortpost .post-feature-img{
		width:190px;
	}
	.data-analytics .shortpost .post-feature-img img{
		    max-width: 190px !important;
	}
}


