
body {
	background-color: #f3f1de;
	max-width: 100%
}

.container-fluid {
	color: #fff;
	margin: 0;
	padding: 0
}

.logo {
	background-color: #677523;
	height: 100px;
	float: left;
	width: 100px
}

.logo a {
	display: block;
	height: 100%;
	width: 100%;
	transition: .3s
}

.logo a:hover {
	background-color: #626B22
}

.logo a:active {
	background-color: #4B4C19
}

.top-bar {
	background-color: #3a3a11;
	height: 35px
}

.search div {
/*	background: url(../assets/search.png) no-repeat center right 15px
		#677523;*/
	top: 35px;
	height: 65px;
	float: right;
	margin-left: 15px;
	position: relative;
	-webkit-transition: background-color .5s ease-out, width .5s ease-out;
	-moz-transition: background-color .5s ease-out, width .5s ease-out;
	transition: background-color .5s ease-out, width .5s ease-out;
	width: 65px;
	overflow: hidden;
}

.search div input#q {
	background-color: transparent;
	border: none;
	color: #fff;
	height: 65px;
	font-size: 2em;
	padding-left: 15px;
	position: absolute;
/*	right: 65px;*/
	width: 214px;
}


.search div input.btn {
	
	border: none;
	color: #fff;
	height: 65px;
	font-size: 2em;
	padding-left: 15px;
	position: absolute;
	 float: right;
	 position: relative;
	width: 80px;
	 background: url('/docroot/assets/search.png') no-repeat scroll right 15px center rgb(103, 117, 35);
}

.jumbotron {
	max-width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: relative;
	top: 0;
	left: 0;
	-webkit-transform-style: preserve-3d
}

.jumbotron img {
	width: 100%;
	height: auto;
	min-height: 270px
}

audio,canvas,progress,video {
	display: inline-block;
	vertical-align: top
}

.navbar-collapse.collapse {
	max-height: none;
	margin: 0
}

.navbar-collapse.in ul.list-unstyled li {
	padding: .7em
}

.navbar-collapse.in ul.list-unstyled li a {
	color: #282b2d;
	padding-left: 4em
}

.navbar-collapse.in ul.list-unstyled li:hover {
	background-color: #E9E6D5
}

.navbar-collapse.in .search-collapse input {
	display: inline-block;
	padding: 1em 0 1em 3em;
	width: 100%;
	background-color: rgba(222, 219, 204, .9);
	border: none;
	color: #282b2d
}

.navbar-collapse.in .search-collapse {
	margin: 0;
	position: relative;
	overflow: hidden
}

.overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 999;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 80%
}

.company-info {
	background-color: #f3f0df
}

.small-container {
	background-color: #900;
	margin: 0 auto;
	max-width: 968px
}

.divider {
	background-color: #74882e
}

.explore {
	background: url(/docroot/assets/parkridge_banff.jpg) no-repeat center
		top;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/docroot/assets/parkridge_banff.jpg',
		sizingMethod='scale' );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/docroot/assets/parkridge_banff.jpg', 

sizingMethod='scale')"
}

.triangle {
	width: 0;
	height: 0;
	border-left: 53.5px solid transparent;
	border-right: 53.5px solid transparent;
	border-bottom: 55px solid transparent;
	border-top: 55px solid #74882e;
	margin: 0 auto
}

.tile {
	background-color: #bb6b0c;
	clear: left;
	margin-bottom: 30px;
	max-width: 570px;
	overflow: auto
}

.learn-more {
	background-color: #74882e
}

.learn-more .column {
/*	min-height: 283px;*/
min-height: 275px
	position: relative
}

.social {
	background-color: #8ab0a3;
	text-align: center
}

.events {
	background-color: #9b8732
}

.half {
	clear: none;
	float: left;
	margin-bottom: 50px;
	margin-right: 5.2%;
	/*min-height: 283px;*/
	min-height: 275px
	max-width: 570px;
	width: 47.4%;
	overflow: hidden
}

.half a {
	padding: 2em 3em;
	/*min-height: 283px*/
	min-height: 275px
	
}

ol.carousel-indicators {
	text-align: left;
	bottom: 0;
	left: 0;
	margin-left: 0;
	padding: 0 3em 2em;
	width: 50%
}

.carousel {
	overflow: hidden !important
}

#carousel-news ol.carousel-indicators {
	left: 36%
}

.carousel-indicators li {
	background-color: #313436;
	border: 1px solid #313436;
	border-radius: 0
}

.carousel-indicators li.active {
	border: none
}

.carousel-inner>.item {
	width: 100%
}

.social img.icon {
	display: block;
	float: none;
	margin: 2em auto 0;
	width: 47px
}

.right {
	float: right;
	margin-left: 2%;
	margin-right: 0
}

.sponsor {
	background-color: #e8e4bf;
	min-height: 102px;
	float: left;
	margin: 12px 5% 30px 0;
	height: auto
}

.row.withmarg {
	margin-left: 0;
	margin-right: 0
}

footer {
	background-color: #313436;
	margin-top: 35px
}

footer h3 {
	font-size: 2.2em
}

.fine-print {
	background-color: #262626;
	padding: 20px 15px
}

html {
	font-family: "Open Sans", sans-serif
}

h1,h2,h3,h4,h5,h6 a.button {
	font-family: "Roboto Slab", serif;
	line-height: 1em
}

.jumbotron h1.sub-heading {
	font-size: 3.2em;
	font-weight: 400
}

h2 {
	color: #282b2d;
	font-size: 3.5em;
	line-height: 36pt;
	margin: 0;
	padding: 59px 0 39px
}

.divider h2 {
	color: #fff;
	font-size: 3.7em;
	margin: 0;
	padding: .7em 0 .9em
}

h3 {
	color: #282b2d;
	font-size: 3.6rem;
	font-weight: 400;
	line-height: 44px;
	margin: 42px 0 48px
}

h4 {
	font-size: 2.4em;
	line-height: 1.2em
}

.main h4 {
	margin-bottom: 25px
}

h5 {
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 31px;
	line-height: 3.1rem;
	color: #262626;
	font-weight: 400
}

.page-content h4 {
	color: #313436
}

.tile h4 {
	color: #fff;
	font-size: 2.3em;
	line-height: 1.2em
}

.social h4 {
	font-size: 1.8em;
	margin-top: 1.0em;
	padding-top: 0
}

.spotlight {
	margin: 0 0 30px;
	position: relative;
	max-width: 570px
}

.spotlight .overlay {
	top: 0;
	left: 0;
	height: 100%;
	text-align: left;
	padding: 2.6em 2.9em;
	width: 100%;
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0)
}

.spotlight .overlay h3 {
	color: #fff;
	text-shadow: 0 0 .1em #a6a8ab;
	margin-top: 20px
}

.spotlight .overlay h4 {
	color: #fff;
	text-shadow: 0 0 .1em #a6a8ab;
	max-width: 360px;
	margin-top: 10px
}

.spotlight .overlay h4.text-right {
	float: right
}

.spotlight .overlay h4.text-left {
	float: left
}

.spotlight .spotlight-base {
	position: absolute;
	bottom: 0;
	right: 2.9em;
	left: 2.9em
}

footer h3 {
	color: #fff;
	clear: left;
	line-height: 1.2em;
	margin: 48px 0 15px
}

blockquote {
	padding: 10px 30px;
	margin: 0 0 20px 50px;
	font-size: 15px;
	font-size: 1.5rem;
	border-left: 7px solid #74882E;
	color: #262626;
	font-weight: 600;
	font-family: 'open sans';
	clear: both
}

a,a:link {
	color: #a6a8ab;
	font-family: "Open Sans", sans-serif;
	text-decoration: none;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	transition: all .5s ease-out
}

a:hover {
	color: #74882e
}

.top-bar ul,footer ul {
	list-style: none;
	padding: 0
}

.top-bar ul {
	float: right;
	margin-bottom: 0;
	margin-right: 15px
}

.top-bar ul li {
	float: left;
	margin: 6px 0 0 22px
}

.top-bar ul li a {
	color: #fff;
	font-family: "Roboto Slab", serif;
	font-size: 13px;
	font-size: 1.3rem;
	font-weight: 300
}

.search div:focus,.search div:hover {
	background-color: #5d691f;
	width: 140px
}

.search div:active {
	background-color: #333a11
}

footer ul {
	margin-bottom: 55px
}

footer ul li {
	padding-bottom: 8px
}

footer ul li a {
	color: #a6a8ab;
	font-size: 11pt
}

li,p {
	color: #282b2d;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6em
}

p {
	margin-bottom: 24px
}

.tile p {
	color: #fff;
	font-size: 1.4em;
	line-height: 1.7em
}

.tile p.timestamp {
	font-size: 1.2em;
	margin-bottom: 5px
}

footer p {
	color: #a6a8ab;
	margin-bottom: 6px
}

.events a {
	display: block;
	height: 100%;
	width: 100%
}

.events .fauxa {
	color: #fff;
	display: block;
	font-family: "Roboto Slab", serif;
	font-size: 1.4em;
	text-transform: uppercase;
	padding: 15px 0 0;
	font-weight: 300
}

.events .fauxa:hover {
	text-decoration: underline
}

.overlay p {
	color: #fff;
	text-shadow: 0 0 .1em #313436;
	max-width: 320px;
	padding: 0 0 2em
}

.overlay p.text-right {
	float: right
}

.overlay p.text-left {
	float: left
}

.fine-print p {
	color: #a6a8ab;
	font-size: 1.4em;
	line-height: 1.8em;
	padding: 0 0 0 45px
}

a.button {
	background-color: #74882e;
	color: #fff;
	font-family: "Roboto Slab", serif;
	font-size: 1.6em;
	font-weight: 400;
	float: left;
	letter-spacing: 0;
	line-height: 130%;
	text-align: left;
	text-transform: none;
	-webkit-transition: background-color .5s ease-out;
	-moz-transition: background-color .5s ease-out;
	transition: background-color .5s ease-out;
	margin-bottom: 2%;
	padding: 17px 30px 17px 25px;
	min-height: 60px;
	width: 30%
}

.icon {
	float: left;
	margin-right: 20px
}

a.button:hover {
	background-color: #6a7d2a
}

a.button:active {
	background-color: #434f1b
}

.social a {
	display: block;
	height: 100%;
	width: 100%
}

.social .fauxa {
	color: #fff;
	font-weight: 700
}

.social .fauxa:hover {
	text-decoration: underline
}

.center {
	clear: left;
	text-align: center;
	margin: 0 auto;
	padding: 77px 0 36px
}

.company-info>.container>.row h3 {
	font-size: 2.4em;
	margin: 48px 0 24px
}

a.btn-learn,button.btn-learn,div.btn-learn {
	background-color: #8ab0a3;
	color: #fff;
	font-family: "Roboto Slab", serif;
	font-size: 1.6em;
	float: none;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 15px 40px;
	-webkit-transition: background-color .5s ease-out;
	-moz-transition: background-color .5s ease-out;
	transition: background-color .5s ease-out
}

a.btn-learn:hover,button.btn-learn:hover,div.btn-learn:hover {
	background-color: #81aa9c
}

a.btn-learn:active,buttona.btn-learn:active,div.btn-learn:active {
	background-color: #608e7e
}

.learn-more a.btn-learn,.learn-more button.btn-learn,a.btn-learn {
	background-color: #89afa2;
	float: right;
	margin-top: 25px;
	padding: 13px 32px;
	position: absolute;
	bottom: 30px;
	right: 30px
}

a.button.btn-learn {
	position: relative;
	margin: 0 auto;
	float: none
}

.learn-more a.btn-learn:hover,.learn-more button.btn-learn:hover {
	background-color: #6a7d2a
}

.learn-more a.btn-learn:active,.learn-more button.btn-learn:active {
	background-color: #434f1b
}

div.btn-learn-green {
	background-color: #74882E;
	color: #fff;
	border: 1px solid #fff;
	display: inline-block
}

div.btn-learn-green:hover {
	background-color: rgba(255, 255, 255, .1)
}

div.btn-learn-green:active {
	background-color: rgba(255, 255, 255, .35)
}

.company-info a.last,.last {
	margin-right: 0
}

.partner {
	height: 65px;
	margin: 60px 0 25px;
	text-align:center
}


.ai {
	background: url(/docroot/assets/partner_ai-logo.png) no-repeat center
		center
}

.ram {
	background: url(/docroot/assets/partner_ram-logo.png) no-repeat center
		center
}

.uoc {
	background: url(/docroot/assets/partner_uoc-logo.png) no-repeat center
		center
}

.uoa {
	background: url(/docroot/assets/partner_uoa-logo.png) no-repeat center
		center
}

.input-group {
	float: left;
	margin: 10px 0 30px;
	width:90%;
}

.btn {
	border-radius: 0
}
.newslettersignup {height:46px;}
.btn-primary {
	background-color: #677523;
	border: #677523;
	border-radius: 18px;
	float: left;
	font-family: "Roboto Slab", serif;
	font-size: 1.2em;
	padding: 10px 26px;
	-webkit-transition: background-color .5s ease-out;
	-moz-transition: background-color .5s ease-out;
	transition: background-color .5s ease-out
}

.btn-primary.active,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.open .dropdown-toggle.btn-primary
	{
	background-color: #5d691f
}

.connect a.icon {
	background-color: #a6a8ab;
	border: #a6a8ab;
	border-radius: 18px;
	color: #fff;
	display: block;
	float: left;
	font-size: 1.3em;
	height: 37px;
	margin: 0 0 50px 11px;
	width: 37px
}

.connect a.twitter {
	background: url(/docroot/assets/twitter.png) no-repeat center center
		#a6a8ab
}

.connect a.facebook {
	background: url(/docroot/assets/facebook.png) no-repeat center center
		#a6a8ab
}

.connect a.vimeo {
	background: url(/docroot/assets/vimeo.png) no-repeat center center
		#a6a8ab
}

.connect a:hover {
	background-color: #9ea0a4
}

.connect a:active {
	background-color: #7f8286
}

.aside .connect a:link {
	background-color: #74872d;
	border: #74882E;
	border-radius: 50%;
	color: #fff;
	display: block;
	float: left;
	font-size: 1.3em;
	height: 45px;
	margin: 10px 20px 50px 0;
	width: 45px
}

.aside .connect a.twitter {
	background: url(/docroot/assets/asidetwitter.png) no-repeat center
		center #74872d
}

.aside .connect a.facebook {
	background: url(/docroot/assets/asidefacebook.png) no-repeat center
		center #74872d
}

.aside .connect a.vimeo {
	background: url(/docroot/assets/asidevimeo.png) no-repeat center center
		#74872d
}

.aside .connect a:hover {
	background-color: #6e7e2c
}

.aside .connect a:active {
	background-color: #535f21
}
.input-group form {width:80%;}
.form-control {
	background-color: #a6a8ab;
	border: none;
	border-radius: 0;
	color: #313436;
	font-size: 1.3em;
	/*padding: 23px 15px*/
	height:46px;
}

.btn-default {
	background-color: #677523;
	border: 1px solid #677523;
	color: #fff;
	font-family: "Roboto Slab", serif;
	font-size: 17px;
	letter-spacing: 1px;
	text-transform: uppercase;
	-webkit-transition: background-color .5s ease-out;
	-moz-transition: background-color .5s ease-out;
	transition: background-color .5s ease-out;
	padding: 10px 30px
}

.form-control:focus {
	border: none;
	box-shadow: none
}

.connect {
	float: left;
	margin-top: .6em
}

.navbar-default {
	background-color: #74882e;
	border: 0;
	border-radius: 0;
	margin-bottom: 0
}

.navbar-collapse {
	border: none;
	box-shadow: none;
	margin-right: 15px;
	padding: 0
}

.navbar-toggle {
	margin-top: 15px
}

.navbar-default .navbar-toggle:hover {
	background-color: #6a7d2a
}

.navbar-default .navbar-toggle:active {
	background-color: #434f1b
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-family: "Roboto Slab", serif;
	font-size: 30px;
	font-size: 1.8rem;
	font-weight: 300;
	-webkit-transition: background-color .5s ease-out;
	-moz-transition: background-color .5s ease-out;
	transition: background-color .5s ease-out
}

.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:visited
	{
	background-color: #3a3a11;
	color: #fff
}

.socialflag {
	position: fixed;
	top: 38%;
	left: 0;
	background: url(/docroot/assets/social.png) no-repeat top left;
	width: 90px;
	height: 45px
}

.socialflag a {
	display: inline-block;
	transition: .25s;
	margin: 9px;
	opacity: .7
}

.socialflag a:hover {
	opacity: 1
}

.jumbotron {
	background-size: cover;
	min-height: 400px
}

.home .jumbotron {
	background: url(/docroot/assets/grasslands_video.jpg) no-repeat top
		center, #3a3a11
}

.applied-research-projects .jumbotron {
	background: url(/docroot/assets/appliedresearchprojects.jpg) no-repeat
		top center, #3a3a11
}

.land-access .jumbotron {
	background: url(/docroot/assets/landaccesstitle.jpg) no-repeat top
		center, #3a3a11
}

.board-of-directors .jumbotron {
	background: url(/docroot/assets/boardofdirectorstitle.jpg) no-repeat top
		center, #3a3a11
}

.careers .jumbotron {
	background: url(/docroot/assets/careers.jpg) no-repeat top center,
		#3a3a11
}

.publications .jumbotron {
	background: url(/docroot/assets/publicationstitle.jpg) no-repeat top
		center, #3a3a11
}

.monitoring-cycle .jumbotron {
	background: url(/docroot/assets/monitoringcycle-title.jpg) no-repeat top
		center, #3a3a11
}

.row-fluid.page-content {
	background-color: #f3f0df;
	padding: 0
}

.main {
	padding-top: 35px;
	padding-bottom: 35px
}

.aside li a {
	font-family: roboto slab
}

.widget ul {
	padding: 0
}

.aside .widget ul li {
	list-style-type: none
}

.aside .list.widget li {
	margin-bottom: 30px
}

.page-content a {
	color: #74882E
}

.row-fluid.breadcrumb {
	margin: 0;
	border-radius: 0;
	background: #74882E;
	min-height: 75px;
	padding: 0
}

.row-fluid.breadcrumb h3 {
	margin: 0;
	line-height: 70px;
	color: #fff
}

.row-fluid.breadcrumb-triangle {
	background: #f3f0df
}

.row-fluid.breadcrumb-triangle .triangle {
	width: 0;
	height: 0;
	margin: 0;
	border-style: solid;
	border-width: 30px 30px 0;
	border-color: #74882E transparent transparent
}

.faq {
	margin-bottom: 60px;
	padding-left: 0
}

.faq li {
	list-style-type: none
}

.faq input[type=button]:hover {
	color: #74882E
}

.faq input[type=button] {
	-webkit-appearance: none;
	background: url(/docroot/assets/collapsed-minus.png) no-repeat left
		center;
	font-weight: 700;
	line-height: 22px;
	color: #313436;
	border: none;
	white-space: normal;
	text-align: left;
	padding: 17px 0 17px 35px;
	outline: 0
}

.faq input[type=button].collapsed {
	background: url(/docroot/assets/collapsed-plus.png) no-repeat left
		center;
	font-weight: 400
}

.faq .collapse,.faq .collapsing {
	border-left: 7px solid #74882E;
	margin: 0 0 0 60px;
	font-weight: 400;
	padding-left: 30px
}

.collapse a,.collapsing a {
	color: #74882E;
	font-size: 15px;
	font-size: 1.4rem;
	font-weight: 400
}

.collapse a:hover,.collapsing a:hover {
	color: #6F7F2D
}

.sidemenu {
	clear: both
}

.sidemenu ul {
	padding: 20px;
	margin-left: 0
}

.sidemenu ul li {
	/*list-style-type: none;
	margin-bottom: 0 joan*/
	  height: 50px;
    list-style-type: none;
    margin-bottom: 30px;
    position: relative;
}

.aside ul li a {
	color: #313436
}

.sidemenu ul li a {
	/*line-height: 60px;
	vertical-align: top*/
	  height: 120px;
  position: absolute;
  top: 35%;
}

.aside ul li a:hover {
	color: #6F7F2D
}

.sidemenu ul li.active {
	list-style-image: url(/docroot/assets/sidemenu-active.png)
}

.sidemenu ul li.active a {
	color: #74882E
}

.blue,.cyan,.dgreen,.green,.grey,.olive,.openapps,.orange,.red,.closedapps, .colorbox
	{
	margin-bottom: 35px
}

.blue,.cyan,.dgreen,.download-resource .col-lg-12,.green,.grey,.olive,.orange, .colorbox
	{
	padding-top: 10px
}

.monitoring-centre-staff .cyan,.monitoring-centre-staff .olive,.monitoring-centre-staff .orange,.projectboxes 

.col-lg-12
	{
	padding: 20px 20px 1px
}

.projectboxes .col-lg-12 img {
	margin-bottom: 20px
}

.monitoring-centre-staff img,.projectboxes img {
	width: 100%;
	max-width: 100%
}

.projectboxes .col-lg-12 img {
	width: inherit
}

.careers .openapps,.careers .closedapps {
	padding: 25px
}

.blue h4,.blue h5,.blue p,.cyan h4,.cyan h5,.cyan p,.dgreen h4,
.dgreen h5,.dgreen p,.green h4,.green h5,.green p,.grey h4,.grey h5,.grey p,.olive h4,.olive h5,.olive p,
.openapps h4,.openapps h5,.openapps p,.orange h4,.orange h5,.orange p,.red h4,.red h5,.red p,.closedapps h4,
.closedapps h5,.closedapps p,.colorbox h5,
	.colorbox h4,
	.colorbox p
	
	 {
	color: #fff;
	margin-top: 0
}

p.note,p.tags {
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 14.4px
}

p.tags {
	font-style: italic
}

.careers p.status {
	margin-bottom: 0
}

.download-resource p {
	display: block;
	min-height: 75px
}

.download-resource img {
	width: 100%;
	max-width: 100%
}

.prj6 .colorbox,.prj6 .colorbox a.btn.btn-learn, .grey,.grey a.btn.btn-learn,.closedapps,.closedapps 

a.btn.btn-learn {
	background: #313436
}

.grey a.btn.btn-learn:hover,.closedapps a.btn.btn-learn:hover,
.prj6 .colorbox a.btn.btn-learn:hover {
	background: #292C2D
}

.grey a.btn.btn-learn:active,.closedapps a.btn.btn-learn:active ,
.prj6 .colorbox a.btn.btn-learn:active{
	background: #1B1D1E
}

.btn-learn.green,.green,.green a.btn.btn-learn,.openapps,.openapps a.btn.btn-learn,
.prj1 .colorbox, .prj1 .colorbox a.btn.btn-learn
	{
	background: #74882E;
	color: #fff
}

.btn-default:hover,.btn-learn.green:hover,.green a.btn.btn-learn:hover,.openapps a.btn.btn-learn:hover,

.prj1 .colorbox a.btn.btn-learn:hover
	{
	color: #fff;
	background: #6a7d2a
}

.btn-default:active,.btn-default:focus,.btn-learn.green:active,.green a.btn.btn-learn:active,.openapps 

a.btn.btn-learn:active,
.prj1 .colorbox a.btn.btn-learn:active
	{
	background: #434f1b
}

.dgreen,.dgreen a.btn.btn-learn {
	background: #3A3A11
}

.dgreen a.btn.btn-learn:hover {
	background: #35340F
}

.dgreen a.btn.btn-learn:active {
	background: #2B2A0A
}

.prj5 .colorbox,.prj5 .colorbox a.btn.btn-learn,.red,.red a.btn.btn-learn
	{
	background: #8B1B1D
}

.prj5 .colorbox a.btn.btn-learn:hover,.red a.btn.btn-learn:hover {
	background: #7F181E
}

.prj5 .colorbox a.btn.btn-learn:activ,.red a.btn.btn-learn:active {
	background: #701116
}

.prj3 .colorbox,.prj3 .colorbox a.btn.btn-learn, .orange,.orange a.btn.btn-learn {
	background: #BB6B0C
}

.prj3 .colorbox a.btn.btn-learn:hover, .orange a.btn.btn-learn:hover {
	background: #AD610E
}

.prj3 .colorbox a.btn.btn-learn:active, .orange a.btn.btn-learn:active {
	background: #9B5407
}

.prj4 .colorbox , .prj4 .colorbox a.btn.btn-learn, .blue,.blue a.btn.btn-learn {
	background: #135487
}

.prj4 .colorbox a.btn.btn-learn:hover, .blue a.btn.btn-learn:hover {
	background: #104970
}

.prj4 .colorbox a.btn.btn-learn:active,.blue a.btn.btn-learn:active {
	background: #0C3E60
}

.prj2 .colorbox, .prj2 .colorbox a.btn.btn-learn, .cyan,.cyan a.btn.btn-learn {
	background: #8AB0A3
}

.prj2 .colorbox a.btn.btn-learn:hover, .cyan a.btn.btn-learn:hover {
	background: #78A091
}

.prj2 .colorbox a.btn.btn-learn:active, .cyan a.btn.btn-learn:active {
	background: #618E7D
}

.olive,.olive a.btn.btn-learn {
	background: #9B8732
}

.olive a.btn.btn-learn:hover {
	background: #8C792A
}

.olive a.btn.btn-learn:active {
	background: #776620
}

a.btn.btn-learn {
	display: inline-block;
	position: static;
	float: none;
	margin: 0 0 13px;
	color: #fff;
	text-align: center;
	width: 189px
}

a.btn.btn-learn.pdf,a.btn.btn-learn.pdf:active,a.btn.btn-learn.pdf:hover
	{
	background-image: url(/docroot/assets/pdf.png);
	background-repeat: no-repeat;
	background-position: 20px center;
	padding-left: 55px
}

.board-of-directors .dgreen p,.board-of-directors .green p {
	min-height: 140px
}

.board-of-directors .main img {
	max-width: 100%;
	width: 70%;
	display: inline-block
}

.careers .heading {
	min-height: 100px
}

img {
	max-width: 100%;
	height: auto
}

.post {
	margin-bottom: 70px
}

.postheader {
	position: relative
}

.postheader h3 {
	position: absolute;
	bottom: 0;
	margin: 0 0 0 30px;
	padding: 15px 15px 20px 25px;
	background: #74882E;
	color: #F3F1DE
}

.postheader.no-image h3 {
	position: relative;
	display: inline-block
}

div.arrowcontainer {
	display: inline-block
}

.postmeta {
	position: relative;
	height: 50px;
	width: auto;
	margin: 0 0 0 30px;
	padding: 15px 20px 10px;
	background: #BB6B0C;
	display: inline-block;
	min-width: 260px
}

.postmeta.arrow {
	width: 0;
	background: 0 0;
	height: 0;
	border-style: solid;
	border-width: 10px 200px 0 0;
	padding: 0;
	border-color: #bb6c0c transparent transparent;
	position: absolute
}

.postmeta p {
	color: #fff;
	white-space: nowrap
}

.postactions {
	display: inline-block;
	vertical-align: top;
	height: 50px;
	padding: 10px 0 0;
	margin-left: 30px
}

.postactions p {
	font-weight: 600;
	color: #BB6B0C;
	vertical-align: top;
	padding-top: 5px;
	display: inline-block;
	margin-right: 10px
}

.postactions a {
	font-weight: 600;
	padding-top: 5px;
	color: #BB6B0C;
	vertical-align: top
}

.postactions a.share {
	padding-top: 0;
	background-color: #bb6b0c;
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 15px;
	background-size: contain;
	margin: 0 5px
}

.postactions a.twitter {
	background-image: url(/docroot/assets/asidetwitter.png)
}

.postactions a.facebook {
	background-image: url(/docroot/assets/asidefacebook.png)
}

.postactions a:hover {
	color: #AD610E
}

.postactions a:active {
	color: #9B5407
}

.postactions a.share:hover {
	background-color: #AD610E
}

.postactions a.share:active {
	background-color: #9B5407
}

.postexerpt {
	margin: 30px
}

.postexerpt h5 {
	color: #BB6B0C;
	margin-bottom: 5px
}

.postexerpt p.tags {
	padding-bottom: 20px
}

p.tags a {
	color: #262626
}

p.tags a:active,p.tags a:hover {
	color: #262626;
	text-decoration: underline
}

.postexerpt a.btn-learn {
	position: inherit
}

.pagination {
	display: block;
	clear: both
}

.pagination .next {
	float: right;
	clear: right
}

.pagination .next span {
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #74882E;
	padding: 5px 7px
}

.pagination a:hover {
	color: #6a7d2a
}

.pagination .next a:hover span {
	background: #6a7d2a
}

.pagination a:active {
	color: #434f1b
}

.pagination .next a:active span {
	background: #434f1b
}

.col-lg-12.blue,.col-lg-12.cyan,.col-lg-12.dgreen,.col-lg-12.green,.col-lg-12.grey,.col-lg-12.orange,
.col-lg-12.red,.col-lg-12.colorbox
	{
	padding: 15px 20px 10px
}

.col-lg-12.dgreen h4,.col-lg-12.green h4 {
	margin-bottom: 3px;
	font-weight: 400;
	font-size: 2.1em;
	margin-top: 7px
}

.col-lg-12.dgreen h5,.col-lg-12.green h5 {
	margin-bottom: 15px;
	font-weight: 300;
	font-size: 1.7rem
}

.bod p,.download-resource p {
	font-size: 1.3rem;
	margin-top: 1em
}

.bod a.btn.btn-learn,.download-resource a.btn.btn-learn,.openapps a.btn.btn-learn,.projectboxes 
a.btn.btn-learn,.closedapps a.btn.btn-learn
	{
	border: 1px solid #fff
}

@media only screen and (min-width:320px) {
	body {
		font-size: 90%
	}
	.navbar-default .navbar-nav>li>a {
		padding: 16px 3em 18px;
		font-size: 1.6rem
	}
	.container.nav-container {
		padding-left: 0;
		padding-right: 0
	}
	.navbar-header {
		padding-right: 15px
	}
	.jumbotron {
		min-height: 280px
	}
	.jumbotron h1 {
		font-size: 4.2em
	}
	.jumbotron h1.sub-heading {
		font-size: 2em;
		margin-bottom: 30px;
		line-height: 1.6em
	}
	.divider h2 {
		font-size: 2.7em
	}
	.row-fluid.breadcrumb .col-lg-12>h3 {
		font-size: 2.7em;
		line-height: 50px
	}
	.row-fluid.breadcrumb .col-lg-12.tmch3>h3 {
		font-size: 2.3em
	}
	.row-fluid.breadcrumb {
		min-height: 54px
	}
	.learn-more .column {
		min-height: 0
	}
	.btn-primary {
		margin-bottom: 30px;
		width: 100%
	}
	.half {
		margin-bottom: 30px;
		min-height: 0;
		width: 100%
	}
	.carousel-inner p {
		margin-bottom: 40px
	}
	.navbar-nav {
		margin: 0
	}
	.logo {
		height: 67px;
		width: 67px
	}
	.logo a {
		background: url(/docroot/assets/abmi_logo75.png) no-repeat center center
			#677523
	}
	.navbar-toggle {
		padding: 14px 16px;
		margin-top: 12px
	}
	h2 {
		font-size: 3em;
		line-height: 1.3em;
		padding: 36px 0 30px
	}
	h3 {
		font-size: 2.6rem;
		margin: 5px 0 24px;
		line-height: 36px
	}
	h3.h3_24 {
		font-size: 2.3rem;
		font-weight: 400;
		line-height: 1.2em;
		margin: 30px 0 25px
	}
	h4 {
		font-size: 2em;
		line-height: 1.4em
	}
	.postheader h3 {
		font-size: 2.6rem
	}
	h5 {
		font-size: 15px;
		font-size: 1.4rem
	}
	.aside ul {
		margin-top: 10px;
		margin-bottom: 15px
	}
	a.button {
		width: 88%;
		margin-left: 6%;
		margin-right: 6%;
		margin-bottom: 1.6em
	}
	.btn-grouping {
		margin-bottom: 42px;
		overflow: auto
	}
	.item .column,.tile .column {
		width: 84%;
		margin: 4% 8% 6%
	}
	.container.boxTargets div.btn-learn-green {
		clear: both;
		overflow: hidden;
		float: none;
		position: relative;
		bottom: 0;
		right: 0;
		width: 100%;
		margin: 0;
		font-size: 1.4em;
		padding: 15px 30px
	}
	li,p {
		font-size: 1.4rem;
		line-height: 1.5em
	}
	.spotlight .overlay h3 {
		font-size: 2.7em;
		line-height: 1em
	}
	.spotlight .overlay h4 {
		font-size: 2em
	}
	h2.partners {
		font-size: 3.6em;
		padding: 22px 0 15px
	}
	.sponsor {
		width: 96%;
		margin: 12px 20px 25px 10px
	}
	a.btn-learn {
		float: none;
		margin-top: 25px;
		padding: 13px 32px;
		position: relative;
		bottom: 0;
		right: 0;
		font-size: 1.2em
	}
	.postheader h3 {
		position: relative;
		margin: 0
	}
	.postmeta {
		margin: 0
	}
	.postmeta p {
		font-size: 1.2rem
	}
	.postactions {
		margin-left: 0
	}
	.postactions a {
		font-size: .8em
	}
	.postexerpt {
		margin: 5px
	}
	.row-fluid.explore {
		padding-top: 2em
	}
}

@media only screen and (min-width:400px) {
	.postmeta {
		min-width: 325px
	}
	.postmeta p {
		font-size: 1.4rem
	}
}

@media only screen and (min-width:480px) {
	.btn-primary {
		width: auto
	}
	.input-group {
		margin-right: 30px
	}
	a.button {
		font-size: 1.9em
	}
	.tile {
		max-height: 282px
	}
	.divider h2 {
		font-size: 3.7em
	}
	.row-fluid.breadcrumb .col-lg-12.tmch3>h3,.row-fluid.breadcrumb .col-lg-12>h3
		{
		font-size: 3.2em;
		line-height: 60px
	}
	.search div:focus,.search div:hover {
		width: 280px
	}
	.search div input {
		width: 215px
	}
	a.button {
		display: block;
		width: 50%;
		margin: 10px 25% 20px
	}
	.postexerpt {
		margin: 50px 30px 30px
	}
}

@media only screen and (min-width:768px) {
	.jumbotron {
		background-size: cover;
		min-height: 400px
	}
	.jumbotron h1 {
		font-size: 7.2em;
		font-weight: 700
	}
	.jumbotron h1.sub-heading {
		font-size: 2.4em;
		margin-top: 1.2em
	}
	.container.nav-container {
		padding-left: 15px;
		padding-right: 15px
	}
	.navbar-header {
		padding-right: 0
	}
	h2 {
		font-size: 4em
	}
	h3.h3_24 {
		font-size: 2.3em;
		line-height: 40px;
		margin: 1.2em 0 1.9em
	}
	h2.partners {
		font-size: 5em;
		padding: 52px 0 25px
	}
	h3 {
		font-size: 3.6rem;
		margin: 42px 0 48px
	}
	h4 {
		font-size: 1.9em;
		line-height: 1em
	}
	h5 {
		font-size: 18px;
		font-size: 1.8rem
	}
	.col-lg-ex-pad {
		padding-left: 60px;
		padding-right: 60px
	}
	.postheader h3 {
		font-size: 3.2rem
	}
	footer ul {
		margin-bottom: 0
	}
	a.button {
		margin-bottom: 1%
	}
	.half {
		min-height: 282px;
		width: 47.4%
	}
	.board-of-directors .main {
		padding-left: 0
	}
	.logo {
		height: 75px;
		width: 75px
	}
	.logo a {
		background: url(/docroot/assets/abmi_logo75.png) no-repeat center center
			#677523
	}
	a.oneLine {
		line-height: 250%
	}
	.item .column,.tile .column {
		width: 64%;
		padding: 2em 3em;
		margin: 0
	}
	.container.boxTargets div.btn-learn-green {
		float: left;
		position: relative;
		bottom: 0;
		right: 0;
		margin: 0;
		width: auto
	}
	.btn-grouping {
		margin-bottom: 62px
	}
	.sponsor {
		width: 30%;
		margin: 12px 5% 30px 0
	}
	.sponsor.last {
		margin-right: 0
	}
	a.button.btn-learn {
		width: auto;
		display: inline-block;
		padding: 19px 42px 0;
		font-size: 1.6em
	}
	.postheader h3 {
		position: absolute;
		margin: 0 0 0 30px
	}
	.aside {
		padding-top: 35px;
		margin-bottom: 35px
	}
	.aside ul {
		margin-top: 50px;
		margin-bottom: 50px
	}
	.postmeta {
		margin: 0 0 0 30px;
		min-width: 290px
	}
	.postactions {
		margin-left: 30px
	}
	.postactions a {
		font-size: 1em
	}
}

@media only screen and (min-width:992px) {
	.logo a {
		background: url(/docroot/assets/abmi_logo.png) no-repeat center center
			#677523
	}
	.logo {
		height: 100px;
		width: 100px
	}
	.tile {
		max-height: 283px
	}
	.input-group {
		margin-right: 0
	}
	a.button {
		font-size: 1.6em;
		margin: 0 1.6%;
		width: 30.2%
	}
	h2 {
		font-size: 3.5em
	}
	.aside ul {
		margin-top: 50px;
		margin-bottom: 50px
	}

	.postheader h3 {
		font-size: 3.6rem
	}
	footer ul {
		margin-bottom: 66px
	}
	.spotlight .overlay h3 {
		font-size: 3.7em;
		line-height: 1em
	}
	.spotlight .overlay h4 {
		font-size: 2.4em;
		font-weight: 400;
		line-height: 1.2em
	}
	.learn-more a.btn-learn,.learn-more button.btn-learn,a.btn-learn {
		float: right;
		margin-top: 25px;
		padding: 13px 32px;
		position: absolute;
		bottom: 30px
	}
	.row-fluid.explore {
		padding-top: 0
	}
}

@media ( max-width :1199px) {
	header .container {
		width: 100%
	}
	.navbar-header {
		float: none
	}
	.navbar-toggle {
		display: block
	}
	.navbar-collapse.collapse {
		display: none !important;
		margin-left: -15px;
		margin-right: -15px
	}
	.navbar-nav {
		float: none !important
	}
	.navbar-nav>li {
		float: none
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px
	}
	.navbar-collapse.collapse.in {
		display: block !important
	}
	.collapsing {
		overflow: hidden !important
	}
	.navbar-nav .open .dropdown-menu,.navbar-right .dropdown-menu {
		background-color: #f3f0df;
		left: auto;
		right: auto;
		padding: 0;
		width: 100%
	}
	.navbar-right .dropdown-menu .row {
		width: auto
	}
	.navbar-right .dropdown-menu .row ul li a {
		color: #3a3a11;
		display: block;
		font-family: "Roboto Slab", serif;
		font-size: 1.2em;
		font-weight: 700;
		padding: .8em 1em .8em 4.5em;
		-webkit-transition: background-color .5s ease-out;
		-moz-transition: background-color .5s ease-out;
		transition: background-color .5s ease-out
	}
	.dropdown-menu .row ul li a:active,.navbar-right .dropdown-menu .row ul li a:hover
		{
		background-color: #677523;
		color: #fff
	}
	.aside {
		clear: both
	}
	.container.boxTargets div.btn-learn-green {
		float: left;
		position: relative;
		bottom: 0;
		right: 0
	}
}

@media only screen and (min-width:1200px) {
	body {
		font-size: 100%
	}
	.dropdown-menu {
		background-color: #3a3a11;
		border: 0;
		border-radius: 0;
		box-shadow: none;
		padding-top: 0;
		padding-bottom: 0
	}
	.dropdown-menu li ul {
		padding: 30px 15px 40px
	}
	.dropdown-menu li a {
		color: #e8e4bf;
		display: block;
		line-height: 1.2em;
		margin-bottom:1em;
		 
		
	}
	.dropdown-menu li a:hover {
		background-color: #3a3a11;
		color: #fff
	}
	ul.dropdown-menu li .row ul li {
		padding: 5px 0
	}
	.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover {
		background-color: #3a3a11;
		color: #fff
	}
	.dropdown-menu .row {
		width: 960px
	}
	.dropdown-menu div.visible-lg {
		float: left
	}
	/**/
	.dropdown-menu .list-unstyled {
		display: inline-block;
		margin: 0 9px;
		vertical-align: top;
		max-width:250px;
	}
	.biodiversity ul.dropdown-menu {
		width: 788px
	}
	.about ul.dropdown-menu {
		width: 860px
	}
	.whatwedo ul.dropdown-menu {
		width: 780px /*changed by Joan from 750px*/
	}
	.ourdata ul.dropdown-menu {
		width: 590px
	}
	.naturelynx ul.dropdown-menu {
		width: 470px
	}
	.contact ul.dropdown-menu {
		width: 380px
	}
	.navbar-right .dropdown-menu {
		left: -300px;
		right: auto
	}
	.navbar-nav {
		margin: 0 -15px
	}
	.navbar-default .navbar-nav>li>a {
		padding: 22px .9em 23px
	}
	li.mobile-only .container {
		max-width: 1170px;
		padding: 0
	}
	.learn-more .column {
		/*min-height: 283px*/
		min-height: 275px
	}
	.fine-print {
		padding: 20px 15px 20px 0
	}
	div.sidemenu {
		border-left: 1px solid #313436;
		padding: 0 0 0 14px
	}
	.sidemenu ul {
		padding: 0;
		margin-left: -2px
	}
	
	/*added by Joan*/
.navbar-collapse.in ul.list-unstyled li a {
	color: rgb(232, 228, 191); 
	padding-left: 4em
	}
}

.fullWidth {
	width: 100%;
	height: auto
}

.carousel-inner>.item>a>img.hard35_7p,img.hard35_7p {
	max-width: 35.7%
}

.container .col-sm-12.text-center {
	margin-top: .4em
}

#LiveCSSEditor-code {
	color: #000 !important
}

.colorQuote {padding: 15px;}

.extradocs {
	
	padding-left: 0
}

.extradocs li {
	list-style-type: none
}

.extradocs input[type=button]:hover {
	color: #74882E
}

.extradocs input[type=button] {
	-webkit-appearance: none;
	background: url(/docroot/assets/collapsed-minus.png) no-repeat left
		center;
	font-weight: 700;
	line-height: 22px;
	color: #313436;
	border: none;
	white-space: normal;
	text-align: left;
	padding: 17px 0 17px 35px;
	outline: 0
}

.extradocs input[type=button].collapsed {
	background: url(/docroot/assets/collapsed-plus.png) no-repeat left
		center;
	font-weight: 400
}

.extradocs .collapse,.extradocs .collapsing {
	
	margin: 0 0 0 5px;
	font-weight: 400;
	padding-left: 30px
}

.endrow {clear:both;}

.notebelowheader {margin-top:-10px;}

.greentext p {
    color: rgb(116, 136, 46);
    font-weight: 600;
}
.orangetext p, .orangetext a {color:#AD610E; }

.minheight50 {min-height:50px;}

.reportcover {position:absolute; top: 2px;}

.contact-form > form label {
    background: none repeat scroll 0 0 rgb(103, 117, 35);
    color: rgb(243, 241, 222);
    display: inline-block;
    float: none;
    font-size: 1.8em;
    font-weight: 200;
    margin-bottom: 0;
    padding: 0.8em 1.6em 0.6em 1.2em;
    text-align: left;
}
.contact-form > form input, .contact-form > form select, .contact-form > form textarea {
    background: none repeat scroll 0 0 rgb(226, 224, 208);
    border: 1px solid rgb(226, 224, 208);
    color: rgb(40, 43, 45);
    display: block;
    float: none;
    font-size: 1.8em;
    height: 2.8em;
    margin-bottom: 2.2em;
    padding-left: 1em;
    text-align: left;
    width: 96%;
}
.contact-form > form textarea {
    min-height: 12em;
    padding-top: 0.5em;
    width: 98%;
}
.contact-form > form input[type="submit"] {
    background: none repeat scroll 0 0 rgb(103, 117, 35);
    border: 1px solid rgb(103, 117, 35);
    color: rgb(243, 241, 222);
    display: inline-block;
    float: none;
    font-size: 1.8em;
    margin-bottom: 0.5em;
    padding: 0.8em 3.5em;
    text-align: center;
    text-transform: uppercase;
width:auto;
}
input.sidemenuSearch {
    background: none repeat scroll 0 0 rgb(116, 136, 46);
    border: medium none;
    border-radius: 0;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: 200;
    height: 52px;
    line-height: 1.5em;
    padding-left: 0.8em;
    width: 72%;
}
button.sidemenuSearchBtn {
    background: url("/docroot/assets/sidemenuSearchBtn.png") repeat scroll 0 0%, none repeat scroll 0 0 rgb(103, 117, 35);
    border: medium none;
    height: 52px;
    vertical-align: top;
    width: 52px;
}
button.sidemenuSearchBtn:hover {
}
input.sidemenuSearch:-moz-placeholder {
    color: rgb(255, 255, 255);
}
input.sidemenuSearch::-moz-placeholder {
    color: rgb(255, 255, 255);
}
a.sidemenuFullPostBtn, a.sidemenuListPostBtn {
    display: inline-block;
    height: 35px;
    margin-bottom: 1.3em;
    margin-right: 1em;
    width: 35px;
}
a.sidemenuFullPostBtn {
    background: url("/docroot/assets/sidemenu-full.png") repeat scroll left top, none repeat scroll 0 0 rgb(116, 136, 56);
}
a.sidemenuFullPostBtn.active {
    background: url("/docroot/assets/sidemenu-full-active.png") repeat scroll left top, none repeat scroll 0 0 rgb(49, 52, 54);
}
a.sidemenuListPostBtn {
    background: url("/docroot/assets/sidemenu-list.png") repeat scroll left top, none repeat scroll 0 0 rgb(116, 136, 56);
}
a.sidemenuListPostBtn.active {
    background: url("/docroot/assets/sidemenu-list-active.png") repeat scroll left top, none repeat scroll 0 0 rgb(49, 52, 54);
}

.post .postheader .post-feature-overlay > img {
    left: 65%;
    position: absolute;
    top: 5%;
    z-index: 1590;
}

.main .post-list p {
    color: rgb(187, 107, 12);
    font-weight: 600;
    line-height: 1.7em;
    margin-bottom: 28px;
    padding-top: 5px;
    vertical-align: top;
}

.main p > a.postLink {
    color: rgb(187, 107, 12);
    font-weight: 600;
    padding-right: 0.6em;
    padding-top: 5px;
    vertical-align: 35%;
}
.main p > a.pdf, .main p > a.postLink, .postactions a {
    color: rgb(187, 107, 12);
    font-weight: 600;
    padding-top: 5px;
    vertical-align: top;
}


.main p > a.pdf:before {
    content: url("/docroot/assets/pdf-orange.png");
    padding: 0.6em;
vertical-align:top;
}

.searchbox {min-height:100px;}