.abmi-mapping-sec {
	background-repeat: no-repeat;
	background-size: cover;
	padding: 70px 0;
	text-align: center;
}

/* -------------------------------------------------------------
 species raw data download fix from 5 steps to 3 steps: increase distances between
 buttons
 --------------------------------------------------------*/
#progressbar {
    width: 100%;
    padding-left:50px;
    margin-top:10px;
}

#progressbar li {
    width: 33%;
}

#progressbar li:after {
    left: -150px;
}

#progressbar li.selected-step + li,
#progressbar li.selectedSec, 
#progressbar li.step1 {
    cursor: pointer;
}


.btn-sec {
    padding: 30px 0px;
}


/* -----------------------------------------
species profile detail page
*/
.scrollTop {
	cursor:pointer;
}
.cell-img  img.distribution-map, img.mainBanner {
	max-height: 550px;
}
.legend {
	padding:0 20px 0 5px;
	color:#333;
	font-size:12px;
}

/*change specie profile scientific name font color*/
.banner-txt h3 {
	color: #b3abaa !important;
}
/* change guild font color on species profile header part */
.species-details span {
	color: #ffffff !important;
	font-weight: 600;
}

.species-desc {
	margin-top: 30px;
	max-height: 200px;
	
	margin-bottom: 20px;
	padding-right: 20px;
	overflow-x: hidden;
	overflow-y: auto;
}
.banner-txt {
	padding: 40px 40px 35px;	
}

/*
.species-banner-height.fordesktop {
	width: 100%;
}
*/
.btnr-map {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 10px;
}

.btnr-map .downloaddata-btn {
	background: #ce5e36;
	font-size: 12px;
	padding: 3px 5px;
	color: #fff !important;
}

@media only screen and (max-width: 1300px) and (min-width:1024px) {
	.banner-txt-no-map {
		width: 68%;
	}
	
	#species-profile-details {
	display:block;
}
}

@media only screen and (max-width:991px) {
	#progressbar li {
		width: 30%;
		color: transparent;
		height: 50px;
	}
	#progressbar li.selected-step {
		color: transparent !important;
	}
}
/* back to top button on the species profile page */
.backTop:before{
	background: url(../assets/arrow-up.png);
    position: relative;
    content: "";
    width: 19px;
    height: 12px;
    display: inline-block;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.backTop{
color: #B75039;
 font-weight: 600;
}

/* -----------species view/list table, show search input box 
disable hover*/
@media only screen and (min-width: 480px) {
	.secondarybar .search div, .secondarybar .search div {
		width: 300px;
	}
	#searchSpecies, #searchSpeciesBtn {
		border-bottom: 1px solid #0e3443 !important;
		border-top: 1px solid #0e3443 !important;
	}
}
/* -------------------------------------------------------------
 for download display information buttons. default using
 a, which by default has a hover effects
 --------------------------------------------------------*/
span.type-info {
	color: #ff9800;
}

.abmi-bio-browser-banner {
	background: rgba(0, 0, 0, 0) no-repeat scroll center top/cover;
	padding: 120px 0 150px;
}

.species-category .abmi-box1 {
	background: rgba(0, 0, 0, 0) no-repeat scroll center center/cover;
	height: 570px;
}

.species-category .abmi-box2 {
	background: rgba(0, 0, 0, 0) no-repeat scroll center center/cover;
	height: 430px;
}

.species-category .abmi-box3 {
	background: rgba(0, 0, 0, 0) no-repeat scroll 0 0/cover;
	height: 430px;
}

.species-category .abmi-box4 {
	background: rgba(0, 0, 0, 0) no-repeat scroll right center/cover;
	height: 430px;
}

.species-category .abmi-box5 {
	background: rgba(0, 0, 0, 0) no-repeat scroll 0 0/cover;
	height: 570px;
}

.species-category .abmi-box6 {
	background: rgba(0, 0, 0, 0) no-repeat scroll right center/cover;
	height: 285px;
}

.species-category .abmi-box7 {
	background: rgba(0, 0, 0, 0) no-repeat scroll right center/cover;
	height: 285px;
}

.secondarybar .search div input#searchSpecies {
	color: #1d1e1d;
	font-size: 16px;
	width: 300px;
}

.search div input#searchSpecies {
	background-color: rgba(0, 0, 0, 0);
	border: medium none;
	color: rgb(255, 255, 255);
	font-size: 2em;
	height: 65px;
	padding-left: 15px;
	position: absolute;
	width: 214px;
	left: 0px;
}

/***-----------------------**/
.dataWrapper {
	overflow-x: auto; /* don't show species table x scroll*/
}

.dataTables_scrollBody {
	min-height: 850px;
}

.dataTables_scrollBody thead tr {
	display: none;
}

#data>thead { /*hide sorting arrow header row */
	display: none;
}

.datatableimg {
	width: 12%;
}

/* in design it was 29px and works well, but in real implementation, I have to change it to 26px */
.tree>li {
	padding-left: 26px;
}

#region-summary .level1region {
	font-weight: 700;
}

#region-summary .level2region {
	font-weight: 500;
	padding-left: 8px;
}

#region-summary .level3region {
	padding-left: 16px;
}

/* hide data table informaiton*/
.dataTables_length, .dataTables_paginate, .dataTables_filter {
	display: none;
}

/*species detailed page*/
.Forested-Region h4, .Prairie-Region h4 {
	margin-left: 0px;
	padding-left: 15px;
}

.map-current, .map-ref {
	background-color: #ffffff;
}

/* for detailed download page's box background*/
.single-datapage {
    padding-top: 20px; 
    padding-bottom: 50px;
}
.single-data.salmon-download-bg {
	background-color: #cc4f46;
	color: #fff;
}

.single-data.brown-download-bg {
	background-color: #754c29;
	color: #fff;
}

.single-data.red-download-bg {
	background-color: #9c1b20;
	color: #fff;
}

.single-data.brown-grey-download-bg {
	background-color: #897f76;
	color: #fff;
}

.single-data.cyan-blue-download-bg {
	background-color: #0b6d86;
	color: #fff;
}

.single-data.orange-download-bg {
	background-color: #bc6c29;
	color: #fff;
}

.single-data.green-download-bg {
	background-color: #748938;
	color: #fff;
}

.single-data.dark-blue-download-bg {
	background-color: #163545;
	color: #fff;
}

.single-data.cyan-download-bg {
	background-color: #4dafa0;
	color: #fff;
}

/**/
.salmon-bg {
	background-color: #cc4f46;
}

.brown-bg {
	background-color: #754c29;
}

.red-bg {
	background-color: #9c1b20;
}

.brown-grey-bg {
	background-color: #897f76;
}

.cyan-blue-bg {
	background-color: #0b6d86;
}

.orange-bg {
	background-color: #bc6c29;
}

.green-bg {
	background-color: #748938;
}

.dark-blue-bg {
	background-color: #163545;
}

.cyan-bg {
	background-color: #4dafa0;
}
/* overwrite wrap ul. otherwise it display description ul on the right side. */
.wrap .auto ul, .wrap .auto ol {
	display: block;
}

/* set warter marks
1	Birds		orange
2	Vascular Plants	 green	
3	Soil Mites brown
4	Lichens yellow
5	Bryophytes red
6	Aquatic Inveterbrates blue
7	Mammals	grey
- all

Birds: 400 x 403
Bryophytes: 300 x 349
Lichen; 400 x 346
Mammals: 400 x 348
Soil Mites: 300 x 350
Vascular plants: 325 x 354

 */
.msbanner-txt h2, .msbanner-txt h3 {
	color: #fff;
}

/* set warter marks
1	Birds		orange
*/
.watermark-1 {
	background-image: url("../assets/Species-Watermarks-1.png") !important;
	background-size: 400px 403px;
	background-color: #CA5F46;
}

/*2	Vascular Plants	 green	*/
.watermark-2 {
	background-image: url("../assets/Species-Watermarks-2.png") !important;
	background-size: 325px 354px;
	background-color: #748938;
}
/*3	Soil Mites brown*/
.watermark-3 {
	background-image: url("../assets/Species-Watermarks-3.png") !important;
	background-size: 300px 350px;
	background-color: #754c29;
}
/*4	Lichens yellow*/
.watermark-4 {
	background-image: url("../assets/Species-Watermarks-4.png") !important;
	background-size: 400px 346px;
	background-color: #C47C34;
}
/*5	Bryophytes red*/
.watermark-5 {
	background-image: url("../assets/Species-Watermarks-5.png") !important;
	background-size: 300px 349px;
	background-color: #9c1b20;
}
/*6	Aquatic Inveterbrates blue*/
.watermark-6 {
	background-image: url("../assets/Species-Watermarks-6.png") !important;
	background-size: 250px;
	background-color: #0b6d86;
}
/* mammal */
.watermark-7 {
	background-image: url("../assets/Species-Watermarks-7.png") !important;
	background-size: 400px;
	background-color: #897f76;
}

.watermark-8 {
	background-image: url("../assets/Species-Watermarks-8.png") !important;
	background-size: 400px 403px;
	background-color: rgb(135, 83, 85);
}

.watermark- {
	background-image: url("../assets/Species-Watermarks-.png") !important;
	background-size: 400px;
	background-color: #4dafa0;
}



/** change richtext link color */
.data-analytics .richtext  a {
	color: #74882E;
	cursor: pointer;
}

/* fancybox captiont too big */
.fancybox-title {
	font-size: 20px !important;
}

/* banner too small when the screen is medium size
.ms-banner .banner-img img {
	max-width: 200%;
}
*/
/* white bar's on production download page, with species icons on left; text in middle; and right arrow on the left side.*/
.species-product-bar {
	padding: 20px 60px 20px 10px;
	background: white;
	cursor: pointer;
	font-size: 24px;
	color: #313436;
	font-family: "Roboto Slab", serif;
	margin-bottom: 30px;
}

.species-product-bar span {
	padding-left: 40px;
	vertical-align: middle;
}

.species-product-bar:after {
	content: "";
	position: absolute;
	background-image: url(../assets/right-arrow.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 70px;
	width: 60px;
	right: 20px;
}

.scientific-name {
	font-style: italic;
}

.data-block table th:first-child {
	cursor: auto;
	visibility: inherit !important;
	color: white;
}

/* overwrite the image box + text box banner's second header italic font and make it normal */
.msbanner-txt h3 {
	font-style: normal;
}

.sorting::after {
	background-image: none;
	background-color: #fff;
}

.sorting .static-sorting:after, .sorting_asc .static-sorting:after {
	background-image: url("../assets/arrow-dark.png");
	background-repeat: no-repeat;
	content: "";
	position: relative;
	left: 5px;
	top: 3px;
	height: 18px;
	width: 23px;
	display: inline-block;
	background-size: 11px auto;
	background-color: #d8d3cd;
	background-position: center center;
}

.sorting_desc .static-sorting:after, .a-z .sorting_desc:after {
	background-image: url("../assets/arrow-dark-2.png");
	background-repeat: no-repeat;
	content: "";
	position: relative;
	left: 5px;
	top: 3px;
	height: 18px;
	width: 23px;
	display: inline-block;
	background-size: 11px auto;
	background-color: #d8d3cd;
	background-position: center center;
}

.a-z.sorting .static-sorting:after, .a-z.sorting_asc .static-sorting:after
	{
	content: "A-Z";
	font-size: 16px;
	text-align: left;
	padding: 0px 3px;
	width: 58px;
	background-position: center right 5px;
	line-height: 20px;
	top: 0px;
}

.a-z.sorting_desc .static-sorting:after {
	content: "Z-A";
	font-size: 16px;
	text-align: left;
	padding: 0px 3px;
	width: 58px;
	background-position: center right 5px;
	line-height: 20px;
	top: 0px;
}

/* hide hyperlink on ftp link */
.databy .type-ftp, .databy .type-pdf, .type-word, .type-zip, .type-excel,
	.type-map, .type-other, .type-image {
	font-family: "Roboto Slab", serif;
	font-size: 18px;
	display: block;
	margin-bottom: 20px;
	position: relative;
	padding-left: 40px;
	color: #59646e;
}

a.type-word:hover, a.type-zip:hover, a.type-excel:hover {
	text-decoration: underline;
}
/* add more icons to download links */
.type-image, .type-word {
	color: #CB5E42;
}

.type-excel, .type-map, .type-other {
	font-family: "Roboto Slab", serif;
	font-size: 18px;
	display: block;
	margin-bottom: 20px;
	position: relative;
	padding-left: 40px;
	color: #59646e;
}

.type-map:before {
	position: absolute;
	content: "";
	background-image: url("../assets/ABMI_Icon_MAP.png");
	background-repeat: no-repeat;
	background-size: 25px auto;
	width: 25px;
	height: 27px;
	left: 4px;
}

.type-image:before {
	position: absolute;
	content: "";
	background-image: url("../assets/ABMI_Icon_JPG.png");
	background-repeat: no-repeat;
	background-size: 25px auto;
	width: 25px;
	height: 27px;
	left: 4px;
}

.type-word:before, .type-other:before {
	position: absolute;
	content: "";
	background-image: url("../assets/ABMI_Icon_General.png");
	background-repeat: no-repeat;
	background-size: 25px auto;
	width: 25px;
	height: 27px;
	left: 4px;
}

.type-excel:before {
	position: absolute;
	content: "";
	background-image: url("../assets/ABMI_Icon_XLSX.png");
	background-repeat: no-repeat;
	background-size: 25px auto;
	width: 25px;
	height: 27px;
	left: 4px;
}

.type-zip:before {
	position: absolute;
	content: "";
	background-image: url("../assets/ABMI_Icon_ZIP.png");
	background-repeat: no-repeat;
	background-size: 25px auto;
	width: 25px;
	height: 27px;
	left: 4px;
}

.data-analytics .post-file.white {
	background: url(../assets/general_file_white_icon.png) no-repeat scroll
		left;
	height: 20px;
	width: 17px;
}
/* need to remove if switch to 3 buttons on da home page */
@media ( min-width : 768px) {
	.btn-grouping a:first-child {
		margin: 0 1.5% 0 15%;
		width: 33.5%;
	}
	.btn-grouping a:last-child {
		margin: 0 15% 0 1.5%;
		width: 33.5%;
	}
}
/* end of need to remove if switch to 3 buttons */
.breadcrumb .popover .popover-content {
	color: #59646e;
	line-height: 30px;
	background-color: #fdf7c3;
	border-bottom: 0px solid #fdf7c3;
}

.breadcrumb .popover {
	padding: 20px 50px;
	background-color: #fdf7c3;
	max-width: 50%
}

.popover.left>.arrow:after {
	right: 1px;
	bottom: -10px;
	content: " ";
	border-right-width: 0;
	border-left-color: #fdf7c3;
}

.breadcrumb  .popover .popover-title {
	background-image: url("../assets/close-icon.png") !important;
	background-repeat: no-repeat;
	background-size: 15px auto;
	background-position: top right;
	top: 5px !important;
	right: 5px !important;
	position: absolute;
	background-color: #fdf7c3;
	cursor: pointer;
	border-bottom: 0px solid #fdf7c3;
}

/* species view/list datatabel column */
td.img_col {
	width: 10%
}

td.summary_col {
	width: 20%
}

td.name_col {
	width: 35%
}

.filtering span.all-selected.active {
	color: #5fcc46 !important;
}

.sec .wrap .richtext p, .sec .wrap .richtext li {
	float: none;
}

.subNav.is-fixed {
	z-index: 8000;
}

.subNav .navbar li.verticle-line {
	width: 1px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	float: none;
}


.bio-browser-page .sec .wrap .faq  li {
	    margin-bottom: 0px; 
	    float: none;
}
/* don't put indent in the read more seciton
.togglesec {
     padding-left: 15px;
}
*/
/* species view/list header table width */
th.summary-col {
	width: 20%;
}

th.common-name-col {
	width: 35%;
}

th.scientific-name-col {
	width: 35%;
}

th.white-col {
	width: 10%;
}

.col-sm-12.data-overview {
	font-size: 15px;
	color: #333;
	padding: 2px 0;
	margin-bottom: 20px;
}

.col-sm-12.data-overview.header {
	font-weight: 600;
}

.select-all {
	float: right;
	font-weight: lighter;
	cursor: pointer;
}

.select-selected {
	font-family: "Roboto Slab", serif;
	color: #27292b;
	text-transform: capitalize;
	float: right;
	cursor: pointer;
}

.select-divider {
	float: right;
	margin: 0 15px;
}

.black-font {
	color: #27292b;
}

.overview-table {
	background-color: #fff;
	padding: 30px 30px;
	overflow-y: auto;
	/*toggle collapisble have height issues for dynamic contents. add this to include all content*/
}

.overview-table h5{
	margin:5px 0 15px 0;

	}
#raw-data-status h4.review-title {
	position: relative;
}

#raw-data-status a:hover {
	text-decoration: none;
}

#raw-data-status h4.review-title:after {
	content: "";
	position: absolute;
	background-image: url(../assets/down-arrow.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 70px;
	width: 60px;
	top: 3px;
	right: 0px;
}

#raw-data-status .collapsed h4.review-title:after {
	content: "";
	position: absolute;
	background-image: url(../assets/up-arrow.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 70px;
	width: 60px;
	top: 3px;
	right: 0px;
}

/* image slider */
@media only screen and (min-width: 768px){
.slider-text-right .content-area{
	    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    padding: 10px;
    background: #ffffff;
    height: 100%;
    overflow: auto;
	
}
}

@media only screen and (max-width: 768px){
.slider-text-right .content-area{
	    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    background: #ffffff;
    height: 100%;
    overflow: auto;
	
}
}

/*richtext table*/
.richtext td {
	    margin-bottom: 24px;
    line-height: 1.6em;
    font-size: 1.5rem !Important;
    color: #333;
}
#species-habitat-download-component td {
    padding: 10px 0;
}

.species-details .smallnote{    font-size: 14px!important;}


@media (min-width: 1200px) {
.sp-prev:previous {
    left: 50px;
}

.sp-next:previous {
    right: 50px;
}

}