.m-contents-elem{
	margin-bottom : 18px;
	border-bottom : 1px solid #bbbbbb;
}

.m-contents-img-wrapper{
	float : left;
	max-width : 136px;
}

.m-contents-content-wrapper{
	max-width : 250px;
	float:left;
	margin-left : 10px;
	margin-top : 10px;
}

.clearfix {
	clear:both;
}