/* ABMI Data & Analytics - by Syncopate Media Inc. */

/***************************************************/
/* Reusable Style
/***************************************************/
.flt-none{
	float: none;
}
.nopadding{
	padding: 0px;
}
.mrgT-50{
	margin-top: 50px;
}
.data-analytics hr{
	margin-top: 6em;
    margin-bottom: 5em;
}
/***************************************************/
/* Reset Style
/***************************************************/
.data-analytics footer{
	margin-top: 0px;
}
.line-btn{
	background-color: transparent;
	font-family: "Roboto Slab", serif !important;
	font-size: 18px;
    font-weight: 300;
    padding: 13px 30px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    min-width: 189px;
    display: inline-block;
}
.line-btn:focus, .solid-btn:focus{
	outline: none;
}
.line-btn.btn-white{
	background-color: transparent;
    color: #fff;
    border: solid 1px #fff;
    display: inline-block;
}
.line-btn.btn-white:hover{
	background: #fff;
	color: #323633;
}
.line-btn.blue-btn{
	color: #0e3642;
    border: solid 1px #0e3642;
}
.line-btn.blue-btn:hover{
	background-color: #0e3642;
    color: #fff;
}
.line-btn.btn-orange{
	color: #CA5F46;
    border: solid 1px #CA5F46;
}
.line-btn.btn-orange:hover{
	background-color: #CA5F46;
    color: #fff;
}
.solid-btn{
	font-family: "Roboto Slab", serif !important;
	font-size: 18px;
    font-weight: 300;
    padding: 13px 30px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    min-width: 189px;
    display: inline-block;
}
.solid-btn.blue-btn{
	background-color: #0e3642;
    color: #fff;
    border: solid 1px #0e3642;
}
.solid-btn.blue-btn:hover{
	background-color: transparent;
    color: #0e3642;
}

/***************************************************/
/* Data & Analytics Navigation
/***************************************************/
.mainNav{
	display: none;
}
@media screen and (min-width: 1em) {
  .data-nav.fixed {
    position: fixed;
    width: 100%;
    top: -200px;
    z-index: 10000;
  }
  .data-nav.invisible {
    top: -200px;
    opacity: 0;
    -webkit-transition: all .8s;
    transition: all .8s;
  }
  .data-nav.visible {
    top: 0;
    opacity: 1;
    -webkit-transition: all .4s;
    transition: all .4s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: initial;
    transition-delay: initial;
  }
}
.data-nav{
	background-color: #0E3444;
}
.backtoHome {
	float: left;
}
.backtoHome a{
	display: block;
	background-image: url("../assets/backto-mainpage.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	height: 100px;
	width: 100px;
}
.data-nav-links{
	float: right;
	height: 100px;
}
.data-nav-links .datalink{
	display: inline-block;
    line-height: 95px;
    padding: 0px 20px;
    overflow: hidden;
    list-style: none;
    white-space:nowrap;
    display: inline-block;
    vertical-align: middle;
    height: 100px;
}
.data-nav-links .datalink:hover, .data-nav-links .datalink.active{
	background-color: #CA5F46;
}
.data-nav-links .datalink img{
	width: 36px;
}
.data-nav-links .datalink span{
	line-height: 93px;
	padding-left: 15px;
	opacity: 0;
    max-width: 0;
    display: inline-block;
    text-decoration: none;
    transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color;
}
.data-nav-links .feedback-link, .data-nav-links .datalink span{
	color: #fff;
    font-size: 18px;
    font-family: "Roboto Slab", serif;
    vertical-align: middle;
    font-weight: 300;
}
.data-nav-links .datalink:hover span, .data-nav-links .datalink.active span {
    opacity: 1;
    max-width: 350px;
    transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color .2s;
}
.data-nav-links .feedback-link{
	padding: 0px 20px;
}
/***************************************************/
/* Landing Page - Data
/***************************************************/
.portal-main{
	background: url("../assets/abmi-data-background.jpg") no-repeat;
	background-size: cover;
	background-position: center top;
}
.portal-info{
	background-color: transparent;
}
.portal-info h2{
	font-weight: 400;
	color:#122836;
	margin-top: 1.2em !Important;
} 
.portal-info p{
	color:#59646e;
	margin-bottom: 60px;
}
.portal-info a.last{
	margin-right: 0;
} 
.portal-info .btn-grouping{
	margin-bottom: 100px;
}
/** Breadcrumb **/
.data-analytics .row-fluid.breadcrumb, .data-analytics .row.breadcrumb{
	background: #0E3444;
}
.data-analytics .row-fluid.breadcrumb-triangle, .data-analytics .row.breadcrumb-triangle {
    background: transparent;
}
.data-analytics .row-fluid.breadcrumb-triangle .triangle, .data-analytics .row.breadcrumb-triangle .triangle {
    border-color: #0E3444 transparent transparent transparent;
}
.data-analytics .breadcrumb h3{
	float: left;
}
.data-analytics .breadcrumb a.feedback-link{
	float: right;
    color: #fff;
    font-size: 18px;
    font-family: "Roboto Slab", serif;
    line-height: 70px;
}
/** End Breadcrumbs **/

/** portal quick section **/
.portal-quicksec{
	margin-top:80px;
	margin-bottom: 100px;
}
.portal-quicksec .box-text, .portal-quicksec .box-text p , .portal-quicksec .box-text h3{
	color:#fff;
}
.data-download , .custom-reporting {
	display: table;
    width: 100%;
}
.portal-quicksec .set-height{
	margin-bottom: 30px;
	position: relative;
}
.data-download .box-img, .custom-reporting .box-img{
	width: 25%;
    height: 100%;
    overflow: hidden;
}
.data-download .box-img{
	background-image: url("../assets/reporting-img.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.custom-reporting .box-img{
	background-image: url("../assets/reporting-img.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.data-download .box-img, .custom-reporting .box-img,
.data-download .box-text, .custom-reporting .box-text{
	display: table-cell;
	vertical-align: top; 
}
.data-download .box-text, .custom-reporting .box-text{
	width: 75%;
}	
.box-text{
	padding: 35px;
}
.quickbox-link{
	position: absolute;
    bottom: 35px;
}
.quickbox-title{
	display: table;
    width: 100%;
    margin-bottom: 30px;
}
.quickbox-title img{
	display: inline-block;
	width: 48px;
}
.portal-quicksec h3{
	margin: 0px 0px 25px;
	font-size: 30px;
	font-weight: 300;
}
.portal-quicksec .quickbox-title h3{
	margin: 0px;
	font-size: 30px;
	font-weight: 300;
	display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
.data-download{
	background-color: #CA5F46;
}
.bio-browser{
	background-image: url("../assets/bio-browser-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.mapping-portal{
	background-color: #74882e;
}
.custom-reporting{
	background-color: #0E3444;
}
.data-download, .bio-browser, .mapping-portal, .custom-reporting{

}

.news-sec{
	background-color: #266672;
}
.search-form{
	margin-bottom: 30px;
}
.bio-browser-search .search-form .search-group {
    position: relative;
    width: 100%;
}
.bio-browser-search .search-form .form-control {
    background-color: #f2f2f2;
    color: #191d1f;
    padding-right: 80px;
    padding-left: 20px;
    height: 55px;
    width: 100%;
    display: block;
    border: 0px;
    font-size: 15px;
}
.bio-browser-search .search-form .search-btn {
    height: 55px;
    width: 70px;
    background-size: 20px;
    padding: 0px;
    min-height: 0;
    min-width: 0;
    position: absolute;
    right: 0;
    z-index: 10;
    top: 0;
    background-color: #0E3444;
    border: none;
    background-image: url("../assets/search-icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    outline: none;
}
.bio-browser-search .search-form .search-btn:focus{
	outline: none;
}
.bio-browser-search .search-form .search-btn span {
    display: none;
}

.news-sec .news-link{
	display: inline-block;
    width: 220px;
    vertical-align: top;
    border-right: 1px solid #fff;
    padding-right: 30px;
}
.news-sec .news-desc{
	display: inline-block;
    width: 75%;
    padding-left: 30px;
    vertical-align: middle;
}
.news-sec .news-desc p{
	height: 50px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.news-sec .next-newspost{
	display: inline-block;
    text-align: right;
    width: 30px;
    vertical-align: middle;
}
.news-sec .newspost-date{
	margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #fff;
}
.bx-next{
	background-image: url("../assets/arrow-right-icon.png");
	background-repeat: no-repeat;
	width: 12px;
	height: 22px;
	background-size: 100% auto;
	display: inline-block;
    text-indent: -9999px;
    position: relative;
}

.abmi-data{
	padding: 100px 0px;
}
.abmi-data img{
	max-width: 100%;
}
.abmi-data h4{
	color: #1f1f1f;
	margin-bottom: 35px;
}
.abmi-data h4 span{
	color: #b5681b;
	margin-left: 15px;
	padding-left: 15px;
	border-left: 1px solid #1f1f1f;
}
.abmi-data p{
	color: #282a2b;
}
/* BX Slider */
.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
}
.bx-wrapper img {
	max-width: 100%;
	display: block;
}
.bx-wrapper .bx-viewport {
	left: -5px;	
	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);
}
/* LOADER */
.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(../assets/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-next {
	right: 10px;
	background: url(../assets/controls.png) no-repeat -43px -32px;
}
.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}
/***************************************************/
/* Landing Page - Biodiversity Browser
/***************************************************/
.bio-browser-page{
	background: #fff;
	font-family: "Open Sans", sans-serif;
}
.bio-browser-banner{
	padding: 120px 0px 150px;
	background: url("../assets/browser-banner-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}
.bio-browser-banner h1{
	font-size: 100px;
	margin-bottom: 55px;
}
.bio-browser-banner p{
	font-size: 16px;
	color: #fff;
	margin-bottom: 70px;
}
.bio-browser-img{
	background: url("../assets/browser-banner-img.png");
	background-repeat: no-repeat;
	background-position: right top;
	background-position: right 20% top;
    background-size: 730px auto;
}
.bio-browser-graphic{
	display: none;
	max-width: 100%;
	height: auto;
}
.species-monitored-counter:before{
	content:"";
	position: absolute;
	background-image: url("../assets/Species-Monitored-topbg.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: left bottom;
	top:-70px;
	width: 100%;;
	height: 70px;
}
.species-sec h3{
	font-weight: 300;
	text-align: center;
	margin-bottom: 70px;
}
.guild-sec{
	padding: 60px 0px 120px;
}
.species-monitored-counter{
	padding: 60px 0px 70px;
}
.guild-sec, .species-monitored-counter{
	position: relative;
    background-color: #0E3444;
    background-image: url("../assets/bottom-white.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100% auto;
}
.guild-sec h3, .species-monitored-counter h3{
	color: #fff;
	text-align: center;
	margin-top: 0px;
}
.guild-sec h4{
	text-align: center;
	font-family: "raleway", sans-serif;
	font-weight: 300;
}
.stat-analysis-collaborations{
	padding:50px 0px 100px;
}
.stat-analysis-collaborations .sec h2{
	padding-top: 0px;
}
.stat-analysis-collaborations .sec{
	padding: 0px 50px;
	color: #122836;
	margin-top: 40px;
}
.stat-analysis-collaborations .sec:first-child{
	border-right: 1px solid #282B2D;
}
.stat-analysis-collaborations .sec p{
	margin-bottom: 60px;
}
.stat-analysis-collaborations .sec:fiest-child{
	background:ur("../assets/line.png");
	background-repeat: no-repeat;
	background-size: 2px auto;
	background-position: right center;
}
.mapping-sec{
	background-image: url("../assets/mapping-portal-sec-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 70px 0px;
	text-align: center;
}
.mapping-sec h2{
	color: #fff;
	font-weight: 400;
	margin-bottom: 20px;
}
.species-category a{
	display: block;
}
.species-category .overlay-box{
	opacity: 0;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
}
.species-category .item:hover .overlay-box{
	opacity: 1;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
}
.species-category .item img{
	width: 100%;
}
/******* Species Category ********/
.species-category .item{
	width: 100%;
}
.species-category .box1{
	background: url("../assets/mammals.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	height: 570px;
}
.species-category .box2{
	background: url("../assets/soil-mites.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	height: 430px;
}
.species-category .box3{
	background: url("../assets/birds.jpg") no-repeat;
	background-size: cover;
	height: 430px;
}
.species-category .box4{
	background: url("../assets/Vascular-Plants.jpg") no-repeat;
	background-size: cover;
	background-position: right;
	height: 430px;
}
.species-category .box5{
	background: url("../assets/Lichens.jpg") no-repeat;
	background-size: cover;
	height: 570px;
}
.species-category .box6{
	background: url("../assets/Aquatic-Invertabrates.jpg") no-repeat;
	background-size: cover;
	background-position: right;
	height: 285px;
}
.species-category .box7{
	background: url("../assets/Bryophytes.jpg") no-repeat;
	background-size: cover;
	background-position: right;
	height: 285px;
}
.species-category {
	position: relative;
}
.species-category .item {
	position: relative;
}
.species-category .item a{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
.species-category .item a {
	overflow: hidden;
}
.species-category .item a .overlay-box {
	position: absolute;
	background: #CA5F46;
	background: rgba(202, 95, 70, 0.85);
	width: 100%;
	height: 100%;
}
.species-category .item a .overlay-box span {
	margin-top: 40px;
	-webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.species-category .item .overlay-box .text-wrapper{
	display: table;
    height: 100%;
    width: 100%;
}
.species-category .item .overlay-box .tab-cell{
	display: table-cell;
	height: 100%;
    vertical-align: middle;
    text-align: center;
}
.species-category .item h3{
	margin-top: 0px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.species-category .item h4{
	text-align: center;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 300;
}

/***************************************************/
/* Innerpage - Sidemenu
/***************************************************/
.data-analytics .sidemenu .module-title{
	padding: 20px 0px;
}
.data-analytics .sidemenu .module-title img{
	display: inline-block;
    vertical-align: middle;
}
.data-analytics .sidemenu .module-title h4{
	display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 0px 10px;
}
.data-analytics .sidemenu ul li.active{
	list-style-image: none;
	position: relative;
	margin-top: 35px;
    margin-bottom: 5px;
}
.data-analytics .sidemenu ul li.active:before{
	content: "";
    position: absolute;
    width: 12px;
    height: 50px;
    background-color: #CB5E42;
    left: -18px;
    top: -21px;
}
.data-analytics .sidemenu ul li.active a, .data-analytics  .aside ul li a:hover {
    color: #CB5E42;
}
.data-analytics .widget.searchbox {
    margin-bottom: 3em;
    margin-top: 42px;
}
.data-analytics input.sidemenuSearch{
	float: left;
	max-width: 79%;
}
.data-analytics button.sidemenuSearchBtn{
	background-color: #0E3444;
}

/***************************************************/
/* Innerpage - Overview
/***************************************************/
.overview-quicklinks{
	margin-top: 70px;
}
.overview-link{
	display: block;
    margin-bottom: 30px;
}
.overview-link .img-box{
	height: 188px;
	overflow: hidden;
}
.overview-link .img-box img{
	min-width: 100%;
	min-height: 100%;
	max-width: 150%;
}
.overview-link .caption{
	padding: 10px 25px;
}
.overview-link .caption h4, .overview-link .caption p{
	color: #fff;
	font-weight: 300;
}
.overview-link .box1{
	background-color: #163545;
}
.overview-link .box2{
	background-color: #C47C34;
}
.overview-link .box3{
	background-color: #CA5F46;
}
.overview-link .box4{
	background-color: #19748D;
}
.overview-link .box5{
	background-color: #6C7780;
}
/***************************************************/
/* Innerpage - List-view / Grid-view
/***************************************************/
.data-analytics .listSyle{
	margin: 50px 0px 30px;
}
.data-analytics a.sidemenuGridview {
    background: url('../assets/grid-view-icon.png') center center;
        background-repeat: no-repeat;
}
.data-analytics a.sidemenuListview{
    background: url('../assets/list-view-icon.png') center center;
        background-repeat: no-repeat;
}
.data-analytics a.sidemenuGridview.active {
    background: url('../assets/grid-view-active-icon.png') center center;
        background-repeat: no-repeat;
}
.data-analytics a.sidemenuListview.active {
    background: url('../assets/list-view-active-icon.png') center center;
        background-repeat: no-repeat;
}
.data-analytics a.sidemenuGridview,
.data-analytics a.sidemenuListview{
	width: 35px;
    height: 35px;
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 1.3em;
}
.data-analytics .shortpost {
    min-height: 250px;
    width: 100%;
}
.data-analytics .shortpost:hover h4{
	text-decoration: underline;
}
.data-analytics .readmore-link {
    font-size: 15px;
    font-family: "Roboto Slab", serif;
    color: #0e2735;
    text-transform: uppercase;
    margin-top: 20px;
}
.data-analytics .post-data span{
	color: #CB5E42;
	margin-right: 5px;
	display: inline-block;
    vertical-align: middle;
}
.data-analytics .post-pdf{
    background: url("../assets/pdf-ico.png") no-repeat scroll left;
    height: 19px;
    width: 17px;
    padding: 0px;
}
.data-analytics .post-zip{
	background: url("../assets/zip-ico.png") no-repeat scroll left;
	height: 19px;
    width: 17px;    
}
.data-analytics .post-ref{
	background: url("../assets/search-ico.png") no-repeat scroll left;
    height: 21px;
    width: 20px;
}
.data-analytics  .data-post .post-text {
    float: right;
    position: absolute;
    right: 0px;
    height: 100%;
}
.data-analytics .post-exerpt p {
    max-height: 70px;
    height: auto;
    -webkit-line-clamp: 3;
    margin-top: 15px;
}
.data-analytics .readmore-link{
	position: absolute;
	bottom: 30px;
}
.load-moreData{
	background: #c9c7b5;
	color: #282a2b;
	font-size: 24px;
	text-align: center;
	font-family: "Roboto Slab", serif;
	padding: 16px 15px;
	cursor: pointer;
}
.data-analytics .data-post.list-view .shortpost {
    min-height: 0px;
    background: none !important;
}
.data-post.list-view .post-feature-img,
.data-post.list-view .post-exerpt{
	display: none;
}
.data-analytics .data-post.list-view  .post-text {
    float: left;
    position: relative;
    height: auto;
    padding: 0px;
}
.data-analytics .data-post.list-view .shortpost:hover h4{
	    text-decoration: underline;
}
.data-analytics .data-post.list-view .readmore-link {
    position: relative;
    bottom: 0;
    display: block;
}

/***************************************************/
/* Innerpage - Download Data Single page
/***************************************************/
.single-datapage{
	padding-top: 80px;
    padding-bottom: 80px;
}
a.type-pdf{
	color: #CB5E42;
}
a.type-ftp{
	color: #59646e;
}
a.type-ftp, a.type-pdf{
	font-family: "Roboto Slab", serif;
	font-size: 18px;
	display: block;
	margin-bottom: 20px;
    position: relative;
    padding-left: 40px;
}
.type-pdf:before{
	position: absolute;
	content: "";
	background-image: url("../assets/pdf-ico.png");
	background-repeat: no-repeat;
	background-size: 23px auto;	
	width: 29px;
	height: 27px;
	left: 4px;
}
.type-ftp:before{
	position: absolute;
	content: "";
	background-image: url("../assets/ftp-ico.png");
	background-repeat: no-repeat;
	background-size: 29px auto;	
	width: 29px;
	height: 27px;
	left: 0px;
}
a.type-ftp:hover, a.type-pdf:hover{
	text-decoration: underline;
}
.databy{
	margin-top: 60px;
}
.databy-year h4{
	background-color: #fff;
    padding: 20px 60px 20px 40px;
    cursor: pointer;
    position: relative;
    margin-bottom: 0px;
}
.databy-year h4.open:after{
	background-image: url("../assets/up-arrow.png");
}
.databy-year h4:after{
	content: "";
    position: absolute;
    background-image: url("../assets/down-arrow.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 70px;
    width: 60px;
    top: 3px;
    right: 0px;
}
.yearData{
	padding: 40px 30px;
	display: none;
}
.single-data{
	background-color: #19748D;
	color: #fff;
}
.single-data h3, .single-data p, .single-data span{
	color: #fff;
}
.single-data .post-data span{
	color: #fff
}
.data-analytics .post-zip.white{
	background: url("../assets/zip-white-ico.png") no-repeat scroll left;
}
.data-analytics .post-pdf.white{
    background: url("../assets/pdf-white-ico.png") no-repeat scroll left;
}
.single-data{
	padding: 30px;
}
.single-data h3{
	margin: 0px 0px 20px;
}
.single-data .post-data{
	margin-bottom: 30px;
}
.single-data-img{
	overflow: hidden;
}
.single-data-img img{
	min-height: 100%;
	min-width: 100%;
	max-height: 200%;
    max-width: 200%;
}
.data-ftpData{
	background-color: #353739;
	padding: 30px;
	margin-bottom: 60px;
}
.data-ftpData p{
	color: #fff;
}
.data-ftpData img{
	display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}
.ftp-details{
	display: inline-block;
    vertical-align: top;
}
.ftp-details a{
	color: #CA5F47;
}
/**************************************************/
/* News page
/***************************************************/
.news_post{
	margin-bottom: 50px;
}
.news_post a.post_title{
	color: #313436;
}
.news_post .post_title h4{
	margin-bottom: 0px;
}
.news_post .post_title:hover{
	text-decoration: underline;
}
.news_post h4.news_postdate{
	color: #CA5F46;
	margin-bottom: 10px;
}
.news_post a.news_post_more{
	font-size: 15px;
    font-family: "Roboto Slab", serif;
    color: #0e2735;
    text-transform: uppercase;
    margin-top: 20px;
}

/***************************************************/
/* Browser Innerpage - basic styles
/***************************************************/
.bio-browser-page .browser-banner{
	overflow: hidden;
	position: relative;
	background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
}
.bio-browser-page .banner-caption{
	margin: 0px auto;
    vertical-align: middle;
    display: table-cell;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    text-align: left;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.bio-browser-page .banner-caption h1, .bio-browser-page .banner-caption h3, .bio-browser-page .banner-caption p{
	color: #fff;
}
.bio-browser-page .banner-caption h1{
	font-size: 100px;
	margin-bottom: 25px;
	margin-top: 0px;
}
.bio-browser-page .banner-caption h3{
	margin: 25px 0px 0px 0px;
}
.banner-caption p{
	font-size: 18px !important;
	margin-top: 25px;
}
.textwrap{
	max-width: 670px;
}
.secondarybar{
	background-color: #e1e3e4;
}
.secondarybar .totalNumbers{
	display: inline-block;
}
.secondarybar .totalNumbers h4{
	color: #CA5F46;
    margin: 20px 20px 20px 0px;
    border-right: 2px solid #1d1e1d;
    display: inline-block;
    padding-right: 20px;
    line-height: 22px;
}
.secondarybar .search div{
	top:0;
	background-color: #ffffff;
}
.secondarybar .search div input.btn {
    background-color: #0E3444;
    width: 65px;
}
.secondarybar .search div input#q {
    color: #1d1e1d;
    font-size: 16px;
    width: 300px;
}
.secondarybar .search div:hover, .search div:focus {
    max-width: 100%;
}
.search div input.btn:focus{
	outline: none;
}
.slectGroup{
    padding: 20px 45px 20px 0px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
    font-size: 16px;
    color: #1d1e1d;
    vertical-align: top;
}
.slectGroup:after {
    content: "";
    position: absolute;
    background-image: url("../assets/down-arrow.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 60px;
    width: 40px;
    top: 3px;
    right: 0px;
}
.slectGroup.open:after{
	 background-image: url("../assets/up-arrow.png");
}
.species-groupList{
	padding-top:35px;
	display: none;
}
a.species-item {
	display: block;
}
a.species-item:hover{
	opacity: 0.5;
}
.species-item span{
	font-family: "Roboto Slab", serif;
	text-align: center;
    margin: 20px auto 0px;
    display: block;
    font-size: 18px;
    color: #1d1e1d;
}
.speciesImg-block{
	border-radius: 100%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
/**************************************************/
/* Single page subnav
/***************************************************/
.subNav{
	background: #fff;
	color: #000;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
}
.subNav .pageTitle{
	background: #CA5F46;
	display: table;
    width: 100%;
    height: 100px;
    vertical-align: middle;
}
.pagetitleimg{
	border-radius: 100%;
    height: 70px;
    width: 70px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
}
.pagetitleimg img{
	min-height: 100%;
    min-width: 100%;
    height: 100%;
}
.pageTitle span{
	color: #fff;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    vertical-align: middle;
}
.titleWrap{
	display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    padding: 0px 25px;
}
.subNav .col-lg-3,
.subNav .col-lg-9{
	padding: 0px;
	    min-height: 0;
}
.subNav .navbar-collapse{
	margin-right: 0px !important;
}
.subNav .navbar{
	border: 0px;
    margin-bottom: 0px;
    min-height: 0;
}
.subNav .navbar ul{
	width: 100%;
    display: table;
    min-height: 100px;
    vertical-align: middle;
    margin: 0;
}
.subNav .navbar li{
	width: 20%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.subNav .navbar a{
	color: #27292b;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
}
.subNav .navbar-header{
	position: absolute;
	top: 15px;
    right: 20px;
}
.subNav .nav>li>a:hover, .subNav .nav>li>a:focus {
    background-color: transparent;
    color: #CA5F46;
}
.subNav .nav-trigger{
	position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    text-align: left;
}
.subNav .navbar-toggle .nav-trigger span {
  position: absolute;
  height: 2px;
  width: 25px;
  top: 50%;
  margin-top: -3px;
  left: 50%;
  -webkit-transition: background-color 0.3s 0.3s;
  -moz-transition: background-color 0.3s 0.3s;
  transition: background-color 0.3s 0.3s;
}
.subNav .navbar-toggle .nav-trigger span:before,
.subNav .navbar-toggle .nav-trigger span:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  transform: translateZ(0px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  -moz-transition: -moz-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
}
.subNav .navbar-toggle.collapsed .nav-trigger span:before {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}
.subNav .navbar-toggle.collapsed .nav-trigger span:after {
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
}
.subNav .subnav .navbar-toggle.collapsed .nav-trigger span {
  background-color: #fff !important;
}
.subNav .subnav .navbar-toggle .nav-trigger span:before,
.subNav .subnav .navbar-toggle .nav-trigger span:after {
  background-color: #fff !important;
}
.subNav .navbar-toggle.collapsed .nav-trigger span {
  background-color: #fff !important;
  text-align: left;
}
.subNav .navbar-toggle .nav-trigger span {
  background-color: transparent !important;
}
.subNav .navbar-toggle .nav-trigger span:before {
  -webkit-transform: translateY(0) rotate(-45deg);
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -o-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}
.subNav .navbar-toggle .nav-trigger span:after {
  -webkit-transform: translateY(0) rotate(45deg);
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -o-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
/**************************************************/
/* Single page
/***************************************************/
.subNav.is-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.sec .wrap{
	padding: 80px;
}
.sec .wrap p{
	font-size: 16px !important;
	line-height: 27px;
}
.sec .wrap p.txt-lg{
	font-size: 18px !important;
	font-weight: 600;
}
.sec .wrap .txt-style1{
	color: #CA5F46;
	font-style: italic;
}
.sec-title{
	background-color: #0E3444;
	display: block;
}
.sec-title h2{
	color: #fff;
	position: relative;
	font-weight: normal;
	padding-bottom: 40px;
	padding-left: 80px;
	padding-right: 80px;
}
.sec-title h2:after{
	content: "";
	display: block;
	height: 1px;
	width: 85px;
	background-color: #fff;
	margin-top: 15px;
}
.mapPortal-btn, .getData-btn{
	position: relative;
}
.mapPortal-btn:before, .getData-btn:before{
	content:"";
	position: relative;
	display: inline-block;
	margin-right: 10px;
	width: 28px;
    vertical-align: middle;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.mapPortal-btn:before{
	background: url(../assets/mapping-portal-color-icon.png) no-repeat;
	background-size: auto 100%;
	height: 28px;
}
.getData-btn:before{
	background: url(../assets/data-download-color-icon.png) no-repeat;
	background-size: 100% auto;
	height: 22px;
    
}
.mapPortal-btn:hover:before{
	background: url(../assets/mapping-portal-icon.png) no-repeat;
	background-size: auto 100%;
	 -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.getData-btn:hover:before{
	background: url(../assets/data-download-white-icon.png) no-repeat;
	background-size: 100% auto;
	-webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
/**************************************************/
/* Filter
/***************************************************/
.data-section{
	padding: 60px 0px;
}
.data-block{
	color:#26282a;
}
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
.data-filter-btn{
	padding: 60px 0px 35px;
}
.data-section .button-group{
	padding-bottom: 50px;
}
.data-section .button-group button{
	margin:0px 15px 15px 0px;
	color:#333638;
	background-color:transparent; 
    border: 1px solid #333638;
    display: inline-block;
    padding: 10px 20px;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.data-section .button-group button:hover, 
.data-section .button-group button.is-checked{
	background-color: #333638;
	color: #fff;
	outline: none;
}
.data-section .button-group button:last-child{
	margin-right: 0px;
}
.data-block table{
	width: 100%;
}
.data-block tbody{
	width: 100%;
}
.data-block table thead{
	border-bottom: 1px solid #ccc;
}
.data-block table tbody tr{
	width: 100%;
    position: relative !important;
    top: 0 !important;
    left: 0px !important;
    transform: none !important;
    /* transition-property: opacity !important; */
   	transition-duration: 0.1s !important;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
}
.data-block table tbody tr:hover{
	background-color: #eff0f1;
}
.data-block table  td, .data-block table  th{

	    display: table-cell;
	    padding: 10px 15px;
}
.data-block table  th:focus{
	outline: none;
}
.data-block table th{
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
    padding-bottom: 25px;
}
.data-block table th:first-child{
	cursor: auto;
	visibility: hidden;
}
.data-block table th:first-child:after{
	content: none;
}
.dataTables_length, .dataTables_filter, .dataTables_paginate, .dataTables_info{
	display: none;
}

.data-block table a{
	color: #26282a;
}
.data-block table a:hover{
	color: #CA5F46;
}
.sorting{
  position: relative;
  cursor: pointer; 
  
}
.sorting:after{
    background-image: url("../assets/a_up_down.png");
    background-repeat:  no-repeat;
    content: "";
    position: relative;
    left: 5px;
    height: 13px;
    width: 12px;
    display: inline-block;
    background-size: auto 14px;
}
.sorting_asc, .sorting_desc{
  position: relative;
  cursor: pointer;  
}
.sorting_asc:after{
    content: "";
    position: relative;
    left: 5px;
    width: 11px;
    height: 11px;
    background: url("../assets/a_up.png") no-repeat;
    display: inline-block;
}

.sorting_desc:after{
    content: "";
	position: relative;
    left: 7px;
    width: 11px;
    height: 11px;
     background: url("../assets/a_down.png") no-repeat;
     display: inline-block;
}
.data-list tr{
    cursor: pointer;
    
}
.data-list tbody tr:hover{
    background: #f0f1f2;
}
.data-summaries{
	margin-bottom: 50px;
}
.full, .basic{
	position: relative;
}   
.full:before, .basic:before{
	content:"";
	width: 25px;
	height: 25px;
	margin-right: 15px;
	display: inline-block;
	border-radius: 100%;
	vertical-align: middle;
}
.data-summaries .basic{
	margin-left: 20px;
}
.full:before{
	background-color: #75863B;
}
.basic:before{
	background-color: #C57D34;
}
.peddign-l{
	padding-left: 30px;
}
.peddign-r{
	padding-right: 30px;
}	
.relation_sec h3{
	position: relative;
} 
.relation_sec h3:after{
	content: "";
    display: block;
    height: 1px;
    width: 56px;
    background-color: #282b2d;
    margin-top: 25px;
}
.colored{
	color: #CA5F46;
}   
.relation_sec h3.colored:after{
	background-color: #CA5F46;
}
.dataWrapper{
	overflow-x: scroll;
}
.data-block{
	min-width: 720px;
}
/**************************************************/
/* Media query
/***************************************************/
@media (min-width: 768px){
	.data-analytics .post-feature-img {
	    left: 0;
	    float: left !important;
	}
}
@media only screen and (min-width: 480px){
	.secondarybar .search div:hover, .search div:focus {
	    width: 300px;
	}
}
@media only screen and (min-width:1900px){
	.species-monitored-counter {
    	padding: 30px 0px 80px;
	}
	.species-category .box1, .species-category .box5{
		height:590px;
	}
	.species-category .box2, .species-category .box3, .species-category .box4{
		height: 450px;
	}
	.species-category .box6, .species-category .box7{
		height: 295px;
	}
}
@media only screen and (max-width:1800px){
	.bio-browser-img{
	    background-position: right 10% top;
    }
}
@media only screen and (max-width:1580px){
	.bio-browser-img{
	    background-position: right 0 top;
	    background-size: 45% auto;
    }
}
@media only screen and (max-width:1199px){
	.news-sec .news-desc{
		width: 70%;
	}
	.abmi-data h4 span{
		margin-left: 0;
		padding-left: 0;
		border-left: 0px;
		display: block;
		margin-top: 10px;
	}
	.stat-analysis-collaborations .sec{
		padding: 0px 30px;
	}
	.species-monitored-counter h3{
		margin-bottom: 0px;
	}
	.bio-browser-banner h1, .bio-browser-page .banner-caption h1 {
    	font-size: 8em;
    }
    .bio-browser-img{
	    background-position: right top 40%;
	    background-size: 45% auto;
    }
    .bio-browser-banner {
    	padding: 60px 0px 100px;
    }
    .species-monitored-counter {
	    padding: 50px 0px 100px;
	}
	.data-analytics .main > h3 {
	    margin: 0px 0px 30px;
	}
	.data-analytics .sidemenu .module-title {
	    padding: 0px 0px;
	}
	.single-datapage {
	    padding-top: 20px;
	    padding-bottom: 30px;
	}
	.speciesImg-block {
    	width: 130px;
		height: 130px;
    }
    .sec .wrap , .data-section{
	    padding: 60px 0px;
	}
	.sec-title h2{
	    padding-left: 0px;
		padding-right: 0px;
    }
}
@media screen and (max-width:1199px) and (min-width:992px) {
	.data-download .box-text, .custom-reporting .box-text {
	    width: 78%;
	}
	.data-download .box-img, .custom-reporting .box-img {
    	width: 22%;
    }
}
@media only screen and (max-width:991px){
	.quickbox-link {
	    position: relative;
	    bottom: 0;
	}
	.news-sec .news-link {
	    display: block;
	    width: 100%;
	    vertical-align: top;
	    border-right: none;
	    padding-right: 0;
	}
	.news-sec .news-desc {
	    width: 100%;
	    display: block;
	    margin-top: 30px;
	    padding-left: 0px;
    }
    .news-sec .next-newspost {
	    display: block;
	    text-align: left;
	    vertical-align: top;
	}
	.abmi-data h4{
		margin-top: 30px;
	}
	.stat-analysis-collaborations .sec{
		padding: 0px 15px;
		text-align: center;
	}
	.stat-analysis-collaborations .sec:fiest-child{
		background: none;
	}
	.stat-analysis-collaborations .sec p{
		margin-bottom: 40px;
	}
	.bio-browser-graphic{
		display: block;
		max-width: 300px;
		    margin: 0 auto;
	}
	.bio-browser-img{
		background: none;
	}
	.bio-browser-banner {
    	text-align: center;
    }
    .bio-browser-page .browser-banner {
    	min-height: 0px;
	}
	.bio-browser-page .banner-caption{
		position: relative;
	    transform: none;
	    left: 0;
	    top: 0;
	    padding: 7%;
	}
    .data-analytics .logo {
	    height: 67px;
		width: 67px;
	}
	.backtoHome a{
		height: 67px;
		width: 67px;
	}
	.data-nav-links, .data-nav-links .datalink{
		height: 67px;
		line-height: 65px;
	}
	.data-nav-links .datalink span{
		line-height: 65px;
	}
    .data-nav-links .datalink img {
	    width: 25px;
	}
	.data-nav-links .datalink {
    	padding: 0px 5px;
    }
    .data-nav-links .feedback-link, .data-nav-links .datalink span {
    	font-size: 13px;
    }
    .data-nav-links .datalink span{
		padding-left: 8px;
	}
	.data-nav-links .feedback-link {
	    padding: 0px 10px;
	}
	
	.stat-analysis-collaborations .sec:first-child{
		border-right: 0px;
	}
	.species-category .item {
		height: 400px;
	}
	.subNav .navbar li {
	    width: 100%;
	    display: block;
	    padding: 5px 15px;
	}
	.pagetitleimg {
	    height: 50px;
	    width: 50px;
	    margin-right: 20px;
	}
	.subNav .pageTitle {
    	height: 70px;
    }
	.subNav .navbar-header {
    	top: 0px;
    	padding-right: 0px;
    }
    .peddign-l{
		padding-left: 15px;
	}
	.peddign-r{
		padding-right: 15px;
	}
	.data-block table tbody tr{
		font-size: 14px;
	}
	.data-block table th{
		font-size: 13px;
	}
	.data-block table td, .data-block table th{
		padding: 10px;
	}
}
@media screen and (max-width:991px) and (min-width:768px) {
	.species-category .nopadding{
		display: table;
		width: 100%;
	}
	.species-category .item.box1, .species-category .item.box1,
	.species-category .item.box6, .species-category .item.box7 {
	    width: 50%;
	    display: table-cell;
	}
	.speciesImg-block {
	    width: 100px;
	    height: 100px;
	}
	.species-item span {
    	font-size: 16px;
    }
}
@media only screen and (max-width:767px){
	.data-analytics .breadcrumb h3, .data-analytics .breadcrumb a.feedback-link{
		float: none;
		display: block;
		line-height: 50px;
	}
	.portal-quicksec {
	    margin-top: 40px;
	    margin-bottom: 40px;
	}
	.abmi-data, .mapping-sec{
		padding: 40px 0px;
	}
	.portal-info .btn-grouping{
		margin-bottom: 40px;
	}
	.portal-info h2 {
    	margin-top: 10px !important;
    }
    .data-analytics .row-fluid.breadcrumb, .data-analytics .row.breadcrumb,
    .abmi-data{
	    text-align: center;
    }	
    .portal-info .btn-grouping .icon{
		height: 30px;
	    width: auto;
	}
	.stat-analysis-collaborations{
		padding: 0px 0px 40px;
	}
	.guild-sec, .species-monitored-counter{
		padding: 40px 0px 50px;
	}
	.species-sec{
		padding-top: 20px;
	}
	.bio-browser-banner h1, .bio-browser-page .banner-caption h1 {
	    font-size: 6em;
	        margin-bottom: 20px;
	}
	.bio-browser-banner p {
    	margin-bottom: 30px;
	}
	.bio-browser-graphic{
		max-width: 200px;
	}
	.bio-browser-banner {
	    padding: 60px 0px 60px;
	}
	.species-sec h3 {
    	margin-bottom: 30px;
    }
    
	.species-category .item {
    	height: 400px;
	}
	.overview-link .img-box {
    	height: auto;
    }
    .overview-link .img-box img {
    	max-width: 100%;
    }
    .data-analytics .widget.searchbox {
	    margin-bottom: 0px;
	    margin-top: 0px;
	}
	.data-analytics .data-post .post-text {
		position: relative;
		float: left;
	}
	.data-analytics .data-post .readmore-link {
	    position: relative;
	    bottom: 0;
	}
	.databy-year h4 {
    	padding: 15px 60px 15px 20px;
    }
    .databy-year h4:after {
    	height: 49px;
    }
    .yearData {
	    padding: 30px 20px;
	}
	a.type-ftp, a.type-pdf {
    	font-size: 15px;
    }
    .single-data-img img{
	    max-width: 100%;
	    width: 100%;
	    height: auto;
	    max-width: none;
    }
    .bio-browser-page .banner-caption{
	    transform: none;
	    left: 0px;
	    top: 0px;
	    position: relative;
	    display: block;
	}
	.pageTitle span {
	    font-size: 16px;
	}
	.titleWrap{
		text-align: left;
	}
	.sec .wrap, .data-section{
	    padding: 40px 0px;
	}
	.mrgT-50 {
	    margin-top: 30px;
	}
	.sec-title h2{
		padding-top: 20px;
		padding-bottom: 25px;
	}
	.relation_sec h3{
		margin: 20px 0px;
	}
	.full, .basic {
	    position: relative;
	    display: block;
	}
	.data-summaries .basic {
	    margin-left: 0px;
	    margin-top: 5px;
	}
	.species-item span{
		margin: 20px auto;
	}
}
@media only screen and (max-width:580px){
	.line-btn, .solid-btn {
	    font-size: 15px;
	    padding: 10px 20px;
	    min-width: 150px;
    }
	.data-download .box-img, .custom-reporting .box-img{
		display: none;
	}
	.data-download .box-text, .custom-reporting .box-text {
	    width: 100%;
	    display: block;
	}
	.box-text {
	    padding: 25px;
	}
	.quickbox-title img{
		width: 30px;
	}
	.portal-quicksec .quickbox-title h3{
		font-size: 20px;
	}
	.data-nav-links .datalink span, .data-nav-links .feedback-link{
		display: none;
	}
	.data-nav-links .datalink {
	    padding: 0px 9px;
	}
	.species-category .item h3 {
    	font-weight: 400;
    	letter-spacing: 0px;
    }
	.species-category .item a .overlay-box span {
		margin-top: 20px;
	}
	.speciesImg-block {
	    width: 100px;
	    height: 100px;
	}
	.species-item span{
		font-size: 16px;
	}
	.mapImg{
		max-height: 400px;
	}
}
@media only screen and (max-width:480px){
	.portal-info .btn-grouping .icon{
		float: none;
	}
	.mapping-sec img{
		height: 60px;
	}
	.mapping-sec h2{
		margin-bottom: 0px;
	}
	.bio-browser-banner h1, .bio-browser-page .banner-caption h1{
	    font-size: 4em;
	}
	.species-groupList .col-sm-2.col-xs-4{
		width: 50%;
	}
	.secondarybar{
		text-align: center;
	}
	.secondarybar .totalNumbers{
		display: block;
		text-align: center;
	}
	.secondarybar .totalNumbers h4{
		border-right: 0px;
	    margin: 10px auto;
	    padding: 0px;
	}
	.bio-browser-page .banner-caption{
		text-align: center;
	}
	.data-filter-btn{
		text-align: center;
	}
	.data-filter-btn a {
    	padding: 10px;
		font-size: 15px;
	}
}