/*change 283px to 275px?*/
html body.preload * {
    transition: none 0s ease 0s !important;
}
body {
    background-color: rgb(243, 241, 222);
    max-width: 100%;
}
.container-fluid {
    color: rgb(255, 255, 255);
}
body.light-bg {
    background-color: rgb(252, 250, 232);
}
.logo {
    background-color: rgb(103, 117, 35);
    float: left;
    height: 100px;
    width: 100px;
}
.logo a {
    background: url("/docroot/assets/abmi_logo.png") no-repeat scroll center center rgb(103, 117, 35);
    display: block;
    height: 100%;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.logo a:hover {
    background-color: rgb(98, 107, 34);
}
.logo a:active {
    background-color: rgb(75, 76, 25);
}
.top-bar {
    background-color: rgb(58, 58, 17);
    height: 35px;
}

.search div {
/*	background: url(../assets/search.png) no-repeat center right 15px
		#677523;*/
	top: 35px;
	height: 65px;
	float: right;
	margin-left: 15px;
	position: relative;
	-webkit-transition: background-color .5s ease-out, width .5s ease-out;
	-moz-transition: background-color .5s ease-out, width .5s ease-out;
	transition: background-color .5s ease-out, width .5s ease-out;
	width: 65px;
	overflow: hidden;
}

.search div input#q {
	background-color: transparent;
	border: none;
	color: #fff;
	height: 65px;
	font-size: 2em;
	padding-left: 15px;
	position: absolute;
/*	right: 65px;*/
	width: 214px;
}

.search div input.btn {
	
	border: none;
	color: #fff;
	height: 65px;
	font-size: 2em;
	padding-left: 15px;
	position: absolute;
	 float: right;
	 position: relative;
	width: 80px;
	 background: url('/docroot/assets/search.png') no-repeat scroll right 15px center rgb(103, 117, 35);
}
/**/
.jumbotron {
    left: 0;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: 0;
}
.jumbotron img {
    height: auto;
    min-height: 270px;
    width: 100%;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: top;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgb(40, 43, 45) -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-bottom: 3em;
    margin-top: 2em;
}
.main hr {
    margin-top: 4em;
}
html.lt-ie9 video {
    display: none;
    visibility: hidden;
}
html.lt-ie9 .jumbotron {
    max-height: 220px;
    max-width: 1280px;
    overflow: hidden;
    width: 100%;
}
html.lt-ie9 .jumbotron .overlay {
    left: 0;
    max-width: 1280px;
    padding-top: 6em;
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 500;
}
html.lt-ie9 .navbar-right .dropdown-menu {
    left: -150px;
}
html.lt-ie9 div.tile {
    overflow: hidden;
}
html body .sbm {
    margin-bottom: 24px !important;
}
html body .dbm {
    margin-bottom: 48px !important;
}
html body #LiveCSSEditor-code {
    color: rgb(0, 0, 0) !important;
}
.navbar-collapse.collapse {
    margin: 0;
    max-height: none;
}
.navbar-collapse.in ul.list-unstyled li {
    padding: 0.7em;
}
.navbar-collapse.in ul.list-unstyled li a {
    color: rgb(40, 43, 45);
    padding-left: 4em;
}
.navbar-collapse.in ul.list-unstyled li:hover {
    background-color: rgb(233, 230, 213);
}
.navbar-collapse.in .search-collapse input {
    background-color: rgba(222, 219, 204, 0.9);
    border: medium none;
    color: rgb(40, 43, 45);
    display: inline-block;
    padding: 1em 0 1em 3em;
    width: 100%;
}
.navbar-collapse.in .search-collapse {
    margin: 0;
    overflow: hidden;
    position: relative;
}
.overlay {
    left: 50%;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 2999;
}
.html5video {
    position: relative;
    transition: all 0.3s ease 0s;
    z-index: 999;
}
.company-info {
    background-color: rgb(243, 240, 223);
text-align: center; /**/
}
.small-container {
    background-color: rgb(153, 0, 0);
    margin: 0 auto;
    max-width: 968px;
}
.divider {
    background-color: rgb(116, 136, 46);
}
.explore {
    background: url("/docroot/assets/parkridge_banff.jpg") no-repeat scroll center top / cover rgba(0, 0, 0, 0);
}
.triangle {
    border-color: rgb(116, 136, 46) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-left: 53.5px solid rgba(0, 0, 0, 0);
    border-right: 53.5px solid rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 55px 53.5px;
    height: 0;
    margin: 0 auto;
    width: 0;
}
.tile {
    background-color: rgb(187, 107, 12);
    clear: left;
    margin-bottom: 30px;
    max-width: 570px;
    overflow: auto;
}
.learn-more {
    background-color: rgb(116, 136, 46);
}
.learn-more .column {
    min-height: 283px;
    position: relative;
}
.social {
    background-color: rgb(98, 175, 160);
    text-align: center;
}
.events {
    background-color: rgb(155, 135, 50);
}
.half {
    clear: none;
    float: left;
    margin-bottom: 50px;
    margin-right: 5.2%;
    max-width: 570px;
    min-height: 283px;
    overflow: hidden;
    width: 47.4%;
}
.half a {
    min-height: 283px;
    padding: 2em 3em;
}
ol.carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 0;
    padding: 0 3em 2em;
    text-align: left;
    width: 50%;
}
.carousel {
    overflow: hidden !important;
}
#carousel-news ol.carousel-indicators {
    left: 36%;
}
.carousel-indicators li {
    background-color: rgb(49, 52, 54);
    border: 1px solid rgb(49, 52, 54);
    border-radius: 0;
}
.carousel-indicators li.active {
    border: medium none;
}
.carousel-inner > .item {
    width: 100%;
}
.social img.icon {
    display: block;
    float: none;
    margin: 2em auto 0;
    width: 47px;
}
.right {
    float: right;
    margin-left: 2%;
    margin-right: 0;
}
.sponsor {
 /*   background-color: rgb(232, 228, 191);*/
    float: left;
    height: auto;
    margin: 12px 5% 30px 0;
    min-height: 102px;
}
.row.withmarg {
    margin-left: 0;
    margin-right: 0;
}
html {
    font-family: "Open Sans",sans-serif;
}
h1, h2, h3, h4, h5, h6 a.button {
    font-family: "Roboto Slab",serif;
    line-height: 1em;
}
.jumbotron h1.sub-heading {
    font-size: 3.2em;
    font-weight: 400;
}
h2 {
    color: rgb(40, 43, 45);
    font-size: 3.5em;
    line-height: 36pt;
    margin: 0;
    padding: 59px 0 39px;
}
.divider h2 {
    color: rgb(255, 255, 255);
    font-size: 3.7em;
    margin: 0;
/*    padding: 0.7em 0 0.9em;joan made the banner of explor the ABMI shorter*/
    padding: 0.4em 0 0.5em; 

}
h3 {
    color: rgb(40, 43, 45);
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 44px;
    margin: 42px 0 48px;
}
h4 {
    font-size: 2.4em;
    line-height: 1.2em;
}
.main h4 {
    line-height: 1.4em;
    margin-bottom: 25px;
}
h5 {
    color: rgb(38, 38, 38);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.1rem;
}
.page-content h4 {
    color: rgb(49, 52, 54);
}
.tile h4 {
    color: rgb(255, 255, 255);
    font-size: 2.3em;
    line-height: 1.2em;
}
.social h4 {
    font-size: 1.8em;
    margin-top: 1.5em;
    padding-top: 0;
}
.breathH h2 {
    line-height: 1.2em;
    padding: 0.5em 0 1em;
}
.breathH h4 {
    line-height: 1.2em;
    padding: 1em 0 0.25em;
}
.breathH ul {
    margin-bottom: 4em;
}
p.bold-green {
    color: rgb(116, 136, 46);
    font-size: 1.5em;
}
h4.smbp {
    margin-bottom: 0.5em;
    padding-bottom: 0;
}
.spotlight {
    margin: 0 0 30px;
    max-width: 570px;
    position: relative;
}
.spotlight .overlay {
    height: 100%;
    left: 0;
    padding: 2.6em 2.9em;
    text-align: left;
    top: 0;
    transform: translate(0px, 0px);
    width: 100%;
}
.spotlight .overlay h3 {
    color: rgb(255, 255, 255);
    margin-top: 20px;
    text-shadow: 0 0 0.1em rgb(166, 168, 171);
}
.spotlight .overlay h4 {
    color: rgb(255, 255, 255);
    margin-top: 10px;
    max-width: 360px;
    text-shadow: 0 0 0.1em rgb(166, 168, 171);
}
.spotlight .overlay h4.text-right {
    float: right;
}
.spotlight .overlay h4.text-left {
    float: left;
}
.spotlight .spotlight-base {
    bottom: 0;
    left: 2.9em;
    position: absolute;
    right: 2.9em;
}
blockquote {
    border-left: 7px solid rgb(116, 136, 46);
    clear: both;
    color: rgb(38, 38, 38);
    font-family: "open sans";
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 20px 50px;
    padding: 10px 30px;
}
a, a:link {
    color: rgb(166, 168, 171);
    font-family: "Open Sans",sans-serif;
    text-decoration: none;
    transition: all 0.5s ease-out 0s;
}
a:hover {
    color: rgb(116, 136, 46);
}
.top-bar ul {
    float: right;
    list-style: none outside none;
    margin-bottom: 0;
    margin-right: 15px;
    padding: 0;
}
.top-bar ul li {
    float: left;
    margin: 6px 0 0 22px;
}
.top-bar ul li a {
    color: rgb(255, 255, 255);
    font-family: "Roboto Slab",serif;
    font-size: 1.3rem;
    font-weight: 300;
}
.search div:focus, .search div:hover {
    background-color: rgb(93, 105, 31);
    width: 140px;
}
.search div:active {
    background-color: rgb(51, 58, 17);
}
li, p {
    color: rgb(40, 43, 45);
    font-family: "Open Sans",sans-serif;
    font-size: 1.5rem;
    line-height: 1.6em;
}
p {
    margin-bottom: 24px;
}
.tile p {
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    line-height: 1.7em;
}
.tile p.timestamp {
    font-size: 1.2em;
    margin-bottom: 5px;
}
.events a {
    display: block;
    height: 100%;
    width: 100%;
}

.events .carousel h4 {
    font-size:1.8em;
}
.events .fauxa {
    color: rgb(255, 255, 255);
    display: block;
    font-family: "Roboto Slab",serif;
    font-size: 1.4em;
    font-weight: 300;
    padding: 15px 0 0;
    text-transform: uppercase;
}
.events .fauxa:hover {
    text-decoration: underline;
}
.overlay p {
    color: rgb(255, 255, 255);
    max-width: 320px;
    padding: 0 0 2em;
    text-shadow: 0 0 0.1em rgb(49, 52, 54);
}
.overlay p.text-right {
    float: right;
}
.overlay p.text-left {
    float: left;
}
.fine-print p {
    color: rgb(166, 168, 171);
    font-size: 1.4em;
    line-height: 1.8em;
    padding: 0 0 0 45px;
}
a.button {
    background-color: rgb(116, 136, 46);
    color: rgb(255, 255, 255);
    float: left;
    font-family: "Roboto Slab",serif;
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 130%;
    margin-bottom: 2%;
    min-height: 60px;
    padding: 17px 30px 17px 25px;
    text-align: left;
    text-transform: none;
    transition: background-color 0.5s ease-out 0s;
    width: 30%;
}
.icon {
    float: left;
    margin-right: 20px;
}
a.button:hover {
    background-color: rgb(106, 125, 42);
}
a.button:active {
    background-color: rgb(67, 79, 27);
}
.social a {
    display: block;
    height: 100%;
    width: 100%;
}
.social .fauxa {
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.social .fauxa:hover {
    text-decoration: underline;
}
.center {
    clear: left;
    margin: 0 auto;
    padding: 77px 0 36px;
    text-align: center;
}
.company-info > .container > .row h3 {
    font-size: 2.4em;
    margin: 48px 0 24px;
}
body ol, body ul {
    margin-bottom: 20px;
}
a.btn-learn, button.btn-learn, div.btn-learn {
    background-color: rgb(98, 175, 160);
    color: rgb(255, 255, 255);
    float: none;
    font-family: "Roboto Slab",serif;
    font-size: 1.6em;
    letter-spacing: 2px;
    margin: 0;
    padding: 15px 40px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.5s ease-out 0s;
}
a.btn-learn:hover, button.btn-learn:hover, div.btn-learn:hover {
    background-color: rgb(129, 170, 156);
}
a.btn-learn:active, buttona.btn-learn:active, div.btn-learn:active {
    background-color: rgb(96, 142, 126);
}
.learn-more a.btn-learn, .learn-more button.btn-learn, a.btn-learn {
    background-color: rgb(137, 175, 162);
    bottom: 30px;
    float: right;
    margin-top: 25px;
    padding: 13px 32px;
    position: absolute;
    right: 30px;
}
a.button.btn-learn {
    float: none;
    margin: 0 auto;
    position: relative;
}
.learn-more a.btn-learn:hover, .learn-more button.btn-learn:hover {
    background-color: rgb(106, 125, 42);
}
.learn-more a.btn-learn:active, .learn-more button.btn-learn:active {
    background-color: rgb(67, 79, 27);
}
div.btn-learn-green {
    background-color: rgb(116, 136, 46);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    display: inline-block;
}
div.btn-learn-green:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
div.btn-learn-green:active {
    background-color: rgba(255, 255, 255, 0.35);
}
.company-info a.last, .last {
    margin-right: 0;
}
.partner {
    height: 65px;
    margin: 60px 0 25px;
}
.ai {
    background: url("/docroot/assets/partner_ai-logo.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.ram {
    background: url("/docroot/assets/partner_ram-logo.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.uoc {
    background: url("/docroot/assets/partner_uoc-logo.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.uoa {
    background: url("/docroot/assets/partner_uoa-logo.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.input-group {
   /* float: left;*/
    margin: 10px 0 30px;
}
.btn {
    border-radius: 0;
}
.btn-primary {
    background-color: rgb(103, 117, 35);
    border: medium none rgb(103, 117, 35);
    border-radius: 18px;
    float: left;
    font-family: "Roboto Slab",serif;
    font-size: 1.2em;
    padding: 10px 26px;
    transition: background-color 0.5s ease-out 0s;
}
.btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open .dropdown-toggle.btn-primary {
    background-color: rgb(93, 105, 31);
}
.connect a {
    background-color: rgb(166, 168, 171);
    border: medium none rgb(166, 168, 171);
    border-radius: 18px;
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    font-size: 1.3em;
    height: 37px;
    margin: 0 0 50px 11px;
    width: 37px;
}
.connect a.twitter {
    background: url("/docroot/assets/twitter.png") no-repeat scroll center center rgb(166, 168, 171);
}
.connect a.facebook {
    background: url("/docroot/assets/facebook.png") no-repeat scroll center center rgb(166, 168, 171);
}
.connect a.vimeo {
    background: url("/docroot/assets/vimeo.png") no-repeat scroll center center rgb(166, 168, 171);
}
.connect a:hover {
    background-color: rgb(158, 160, 164);
}
.connect a:active {
    background-color: rgb(127, 130, 134);
}
.aside .connect a:link {
    background-color: rgb(116, 135, 45);
    border: medium none rgb(116, 136, 46);
    border-radius: 50%;
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    font-size: 1.3em;
    height: 45px;
    margin: 10px 20px 50px 0;
    width: 45px;
}
.aside .connect a.twitter {
    background: url("/docroot/assets/asidetwitter.png") no-repeat scroll center center rgb(116, 135, 45);
}
.aside .connect a.facebook {
    background: url("/docroot/assets/asidefacebook.png") no-repeat scroll center center rgb(116, 135, 45);
}
.aside .connect a.vimeo {
    background: url("/docroot/assets/asidevimeo.png") no-repeat scroll center center rgb(116, 135, 45);
}
.aside .connect a:hover {
    background-color: rgb(110, 126, 44);
}
.aside .connect a:active {
    background-color: rgb(83, 95, 33);
}
.btn-default {
    background-color: rgb(103, 117, 35);
    border: 1px solid rgb(103, 117, 35);
    color: rgb(255, 255, 255);
    font-family: "Roboto Slab",serif;
    font-size: 17px;
    letter-spacing: 1px;
    padding: 10px 30px;
    text-transform: uppercase;
    transition: background-color 0.5s ease-out 0s;
}
.connect {
    float: left;
    margin-top: 0.6em;
}
.navbar-default {
    background-color: rgb(116, 136, 46);
    border: 0 none;
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-collapse {
    border: medium none;
    box-shadow: none;
    margin-right: 15px;
    padding: 0;
}
.navbar-toggle {
    margin-top: 15px;
}
.navbar-default .navbar-toggle:hover {
    background-color: rgb(106, 125, 42);
}
.navbar-default .navbar-toggle:active {
    background-color: rgb(67, 79, 27);
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: rgb(255, 255, 255);
}
.navbar-default .navbar-nav > li > a {
    color: rgb(255, 255, 255);
    font-family: "Roboto Slab",serif;
    font-size: 1.8rem;
    font-weight: 300;
    transition: background-color 0.5s ease-out 0s;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:visited {
    background-color: rgb(58, 58, 17);
    color: rgb(255, 255, 255);
}
.socialflag {
    background: url("/docroot/assets/social.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    height: 45px;
    left: 0;
    position: fixed;
    top: 38%;
    width: 90px;
}
.socialflag a {
    display: inline-block;
    margin: 9px;
    opacity: 0.7;
    transition: all 0.25s ease 0s;
}
.socialflag a:hover {
    opacity: 1;
}
.jumbotron {
    background-size: cover;
    min-height: 400px;
}
.home .jumbotron {
    position: relative;
}
.applied-research-projects .jumbotron {
    background: url("/docroot/assets/appliedresearchprojects.jpg") no-repeat scroll center top, none repeat scroll 0 0 rgb(58, 58, 17);
}
.land-access .jumbotron {
    background: url("/docroot/assets/landaccesstitle.jpg") no-repeat scroll center top, none repeat scroll 0 0 rgb(58, 58, 17);
}
.board-of-directors .jumbotron {
    background: url("/docroot/assets/boardofdirectorstitle.jpg") no-repeat scroll center top, none repeat scroll 0 0 rgb(58, 58, 17);
}
.careers .jumbotron {
    background: url("/docroot/assets/careers.jpg") no-repeat scroll center top, none repeat scroll 0 0 rgb(58, 58, 17);
}
.publications .jumbotron {
    background: url("/docroot/assets/publicationstitle.jpg") no-repeat scroll center top, none repeat scroll 0 0 rgb(58, 58, 17);
}
.monitoring-cycle .jumbotron {
    background: url("/docroot/assets/monitoringcycle-title.jpg") no-repeat scroll center top, none repeat scroll 0 0 rgb(58, 58, 17);
}
.partners .jumbotron, .sponsors .jumbotron {
    background: url("/docroot/assets/partners.jpg") no-repeat scroll center top, none repeat scroll 0 0 rgb(58, 58, 17);
}
.taxonomy .jumbotron {
    background: url("/docroot/assets/taxonomy.jpg") no-repeat scroll center top, none repeat scroll 0 0 rgb(58, 58, 17);
}
.science-projects .jumbotron {
    background: url("/docroot/assets/case-study.jpg") no-repeat scroll center top, none repeat scroll 0 0 rgb(58, 58, 17);
}
.main {
    padding-bottom: 35px;
    padding-top: 35px;
}
.row-fluid.page-content, .row.page-content {
    background-color: rgb(243, 241, 222);
    padding: 0;
}
.row-fluid.page-content.dark-bg, .row.page-content.dark-bg {
    background-color: rgb(243, 241, 222);
}
.row-fluid.page-content.light-bg, .row.page-content.light-bg {
    background-color: rgb(252, 250, 232);
}
.clearpadding {
    padding: 0 !important;
}
.aside li a {
    font-family: roboto slab;
}
.widget ul {
    padding: 0;
}
.aside .widget ul li {
    list-style-type: none;
}
.aside .list.widget li {
    margin-bottom: 30px;
}
.page-content a {
    color: rgb(116, 136, 46);
}
.row-fluid.breadcrumb, .row.breadcrumb {
    background: none repeat scroll 0 0 rgb(116, 136, 46);
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 0;
    min-height: 75px;
    padding: 0 15px;
}
.row-fluid.breadcrumb h3, .row.breadcrumb h3 {
    color: rgb(255, 255, 255);
    line-height: 70px;
    margin: 0;
}
.row-fluid.breadcrumb-triangle, .row.breadcrumb-triangle {
    background: none repeat scroll 0 0 rgb(243, 240, 223);
}
.row-fluid.breadcrumb-triangle .triangle, .row.breadcrumb-triangle .triangle {
    border-color: rgb(116, 136, 46) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 30px 30px 0;
    height: 0;
    margin: 0;
    width: 0;
}
.faq {
    margin-bottom: 60px;
    padding-left: 0;
}
.faq li {
    list-style-type: none;
}
.faq input[type="button"]:hover {
    color: rgb(116, 136, 46);
}
.faq input[type="button"] {
    background: url("/docroot/assets/collapsed-minus.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    border: medium none;
    color: rgb(49, 52, 54);
    font-weight: 700;
    line-height: 22px;
    outline: 0 none;
    padding: 17px 0 17px 35px;
    text-align: left;
    white-space: normal;
}
.faq input.collapsed[type="button"] {
    background: url("/docroot/assets/collapsed-plus.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    font-weight: 400;
}
.faq .collapse, .faq .collapsing {
    border-left: 7px solid rgb(116, 136, 46);
    font-weight: 400;
    margin: 0 0 0 60px;
    padding-left: 30px;
}
.collapse a, .collapsing a {
    color: rgb(116, 136, 46);
    font-size: 1.4rem;
    font-weight: 400;
}
.collapse a:hover, .collapsing a:hover {
    color: rgb(111, 127, 45);
}
.faq.directory input[type="button"] {
    border-top: 1px solid rgb(40, 43, 45);
    display: block;
    font-size: 1.3em;
    margin-bottom: 0.1em;
    width: 100%;
}
.faq.directory .collapse, .faq.directory .collapsing {
    border: medium none;
    margin-bottom: 1em;
    margin-left: 0;
    margin-top: 1.5em;
    padding-left: 0;
}
ul.faq.directory > li > div > div > div {
    min-height: 130px;
}
.faq.supplementary input[type="button"] {
    font-family: "Roboto Slab",serif;
    font-size: 1.3em;
}
.faq.supplementary .collapse, .faq.supplementary .collapsing {
    border: medium none;
    margin-left: 5px;
    margin-top: 0.2em;
    padding-left: 0;
}
.faq.supplementary li > div > div > div {
    margin-bottom: 1.1em;
}
.faq.supplementary h3 {
    font-size: 1.1em;
    line-height: 1.3em;
    margin: 0;
}
.sidemenu {
    clear: both;
}
.sidemenu ul {
    margin-left: 0;
    padding: 20px;
}
.sidemenu ul li {
	list-style-type: none;
	margin-bottom: 10px ;
	  height: 50px;
    list-style-type: none;
 
    position: relative;
}
.aside ul li a {
    color: rgb(49, 52, 54);
}
.sidemenu ul li a {
	/*line-height: 60px;
	vertical-align: top*/
	
  position: absolute;
  top: 35%;
}
.aside ul li a:hover {
    color: rgb(111, 127, 45);
}
.sidemenu ul li.active {
    list-style-image: url("/docroot/assets/sidemenu-active.png");
}
.sidemenu ul li.active a {
    color: rgb(116, 136, 46);
}
.list.widget > ul > li a.pdf, .sidemenu > ul > li a.pdf {
 /*   line-height: 2.1em;*/
}
.list.widget > ul > li a.pdf:before, .sidemenu > ul > li a.pdf:before {
    content: url("/docroot/assets/pdf-black.png");
    padding: 0.6em;
}
input.sidemenuSearch {
   background: none repeat scroll 0 0 #ffffff;
    border: medium none;
    border-radius: 0;
    color: #414042;
    font-size: 1.5em;
    font-weight: 200;
    height: 52px;
    line-height: 1.5em;
    padding-left: 0.8em;
    width: 72%;
}
button.sidemenuSearchBtn {
    background: url("/docroot/assets/sidemenuSearchBtn.png") repeat scroll 0 0%, none repeat scroll 0 0 rgb(103, 117, 35);
    border: medium none;
    height: 52px;
    vertical-align: top;
    width: 52px;
}
button.sidemenuSearchBtn:hover {
}
input.sidemenuSearch:-moz-placeholder {
   color: rgb(255, 255, 255);
   
}
input.sidemenuSearch::-moz-placeholder {
    color: rgb(255, 255, 255);

}
/* added calendar here */
a.sidemenuFullPostBtn, a.sidemenuListPostBtn, a.sidemenuCalendarPostBtn {
    display: inline-block;
    height: 35px;
    margin-bottom: 1.3em;
    margin-right: 1em;
    width: 35px;
}
a.sidemenuFullPostBtn {
    background: url("/docroot/assets/sidemenu-full.png") repeat scroll left top, none repeat scroll 0 0 rgb(116, 136, 56);
}
a.sidemenuFullPostBtn.active {
    background: url("/docroot/assets/sidemenu-full-active.png") repeat scroll left top, none repeat scroll 0 0 rgb(49, 52, 54);
}
a.sidemenuListPostBtn {
    background: url("/docroot/assets/sidemenu-list.png") repeat scroll left top, none repeat scroll 0 0 rgb(116, 136, 56);
}
a.sidemenuListPostBtn.active {
    background: url("/docroot/assets/sidemenu-list-active.png") repeat scroll left top, none repeat scroll 0 0 rgb(49, 52, 54);
}


a.sidemenuCalendarPostBtn {
    background: url("/docroot/assets/sidemenu-calendar.png") repeat scroll left top, none repeat scroll 0 0 #74882e;
}
a.sidemenuCalendarPostBtn.active {
    background: url("/docroot/assets/sidemenu-calendar.png") repeat scroll left top, none repeat scroll 0 0 #313436;
}

.blue, .cyan, .dgreen, .green, .grey, .olive, .openforapps, .orange, .red, .reviewingapps {
    margin-bottom: 35px;
}
.blue, .cyan, .dgreen, .download-resource .col-lg-12, .green, .grey, .olive, .orange {
    padding-top: 10px;
}
.monitoring-centre-staff .cyan, .monitoring-centre-staff .olive, .monitoring-centre-staff .orange, .projectboxes .col-lg-12 {
    padding: 20px 20px 1px;
}
.projectboxes .col-lg-12 img {
    margin-bottom: 20px;
}
.monitoring-centre-staff img, .projectboxes img {
    max-width: 100%;
    width: 100%;
}
.projectboxes .col-lg-12 img {
    width: inherit;
}
.careers .openforapps, .careers .reviewingapps {
    padding: 25px;
}
.colorbox h4, .colorbox h5,.blue h4, .blue h5, .blue p, .cyan h4, .cyan h5, .cyan p, .dgreen h4, .dgreen h5, .dgreen p, .green h4, .green h5, .green p, .grey h4, .grey h5, .grey p, .olive h4, .olive h5, .olive p, .openforapps h4, .openforapps h5, .openforapps p, .orange h4, .orange h5, .orange p, .red h4, .red h5, .red p, .reviewingapps h4, .reviewingapps h5, .reviewingapps p {
    color: rgb(255, 255, 255);
    margin-top: 0;
}
p.note, p.tags {
    font-size: 1.2rem;
    line-height: 14.4px;
}
p.tags {
    font-style: italic;
}
.careers p.status {
    margin-bottom: 0;
}
.download-resource p {
    display: block;
    min-height: 75px;
}
.download-resource .colorbox p {
    display: block;
    min-height: 75px;
}
.download-resource img {
    max-width: 100%;
    width: 100%;
}

/* start project boxes*/
.colorbox p {
    color: rgb(255, 255, 255);
    margin-top: 0;
}

.col-lg-12.colorbox
{
    padding: 15px 20px 10px;
}


.colorbox {
    margin-bottom: 35px;
}

.colorbox p {
min-height:140px;}

.prj6 .colorbox,.prj6 .colorbox a.btn.btn-learn, .grey,.grey a.btn.btn-learn,.reviewingapps,.reviewingapps a.btn.btn-learn {
	background: #313436
}

.grey a.btn.btn-learn:hover,.reviewingapps a.btn.btn-learn:hover,
.prj6 .colorbox a.btn.btn-learn:hover {
	background: #292C2D
}

.grey a.btn.btn-learn:active,.reviewingapps a.btn.btn-learn:active ,
.prj6 .colorbox a.btn.btn-learn:active{
	background: #1B1D1E
}

.btn-learn.green,.green,.green a.btn.btn-learn,.openforapps,.openforapps a.btn.btn-learn,
.prj1 .colorbox, .prj1 .colorbox a.btn.btn-learn
	{
	background: #74882E;
	color: #fff
}

.btn-default:hover,.btn-learn.green:hover,.green a.btn.btn-learn:hover,.openforapps a.btn.btn-learn:hover,

.prj1 .colorbox a.btn.btn-learn:hover
	{
	color: #fff;
	background: #6a7d2a
}

.btn-default:active,.btn-default:focus,.btn-learn.green:active,.green a.btn.btn-learn:active,.openforapps 

a.btn.btn-learn:active,
.prj1 .colorbox a.btn.btn-learn:active
	{
	background: #434f1b
}

.dgreen,.dgreen a.btn.btn-learn {
	background: #3A3A11
}

.dgreen a.btn.btn-learn:hover {
	background: #35340F
}

.dgreen a.btn.btn-learn:active {
	background: #2B2A0A
}

.prj5 .colorbox,.prj5 .colorbox a.btn.btn-learn,.red,.red a.btn.btn-learn
	{
	background: #8B1B1D
}

.prj5 .colorbox a.btn.btn-learn:hover,.red a.btn.btn-learn:hover {
	background: #7F181E
}

.prj5 .colorbox a.btn.btn-learn:activ,.red a.btn.btn-learn:active {
	background: #701116
}

.prj3 .colorbox,.prj3 .colorbox a.btn.btn-learn, .orange,.orange a.btn.btn-learn {
	background: #BB6B0C
}

.prj3 .colorbox a.btn.btn-learn:hover, .orange a.btn.btn-learn:hover {
	background: #AD610E
}

.prj3 .colorbox a.btn.btn-learn:active, .orange a.btn.btn-learn:active {
	background: #9B5407
}

.prj4 .colorbox , .prj4 .colorbox a.btn.btn-learn, .blue,.blue a.btn.btn-learn {
	background: #135487
}

.prj4 .colorbox a.btn.btn-learn:hover, .blue a.btn.btn-learn:hover {
	background: #104970
}

.prj4 .colorbox a.btn.btn-learn:active,.blue a.btn.btn-learn:active {
	background: #0C3E60
}

.prj2 .colorbox, .prj2 .colorbox a.btn.btn-learn, .cyan,.cyan a.btn.btn-learn {
	background: #8AB0A3
}

.prj2 .colorbox a.btn.btn-learn:hover, .cyan a.btn.btn-learn:hover {
	background: #78A091
}

.prj2 .colorbox a.btn.btn-learn:active, .cyan a.btn.btn-learn:active {
	background: #618E7D
}
/*
.grey, .grey a.btn.btn-learn, .reviewingapps, .reviewingapps a.btn.btn-learn {
    background: none repeat scroll 0 0 rgb(49, 52, 54);
}
.grey a.btn.btn-learn:hover, .reviewingapps a.btn.btn-learn:hover {
    background: none repeat scroll 0 0 rgb(41, 44, 45);
}
.grey a.btn.btn-learn:active, .reviewingapps a.btn.btn-learn:active {
    background: none repeat scroll 0 0 rgb(27, 29, 30);
}
.btn-learn.green, .green, .green a.btn.btn-learn, .openforapps, .openforapps a.btn.btn-learn {
    background: none repeat scroll 0 0 rgb(116, 136, 46);
    color: rgb(255, 255, 255);
}
.btn-default:hover, .btn-learn.green:hover, .green a.btn.btn-learn:hover, .openforapps a.btn.btn-learn:hover {
    background: none repeat scroll 0 0 rgb(106, 125, 42);
    color: rgb(255, 255, 255);
}
.btn-default:active, .btn-default:focus, .btn-learn.green:active, .green a.btn.btn-learn:active, .openforapps a.btn.btn-learn:active {
    background: none repeat scroll 0 0 rgb(67, 79, 27);
}
.dgreen, .dgreen a.btn.btn-learn {
    background: none repeat scroll 0 0 rgb(58, 58, 17);
}
.dgreen a.btn.btn-learn:hover {
    background: none repeat scroll 0 0 rgb(53, 52, 15);
}
.dgreen a.btn.btn-learn:active {
    background: none repeat scroll 0 0 rgb(43, 42, 10);
}
.red, .red a.btn.btn-learn {
    background: none repeat scroll 0 0 rgb(139, 27, 29);
}
.red a.btn.btn-learn:hover {
    background: none repeat scroll 0 0 rgb(127, 24, 30);
}
.red a.btn.btn-learn:active {
    background: none repeat scroll 0 0 rgb(112, 17, 22);
}
.orange, .orange a.btn.btn-learn {
    background: none repeat scroll 0 0 rgb(187, 107, 12);
}
.orange a.btn.btn-learn:hover {
    background: none repeat scroll 0 0 rgb(173, 97, 14);
}
.orange a.btn.btn-learn:active {
    background: none repeat scroll 0 0 rgb(155, 84, 7);
}
.blue, .blue a.btn.btn-learn {
    background: none repeat scroll 0 0 rgb(19, 84, 135);
}
.blue a.btn.btn-learn:hover {
    background: none repeat scroll 0 0 rgb(16, 73, 112);
}
.blue a.btn.btn-learn:active {
    background: none repeat scroll 0 0 rgb(12, 62, 96);
}
.cyan, .cyan a.btn.btn-learn {
    background: none repeat scroll 0 0 rgb(98, 175, 160);
}
.cyan a.btn.btn-learn:hover {
    background: none repeat scroll 0 0 rgb(120, 160, 145);
}
.cyan a.btn.btn-learn:active {
    background: none repeat scroll 0 0 rgb(97, 142, 125);
}
*/
.olive, .olive a.btn.btn-learn {
    background: none repeat scroll 0 0 rgb(155, 135, 50);
}
.olive a.btn.btn-learn:hover {
    background: none repeat scroll 0 0 rgb(140, 121, 42);
}
.olive a.btn.btn-learn:active {
    background: none repeat scroll 0 0 rgb(119, 102, 32);
}
.black-bg, .black-bg a.btn.btn-learn {
    background: none repeat scroll 0 0 rgb(49, 52, 54);
}
a.btn.btn-learn {
    color: rgb(255, 255, 255);
    display: inline-block;
    float: none;
    margin: 0 0 13px;
    position: static;
    text-align: center;
    width: 189px;
}
a.btn.btn-learn.pdf, a.btn.btn-learn.pdf:active, a.btn.btn-learn.pdf:hover {
    background-image: url("/docroot/assets/pdf.png");
    background-position: 20px center;
    background-repeat: no-repeat;
    padding-left: 55px;
}
.board-of-directors .dgreen p, .board-of-directors .green p {
    min-height: 140px;
}
.board-of-directors .main img {
    display: inline-block;
    max-width: 100%;
    width: 100%; 
}
.board-of-directors .main .postheader > img{
	width:75%;
}
.board-of-directors h5 {
   min-height:2.8em;
}
.careers .heading {
    min-height: 90px;
}
img {
    height: auto;
    max-width: 100%;
}
.main p > a.pdf {
    line-height: 2.1em;
}
.main p > a.pdf:before {
    content: url("/docroot/assets/pdf-orange.png");
    padding: 0.6em;
}
div.col-sm-6.col-xs-12 div.logo-heading {
    background: none repeat scroll 0 0 rgb(219, 217, 202);
    min-height: 167px;
}
div.col-sm-4.col-xs-12 div.logo-heading {
    background: none repeat scroll 0 0 rgb(219, 217, 202);
    min-height: 107px;
}
div.logo-heading > img {
    height: 100%;
    width: 100%;
}
h4.modal-title {
    color: rgb(103, 117, 35);
}
html body h4.contact {
    font-size: 2.1em;
    font-weight: 600;
}
h4.contact.question-contact {margin-bottom:10px;} 

#youtubeModal853 .modal-content {
    background-color: rgb(33, 33, 33);
    border-radius: 0;
}
#youtubeModal853 .modal-body {
    padding: 0;
}
#youtubeModal853 .modal-lg {
    width: 854px;
}
#gmap-canvas {
    height: 100%;
    margin-bottom: 0;
    margin-top: 10px;
    min-height: 370px;
    min-width: 360px;
    padding-right: 30px;
    width: 100%;
  
}
#gmap-canvas .gmnoprint img {
    max-width: none;
}
div.address-block {
    margin-bottom: 0.2em;
    margin-top: 1.2em;
}
div.address-block > div > h4 {
    margin-bottom: 5px;
}
div.address-block > div > h6 {
    color: rgb(40, 43, 45);
    margin-bottom: 22px;
    margin-top: 0;
}
html body .section-photobox {
    margin-bottom: 0;
    overflow: hidden;
    padding-top: 0;
}
.section-photobox .col-xs-12.image {
    float: right;
    padding-left: 0;
    padding-right: 0;
}
.section-photobox .col-xs-12.image img {
    width: 100%;
}
.section-photobox .col-xs-12.content {
    min-height: 80px;
    padding: 0 3em;
}
.section-photobox h3 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    margin: 28px 0 18px;
}
.section-photobox p {
    color: rgb(255, 255, 255);
}
.quote {
   /* background: none repeat scroll 0 0 rgb(98, 175, 160);*/
    color: rgb(255, 255, 255);
    margin-bottom: 2.6em;
    padding: 2.3em 3.2em 0.8em;
}
.quote p, .quote li {
    color: rgb(255, 255, 255);
    font-family: "Roboto Slab",serif;
    font-size: 1.6em;
    font-weight: 100;
    line-height: 1.55em;
}
.quote p.quoteAuthor {
    font-family: "Open Sans",sans-serif;
    font-size: 1.3em;
    font-weight: 100;
    line-height: 1em;
}
.post {
    margin-bottom: 70px;
}
.postheader {
    position: relative;
}
.postheader h3 {
    background: none repeat scroll 0 0 rgb(116, 136, 46);
    bottom: 0;
    color: rgb(243, 241, 222);
    margin: 0 0 0 30px;
    padding: 15px 15px 20px 25px;
    position: absolute;
}
.postheader.no-image h3 {
    display: inline-block;
    position: relative;
}
div.arrowcontainer {
    display: inline-block;
}
.postmeta {
    background: none repeat scroll 0 0 rgb(187, 107, 12);
    display: inline-block;
    height: 50px;
    margin: 0 0 0 30px;
    min-width: 260px;
    padding: 15px 20px 10px;
    position: relative;
    width: auto;
}
.photobox.postmeta {
    height: 70px;
}
.postmeta.arrow {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: rgb(187, 108, 12) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 10px 200px 0 0;
    height: 0;
    padding: 0;
    position: absolute;
    width: 0;
}
.postmeta p {
    color: rgb(255, 255, 255);
    white-space: nowrap;
}
.postactions {
    display: inline-block;
    height: 50px;
    margin-left: 30px;
    padding: 10px 0 0;
    vertical-align: top;
}
.postactions p {
    color: rgb(187, 107, 12);
    display: inline-block;
    font-weight: 600;
    margin-right: 10px;
    padding-top: 5px;
    vertical-align: top;
}
.main p > a.pdf, .main p > a.postLink, .postactions a {
    color: rgb(187, 107, 12);
    font-weight: 600;
    padding-top: 5px;
    vertical-align: top;
}
.main p > a.postLink {
    color: rgb(187, 107, 12);
    font-weight: 600;
    padding-right: 0.6em;
    padding-top: 5px;
    vertical-align: 35%;
}
.main .post-list p {
    color: rgb(187, 107, 12);
    font-weight: 600;
    line-height: 1.7em;
    margin-bottom: 28px;
    padding-top: 5px;
    vertical-align: top;
}
.main .post-list h4 {
    margin-bottom: 0.6em;
    text-transform: uppercase;
}
.postactions a.share {
    background-color: rgb(187, 107, 12);
    background-size: contain;
    border-radius: 15px;
    display: inline-block;
    height: 30px;
    margin: 0 5px;
    padding-top: 0;
    width: 30px;
}
.postactions a.twitter {
    background-image: url("/docroot/assets/asidetwitter.png");
}
.postactions a.facebook {
    background-image: url("/docroot/assets/asidefacebook.png");
}
.postactions a:hover {
    color: rgb(173, 97, 14);
}
.postactions a:active {
    color: rgb(155, 84, 7);
}
.postactions a.share:hover {
    background-color: rgb(173, 97, 14);
}
.postactions a.share:active {
    background-color: rgb(155, 84, 7);
}
.postexerpt {
    margin: 30px;
}
.postexerpt h5 {
    color: rgb(187, 107, 12);
    margin-bottom: 5px;
}
.postexerpt p.tags {
    padding-bottom: 20px;
}
p.tags a {
    color: rgb(38, 38, 38);
}
p.tags a:active, p.tags a:hover {
    color: rgb(38, 38, 38);
    text-decoration: underline;
}
.postexerpt a.btn-learn {
    position: inherit;
}
.pagination {
    clear: both;
    display: block;
}
.pagination .next {
    clear: right;
    float: right;
}
.pagination .next span {
    background: none repeat scroll 0 0 rgb(116, 136, 46);
    display: inline-block;
    height: 40px;
    margin-left: 20px;
    padding: 7px 8px;
    width: 40px;
}
.pagination a:hover {
    color: rgb(106, 125, 42);
}
.pagination .next a:hover span {
    background: none repeat scroll 0 0 rgb(106, 125, 42);
}
.pagination a:active {
    color: rgb(67, 79, 27);
}
.pagination .next a:active span {
    background: none repeat scroll 0 0 rgb(67, 79, 27);
}
.photobox.postmeta {
    display: block;
    margin: 0;
}
.photobox.postmeta > div.meta-date {
    float: left;
    font-size: 1.2rem;
}
.photo-box-share.addthis_sharing_toolbox {
    float: left;
    margin-top: 10px;
    padding-right: 0;
}
div.photo-box-share .addthis_20x20_style .at300bs {
    background: url("/docroot/assets/social-abmi.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}
div.photo-box-share .addthis_20x20_style .at300bs, div.post-box-share .addthis_20x20_style .at300bs {
    height: 24px !important;
    line-height: 24px !important;
    width: 24px !important;
}
.post-box-share.addthis_sharing_toolbox .addthis_20x20_style .at15nc.at15t_facebook, div.photo-box-share .addthis_20x20_style .at15nc.at15t_facebook {
    background-position: 0 -1px !important;
}
.post-box-share.addthis_sharing_toolbox .addthis_20x20_style .at15nc.at15t_twitter, div.photo-box-share .addthis_20x20_style .at15nc.at15t_twitter {
    background-position: 0 -26px !important;
}
.post-box-share.addthis_sharing_toolbox .addthis_20x20_style .at15nc.at15t_pinterest_share, div.photo-box-share .addthis_20x20_style .at15nc.at15t_pinterest_share {
    background-position: 0 -51px !important;
}
.post-box-share.addthis_sharing_toolbox .addthis_20x20_style .at15nc.at15t_email, div.photo-box-share .addthis_20x20_style .at15nc.at15t_email {
    background-position: 0 -76px !important;
}
.post-box-share.addthis_sharing_toolbox .addthis_20x20_style .at15nc.at15t_compact, div.photo-box-share .addthis_20x20_style .at15nc.at15t_compact {
    background-position: 0 -101px !important;
}
div.post-box-share .addthis_20x20_style .at300bs {
    background: url("/docroot/assets/social-orange-abmi.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}
.col-lg-12.blue, .col-lg-12.cyan, .col-lg-12.dgreen, .col-lg-12.green, .col-lg-12.grey, .col-lg-12.orange, .col-lg-12.red {
    padding: 15px 20px 10px;
}
.col-lg-12.dgreen h4, .col-lg-12.green h4 {
    font-size: 2.1em;
    font-weight: 400;
    margin-bottom: 3px;
    margin-top: 7px;
}
.col-lg-12.dgreen h5, .col-lg-12.green h5 {
    font-size: 1.7rem;
    font-weight: 300;
    margin-bottom: 15px;
}
/* joan removed margin-top */
.bod p {
	font-size: 1.3rem;
}
 .download-resource p {
    font-size: 1.3rem;
    margin-top: 1em;
}
.bod a.btn.btn-learn, .download-resource a.btn.btn-learn, .openforapps a.btn.btn-learn, .projectboxes a.btn.btn-learn, .reviewingapps a.btn.btn-learn {
    border: 1px solid rgb(255, 255, 255);
}
.row.post .postmeta.arrow {
    display: inline-block;
    visibility: hidden;
}
footer {
    background-color: rgb(49, 52, 54);
    margin-top: 35px;
}
footer h3 {
    clear: left;
    color: rgb(255, 255, 255);
    font-size: 2.2em;
    line-height: 1.2em;
    margin: 48px 0 15px;
}
footer ul {
    list-style: none outside none;
    margin-bottom: 55px;
    padding: 0;
}
footer ul li {
    padding-bottom: 8px;
}
footer ul li a {
    color: rgb(166, 168, 171);
    font-size: 11pt;
}
footer p {
    color: rgb(166, 168, 171);
    margin-bottom: 6px;
}
.fine-print {
    background-color: rgb(38, 38, 38);
    padding: 20px 15px;
}
.form-control {
    background-color: rgb(166, 168, 171);
    border: medium none;
    border-radius: 0;
    color: rgb(49, 52, 54);
    font-size: 1.3em;
  /*padding: 23px 15px*/
	height:46px;
}
@-moz-document url-prefix("") {
.form-control {
    /*height: 3.55em;*/
    padding: 0 15px;
}
}
.form-control:focus {
    border: medium none;
    box-shadow: none;
}
.contact-form > form label {
    background: none repeat scroll 0 0 rgb(103, 117, 35);
    color: rgb(243, 241, 222);
    display: inline-block;
    float: none;
    font-size: 1.8em;
    font-weight: 200;
    margin-bottom: 0;
    padding: 0.8em 1.6em 0.6em 1.2em;
    text-align: left;
}
.contact-form > form input, .contact-form > form select, .contact-form > form textarea {
    background: none repeat scroll 0 0 rgb(226, 224, 208);
    border: 1px solid rgb(226, 224, 208);
    color: rgb(40, 43, 45);
    display: block;
    float: none;
    font-size: 1.8em;
    height: 2.8em;
    margin-bottom: 2.2em;
    padding-left: 1em;
    text-align: left;
    width: 96%;
}
.contact-form > form textarea {
    min-height: 12em;
    padding-top: 0.5em;
    width: 98%;
}
/*button input*/
.contact-form > form input[type="submit"] {
    background: none repeat scroll 0 0 rgb(103, 117, 35);
    border: 1px solid rgb(103, 117, 35);
    color: rgb(243, 241, 222);
    display: inline-block;
    float: none;
    font-size: 1.8em;
    margin-bottom: 0.5em;
    padding: 0.8em 3.5em;
    text-align: center;
    text-transform: uppercase;
	max-width:190px; /**/
}
.fullWidth {
    height: auto;
    width: 100%;
}
.carousel-inner > .item > a > img.hard35_7p, img.hard35_7p {
    max-width: 35.7%;
}
.container .col-sm-12.text-center {
    margin-top: 0.4em;
}
@media only screen and (max-width: 320px) {
input.sidemenuSearch {
    max-width: 208px;
}
}
@media only screen and (min-width: 320px) {
body {
    font-size: 90%;
}
.navbar-default .navbar-nav > li > a {
    font-size: 1.6rem;
    padding: 16px 3em 18px;
}
.container.nav-container {
    padding-left: 0;
    padding-right: 0;
}
.navbar-header {
    padding-right: 15px;
}
.jumbotron {
  /*  background: url("/docroot/assets/grasslands_video.jpg") no-repeat scroll center top, none repeat scroll 0 0 rgb(58, 58, 17);*/
    min-height: 280px;


}
.jumbotron1 {
   background: url("/docroot/assets/Video-01.jpg") no-repeat scroll center top, none repeat scroll 0 0 rgb(58, 58, 17);
    min-height: 280px;
}

.jumbotron2 {
   background: url("/docroot/assets/Video-02.jpg") no-repeat scroll center top, none repeat scroll 0 0 rgb(58, 58, 17);
    min-height: 280px;
}

.jumbotron3 {
   background: url("/docroot/assets/Video-03.jpg") no-repeat scroll center top, none repeat scroll 0 0 rgb(58, 58, 17);
    min-height: 280px;
}

.jumbotron4 {
   background: url("/docroot/assets/Video-04.jpg") no-repeat scroll center top, none repeat scroll 0 0 rgb(58, 58, 17);
    min-height: 280px;
}

.jumbotron h1 {
    font-size: 4.2em;
}
.jumbotron h1.sub-heading {
    font-size: 2em;
    line-height: 1.6em;
    margin-bottom: 30px;
}
.divider h2 {
    font-size: 2.7em;
}
.row-fluid.breadcrumb .col-lg-12 > h3, .row.breadcrumb .col-lg-12 {
    line-height: 50px;
}
.row-fluid.breadcrumb .col-lg-12.tmch3 > h3, .row.breadcrumb .col-lg-12.tmch3 > h3 {
    font-size: 2.3em;
}
.row-fluid.breadcrumb, .row.breadcrumb {
    min-height: 54px;
}
.learn-more .column {
    min-height: 0;
}
.btn-primary {
    margin-bottom: 30px;
    width: 100%;
}
.half {
    margin-bottom: 30px;
    min-height: 0;
    width: 100%;
}
.carousel-inner p {
    margin-bottom: 40px;
}
.navbar-nav {
    margin: 0;
}
.logo {
    height: 67px;
    width: 67px;
}
.logo a {
    background: url("/docroot/assets/abmi_logo75.png") no-repeat scroll center center rgb(103, 117, 35);
}
.navbar-toggle {
    margin-top: 12px;
    padding: 14px 16px;
}
h2 {
    font-size: 3em;
    line-height: 1.3em;
    padding: 36px 0 30px;
}
h3 {
    font-size: 2.6rem;
    line-height: 36px;
    margin: 5px 0 24px;
}
h3.h3_24 {
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 1.2em;
    margin: 30px 0 25px;
}
h4 {
    font-size: 2em;
    line-height: 1.4em;
}
.postheader h3 {
    font-size: 2.6rem;
}
h5 {
    font-size: 1.4rem;
}
.aside ul {
    margin-bottom: 15px;
    margin-top: 10px;
}
a.button {
    margin-bottom: 1.6em;
    margin-left: 6%;
    margin-right: 6%;
    width: 88%;
}
.btn-grouping {
    margin-bottom: 42px;
    overflow: auto;
}
.item .column, .tile .column {
    margin: 4% 8% 6%;
    width: 84%;
}
.container.boxTargets div.btn-learn-green {
    bottom: 0;
    clear: both;
    float: none;
    font-size: 1.4em;
    margin: 0;
    overflow: hidden;
    padding: 15px 30px;
    position: relative;
    right: 0;
    width: 100%;
}
li, p {
    font-size: 1.4rem;
    line-height: 1.5em;
}
.spotlight .overlay h3 {
    font-size: 2.7em;
    line-height: 1em;
}
.spotlight .overlay h4 {
    font-size: 2em;
}
h2.partners {
    font-size: 3.6em;
    padding: 22px 0 15px;
}
.sponsor {
    margin: 12px 20px 25px 10px;
    width: 96%;
}
a.btn-learn {
    bottom: 0;
    float: none;
    font-size: 1.2em;
    margin-top: 25px;
    padding: 13px 32px;
    position: relative;
    right: 0;
}
.postheader h3 {
    margin: 0;
    position: relative;
}
.postmeta {
    margin: 0;
}
.postmeta p {
    font-size: 1.2rem;
}
.postactions {
    margin-left: 0;
}
.postactions a {
    font-size: 0.8em;
}
.postexerpt {
    margin: 5px;
}
.post-box-share.addthis_sharing_toolbox {
    float: left;
    margin-top: 0.5em;
    padding-left: 0;
}
.postactions p {
    float: left;
}
.row-fluid.explore, .row.explore {
    padding-top: 2em;
}
ul.faq.supplementary {
    margin: 15px 0 10px 5px;
}
.faq.supplementary .collapse, .faq.supplementary .collapsing {
    margin-left: 5px;
}
.mdside {
    clear: both;
}
#gmap-canvas {
    margin-bottom: 1.4em;
}
}
@media only screen and (min-width: 400px) {
.postmeta {
    min-width: 325px;
}
.postmeta p {
    font-size: 1.4rem;
}
}
@media only screen and (min-width: 480px) {
.btn-primary {
    width: auto;
}
.input-group {
    margin-right: 30px;
}
a.button {
    font-size: 1.9em;
}
.tile {
    max-height: 282px;
}
.divider h2 {
    font-size: 3.7em;
}
.row-fluid.breadcrumb .col-lg-12.tmch3 > h3, .row-fluid.breadcrumb .col-lg-12 > h3, .row.breadcrumb .col-lg-12.tmch3 > h3, .row.breadcrumb .col-lg-12 > h3 {
    font-size: 3.2em;
    line-height: 60px;
}
.search div:focus, .search div:hover {
    width: 280px;
max-width:20%;	/**/
}
.search div input {
    width: 215px;
}
a.button {
    display: block;
    margin: 10px 25% 20px;
    width: 50%;
}
.postexerpt {
    margin: 50px 30px 30px;
}
a.btn.btn-learn {
    max-width: 99%;
}
.aside {
    margin-bottom: 5px;
    padding-top: 5px;
}
.aside ul {
    margin-bottom: 0;
    margin-top: 5px;
}
.post-box-share.addthis_sharing_toolbox {
    float: right;
    margin-top: 0.8em;
    padding-left: 2.5em;
}
.faq.supplementary.post-box-share.addthis_sharing_toolbox {
    float: right;
    margin-top: 0;
    padding-left: 1em;
}
.faq.supplementary .collapse, .faq.supplementary .collapsing {
    margin-left: 35px;
}
ul.faq.supplementary {
    margin: 25px 30px 30px;
}
}
@media only screen and (min-width: 768px) {
.jumbotron {
    background-size: cover;
    min-height: 320px;
}
.jumbotron h1 {
    font-size: 6.6em;
    font-weight: 700;
}
.jumbotron h1.sub-heading {
    font-size: 2.3em;
    margin-top: 1.2em;
}
.container.nav-container {
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-header {
    padding-right: 0;
}
h2 {
    font-size: 4em;
}
h3.h3_24 {
    font-size: 2.3em;
    line-height: 40px;
    margin: 1.2em 0 1.9em;
}
h2.partners {
    font-size: 5em;
    padding: 52px 0 25px;
}
h3 {
    font-size: 3.6rem;
    margin: 42px 0 48px;
}
h4 {
    font-size: 1.9em;
    line-height: 1em;
}
h5 {
    font-size: 1.8rem;
    line-height: 1.4em;
}
.col-lg-ex-pad {
    padding-left: 60px;
    padding-right: 60px;
}
.postheader h3 {
    font-size: 3.2rem;
}
footer ul {
    margin-bottom: 0;
}
a.button {
    margin-bottom: 1%;
}
.half {
    min-height: 282px;
    width: 47.4%;
}
.board-of-directors .main {
    padding-left: 0;
}
.logo {
    height: 75px;
    width: 75px;
}
.logo a {
    background: url("/docroot/assets/abmi_logo75.png") no-repeat scroll center center rgb(103, 117, 35);
}
a.oneLine {
    line-height: 250%;
}
.item .column, .tile .column {
    margin: 0;
    padding: 2em 3em;
    width: 64%;
}
.container.boxTargets div.btn-learn-green {
    bottom: 0;
    float: left;
    margin: 0;
    position: relative;
    right: 0;
    width: auto;
}
.btn-grouping {
    margin-bottom: 62px;
}
.sponsor {
    margin: 12px 5% 30px 0;
    width: 30%;
}
.sponsor.last {
    margin-right: 0;
}
a.button.btn-learn {
    display: inline-block;
    font-size: 1.6em;
    padding: 19px 42px 0;
    width: auto;
}
.postheader h3 {
    margin: 0 0 0 30px;
    position: absolute;
}
.aside {
    margin-bottom: 5px;
    padding-top: 5px;
}
.aside ul {
    margin-bottom: 0;
    margin-top: 15px;
}
.postmeta {
    margin: 0 0 0 30px;
    min-width: 290px;
}
.postactions {
    margin-left: 30px;
}
.postactions a {
    font-size: 1em;
}
.col-xs-12.arrowcontainer .postmeta.arrow {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: rgb(187, 108, 12) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 14px 725px 0 0;
    height: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 0;
}
.photobox.postmeta > div.meta-date {
    font-size: 1.4rem;
}
.photobox.postmeta {
    height: 50px;
}
.photo-box-share.addthis_sharing_toolbox {
    float: right;
    margin-top: 0;
    padding-right: 2em;
}
#gmap-canvas {
    margin-bottom: 2.4em;
}
.post .postheader > img {
    position: relative;
}
.post .postheader .post-feature-overlay > img {
    /*left: 65%;*/
left: 2%;
    position: absolute;
/*top: 5%*/
    top: 3.5%;
    z-index: 1590;
}
}
@media only screen and (min-width: 992px) {
.row.post .postmeta.arrow {
    display: inline-block;
    visibility: visible;
}
.logo a {
    background: url("/docroot/assets/abmi_logo.png") no-repeat scroll center center rgb(103, 117, 35);
}
.logo {
    height: 100px;
    width: 100px;
}
.tile {
    max-height: 283px;
}
.input-group {
    margin-right: 0;
}
a.button {
    font-size: 1.6em;
    margin: 0 1.6%;
    width: 30.2%;
}
h2 {
    font-size: 3.5em;
}
.row-fluid.breadcrumb .col-lg-12.tmch3 > h3, .row-fluid.breadcrumb .col-lg-12 > h3, .row.breadcrumb .col-lg-12.tmch3 > h3, .row.breadcrumb .col-lg-12 > h3 {
    font-size: 3.1em;
    line-height: 66px;
    padding-bottom: 0.2em;
}
.postheader h3 {
    font-size: 3.5rem;
}
footer ul {
    margin-bottom: 66px;
}
.spotlight .overlay h3 {
    font-size: 3.7em;
    line-height: 1em;
}
.spotlight .overlay h4 {
    font-size: 2.4em;
    font-weight: 400;
    line-height: 1.2em;
}
.learn-more a.btn-learn, .learn-more button.btn-learn, a.btn-learn {
    bottom: 30px;
    float: right;
    margin-top: 25px;
    padding: 13px 32px;
    position: absolute;
}
.row-fluid.explore, .row.explore {
    padding-top: 0;
}
.mdside div.sidemenu {
    border-left: 1px solid rgb(49, 52, 54);
    padding: 0 0 0 14px;
}
.mdside div.sidemenu ul {
    margin-left: -2px;
    padding: 0;
}
.mdside {
    clear: none;
}
.aside {
    margin-bottom: 35px;
    padding-top: 35px;
}
.aside ul {
    margin-bottom: 40px;
    margin-top: 25px;
}
#gmap-canvas {
    margin-bottom: 0;
}
}
@media (max-width: 1199px) {
div.clear-to-lg {
    clear: both;
    overflow: hidden;
}
header .container {
    width: 100%;
}
.navbar-header {
    float: none;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse.collapse {
    display: none !important;
    margin-left: -15px;
    margin-right: -15px;
}
.navbar-nav {
    float: none !important;
}
.navbar-nav > li {
    float: none;
}
.navbar-nav > li > a {
    padding-bottom: 10px;
    padding-top: 10px;
}
.navbar-collapse.collapse.in {
    display: block !important;
}
.collapsing {
    overflow: hidden !important;
}
.navbar-nav .open .dropdown-menu, .navbar-right .dropdown-menu {
    background-color: rgb(243, 240, 223);
    left: auto;
    padding: 0;
    right: auto;
    width: 100%;
}
.navbar-right .dropdown-menu .row {
    width: auto;
}
.navbar-right .dropdown-menu .row ul li a {
    color: rgb(58, 58, 17);
    display: block;
    font-family: "Roboto Slab",serif;
    font-size: 1.2em;
    font-weight: 700;
    padding: 0.8em 1em 0.8em 4.5em;
    transition: background-color 0.5s ease-out 0s;
}
.dropdown-menu .row ul li a:active, .navbar-right .dropdown-menu .row ul li a:hover {
    background-color: rgb(103, 117, 35);
    color: rgb(255, 255, 255);
}
.aside {
    clear: both;
}
.container.boxTargets div.btn-learn-green {
    bottom: 0;
    float: left;
    position: relative;
    right: 0;
}
div.side-top-nav.col-lg-3 {
    float: left;
    margin-bottom: 0;
    padding-top: 35px;
}
div.widget.listSyle {
    display: block;
    margin-bottom: 1em;
    vertical-align: 100%;
}
div.widget.searchbox {
    display: block;
}
input.sidemenuSearch {
    max-width: 80%;
    width: 400px;
}
}
@media only screen and (min-width: 1200px) {
body {
    font-size: 100%;
}
.dropdown-menu {
    background-color: rgb(58, 58, 17);
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    padding-bottom: 0;
    padding-top: 0;
z-index:3000;
}
.dropdown-menu li ul {
    padding: 30px 15px 40px;
}
.dropdown-menu li a {
    color: rgb(232, 228, 191);
    display: block;
/*    line-height: 2em;*/
line-height: 1.2em;
		margin-bottom:1em;
}
.dropdown-menu li a:hover {
    background-color: rgb(58, 58, 17);
    color: rgb(255, 255, 255);
}
ul.dropdown-menu li .row ul li {
    padding: 5px 0;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: rgb(58, 58, 17);
    color: rgb(255, 255, 255);
}
.dropdown-menu .row {
    width: 960px;
}
.dropdown-menu div.visible-lg {
    float: left;
}
/*set max width*/
.dropdown-menu .list-unstyled {
	display: inline-block;
		margin: 0 9px;
		vertical-align: top;
		max-width:250px;
}
.biodiversity ul.dropdown-menu {
    width: 788px;
}
.about ul.dropdown-menu {
    width: 860px;
}
.whatwedo ul.dropdown-menu {
    width: 750px;
}
.ourdata ul.dropdown-menu {
    width: 590px;
}
.naturelynx ul.dropdown-menu {
    width: 470px;
}
.contact ul.dropdown-menu {
    width: 380px;
}
.navbar-right .dropdown-menu {
    left: -300px;
    right: auto;
}
.navbar-nav {
    margin: 0 -15px;
}
.navbar-default .navbar-nav > li > a {
    padding: 22px 0.9em 23px;
}
.container {
    max-width: 1170px;
    padding: 0;
}
.learn-more .column {
    min-height: 283px;
}
.fine-print {
    padding: 20px 15px 20px 0;
}
div.sidemenu {
    border-left: 1px solid rgb(49, 52, 54);
    padding: 0 0 0 14px;
}
.sidemenu ul {
    margin-left: -2px;
    padding: 0;
}
div.side-top-nav.col-lg-3 {
    float: right;
    padding-top: 35px;
}
}


	/*added by Joan
.navbar-collapse.in ul.list-unstyled li a {
	color: rgb(232, 228, 191); 
	padding-left: 4em
	}
*/
}


.colorQuote {padding: 15px;}

.extradocs {
	
	padding-left: 0
}

.extradocs li {
	list-style-type: none
}

.extradocs input[type=button]:hover {
	color: #74882E
}

.extradocs input[type=button] {
	-webkit-appearance: none;
	background: url(/docroot/assets/collapsed-minus.png) no-repeat left
		center;
	font-weight: 700;
	line-height: 22px;
	color: #313436;
	border: none;
	white-space: normal;
	text-align: left;
	padding: 17px 0 17px 35px;
	outline: 0
}

.extradocs input[type=button].collapsed {
	background: url(/docroot/assets/collapsed-plus.png) no-repeat left
		center;
	font-weight: 400
}

.extradocs .collapse,.extradocs .collapsing {
	
	margin: 0 0 0 5px;
	font-weight: 400;
	padding-left: 30px
}

.endrow {clear:both;}

.notebelowheader {margin-top:-10px;}

.greentext p {
    color: rgb(116, 136, 46);
    font-weight: 600;
}
.orangetext p, .orangetext a {color:#AD610E; }

.minheight50 {min-height:150px;}


/*
.searchbox {min-height:100px;} 
*/

/*copied and modified from .faq*/
.glossary {
    
    padding-left: 0;
}

.sidemenu .glossary li {
   margin-bottom: 8px;
}

.glossary li {
    list-style-type: none;
}
.glossary input[type="button"]:hover {
    color: rgb(116, 136, 46);
}
.glossary input[type="button"] {
  background: url("/docroot/assets/collapsed-minus.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    border: medium none;
    color: rgb(49, 52, 54);
    font-weight: 700;
    line-height: 22px;
    outline: 0 none;
    padding: 17px 0 17px 35px;
    text-align: left;
    white-space: normal;
}
.glossary input.collapsed[type="button"] {
    background: url("/docroot/assets/collapsed-plus.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    font-weight: 400;
}
.glossary .collapse, .glossary .collapsing {
  /*  border-left: 7px solid rgb(116, 136, 46);*/
    font-weight: 400;
  /*  margin: 0 0 0 60px;*/
    padding-left: 30px;
}


.projectshorttitle {
    font-size: 3em;
    font-weight: 800;
    min-height: 110px;
    padding: 15px 0;
}

.paddingleft {padding-left:15px;}

/* image with caption */
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.wp-caption-text {
    font-size: 0.85em;
    font-style: italic;
}

/* common button */


a.btn-common{
    bottom: 30px;
   
    margin-top: 25px;
    padding: 13px 32px;
  

    float: none;
    font-size: 1.2em;
    color:#ffffff;

}

/*by tony*/
.postmeta { margin: 0 0 0 30px; min-width: 290px; height: auto; }
.postmeta p { margin-bottom: 0.35em; }
.arrowcontainer .postmeta.arrow{ display: none; visibility: hidden;}

.sidemenuSearch::-webkit-input-placeholder { color: #E7F0C7;}
.sidemenuSearch:-moz-placeholder {color: #E7F0C7;}
.sidemenuSearch::-moz-placeholder {color: #E7F0C7;}
.sidemenuSearch:-ms-input-placeholder {color: #E7F0C7;}

/*Photo Caption Treatment

<p class="photo-caption-text"><span>Photo by Sonya Poller</span>Caribou Range Map</p>
*/

p.photo-caption-text{ font-family: "Open Sans", sans-serif; font-style: italic; font-size: 15px; line-height: 18px; color: #979494; padding: 0.75em 0 0; }
p.photo-caption-text > span{ margin-right: 0.5em; color: #26282A; }



/*Generic H treatment*/

h1{ font-size: 72px; font-weight: 600; }
h2{ font-size: 48px; font-weight: 600; }
h3{ font-size: 36px; }
h4{ font-size: 24px; }
h5{ font-size: 18px; }
h6{ font-size: 15px; font-weight: 400; }
