.overlay {
	z-index: 500;
}

.html5video {
	z-index: 350;
}

/*carousel-*/
ol.carousel-indicators {
	left: 36%;
}

.sidemenu>ul>li a.pdf::before,.list.widget>ul>li a.pdf::before {
	padding: 0.6em 0.6em 0.6em 0;
	vertical-align: -50%;
}

.search div input {
	right: 0;
}

.search div input.btn {
	background: rgb(103, 117, 35) url("../assets/search.png") no-repeat
		scroll right 15px center;
	border: medium none;
	color: rgb(255, 255, 255);
	float: right;
	font-size: 2em;
	height: 65px;
	padding-left: 15px;
	position: relative;
	width: 80px;
}

.search div input#q {
	background-color: rgba(0, 0, 0, 0);
	border: medium none;
	color: rgb(255, 255, 255);
	font-size: 2em;
	height: 65px;
	left: 0;
	padding-left: 15px;
	position: absolute;
	width: 214px;
}
/* start project boxes*/
.colorbox p {
	color: rgb(255, 255, 255);
}

.col-lg-12.colorbox {
	padding: 15px 20px 10px;
}

.colorbox {
	margin-bottom: 35px;
}

.colorbox p {
	min-height: 150px;
}

.colorbox h4 {
	color: rgb(255, 255, 255);
	font-size: 2.1em;
	font-weight: 400;
	margin-bottom: 3px;
	margin-top: 7px;
}

.prj6 .colorbox,.prj6 .colorbox a.btn.btn-learn {
	background: #313436 none repeat scroll 0 0;
}

.prj6 .colorbox a.btn.btn-learn:hover {
	background: #292c2d none repeat scroll 0 0;
}

.prj6 .colorbox a.btn.btn-learn:active {
	background: #1b1d1e none repeat scroll 0 0;
}

.prj1 .colorbox,.prj1 .colorbox a.btn.btn-learn {
	background: #74882e none repeat scroll 0 0;
	color: #fff;
}

.prj1 .colorbox a.btn.btn-learn:hover {
	background: #6a7d2a none repeat scroll 0 0;
	color: #fff;
}

.prj1 .colorbox a.btn.btn-learn:active {
	background: #434f1b none repeat scroll 0 0;
}

.prj5 .colorbox,.prj5 .colorbox a.btn.btn-learn {
	background: #8b1b1d none repeat scroll 0 0;
}

.prj5 .colorbox a.btn.btn-learn:hover {
	background: #7f181e none repeat scroll 0 0;
}

.prj3 .colorbox,.prj3 .colorbox a.btn.btn-learn {
	background: #bb6b0c none repeat scroll 0 0;
}

.prj3 .colorbox a.btn.btn-learn:hover {
	background: #ad610e none repeat scroll 0 0;
}

.prj3 .colorbox a.btn.btn-learn:active {
	background: #9b5407 none repeat scroll 0 0;
}

.prj4 .colorbox,.prj4 .colorbox a.btn.btn-learn {
	background: #135487 none repeat scroll 0 0;
}

.prj4 .colorbox a.btn.btn-learn:hover {
	background: #104970 none repeat scroll 0 0;
}

.prj4 .colorbox a.btn.btn-learn:active {
	background: #0c3e60 none repeat scroll 0 0;
}

.prj2 .colorbox,.prj2 .colorbox a.btn.btn-learn {
	background: #8ab0a3 none repeat scroll 0 0;
}

.prj2 .colorbox a.btn.btn-learn:hover {
	background: #78a091 none repeat scroll 0 0;
}

.prj2 .colorbox a.btn.btn-learn:active {
	background: #618e7d none repeat scroll 0 0;
}

.glossary {
	padding-left: 0;
}

.sidemenu .glossary li {
	margin-bottom: 25px;
}

.glossary li {
	list-style-type: none;
}

.sidemenu ul.glossary li a {
	line-height: 10px;
}

.glossary input[type="button"]:hover {
	color: rgb(116, 136, 46);
}

.glossary input[type="button"] {
	background: rgba(0, 0, 0, 0) url("../assets/collapsed-minus.png")
		no-repeat scroll left center;
	border: medium none;
	color: rgb(49, 52, 54);
	font-weight: 700;
	line-height: 22px;
	outline: 0 none;
	padding: 17px 0 17px 35px;
	text-align: left;
	white-space: normal;
}

.glossary input.collapsed[type="button"] {
	background: rgba(0, 0, 0, 0) url("../assets/collapsed-plus.png")
		no-repeat scroll left center;
	font-weight: 400;
}

.glossary .collapse,.glossary .collapsing {
	font-weight: 400;
	padding-left: 30px;
}

.projectshorttitle {
	font-size: 3em;
	font-weight: 800;
	min-height: 120px;
	padding: 15px 0;
}

.paddingleft {
	padding-left: 15px;
}

/* image with caption */
.wp-caption {
	max-width: 100%;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

.wp-caption-text {
	color: #979494;
	font-size: 15px;
	font-style: italic;
}

/* common button */
a.btn-common {
	bottom: 30px;
	color: #ffffff;
	float: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.4em;
	margin-top: 25px;
	padding: 13px 32px;
}

.raw-sidenav .navigation .ajax-map-image a {
	background-color: #ffffff;
}

p.photo-caption-text {
	color: #979494;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	font-style: italic;
	line-height: 18px;
	padding: 0.75em 0 0;
}

p.photo-caption-text>span {
	color: #26282a;
	margin-right: 0.5em;
}

.clearboth {
	clear: both;
}

li.clearboth {
	margin-bottom: 1em;
}

.quote li {
	color: #ffffff;
}

#rawdata-content .quote * {
	color: #ffffff !important;
}

.form-control {
	height: 46px;
} /*newletter signup input */

.form-control::-moz-placeholder { /* overwrite the style.css */
	color: rgba(255, 255, 255, 0.7) !important;
}

a.zoom {
	cursor: url(../assets/zoom-in.cur), all-scroll !important;
	/* for IE, you can't put zoom-in here */
	cursor: url(../assets/zoom-in.cur), zoom-in !important;
	/* firefox only picks the last row */
}

#zoomCon {
	cursor: zoom-out;
}

#rawdatadownload .quote p {
	color: #ffffff;
}

/** this part fix the multiple line right side menu display issues (including reference links, 

glossary) */
/*remove line height, and set margin bottom*/
.sidemenu ul li.active a {
	/*vertical-align: 100%; not working, as multiple lines vertical alignment don't work, only first line 

moves up*/
	/*display: table-cell;
    vertical-align: middle;
    don't work for single lines,
*/
	/* float:left; this don't work in the chrome, the list image float as well */
	line-height: 5px;
	padding: 10px 0;
	vertical-align: 400%;
}

.sidemenu ul li {
	list-style-type: none;
	margin-bottom: 25px;
}

.sidemenu ul li.active {
	margin-bottom: 10px;
	margin-top: -10px;
}

/* sub menu */
.sidemenu ul.submenu {
	margin-bottom: 20px;
	margin-top: -20px;
}

.sidemenu ul.submenu li {
	font-style: italic;
	list-style-image: none;
	margin-bottom: 10px;
	margin-top: 0;
	padding-left: 20px;
}

.sidemenu ul.submenu li.a:hover {
	color: rgb(116, 136, 46);
}

.sidemenu ul.submenu li.a {
	color: rgb(49, 52, 54);
}

.sidemenu ul .submenu li.active a {
	font-weight: 600;
	line-height: 10px;
	vertical-align: -0%;
	/* just to overwrite the main level menu vertical alignment, which is used to adjust the list image position */
}

.richtext p img {
	padding: 0 10px 10px 0;
}

/* change publicaiton */
.sidemenu-nav-expand .collapse:before {
	/* remove the green bar on document type subject type headers */
	background: none repeat scroll 0 0 transparent;
}

.sidemenu.publications-side {
	margin-bottom: 0;
	padding-bottom: 0;
}

.pagination .next span {
	margin-right: 20px;
}
/* publication right side menu */
.publications-side .sidemenu-nav-expand .collapse,.sidemenu-nav-expand .collapsing
	{
	border-left: medium none;
	font-weight: normal;
	margin: 0;
	padding-left: 0;
}

.sidemenu-nav-expand input[type="button"] {
	font-size: 20px;
	margin-bottom: 0;
	margin-left: 0;
	padding: 0 35px 0 0;
}


.sidemenu .publications-side ul li {
	margin-bottom: 15px;
}

.aside .publications-side ul {
	margin-bottom: 0;
	margin-top: 0;
}

.sidemenu .publications-side ul li {
	margin-bottom: 10px;
}

/* end of publicaiton right side menu*/

/* change publication title bar */
.green_title_bar {
	bottom: 0;
	color: #f3f1de;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 36px;
	padding-left: 30px;
	position: absolute;
	width: 100%;
}

.green_title_bar .title_line {
	background: #74882e none repeat scroll 0 0;
	padding: 10px 20px;
}

.queryparam {
	color: #bb6b0c;
	font-weight: 600;
}



/*ul list indent issue solved by using class ul-indent */
.richtext ul {
	display: table;
}

.jumbotron h1 {
	text-shadow: 2px 2px rgb(0, 0, 0);
}

/*past enews*/
.campaign>a {
	color: rgb(75, 76, 25);
	font-weight: 600;
	padding-left: 20px;
}

.campaign {
	color: rgb(40, 43, 45);
	font-size: 16px;
	font-weight: 600;
	margin: 15px 30px;
}

.campaign>a:hover {
	color: rgb(98, 107, 34);
}

/* vimeo video play buttons */
.playbutton {
	background: rgba(0, 0, 0, 0) url("../assets/playButtonUp.png") no-repeat
		scroll center center;
	bottom: 0;
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 199;
}

.playbutton:hover {
	background: rgba(0, 0, 0, 0) url("../assets/playButtonOver.png")
		no-repeat scroll center center;
	bottom: 0;
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 199;
}

.enews_pastissue_divider {
	padding: 0 15px;
}

/* teammember photo size reduce */
.teammember .postheader img {
	width: 80%;
}

.ui-tooltip {
	background-color: #bb6b0c !important;
	max-width: 40% !important;
	padding: 20px !important;
}

.ui-tooltip * {
	color: #ffffff;
}

.home .partner {
	text-align: center;
}

.raw-sidenav .navigation li.large-menu>a {
	font-size: 18px;
	font-weight: 600;
}

.raw-sidenav .navigation li.species-habitat-data a i.leftarrow {
	background: rgba(0, 0, 0, 0) url("../assets/arrows.png") no-repeat
		scroll 5px 0;
	float: right;
	height: 25px;
	margin-right: 3px;
	margin-top: 12px;
	width: 22px;
}

.raw-sidenav .navigation li.species-habitat-data a i.rightarrow {
	background: rgba(0, 0, 0, 0) url("../assets/arrows.png") no-repeat
		scroll -14px 0;
	float: right;
	height: 25px;
	margin-right: 5px;
	margin-top: 12px;
	width: 15px;
}

.raw-sidenav .gis-data li a {
	height: auto !important;
}

.widebox div.logo-heading {
	background: #dbd9ca none repeat scroll 0 0;
}

.widebox div.logo-heading>img {
	height: auto;
	width: auto;
}

.widebox {
	text-align: center;
}

.widebox p {
	text-align: left;
}

/** mega menu bottom padding */
.dropdown-menu li ul {
	padding: 30px 15px 0;
}

.page-content a.button { /** added by joan */
	color: #ffffff;
}

.search div:hover,.search div:focus {
	max-width: 20%; /*added by joan*/
}

.dropdown-menu li a {
	line-height: 1.2em;
	margin-bottom: 1em; /*added by joan */
}

/*set max width*/
.dropdown-menu .list-unstyled {
	max-width: 250px;
}

/*the rawdata part, the place holder for google search is black change to white
::-moz-placeholder { opacity:.8; font-style: italic; color: #ffffff!important;} * firefox 19+ *
:-ms-input-placeholder { opacity:.8; font-style: italic; color: #ffffff!important;} * ie *
 input:-moz-placeholder { opacity:.8; font-style: italic; color: #ffffff!important;} 
::-webkit-input-placeholder { color:#fff; opacity:.8; font-style: italic;color: #ffffff!important;}
all */
#jqueryTabs .ui-tabs-nav {
	background: transparent none repeat scroll 0 0;
	border-radius: 0;
	border-width: 0 0 1px;
}

#jqueryTabs .ui-tabs-panel {
	margin: 0 0.2em 0.2em;
}

#jqueryTabs {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border-width: 0;
	padding: 0;
}

#jqueryTabs .ui-tabs-nav {
	background: transparent none repeat scroll 0 0;
	border-radius: 0;
	border-width: 0;
	padding-left: 0;
}

#jqueryTabs .ui-tabs-panel {
	background: transparent none repeat scroll 0 0;
	border-width: 0;
}

#jqueryTabs .ui-tabs-nav li {
	border-bottom-width: 1px;
	margin-right: 20px;
	margin-top: 20px;
	max-width: 160px;
	min-height: 100px;
	white-space: normal;
}

#jqueryTabs .ui-tabs-nav h5 {
	font-size: 15px;
}

#jqueryTabs .ui-tabs-nav .ui-tabs-anchor {
	font-size: 15px;
	font-weight: 600;
	min-height: 100px;
	width: 100%;
}

#jqueryTabs .ui-state-default,#jqueryTabs .ui-widget-content .ui-state-default,#jqueryTabs.ui-

widget-header .ui-state-default {
	background: none repeat scroll 0 0 #aacca4;
}

#jqueryTabs .ui-state-active,#jqueryTabs .ui-widget-content .ui-state-active,#jqueryTabs .ui-

widget-header .ui-state-active {
	background: none repeat scroll 0 0 #918b80;
}

#jqueryTabs .ui-corner-all,#jqueryTabs .ui-corner-bottom,#jqueryTabs .ui-corner-right,#jqueryTabs.ui-corner-br,#jqueryTabs .ui-corner-top
	{
	border-radius: 8px;
}

/* rawdata download page*/
/**/
ul.subsubmenu {
	list-style: outside none none;
	padding-left: 0;
}

ul.subsubmenu {
	background-color: #e2dfd0;
}

.raw-sidenav .gis-data ul.subsubmenu a {
	padding-left: 40px;
}

.post-box-share a {
	background: #bb6b0c none repeat scroll 0 0 !important;
	border-radius: 10px;
	font-weight: 600;
	padding: 0;
	vertical-align: top;
}

.single-post-links a {
	background: #98bcb2 none repeat scroll 0 0;
}

.events-page .single-post-links a {
	background: #98bcb2 none repeat scroll 0 0;
}

.news-page .single-post-links a {
	background: #8b1b1d none repeat scroll 0 0;
}

.publication-post h4 a {
	color: #74882e;
	font-family: "Roboto Slab", serif;
}

.event-post h4 a {
	color: #98bcb2;
	font-family: "Roboto Slab", serif;
}

.news-post h4 a {
	color: #8b1b1d;
	font-family: "Roboto Slab", serif;
}

.shortpost {
	width: 100%;
}

.tile h4 {
	color: #ffffff;
	font-size: 2em;
	line-height: 1.2em;
	max-height: 2.4em;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*----------------start of tooltip ------------*/
.md-perspective,.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-perspective body {
	background: #222 none repeat scroll 0 0;
	perspective: 600px;
}

.md-close {
	background: rgba(0, 0, 0, 0.3)
		url("http://rawgit.com/natureapp/ABMI/master/assets/cd-icon-close.svg")
		no-repeat scroll center center;
	border-radius: 50%;
	cursor: pointer;
	height: 50px;
	opacity: 0;
	overflow: hidden;
	position: fixed;
	right: 100px;
	text-indent: 100%;
	top: 100px;
	transform: scale(0);
	transition: transform 0.3s ease 0s, visibility 0s ease 0.3s, opacity
		0.3s ease 0s;
	visibility: hidden;
	white-space: nowrap;
	width: 50px;
	z-index: 1;
}

.md-show.md-effect-1 .md-close {
	opacity: 1;
	transform: scale(1);
	transition: transform 0.3s ease 0s, visibility 0s ease 0s, opacity 0.3s
		ease 0s;
	visibility: visible;
}

.md-modal {
	backface-visibility: hidden;
	background: rgba(49, 52, 54, 1) none repeat scroll 0 0;
	bottom: 80px;
	height: auto;
	left: 80px;
	overflow-x: auto;
	position: fixed;
	right: 80px;
	top: 80px;
	visibility: hidden;
	z-index: 2000;
}

.md-show {
	visibility: visible;
}

.md-overlay {
	background: rgba(49, 52, 54, 0.91) none repeat scroll 0 0;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: all 0.3s ease 0s;
	visibility: hidden;
	width: 100%;
	z-index: 1000;
}

.md-show  ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

.md-effect-1 .md-content {
	opacity: 0;
	transform: scale(0.7);
	transition: all 0.3s ease 0s;
}

.md-show.md-effect-1 .md-content {
	background: rgba(49, 52, 54, 1) none repeat scroll 0 0;
	color: #fff;
	opacity: 1;
	padding: 70px;
	transform: scale(1);
}

.md-content p,.md-content li,.md-content a {
	color: #fff;
	font-size: 1.6rem;
}

@media ( min-width : 1200px) {
	.md-modal {
		bottom: 150px;
		left: 150px;
		right: 150px;
		top: 150px;
	}
	.md-close {
		right: 180px;
		top: 180px;
	}
	.md-show.md-effect-1 .md-content {
		padding: 100px !important;
	}
}

@media ( max-width : 650px) {
	.md-modal {
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
	}
	.md-show.md-effect-1 .md-content {
		padding: 50px !important;
	}
	.md-close {
		right: 10px;
		top: 10px;
	}
}
/*----------------end of tooltip ------------*/

/*fix booter sign up buttons*/
@media ( min-width : 400px) {
	.input-group .input-group-btn {
		float: right;
		width: 30%;
	}
	.input-group .input-group-field {
		float: left;
		width: 70%;
	}
}

.post-pdf {
	background: rgba(0, 0, 0, 0)
		url("http://rawgit.com/natureapp/ABMI/master/assets/pdf-icon.png")
		no-repeat scroll left center/17px auto;
	font-weight: 600;
	padding-left: 22px;
}

.social p {
	max-height: 8.5em;
	overflow: hidden;
	text-overflow: ellipsis;
}

.container.nav-container {
	padding-left: 15px;
	padding-right: 15px;
}

/** ---------**/
.errorMsg { /*for contact us form*/
	color: #aa1111;
	font-size: 1.4em;
	font-weight: 600;
}

.spacebelow {
	margin-bottom: 30px;
}

.sidemenu .resourceheader {
	margin-top: 50px;
}

@media ( min-width : 768px) {
	ul.faq.directory .directory-user {
		min-height: 150px;
	}
}

}

/* used for selected categories of reports */
.right_icon_button_box p {
	width: 100%;
	padding: 0 20px;
}
.right_icon_button_box .btn-common {
	display: inline-block;
	margin-top: 15px;
	width: 200px;
}

div.right_icon_button_box {
	margin-bottom: 30px;
	text-align: center;
}

/* end of used for selected categories of reports */

.minheight120 {
	min-height: 120px;
}

.overlay.spotlink {
	pointer-events: auto !important;
}

.flipbook_img {
	margin-top: 30px;
}

.flipbook_img a {
	cursor: url("../assets/zoom-in.cur"), zoom-in !important;
}

.flipbook_img img {
	max-width: 300px;
	width: 100%;
}

.post-flipbook {
	background: rgba(0, 0, 0, 0) url("/docroot/assets/flipbook-icon.png")
		no-repeat scroll left center/17px auto;
	font-weight: 600;
	padding-left: 22px;
}

.home-quick-box {
	display: table;
	width: 100%;
}

.box-img {
	display: table-cell;
	height: 100%;
	overflow: hidden;
	vertical-align: top;
	width: 25%;
}

.box-text {
	display: table-cell;
	vertical-align: top;
	width: 75%;
}

.data-analytics .home-quick-box.green,.data-analytics .home-quick-box.dgreen,.data-analytics .home-quick-box.blue,.data-analytics .home-quick-box.cyan,.data-analytics .home-quick-box.grey,.data-analytics .home-quick-box.orange,.data-analytics .home-quick-box.olive
	{
	padding-top: 0;
}

.type-info {
	display: block;
	font-family: "Roboto Slab", serif;
	font-size: 18px;
	margin-bottom: 20px;
	padding-left: 40px;
	position: relative;
}

a.type-info {
	color: #ff9800;
}

.p_link:hover {
	text-decoration: underline;
}

.proj_more_info {
	
}

.proj_more_info .proj_toggle_box {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #bbbfc4;
	border-radius: 3px;
	margin-bottom: 15px;
}

.proj_more_info .toggle_link {
	color: #313436;
	cursor: pointer;
	display: block;
	font-size: 1.5rem !important;
	margin: 0;
	padding: 14px 25px 14px 15px;
	position: relative;
}

.proj_more_info .toggle_link.header-green {
	color: #74882e;
}

.proj_more_info .toggle_link.bold {
	font-weight: 600;
}

.proj_more_info .proj_toggle_box .toggle_link::after {
	border-color: #313436 transparent transparent;
	border-style: solid;
	border-width: 7px 7.5px 0;
	content: "";
	height: 0;
	position: absolute;
	right: 14px;
	top: 22px;
	width: 0;
}

.proj_more_info .proj_toggle_box.open .toggle_link::after {
	border-color: transparent transparent #313436;
	border-style: solid;
	border-width: 0 7.5px 7px;
	height: 0;
	width: 0;
}

.proj_more_info .toggle_info {
	color: #464c4a;
	display: none;
	font-size: 1.5rem !important;
	padding: 0 15px 15px;
}

.toggle_info ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

.toggle_info ul li {
	
}

.shortpost-list .post-feature-img {
	display: none;
}

.shortpost-list .post-exerpt p {
	display: none;
}

.loadMore {
	background-color: #74882e;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 18px 15px;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.2s ease-in 0s;
}

a {
    word-break: normal;
}


/*change banner with little triangle's color*/
.blue-background .row-fluid .breadcrumb-triangle .triangle,.blue-background .row.breadcrumb-triangle .triangle  {
	border-color: #0E3444 transparent transparent transparent;
	}


.blue-background .row-fluid.breadcrumb,.blue-background .row.breadcrumb {
	background: #0E3444;
	}
	
	

.blue-background .contact-form > form input[type=submit]{ /*joan changed from button to input */
	
	background: #0E3444;
	border: solid 1px #0E3444;
}


.dgreen, .dgreen a.btn.btn-learn {
	background: #3A3A11!important;}

.dgreen a.btn.btn-learn:hover {
	background: #35340F!important;}

.dgreen a.btn.btn-learn:active {
	background: #2B2A0A!important;}

.red, .red a.btn.btn-learn {
	background: #8B1B1D!important;
	}

.red a.btn.btn-learn:hover {
	background: #7F181E!important;}

.red a.btn.btn-learn:active {
	background: #701116!important;}

.orange, .orange a.btn.btn-learn {
	background: #BB6B0C!important;}

.orange a.btn.btn-learn:hover {
	background: #AD610E!important;}

.orange a.btn.btn-learn:active {
	background: #9B5407!important;}

.blue, .blue a.btn.btn-learn {
	background: #135487!important;}

.blue a.btn.btn-learn:hover {
	background: #104970!important;}

.blue a.btn.btn-learn:active {
	background: #0C3E60!important;}

.cyan, .cyan a.btn.btn-learn {
	background: #62AFA0!important;}

.cyan a.btn.btn-learn:hover {
	background: #78A091!important;}

.cyan a.btn.btn-learn:active {
	background: #618E7D!important;}

.olive, .olive a.btn.btn-learn {
	background: #9B8732!important;}

.olive a.btn.btn-learn:hover {
	background: #8C792A!important;}

.olive a.btn.btn-learn:active {
	background: #776620!important;}

.black-bg, .black-bg a.btn.btn-learn {
	background: #313436!important;}