.searchbysec .search-group {
    border: 1px solid #bbbfc4;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-bottom: 20px;
    background: #fff;
    
}
.searchbysec .searchBy {
    padding: 0px 15px 0px;
}
.searchbysec .searchBy .title {
    padding: 15px 0px;
    color: #313436;
        margin: 0px;
    position: relative;
    cursor: pointer;
}
.searchbysec .searchBy .title:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 21px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 7.5px 0 7.5px;
    border-color: #313436 transparent transparent transparent;
}
.searchbysec .search-group.open .searchBy .title:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 7px 7.5px;
    border-color: transparent transparent #313436 ;
}
.searchbysec .searchdata {
    padding: 0px 0 15px;
    color: #464C4A;
}
.searchbysec ul {
    padding-left: 20px;
}
.searchbysec ul, .searchbysec ol {
    margin-top: 0;
    margin-bottom: 10px;
}
.searchbysec .group-list{
	position: relative;
	    margin-bottom: 0px;
	    padding-left: 0px;
	    
}
.searchbysec .group-list li{
    display: block;
   
    cursor: pointer;
    position: relative;
}
.searchbysec .group-list li a{
	padding: 5px 15px;
	display: block;
	color: #313436;
	    transition: none;
}
.searchbysec .group-list a:hover{
	background-color: #F2F3F3;
	transition: none;
}
.searchbysec .group-list a.selected:before{
	content: "\e013";
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	display: inline-block;
	right: 15px;
	margin-top: 5px;
}
.searchbysec .sublistmenu > a:after{
	content: ">";
	position: relative;
	padding-left: 10px;
}
.searchbysec ul.sublist {
    position: relative;
    background: #fff;
    height: 100%;
    z-index: 10;
    width: 100%;
    padding: 0px;
	margin: 0px;
}
.searchbysec .listnav-breadcrumb{
	border-radius: 0px;
}
.searchbysec .selectall{
	font-weight: bold;
}
.searchbysec .data-selected .item span{
	color: #333;
	font-size: 15px;
}
.searchbysec .data-selected .item{
	background-color: #F2F3F3;
	padding: 10px 35px 10px 15px;
	border-radius: 3px;
	margin: 0px 15px 15px 0px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	color: #333;
	font-size: 15px;
}
.searchbysec .data-selected .item:after {
    background-image: url("../assets/close-btn.png");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    right: 13px;
    top: 15px;
    height: 12px;
    width: 12px;
    background-size: 12px auto;
}
.searchbysec .searchbysec{
	margin-bottom: 50px;
}
.searchbysec .selectall.selected, .searchbysec .allselected a.selected:before{
	color: #74882E !important;
}
.searchbysec .group-list a.selectall.selected:before, .searchbysec a.selectall{
	color: #74882E !important;
}


.searchbysec ul.sublist {
	padding-left:10px;
    font-style: italic;
}

.breadcrumb > .active {
   color: #74882e;
    font-weight: 800;
}

.searchbysec .data-selected .item::after {
    background-image: url("../assets/close-btn.png");
    background-repeat: no-repeat;
    background-size: 12px auto;
    content: "";
    height: 12px;
    position: absolute;
    right: 13px;
    top: 15px;
    width: 12px;
}

#tagDiv>p {
    font-weight: 800;
}

#tagSearch {padding-left: 10px; font-weight: 400;}


/* make submit button text white*/
.submit.btn.btn-default {
    color: white;
}

#publication-list {padding-top:20px;}

#type_selection .parenttag,
#type_selection .dash
 {display:none;}
 
 #cleartaglink {padding-left:5px;}
 #cleartaglink img {width:12px;}