/* ABMI - by Syncopate Media Inc. */  


html body.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;}

body {
	background-color: #F3F1DE;
	max-width: 100%;}

.container-fluid {
	color: white;}

body.light-bg {  
	background-color: #FCFAE8;}

.logo {
	background-color: #677523;
	height: 100px;
	float: left;
	width: 100px;}

.logo a {
	display: block;
	height: 100%;
	width: 100%; 
	transition: .3s; 
	background: url(/docroot/assets/abmi_logo.png) no-repeat center center #677523;}

.logo a:hover {
	background-color: #626B22;}
	
.logo a:active {
	background-color: #4B4C19;}

.top-bar {
	background-color: #3a3a11;
	height: 35px;}

.search div {
	background-color: #677523;
	background: url(/docroot/assets/search.png) no-repeat center right 15px #677523;
	top: 35px;
	width: 65px;
	height: 65px;
	float: right;
	margin-left: 15px;
	position: relative;
	-webkit-transition: background-color 0.5s ease-out, width 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out, width 0.5s ease-out;
	transition: background-color 0.5s ease-out, width 0.5s ease-out;
	overflow: hidden;}

.search div input {
	background-color: transparent;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	color: white;
	height: 65px;
	width: 80px;
	font-size: 2em;
	padding-left: 15px;
	position: absolute;
	right: 65px;}

.jumbotron {
	min-height: 270px;
	max-width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: relative;
	top: 0;
	left: 0;
	-webkit-transform-style: preserve-3d;}

.jumbotron img {
	width: 100%;
	height: auto;
	min-height: 270px;}

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: top;}

hr {
	margin-top: 2em;
	margin-bottom: 3em;
	border: 0;
	border-top: 1px solid #282b2d;}

.main hr {
	margin-top: 4em;}

/* ---------------------------------- */
/* IE FIXES ------------------------ */
	
html.lt-ie9 video{
	display: none;
	visibility: hidden;}

html.lt-ie9 .jumbotron{
	max-width: 1280px;
	overflow: hidden;
	width: 100%;
	max-height: 220px;}

html.lt-ie9 .jumbotron .overlay {
	position: relative;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	max-width: 1280px;
	padding-top: 6em;
	z-index: 500;}

html.lt-ie9 .navbar-right .dropdown-menu {
	left: -150px;}

html.lt-ie9 div.tile{
	overflow: hidden;}

/* DONE IE FIXES -------------------- */
/* --------------------------------- */
/* --------------------------------- */

html body .sbm{
	margin-bottom: 24px !important;}

html body .dbm{
	margin-bottom: 48px !important;}

html body #LiveCSSEditor-code{ 
	color: #000000!important;}

.navbar-collapse.collapse{
	max-height: none;
	margin: 0;}

.navbar-collapse.in ul.list-unstyled li{
	padding: 0.7em;}

.navbar-collapse.in ul.list-unstyled li a{
	color: #282b2d;
	padding-left: 4em;}

.navbar-collapse.in ul.list-unstyled li:hover{
	background-color: #E9E6D5;}

.navbar-collapse.in .search-collapse input{
	display: inline-block;
	padding: 1em 0em 1em 3em;
	width: 100%;
	background-color: rgba(222, 219, 204, 0.9);
	border: none;
	color: #282b2d;}

.navbar-collapse.in .search-collapse{
	margin: 0;
	position: relative;
	overflow: hidden;}
	
.overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2999;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 80%; 
	pointer-events:none;}

.html5video{
	position: relative;
	z-index: 999;
	transition: all 0.3s ease;}

.company-info {
	background-color: #f3f0df;}

.small-container {
	background-color: #900;
	margin: 0 auto;
	max-width: 968px;}

.divider {
	background-color: #74882e;}

.explore {
	background: url(/docroot/assets/parkridge_banff.jpg) no-repeat center top;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/docroot/assets/parkridge_banff.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/docroot/assets/parkridge_banff.jpg', sizingMethod='scale')";}

.triangle {
	width: 0;
	height: 0;
	border-left: 53.5px solid transparent;
	border-right: 53.5px solid transparent;
	border-bottom: 55px solid transparent;
	border-top: 55px solid #74882e;
	margin: 0 auto;}

.tile {
	background-color: #bb6b0c;
	clear: left;
	margin-bottom: 30px;
	max-width: 570px;
	overflow: auto;}

.learn-more {
	background-color: #74882e;}

.learn-more .column {
	min-height: 283px;
	position: relative;}

.social {
	background-color: #62AFA0;
	text-align: center;}

.events {
	background-color: #9b8732;}

.half {
	clear: none;
	float: left;
	margin-bottom: 50px;
	margin-right: 5.2%;
	min-height: 283px;
	max-width: 570px;
	width: 47.4%; 
	overflow: hidden;}

.half a {
	padding: 2em 3em;
	min-height: 283px;}
	
ol.carousel-indicators {
	text-align: left;
	bottom: 0;
	left: 0;
	margin-left: 0;
	padding: 0 3em 2em;
	width: 50%;}
	
.carousel {
	overflow: hidden !important;}
	
#carousel-news ol.carousel-indicators {
	left: 36%;}

.carousel-indicators li {
	background-color: #313436;
	border: 1px #313436 solid;
	border-radius: 0;}

.carousel-indicators li.active {
	border: none;}

.carousel-inner>.item {
	width: 100%;}

.social img.icon {
	display: block;
	float: none;
	margin: 2em auto 0;
	width: 47px;}

.right {
	float: right;
	margin-left: 2%;
	margin-right: 0;}

.sponsor {
/*blocked by joan	background-color: #e8e4bf;*/
	min-height: 102px;
	float: left;
	margin: 12px 5% 30px 0;
	height: auto;}

.row.withmarg{
	margin-left: 0;
	margin-right: 0;}

/* ---------------------------------- */
/* ---------------------------------- */
/* ------  typography --------------- */
/* ---------------------------------- */

html {
	font-family: "Open Sans", sans-serif;}

h1{ font-size: 72px; font-weight: 600; }
h2{ font-size: 48px; font-weight: 600; }
h3{ font-size: 36px; }
h4{ font-size: 24px; }
h5{ font-size: 18px; }
h6{ font-size: 15px; font-weight: 400; }

h1, h2, h3, h4, h5, h6 a.button {
	font-family: "Roboto Slab", serif;
	line-height: 1em;}

.jumbotron h1.sub-heading {
	font-size: 3.2em;
	font-weight: 400;}

h2 {
	color: #282b2d;
	font-size: 3.5em;
	line-height: 36pt;
	margin: 0;
	padding: 59px 0 39px;}

.divider h2{
	color: white;
	font-size: 3.7em;
	margin: 0;
/*    padding: 0.7em 0 0.9em; joan made the banner of explor the ABMI shorter*/
    padding: 0.4em 0 0.5em; 
	}

h3 {
	color: #282b2d;
	font-size: 3.6rem;
	font-weight: 400;
	line-height: 44px;
	margin: 42px 0 48px;}

h4 {
	font-size: 2.4em;
	line-height: 1.2em;}
	
.main h4 {
	margin-bottom: 25px; 
	line-height: 1.4em;}
	
h5 {
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 31px;
	line-height: 3.1rem;
	color: #262626;
	font-weight: 400;}

.page-content h4 {
	color: #313436;}

.tile h4 {
	color: #ffffff;
	font-size: 2.3em;
	line-height: 1.2em;}

.social h4 {
	font-size: 1.8em;
	margin-top: 1.5em;
	padding-top: 0;}

.breathH h2{
	padding: 0.5em 0 1em;
	line-height: 1.2em;}

.breathH h4{
	padding: 1em 0 0.25em;
	line-height: 1.2em;}

.breathH ul{
	margin-bottom: 4em;}

p.bold-green{
	color: #74882E;
	font-size: 1.5em;}

h4.smbp{
	padding-bottom: 0;
	margin-bottom: 0.5em;}

.spotlight {
	margin: 0 0 30px;
	position: relative;
	max-width: 570px;}

.spotlight .overlay {
	top: 0;
	left: 0;
	height: 100%;
	text-align: left;
	padding: 2.6em 2.9em;
	width: 100%;
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);}

.spotlight .overlay h3 {
	color: white;
	text-shadow: 0 0 0.1em #a6a8ab;
	margin-top: 20px;}

.spotlight .overlay h4 {
	color: white;
	text-shadow: 0 0 0.1em #a6a8ab;
	max-width: 360px;
	margin-top: 10px;}

.spotlight .overlay h4.text-right {
	float: right;}

.spotlight .overlay h4.text-left {
	float: left;}

.spotlight .spotlight-base {
	position: absolute;
	bottom: 0px;
	right: 2.9em;
	left: 2.9em;}
	
blockquote {
	padding: 10px 30px;
	margin: 0 0 20px 50px;
	font-size: 15px;
	font-size: 1.5rem; 
	border-left: 7px solid #74882E;
	color: #262626;
	font-weight: 600;
	font-family: 'open sans';
	clear: both;}

a, a:link {
	color: #a6a8ab;
	font-family: "Open Sans", sans-serif;
	text-decoration: none;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;}

a:hover {
	color: #74882e;}

.top-bar ul{
	list-style: none;
	padding: 0;}

.top-bar ul {
	float: right;
	margin-bottom: 0; 
	margin-right: 15px;}

.top-bar ul li {
	float: left;
	margin: 6px 0 0 22px;}

.top-bar ul li a {
	color: white;
	font-family: "Roboto Slab", serif;
	font-size: 13px;
	font-size: 1.3rem;
	font-weight: 300;}

.search div:hover, .search div:focus {
	background-color: #5d691f;
	width: 140px;}

.search div:active {
	background-color: #333a11;}


p, li{
	color: #282b2d;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6em;}

p {
	margin-bottom: 24px;}

.tile p {
	color: white;
	font-size: 1.4em;
	line-height: 1.7em;}

.tile p.timestamp {
	font-size: 1.2em;
	margin-bottom: 5px;}

.events a {
	display: block;
	height: 100%;
	width: 100%;}
	.events .fauxa {
	color: white;
	display: block;
	font-family: "Roboto Slab", serif;
	font-size: 1.4em;
	text-transform: uppercase;
	padding: 15px 0 0; 
	font-weight: 300;}

.events .fauxa:hover {
	text-decoration: underline;}

.overlay p {
	color: white;
	text-shadow: 0 0 0.1em #313436;
	max-width: 320px;
	padding: 0 0 2em;}

.overlay p.text-right {
	float: right;}

.overlay p.text-left {
	float: left;}

.fine-print p {
	color: #a6a8ab;
	font-size: 1.4em;
	line-height: 1.8em;
	padding: 0 0 0px 45px;}

a.button {
	background-color: #74882e;
	color: white;
	font-family: "Roboto Slab", serif;
	font-size: 1.6em;
	font-weight: normal;
	float: left;
	letter-spacing: 0;
	line-height: 130%;
	text-align: left;
	text-transform: none;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
	margin-bottom: 2%;
	padding: 17px 30px 17px 25px;
	min-height: 60px;
	width: 30%;}

.icon {
	float: left;
	margin-right: 20px;}

a.button:hover {
	background-color: #6a7d2a;}

a.button:active {
	background-color: #434f1b;}

.social a {
	display: block;
	height: 100%;
	width: 100%;}

.social .fauxa {
	color: white;
	font-weight: bold;}

.social .fauxa:hover {
	text-decoration: underline;}

.center {
	clear: left;
	text-align: center;
	margin: 0 auto;
	padding: 77px 0 36px; 
}
.company-info > .container > .row h3{
	font-size: 2.4em;
	margin: 48px 0 24px;}


body ul, body ol{
	margin-bottom: 20px;}


a.btn-learn, button.btn-learn, div.btn-learn{
	background-color: #62AFA0;
	color: white;
	font-family: "Roboto Slab", serif;
	font-size: 1.6em;
	float: none;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 15px 40px;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;}

a.btn-learn:hover, button.btn-learn:hover, div.btn-learn:hover {
	background-color: #81aa9c;}

a.btn-learn:active, buttona.btn-learn:active, div.btn-learn:active {
	background-color: #608e7e;}

.learn-more a.btn-learn, .learn-more button.btn-learn, a.btn-learn {
	background-color: #74882e;
	background-color: #89afa2;
	float: right;
	margin-top: 25px;
	padding: 13px 32px;
	position: absolute;
	bottom: 30px;
	right: 30px;}
  
a.button.btn-learn {
	position: relative;
	margin: 0 auto;
	float: none;}

.learn-more a.btn-learn:hover, .learn-more button.btn-learn:hover {
	background-color: #6a7d2a;}

.learn-more a.btn-learn:active, .learn-more button.btn-learn:active {
	background-color: #434f1b;}

div.btn-learn-green{
	background-color: #74882E;
	color: #fff;
	border: solid 1px #fff;
	display: inline-block;}

div.btn-learn-green:hover{
	background-color: rgba(255,255,255,.1);}

div.btn-learn-green:active{
	background-color: rgba(255,255,255,.35);}


body a.btn-learn.sidebar-btn{
	font-size: 0.95em!important;
	padding: 18px 2px;
	width: 89%;
	bottom: auto;
	right: auto;
	line-height: 1em;
	min-height: 1em;
	margin-bottom: 5px;}


.last {
	margin-right: 0;}

.company-info a.last {
	margin-right: 0;}

.partner {
	height: 65px;
	margin: 60px 0 25px;}

.ai {
	background: url(/docroot/assets/partner_ai-logo.png) no-repeat center center;}

.ram {
	background: url(/docroot/assets/partner_ram-logo.png) no-repeat center center;}

.uoc {
	background: url(/docroot/assets/partner_uoc-logo.png) no-repeat center center;}

.uoa {
	background: url(/docroot/assets/partner_uoa-logo.png) no-repeat center center;}

.input-group {
/* blocked by joan	float: left;*/
	margin: 10px 0 30px 0;}

.btn {
	border-radius: 0;}

.btn-primary {
	background-color: #677523;
	border: #677523;
	border-radius: 18px;
	float: left;
	font-family: "Roboto Slab", serif;
	font-size: 1.2em;
	padding: 10px 26px;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	background-color: #5d691f;}

.connect a {
	background-color: #a6a8ab;
	border: #a6a8ab;
	border-radius: 18px;
	color: white;
	display: block;
	float: left;
	font-size: 1.3em;
	height: 37px;
	margin: 0 0 50px 11px;
	width: 37px;}

.connect a.twitter {
	background: url(/docroot/assets/twitter.png) no-repeat center center #a6a8ab;}

.connect a.facebook {
	background: url(/docroot/assets/facebook.png) no-repeat center center #a6a8ab;}

.connect a.vimeo {
	background: url(/docroot/assets/vimeo.png) no-repeat center center #a6a8ab;}

.connect a:hover {
	background-color: #9ea0a4;}

.connect a:active {
	background-color: #7f8286;}

.aside .connect a:link {
	background-color: #74872d;
	border: #74882E;
	border-radius: 50%;
	color: white;
	display: block;
	float: left;
	font-size: 1.3em;
	height: 45px;
	margin: 10px 20px 50px 0;
	width: 45px;}

.aside .connect a.twitter {
	background: url(/docroot/assets/asidetwitter.png) no-repeat center center #74872d;}

.aside .connect a.facebook {
	background: url(/docroot/assets/asidefacebook.png) no-repeat center center #74872d;}

.aside .connect a.vimeo {
	background: url(/docroot/assets/asidevimeo.png) no-repeat center center #74872d;}

.aside .connect a:hover {
	background-color: #6e7e2c;}

.aside .connect a:active {
	background-color: #535f21;}

.btn-default {
	background-color: #677523;
	border: 1px solid #677523;
	color: white;
	font-family: "Roboto Slab", serif;
	font-size: 17px;
	letter-spacing: 1px;
	text-transform: uppercase;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
	padding: 10px 30px;}

.connect {
	float: left; 
	margin-top: 0.6em;}

.navbar-default {
	background-color: #74882e;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;}

.navbar-collapse {
	border: none;
	box-shadow: none;
	margin-right: 15px;
	padding: 0;}

.navbar-toggle {
	margin-top: 15px;}

.navbar-default .navbar-toggle:hover {
	background-color: #6a7d2a;}

.navbar-default .navbar-toggle:active {
	background-color: #434f1b;}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;}

.navbar-default .navbar-nav > li > a {
	color: white;
	font-family: "Roboto Slab", serif;
	font-size: 30px;
	font-size: 1.8rem;
	font-weight: 300;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:visited {
	background-color: #3a3a11;
	color: white;}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #3a3a11;
	color: white;}

/* -- Social flag ----- */
.socialflag {
	position: fixed;
	top: 38%;
	left: 0;
	background: url('/docroot/assets/social.png') no-repeat top left;
	width: 90px;
	height: 45px;}

.socialflag a {
	display: inline-block;
	transition: .25s;
	margin: 9px;
	opacity: .7;}

.socialflag a:hover {
	opacity: 1;}
/* --------------- */

/* --------------------------------------------- */
/* --------------------------------------------- */
/* ------------- BS JUMBOTRON ------------------ */
/* --------------------------------------------- */

.jumbotron {
	background-size: cover;
	min-height: 400px;}

.home .jumbotron{
	position: relative;}

/* --------- PAGE HEADER BACKGROUND ------------------------ */

.applied-research-projects .jumbotron {
	background: url(/docroot/assets/appliedresearchprojects.jpg) no-repeat top center, #3a3a11;}

.land-access .jumbotron{
	background: url(/docroot/assets/landaccesstitle.jpg) no-repeat top center, #3a3a11;}

.board-of-directors .jumbotron {
	background: url(/docroot/assets/boardofdirectorstitle.jpg) no-repeat top center, #3a3a11;}

.careers .jumbotron {
	background: url(/docroot/assets/careers.jpg) no-repeat top center, #3a3a11;}

.publications .jumbotron {
	background: url(/docroot/assets/publicationstitle.jpg) no-repeat top center, #3a3a11;}

.monitoring-cycle .jumbotron {
	background: url(/docroot/assets/monitoringcycle-title.jpg) no-repeat top center, #3a3a11;}

.partners .jumbotron {
	background: url(/docroot/assets/partners.jpg) no-repeat top center, #3a3a11;}

.sponsors .jumbotron {
	background: url(/docroot/assets/partners.jpg) no-repeat top center, #3a3a11;}

.taxonomy .jumbotron {
	background: url(/docroot/assets/taxonomy.jpg) no-repeat top center, #3a3a11;}

.science-projects .jumbotron {
	background: url(/docroot/assets/case-study.jpg) no-repeat top center, #3a3a11;}

.events-page .jumbotron {
	background: url(/docroot/assets/events-background.jpg) no-repeat top center, #3a3a11;}

/* --------------------------------- */

/* --------------------------------------------- */
/* --------------------------------------------- */
/* ------------- INTERIOR PAGES ---------------- */
/* --------------------------------------------- */
	
.main {
	padding-top: 35px;
	padding-bottom: 35px;}

.row-fluid.page-content,.row.page-content {
	background-color: #F3F1DE;
	padding: 0;}

.row-fluid.page-content.dark-bg, .row.page-content.dark-bg{
	background-color: #F3F1DE;}

.row-fluid.page-content.light-bg, .row.page-content.light-bg{
	background-color: #FCFAE8;}

.clearpadding{
	padding: 0!important;}
	
.aside li a {
	font-family: roboto slab;}

.widget ul {
	padding: 0;}

.aside .widget ul li {
	list-style-type: none;}

.aside .list.widget li {
	margin-bottom: 30px;}

.page-content a {
	color: #74882E;}

.row-fluid.breadcrumb,.row.breadcrumb {
	margin-top: 0;
	margin-bottom: 0;
	border-radius: 0;
	background: #74882E;
	min-height: 75px;
	padding: 0 15px;}
	
body.events-page .row-fluid.breadcrumb,body.events-page .row.breadcrumb{
	background: #8AB0A3;}

.row-fluid.breadcrumb h3,.row.breadcrumb h3 {
	margin: 0; 
	line-height: 70px;
	color: #ffffff;}

.row-fluid.breadcrumb-triangle, .row.breadcrumb-triangle {
	background: #f3f0df;}

.row-fluid.breadcrumb-triangle .triangle,.row.breadcrumb-triangle .triangle {
	width: 0;
	height: 0;
	margin: 0;
	border-style: solid;
	border-width: 30px 30px 0 30px;
	border-color: #74882E transparent transparent transparent;}

body.events-page .row-fluid.breadcrumb-triangle .triangle,body.events-page .row.breadcrumb-triangle .triangle {
	border-color: #8AB0A3 transparent transparent transparent;}


.faq, .sidemenu-nav-expand {
	margin-bottom: 60px; 
	padding-left: 0;}	

.faq li, .sidemenu-nav-expand li {
	list-style-type: none;}

.faq input[type="button"]:hover, .sidemenu-nav-expand input[type="button"]:hover{
	color: #74882E;}
	
.faq input[type="button"], .sidemenu-nav-expand input[type="button"] {
	-webkit-appearance: none;
	background: transparent url('/docroot/assets/collapsed-minus.png') no-repeat left center;	
	line-height: 22px;
	color: #313436;
	border: none;
	white-space: normal;
	text-align: left;
	padding: 17px 0 17px 35px;
	outline: none;}
	
.sidemenu-nav-expand input[type="button"] {
	font-family: "Roboto Slab", serif;
	background: transparent url('/docroot/assets/collapsed-minus.png') no-repeat right center;
	font-weight: normal;	
	font-size: 24px;
	padding: 15px 35px 17px 0;
	margin-left: 5px;
	margin-bottom: 10px;
	line-height: 1em;
	color: #74882E;
	height: 58px;
	width: 98%;
	text-align: left!important;
	position:relative;
}
.sidemenu-nav-expand .collapse{
	position:relative;
}
.sidemenu-nav-expand .collapse:before{
	top: -68px;
	content: '';
	position: absolute;
	display: inline-block;
	height: 63px;
	width: 12px;
	background: #74882E;
	left: -24px;
}

.faq input[type="button"].collapsed {
	background: transparent url('/docroot/assets/collapsed-plus.png') no-repeat left center;	
	font-weight: normal;}
	
.sidemenu-nav-expand input[type="button"].collapsed {
	background: transparent url('/docroot/assets/collapsed-plus.png') no-repeat right center;	
	text-align: right;	
	font-weight: normal;
	color: #74882E;}


.faq .collapse, .faq .collapsing{
	border-left: 7px solid #74882E; 
	margin: 0 0 0 60px;
	font-weight: normal;
	padding-left: 30px;}

.sidemenu-nav-expand .collapse, .sidemenu-nav-expand .collapsing {
	border-left: none; 
	margin: 0 0px 0px 5px;
	font-weight: normal;
	padding-left: 0;}

.sidemenu ul li.current a{
	color:#74882E;
}
.widget .sidemenu-nav-expand .expandrow{
	margin: 0;
	padding-left: 5px;}

.widget .sidemenu-nav-expand ul {
	margin-top: 0;
	margin-bottom: 20px;}

.widget .sidemenu-nav-expand ul li ul {
margin-top: 10px;
margin-bottom: 30px;
}
.widget .sidemenu-nav-expand ul li ul li{
	line-height: 1em;}

.widget .sidemenu-nav-expand ul li ul li a{
	line-height: 33px;}


.collapse a, .collapsing a {
	color: #74882E;
	font-size: 15px;
	font-size: 1.4rem;
	font-weight: normal;}

.collapse a:hover, .collapsing a:hover {
	color: #6F7F2D;}

.faq.directory input[type="button"] {
	font-size: 1.3em;
	border-top: solid 1px #282b2d;
	display: block;
	width: 100%;
	margin-bottom: 0.1em;}

.faq.directory .collapse, .faq.directory .collapsing{
	border: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 1.5em;
	margin-bottom: 1em;}

ul.faq.directory > li > div > div > div{
	min-height: 130px;}	

.faq.supplementary input[type="button"] {
	font-size: 24px;
	font-family: "Roboto Slab", serif;}

.faq.supplementary .collapse, .faq.supplementary .collapsing{
	border: none;
	margin-left: 5px;
	padding-left: 0;
	margin-top: .2em;}

.faq.supplementary li > div > div > div{
	margin-bottom: 1.1em;}

.faq.supplementary h3 {
	font-size: 1.1em;
	line-height: 1.3em;
	margin: 0;}

#zoomCon img{
	max-width: none;
}

a.zoom.fullzoom{
	margin-bottom: 3em;
	display: inline-block;
}
.postactions{
	margin:0px;
}
.postactions a{
	color: #323232 !important;
	font-size:18px  !important;
	font-weight:bold;
}
.postactions span{
	font-weight:300;
	color: #323232 !important;
	font-size:18px  !important;
	padding-left:10px;
}
.postactions a.pdf:before {
	content: url('/docroot/assets/pdf-icon.png') !important;
	padding: 4px 10px 0px !important;
	vertical-align: middle;
	display: inline-block;
}
/* -------------------------------------------- */	
/* ------- SIDEBAR ---------------------------- */	
/* -------------------------------------------- */

.sidemenu.publications-side{
	padding-bottom: 3em;
	margin-bottom: 3em;}

.sidemenu.widget.publications-side > h4{
	font-size: 36px;
	margin-bottom: 34px;}
		
.sidemenu {
	clear: both;}

.sidemenu ul {
	padding: 20px; 
	margin-left: 0;}

.sidemenu ul li {
	list-style-type: none;
	margin-bottom: 0;}

.aside ul li a {
	color: #313436;}

.sidemenu ul li a {
	/* blocked by joan line-height: 40px;
	vertical-align: 47%;
	*/
	}

.aside ul li a:hover {
	color: #6F7F2D;}

.sidemenu ul li.active {
	list-style-image: url('/docroot/assets/sidemenu-active.png');}

.sidemenu ul li.active a {
	color: #74882E;}

.sidemenu > ul > li a.pdf, .list.widget > ul > li a.pdf{
	line-height: 0.8em;  /* joan changed from 2.4em */
	margin-bottom: 0.6em;  /* joan added */
	}

.sidemenu > ul > li a.pdf:before, .list.widget > ul > li a.pdf:before{
	content: url('/docroot/assets/pdf-black.png');
	padding: 0.6em;}

.sidemenuSearch::-webkit-input-placeholder { color: #414042;}
.sidemenuSearch:-moz-placeholder {color: #414042;}
.sidemenuSearch::-moz-placeholder {color: #414042;}
.sidemenuSearch:-ms-input-placeholder {color: #414042;}
input:focus{
	outline:0;
}
input.sidemenuSearch{
	color: #414042;
	background: #FFFFFF;
	border: none;
	width: 80%;
	height: 52px;
	font-size: 1.5em;
	line-height: 1.5em;
	padding-left: 0.8em;
	font-weight: 200;
	border-radius: 0;}

button.sidemenuSearchBtn{
	width: 52px;
	height: 52px;
	background: url('/docroot/assets/sidemenuSearchBtn.png'), #677523;
	border: none;
	vertical-align: top;}

button.sidemenuSearchBtn:hover{ 
	background: url('/docroot/assets/sidemenuSearchBtn.png'), 637051;}

.widget.searchbox{
	/*margin-bottom: 3em;*/
	}

input.sidemenuSearch::-webkit-input-placeholder { color: #414042;}
input.sidemenuSearch:-moz-placeholder { /* older Firefox*/ color: #414042;}
input.sidemenuSearch::-moz-placeholder { /* Firefox 19+ */ color: #414042;} 
input.sidemenuSearch:-ms-input-placeholder { color: #414042;}

a.sidemenuFullPostBtn, a.sidemenuListPostBtn, a.sidemenuEventPostBtn{
	width: 35px;
	height: 35px;
	display: inline-block;
	margin-right: 1em;
	margin-bottom: 1.3em;}

a.sidemenuFullPostBtn{
	background: url('/docroot/assets/sidemenu-full.png') top left, #748838;}

a.sidemenuFullPostBtn.active{
	background: url('/docroot/assets/sidemenu-full-active.png') top left, #313436;}

a.sidemenuListPostBtn{
	background: url('/docroot/assets/sidemenu-list.png') top left, #748838;}

a.sidemenuListPostBtn.active{
	background: url('/docroot/assets/sidemenu-list-active.png') top left, #313436;}
	
a.sidemenuEventPostBtn{
	background: url('/docroot/assets/sidemenu-events.png') top left;}

a.sidemenuEventPostBtn.active{
	background: url('/docroot/assets/sidemenu-events-active.png') top left;}

.widget.listSyle{ margin-bottom: 1.2em; }

/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* ------  BASE STYLE AND COLOURS                  --------------------------------------   */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */


table.table{
	color: #282b2d;
	font-family: "Open Sans", sans-serif;
	font-size: 1.4rem;
	line-height: 1.5em;
	margin-bottom: 3em;}


.dgreen, .green, .red, .olive, .orange, .blue, .cyan, .grey, .reviewingapps, .openforapps {
	margin-bottom: 35px;}

.download-resource .col-lg-12, .green, .dgreen, .blue, .cyan, .grey, .orange, .olive {
	padding-top: 10px;}

.monitoring-centre-staff .cyan, .monitoring-centre-staff .orange, .monitoring-centre-staff .olive, .projectboxes .col-lg-12 {
	padding: 20px 20px 1px;}
	
	

.projectboxes .col-lg-12 img {
	margin-bottom: 20px;}

.monitoring-centre-staff img, .projectboxes img {
	width: 100%;
	max-width: 100%;}

.projectboxes .col-lg-12 img {
	width: inherit;}

.careers .openforapps, .careers .reviewingapps {
	padding: 25px;}

.reviewingapps h4, .reviewingapps h5, .reviewingapps p, .openforapps h4, .openforapps h5, .openforapps p, .green h4, .green h5, .green p, .olive h4, .olive h5, .olive p, .dgreen h4, .dgreen h5, .dgreen p, .red h4, .red h5, .red p, .orange h4, .orange h5, .orange p, .blue h4, .blue h5, .blue p, .cyan h4, .cyan h5, .cyan p, .grey h4, .grey h5, .grey p{
	color: #ffffff;
	margin-top: 0;}

p.note, p.tags {
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 14.4px;}

p.tags {
	font-style: italic;}

.careers p.status {
	margin-bottom: 0;}

.download-resource p {
	display: block;
	min-height: 75px;}

.download-resource img {
	width: 100%;
	max-width: 100%;}
	
.reviewingapps, .reviewingapps a.btn.btn-learn, .grey, .grey a.btn.btn-learn {
	background: #313436;}

.reviewingapps a.btn.btn-learn:hover, .grey a.btn.btn-learn:hover {
	background: #292C2D;}

.reviewingapps a.btn.btn-learn:active, .grey a.btn.btn-learn:active {
	background: #1B1D1E;}

.openforapps, .openforapps a.btn.btn-learn, .green, .green a.btn.btn-learn, .btn-learn.green {
	background: #74882E;
	color: #ffffff;}

.openforapps a.btn.btn-learn:hover, .green a.btn.btn-learn:hover, .btn-default:hover, .btn-learn.green:hover {
	color: #ffffff;
	background: #6a7d2a;}

.openforapps a.btn.btn-learn:active, .green a.btn.btn-learn:active, .btn-default:active, .btn-default:focus, .btn-learn.green:active {
	background: #434f1b;}

.dgreen, .dgreen a.btn.btn-learn {
	background: #3A3A11;}

.dgreen a.btn.btn-learn:hover {
	background: #35340F;}

.dgreen a.btn.btn-learn:active {
	background: #2B2A0A;}

.red, .red a.btn.btn-learn {
	background: #8B1B1D;}

.red a.btn.btn-learn:hover {
	background: #7F181E;}

.red a.btn.btn-learn:active {
	background: #701116;}

.orange, .orange a.btn.btn-learn {
	background: #BB6B0C;}

.orange a.btn.btn-learn:hover {
	background: #AD610E;}

.orange a.btn.btn-learn:active {
	background: #9B5407;}

.blue, .blue a.btn.btn-learn {
	background: #135487;}

.blue a.btn.btn-learn:hover {
	background: #104970;}

.blue a.btn.btn-learn:active {
	background: #0C3E60;}

.cyan, .cyan a.btn.btn-learn {
	background: #62AFA0;}

.cyan a.btn.btn-learn:hover {
	background: #78A091;}

.cyan a.btn.btn-learn:active {
	background: #618E7D;}

.olive, .olive a.btn.btn-learn {
	background: #9B8732;}

.olive a.btn.btn-learn:hover {
	background: #8C792A;}

.olive a.btn.btn-learn:active {
	background: #776620;}

.black-bg, .black-bg a.btn.btn-learn {
	background: #313436;}

a.btn.btn-learn {
	display: inline-block;
	position: static;
	float: none;
	margin: 0 0 13px 0;
	color: #ffffff;
	text-align: center;
	width: 189px;}

a.btn.btn-learn.pdf,  a.btn.btn-learn.pdf:hover,  a.btn.btn-learn.pdf:active {
	background-image: url('/docroot/assets/pdf.png');
	background-repeat: no-repeat;
	background-position: 20px center;
	padding-left: 55px;}

.board-of-directors .green p, .board-of-directors .dgreen p {
	min-height: 140px;}

.board-of-directors .main img {
	max-width: 100%;
	width: 100%;
	display: inline-block;}

.careers .heading {
	min-height: 90px;}

img {
	max-width: 100%;
	height: auto;}

.main p > a.pdf {
	line-height: 2.1em;}

.main p > a.pdf:before {
	content: url('/docroot/assets/pdf-orange.png');
	padding: 0.6em;}

div.col-sm-6.col-xs-12 div.logo-heading{
	background: #DBD9CA;
	min-height: 167px;}

div.col-sm-4.col-xs-12 div.logo-heading{
	background: #DBD9CA;
	min-height: 107px;}

div.logo-heading > img{
	width: 100%;
	height: 100%;}

h4.modal-title{
	color: #677523;}

html body  h4.contact{
	font-size: 2.1em;
	font-weight: 600;}

#youtubeModal853 .modal-content {
	background-color: #212121;
	border-radius: 0;}

#youtubeModal853 .modal-body {
	padding: 0;}

#youtubeModal853 .modal-lg {
	width: 854px;}

#gmap-canvas {
	height: 100%;
	margin-top: 10px;
	min-height: 270px;
	width: 100%;
	min-width: 260px;
	padding-right: 30px;
	margin-bottom: 0;}

#gmap-canvas .gmnoprint img {
	max-width: none;}

div.address-block{
	margin-top: 1.2em;
	margin-bottom: 0.2em;}

div.address-block > div > h4{
	margin-bottom: 5px;}

div.address-block > div > h6{
	margin-top: 0;
	margin-bottom: 22px;
	color: #282b2d;}
	
/* ================================================= */

html body .section-photobox{
	overflow: hidden;
	padding-top: 0;
	margin-bottom: 0;}

.section-photobox .col-xs-12.image{
	padding-left: 0;
	padding-right: 0;
	float: right;}

.section-photobox .col-xs-12.image img{
	width: 100%;}

.section-photobox .col-xs-12.content{
	padding: 0 3em;
	min-height: 80px;}

.section-photobox h3{
	color: #ffffff;
	font-size: 3rem;
	margin: 28px 0 18px;}

.section-photobox p{
	color: #ffffff;}

.quote{
/*	background: #62AFA0;*/
	padding: 2.3em 3.2em 0.8em 3.2em;
	color: #ffffff;
	margin-bottom: 2.6em;}

.quote p{
	color: #ffffff;
	font-size: 1.6em;
	font-family: "Roboto Slab", serif;
	line-height: 1.55em;
	font-weight: 100;}

.quote p.quoteAuthor{
	font-family: "Open Sans", sans-serif;
	font-size: 1.3em;
	font-weight: 100;
	line-height: 1em;}

/* ================================================= */
/* ================================================= */
/* ==========  Publication Pages   ==================*/
/* ================================================= */

p.documenttype{ padding-top: 1em;}

p.documenttype, p.subjectarea{
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 0.3em;
	color: #323232;}

p.documenttype a, p.subjectarea a{
	font-weight: 300;
	font-size: 18px !important;
	color: #323232;
	margin-left: 0.25em;
	font-style: italic;}

.postexerpt p.tags {
	margin-top: 3em;
	padding-bottom: 20px;}


/* --------------------------- */


.post {
	margin-bottom: 70px;}

.postheader {
	position: relative;}

.postheader h3 {
	position: absolute;
	bottom: 0;
	margin: 0 0 0 30px;
	padding: 15px 15px 20px 25px;
	background: #74882E;
	color: #F3F1DE;}
	
body.events-page .postheader h3 {
	background: #8AB0A3;
	color: #FFFFFF;}

.postheader.no-image h3 {
	position: relative;
	display: inline-block;}

div.arrowcontainer {
	display: inline-block;}
	
div.postmeta { margin: 0 0 0 30px; min-width: 290px; height: auto; }
div.postmeta p { margin-bottom: 0.35em; font-size: 1.2rem; }
div.arrowcontainer .postmeta.arrow{ display: none; visibility: hidden;}

.postmeta {
	position: relative;
	height: 50px;
	width: auto;
	margin: 0 0 0 30px;
	padding: 15px 20px 10px 20px;
	background: #BB6B0C;
	display: inline-block;
	min-width: 260px;}

.photobox.postmeta {
	height: 70px;}

.postmeta.arrow {
	width: 0;
	background: transparent;
	height: 0;
	border-style: solid;
	border-width: 10px 200px 0 0;
	padding: 0;
	border-color: #bb6c0c transparent transparent transparent;
	position: absolute;}

.postmeta p {
	color: #ffffff;
	white-space: nowrap;}

.postactions {
	height: 50px;}

.postactions p {
	font-weight: 600;
	color: #BB6B0C;
	vertical-align: top;
	padding-top: 5px;
	display: inline-block;
	margin-right: 10px;
	padding-top: 0px;}

.postactions a, .main p > a.pdf, .main p > a.postLink {
	font-weight: 600;
	padding-top: 5px;
	color: #BB6B0C;
	vertical-align: top;
	background: transparent !important;}

.main p > a.postLink{
	font-weight: 600;
	padding-top: 5px;
	color: #BB6B0C;
	vertical-align: 35%;
	padding-right: 0.6em;}

.main .post-list p {
	font-weight: 600;
	padding-top: 5px;
	color: #BB6B0C;
	vertical-align: top;
	line-height: 1.7em;
	margin-bottom: 28px;}
	
.main .post-list h4{
	margin-bottom: 0.6em;
	text-transform: uppercase;}	
	
.postactions a.share {
	padding-top: 0;
	background-color: #bb6b0c;
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 15px;
	background-size: contain;
	margin: 0 5px;}

.postactions a.twitter {
	background-image: url('/docroot/assets/asidetwitter.png');}

.postactions a.facebook {
	background-image: url('/docroot/assets/asidefacebook.png');}

.postactions a:hover {
	color: #AD610E;}

.postactions a:active {
	color: #9B5407;}

.postactions a.share:hover {
	background-color: #AD610E;}

.postactions a.share:active {
	background-color: #9B5407;}

.postexerpt {
	margin: 30px 30px;}

.postexerpt h5 {
	color: #BB6B0C;
	margin-bottom: 5px;}

.postexerpt p.tags {
	padding-bottom: 20px;}

p.tags a {
	color: #262626;}
	
p.tags a:hover, p.tags a:active {
	color: #262626;
	text-decoration: underline;}

.postexerpt a.btn-learn {
	position: inherit;}

.pagination {
	display: block;
	clear: both;}
/*
.pagination .next {
	float: right;
	clear: right;}*/

.page-content .pagination a{
	color:#313436;
	font-size: 15px;
}
.pagination .next span {
	margin-left: 20px;
	display: inline-block;
	width: 40px;
	height: 40px;
	padding: 7px 8px;}

.pagination a:active {
	color: #434f1b;} 

.pagination .next a:active span {
	background: #434f1b;}


.photobox.postmeta {
	margin: 0;
	display: block;}

.photobox.postmeta > div.meta-date {
	font-size: 14px;
	font-size: 1.2rem;
	float: left;}

.photo-box-share.addthis_sharing_toolbox{
	float: left;
	margin-top: 10px;
	padding-right: 0;}

div.photo-box-share .addthis_20x20_style .at300bs{
	background: url(/docroot/assets/social-abmi.png) no-repeat left;}

div.photo-box-share .addthis_20x20_style .at300bs, div.post-box-share .addthis_20x20_style .at300bs{
	height: 25px !important;
	width: 25px !important;
	line-height: 25px !important;}

div.photo-box-share .addthis_20x20_style .at15nc.at15t_facebook, .post-box-share.addthis_sharing_toolbox .addthis_20x20_style .at15nc.at15t_facebook{
	background-position: 0 0px !important;}

div.photo-box-share .addthis_20x20_style .at15nc.at15t_twitter, .post-box-share.addthis_sharing_toolbox .addthis_20x20_style .at15nc.at15t_twitter{
	background-position: 0 -25px !important;}

div.photo-box-share .addthis_20x20_style .at15nc.at15t_pinterest_share, .post-box-share.addthis_sharing_toolbox .addthis_20x20_style .at15nc.at15t_pinterest_share{
	background-position: 0 -50px !important;}

div.photo-box-share .addthis_20x20_style .at15nc.at15t_email, .post-box-share.addthis_sharing_toolbox .addthis_20x20_style .at15nc.at15t_email{
	background-position: 0 -75px !important;}

div.photo-box-share .addthis_20x20_style .at15nc.at15t_compact, .post-box-share.addthis_sharing_toolbox .addthis_20x20_style .at15nc.at15t_compact{
	background-position: 0 -100px !important;}

div.post-box-share .addthis_20x20_style .at300bs{
	background: url(/docroot/assets/social-orange-abmi.png) no-repeat left;}
.at-share-tbx-element .at-share-btn {
	margin: 0px 3px !important;
}
.col-lg-12.green, .col-lg-12.red, .col-lg-12.orange, .col-lg-12.dgreen,.col-lg-12.cyan,.col-lg-12.blue, .col-lg-12.grey{
	padding: 15px 20px 10px;}

.col-lg-12.dgreen h4,.col-lg-12.green h4 {
	margin-bottom: 3px;
	font-weight: 400;
	font-size: 2.1em;
	margin-top: 7px;}

.col-lg-12.dgreen h5, .col-lg-12.green h5{
	margin-bottom: 15px;
	font-weight: 300;
	font-size: 1.7rem;}

.download-resource p, .bod p{
	font-size: 1.3rem;
	margin-top: 1em;}

.download-resource a.btn.btn-learn, .bod a.btn.btn-learn, .openforapps a.btn.btn-learn, .reviewingapps a.btn.btn-learn, .projectboxes a.btn.btn-learn{
	border: solid 1px #ffffff;}

.row.post .postmeta.arrow{
	display: inline-block;
	visibility: hidden;}

/* ==================================== */

/*Publications*/
.backtoallBtn{
	background-color: #74882E;
	color: #F3F1DE !Important;
	background-image: url(/docroot/assets/back-arrow.png);
	background-repeat: no-repeat;
	padding: 8px 24px 7px 55px;
	background-position: 23px center;
	font-size: 14px;
	text-align: center;
	font-family: "Roboto Slab", serif;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 1.3em;
	display: inline-block;
	vertical-align: top;
} 
.shortpost{
	background:#ffffff;
	display:table;
	margin-bottom:40px;
}
.shortpost-list{
	display: inline-block;
	width: 100%;
}
.post-text{
	padding:20px;
	float:left;
}
.post-feature-img img{
	width:100%;
	height:auto;
}
.publication-post .post-header h3{
	color:#74882E;
}
.post-header h3{
	margin-top:0px;
	line-height:32px;
	font-size:32px;
	margin-bottom:10px;
}
.post-feature-img{
	width: 200px;
	height: auto;
	float: right;
}
.publication-post h4{
	color:#74882E;
}
.event-post h4 {
	color: #98BCB2;
}
.news-post h4 {
	color: #8B1B1D;
}
.shortpost  h4{
	margin:5px 0px 15px;
}
.post-details{
	margin-top:
}
.post-exerpt p{
	margin-top:25px;
	margin-bottom:15px;
	font-size:15px;
	line-height:24px;
	height: 50px;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	color: #313436;
	}
.post-data a, .post-data span{
	color:#262626;
	font-size:12px;
	text-transform:uppercase;
}
.post-by, .post-date, .event-date{
	border-right:1px solid #262626;
	padding-right:10px;
	margin-right:10px;
}
a.readmore-link{
	font-size:15px;
	font-family: "Roboto Slab", serif;
	color:#A6A8AB;
}
.shortpost-list a.readmore-link{
	color:#5E5E5E;
}
.shortpost-list .post-text{
	padding:0px;
}
.shortpost-list h4 {
	margin: 5px 0px 15px;
	font-size:18px;
	margin-bottom: 8px;
}
.shortpost-list a.readmore-link {
	margin-top: 10px;
	margin-bottom:18px;
	display: block;
}
.pagination {
	display: inline-block !important;
	margin: 40px 0 0; 
}
.post-featureimg-large{
	width:100%;
}
.post-featureimg-large img{
	width:100%;
	height:auto;
	margin-bottom:40px;
}
.fullpost .post-header h4{
	margin-bottom:15px;
}
.fullpost .post-desc{
	margin-top:35px;
}
.fullpost .post-desc p{
	font-size:15px;
	line-height:30px;
}
.fullpost .tags {
	font-style: italic;
	margin-top: 3em;
	padding-bottom: 20px;
	font-size: 12px;
	line-height: 14.4px;
	font-weight: 300;
	}
.fullpost ul.faq.supplementary {
	margin: 0;
}
.archiver-list ul{
	padding:0px;
}
.archiver-list li{
	line-height:50px;
}
.event-post .pagination .next span{
	background: #98BCB2;
}
.news-post .pagination .next span {
	background: #8B1B1D;
}
.publication-post .pagination .next span{
	background: #74882E;
	
}
.publication-post a.readmore-link:hover{
	color:#74882E;
}
.event-post a.readmore-link:hover{
	color:#98BCB2;
}
.news-post a.readmore-link:hover{
	color:#8B1B1D;
}

.publication-post .pagination .next a:hover span {
	background: #6a7d2a;}
.event-post .pagination .next a:hover span {
	background: #95B0A8;}
.event-detail p{
	font-weight:bold
}
.event-detail p span{
	font-style:italic;
	font-weight:300;
	margin-left:10px;
}
.single-post-links a{
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	min-width:140px;
	margin-right:15px;
	padding:12px 15px;
	display:inline-block;
	margin-bottom:10px;
	font-family: "Roboto Slab", serif;
	font-size:15px;
}

.event-post .single-post-links a, .publication-post .single-post-links a{
	background:#98BCB2;
}

.publication-post ul.faq.supplementary{
	margin-top:30px;
}
.news-post .single-post-links a{
	background:#8B1B1D;
}
.event-map {
	margin-top:55px;
}
.event-map iframe{
	width:100%;
	height:360px;
}
body.news-page .row-fluid.breadcrumb,body.news-page .row.breadcrumb{
	background: #8B1B1D;}
body.news-page .row-fluid.breadcrumb-triangle .triangle, body.news-page .row.breadcrumb-triangle .triangle{
	border-color: #8B1B1D transparent transparent transparent;
}

.postactions .at4-icon{
	background-color: #BB6B0C !important;
 	border-radius: 100%;
 }
/* =================================== */
/* ------------- FOOTER -------------- */

footer {
	background-color: #313436; 
	margin-top: 35px;}

footer h3 {
	color: #fff;
	clear: left;
	line-height: 1.2em;
	font-size: 2.2em;
	margin: 48px 0 15px;}

footer ul {
	list-style: none;
	padding: 0; 
	margin-bottom: 55px;}

footer ul li {
	padding-bottom: 8px;}

footer ul li a {
	color: #a6a8ab;
	font-size: 11pt;}

footer p {
	color: #a6a8ab;
	margin-bottom: 6px;}

.fine-print {
	background-color: #262626;
	padding: 20px 15px;}

/* ==================================== */
/* =================================== */
/* ------------- FORMS -------------- */

/* ------------------------- */
.form-control {
	background-color: #a6a8ab;
	border: none;
	border-radius: 0;
	color: #313436;
	font-size: 1.3em;
	/* padding: 23px 15px; */
	}

@-moz-document url-prefix() { 
	
	.form-control {
		padding: 0 15px; 
	/*	height: 3.55em;*/
	}
		
}/* MOZ */

.form-control:focus {
	border: none;
	box-shadow: none;}
	
/* ------------------------- */

.contact-form > form label{
	display: inline-block;
	float: none;
	color: #F3F1DE;
	background: #677523;
	padding: 0.8em 1.6em 0.6em 1.2em;
	font-size: 18px;
	font-size: 1.8em;
	text-align: left;
	margin-bottom: 0;
	font-weight: 200;}

.contact-form > form input, .contact-form > form select, .contact-form > form textarea{
	display: block;
	float: none;
	margin-bottom: 2.2em;
	font-size: 18px;
	font-size: 1.8em;
	text-align: left;
	width: 96%;
	height: 2.8em;
	padding-left: 1em;
	background: #E2E0D0;
	border: solid 1px #E2E0D0;
	color: #282b2d;}

.contact-form > form textarea{
	min-height: 12em;
	width: 98%;
	padding-top: 0.5em;}

.contact-form > form input[type=submit]{ /*joan changed from button to input */
	display: inline-block;
	float: none;
	color: #F3F1DE;
	background: #677523;
	border: solid 1px #677523;
	padding: 0.8em 3.5em;
	font-size: 18px;
	font-size: 1.8em;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 0.5em;
		max-width:190px; /*added by joan*/
	}


/* ---------------------- */
/* MISC FIXES */

.fullWidth{
	width: 100%;
	height: auto;}

img.hard35_7p, .carousel-inner > .item > a > img.hard35_7p{
	max-width:35.7%;}	

.container .col-sm-12.text-center{
	margin-top: 0.4em;}


/* ---------------------- */
/* ZOOM ZOOM */

.smooth_zoom_preloader { background-image: url("/docroot/assets/zoom_assets/preloader.gif"); }	

.smooth_zoom_icons { background-image: url("/docroot/assets/zoom_assets/icons.png"); }

img.imageZoom { max-width: none !important; }

div.zoomImageBox{ margin-bottom: 2em; }

.zoomwizard.zoomwizard-large{ -webkit-border-radius: 125px; -moz-border-radius: 125px; border-radius: 125px;}

/* =============== ============= =============== */
/* =============== ============= =============== */

/* =============== MEDIA QUERIES =============== */

@media only screen and (max-width: 320px) {

	input.sidemenuSearch {
		max-width: 208px;}

}

/* =============== ============= =============== */

@media only screen and (min-width: 320px) {

	body {
		font-size: 90%;}
	
	.navbar-default .navbar-nav > li > a {
		padding: 16px 3em 18px;
		font-size: 16px;
		font-size: 1.6rem;}
	
	.container.nav-container{
		padding-left: 0;
		padding-right: 0;}
	
	.navbar-header{
		padding-right: 15px;}
	
	.jumbotron {
		min-height: 280px;
		background-image: url("/docroot/assets/grasslands_video.jpg");
		background: url(/docroot/assets/grasslands_video.jpg) no-repeat top center, #3a3a11;}	
	
	.jumbotron h1 {
		font-size: 4.2em;}
	
	.jumbotron h1.sub-heading {
		font-size: 2em;
		margin-bottom: 30px; 
		line-height: 1.6em;}
	
	.divider h2{
		font-size: 2.7em;}
	
	.row-fluid.breadcrumb .col-lg-12 > h3,.row.breadcrumb .col-lg-12 {
		line-height: 50px;}
	
	.row-fluid.breadcrumb .col-lg-12.tmch3 > h3,.row.breadcrumb .col-lg-12.tmch3 > h3{
		font-size: 2.3em;}
	
	.row-fluid.breadcrumb,.row.breadcrumb {
		min-height: 54px;}
	
	.learn-more .column {
		min-height: 0;}
	
	.btn-primary {
		margin-bottom: 30px;
		width: 100%;}
	
	a.button {
		width: 100%;}
	
	.half {
		margin-bottom: 30px;
		min-height: 0;
		width: 100%;}
	
	.carousel-inner p {
		margin-bottom: 40px;}
	
	.navbar-nav {
		margin: 0;}
	
	.logo {
		height: 67px;
		width: 67px;}
	
	.logo a {
		background: url(/docroot/assets/abmi_logo75.png) no-repeat center center #677523;}
	
	.navbar-toggle {
		padding: 14px 16px;}
	
	.navbar-toggle {
		margin-top: 12px;}
	
	h2 {
		font-size: 3em;
		line-height: 1.3em;
		padding: 36px 0 30px;}
	
	h3 {
		font-size: 2.6rem;
		margin: 5px 0 24px;
		line-height: 36px;}
	
	h3.h3_24 {
		font-size: 2.3rem;
		font-weight: 400;
		line-height: 1.2em;
		margin: 30px 0 25px;}
	
	h4 {
		font-size: 2em;
		line-height: 1.4em;}
	
	.postheader h3{
		font-size: 2.6rem;}
	
	h5 {
		font-size: 15px;
		font-size: 1.4rem;}
	
	.aside ul {
		margin-top: 10px;
		margin-bottom: 15px;}
	
	a.button {
		width: 88%;
		margin-left: 6%;
		margin-right: 6%;
		margin-bottom: 1.6em;}
	
	.btn-grouping {
		margin-bottom: 42px;
		overflow: auto;}
	
	.item .column, .tile .column{
		width: 84%;
		margin: 4% 8% 6%;}
	
	.container.boxTargets div.btn-learn-green {
		clear: both;
		overflow: hidden;
		float: none;
		position: relative;
		bottom: 0;
		right: 0;
		width: 100%;
		margin: 0;
		font-size: 1.4em;
		padding: 15px 30px;}
	
	p, li {
		font-size: 1.4rem;
		line-height: 1.5em;}
	
	.spotlight .overlay h3 {
		font-size: 2.7em;
		line-height: 1em;}
	
	.spotlight .overlay h4 {
		font-size: 2em;}
	
	h2.partners {
		font-size: 3.6em;
		padding: 22px 0 15px;}
	
	.sponsor {
		width: 96%; 
		margin: 12px 20px 25px 10px;}
	
	a.btn-learn {
		float: none;
		margin-top: 25px;
		padding: 13px 32px;
		position: relative;
		bottom: 0;
		right: 0;
		font-size: 1.2em;}
	
	.postheader h3{
		position: relative;
		margin: 0;}	
	
	.postmeta {
		margin: 0;}
	
	.postmeta p {
		font-size: 1.2rem;}
	
	.postactions {
		margin-left: 0;}
	
	.postactions a {
		font-size: 0.8em;}
	
	.postexerpt {
		margin: 5px;}
	
	.post-box-share.addthis_sharing_toolbox {
		float: left;
		margin-top: 0.5em;
		padding-left: 0;}
	
	.postactions p{
		float: left;}
	
	.row-fluid.explore,.row.explore {
		padding-top: 2em;}
	
	ul.faq.supplementary {
		margin: 15px 0 10px 5px;}
	
	.faq.supplementary .collapse, .faq.supplementary .collapsing{
		margin-left: 5px;}
	
	.mdside {
		clear: both;} 
	
	#gmap-canvas {
		margin-bottom: 1.4em;}


/* ----------- */	
}/* END 320 MQ -------- + */


@media only screen and (min-width: 400px) { 
	
	.postmeta {
		min-width: 325px;} 
	
	.postmeta p {
		font-size: 1.4rem;}
		
/* ----------- */	
}/* END 400 MQ -------- + */
  
    
@media only screen and (min-width: 480px) {

	.btn-primary {
		width: auto;}
	
	.input-group {
		margin-right: 30px;}
	
	a.button {
		font-size: 1.9em;}
	
	.tile {
		max-height: 282px;}
	
	.divider h2{
		font-size: 3.7em;}
	
	.row-fluid.breadcrumb .col-lg-12 > h3,.row-fluid.breadcrumb .col-lg-12.tmch3 > h3,.row.breadcrumb .col-lg-12 > h3,.row.breadcrumb .col-lg-12.tmch3 > h3{
		font-size: 3.2em;
		line-height: 60px;}
	
	.search div:hover, .search div:focus {
		width: 280px;}
	
	.search div input {
		width: 215px;}
	
	a.button {
		display: block;
		width: 50%;
		margin-left: 25%;
		margin-right: 25%;
		margin-bottom: 20px;
		margin-top: 10px;}
	
	.postexerpt {
		margin: 50px 30px 30px;}
	
	a.btn.btn-learn {
		max-width: 99%;}
	
	.aside {
		padding-top: 5px;
		margin-bottom: 5px;}
	
	.aside ul {
		margin-top: 5px;
		margin-bottom: 0;}
	
	.faq.supplementary.post-box-share.addthis_sharing_toolbox {
		float: right;
		margin-top: 0;
		padding-left: 1em;}
	
	.faq.supplementary .collapse, .faq.supplementary .collapsing{
		margin-left: 35px;}
	
	ul.faq.supplementary {
		margin: 25px 30px 30px;}
	
/* ------------ */
}/* END MIN 480 MQ ------- */
   
    
/* ===================== MIN 768 =========================== */    
@media only screen and (min-width: 768px) {
 
	.jumbotron {
		background-size: cover;
		min-height: 320px;}
	
	.jumbotron h1 {
		font-size: 6.6em; 
		font-weight: 700;}
	
	.jumbotron h1.sub-heading {
		font-size: 2.3em;
		margin-top: 1.2em;}
	
	.container.nav-container{
		padding-left: 15px;
		padding-right: 15px;} 
	
	.navbar-header{
		padding-right: 0;}
	
	h2 {
		font-size: 4em;}
	
	h3.h3_24{
		font-size: 2.3em;
		line-height: 40px;
		margin: 1.2em 0 1.9em;}
	
	h2.partners {
		font-size: 5em;
		padding: 52px 0 25px;}
	
	h3 {
		font-size: 36px;
		margin: 42px 0 48px;}
	
	h4 {
		font-size: 24px;
		line-height: 1em;}
	
	h5 {
		font-size: 18px;
		font-size: 1.8rem;
		line-height: 1.4em;}
	
	.col-lg-ex-pad{
		padding-left: 60px;
		padding-right: 60px;}
	
	.postheader h3{
		font-size: 3.2rem;}
	
	footer ul {
		margin-bottom: 0px;}
	
	a.button {
		margin-bottom: 1%;}
	
	.half {
		min-height: 282px;
		width: 47.4%;}
	
	.board-of-directors .main {
		padding-left: 0;} 
	
	.logo {
		height: 75px;
		width: 75px;}
	
	.logo a {
		background: url(/docroot/assets/abmi_logo75.png) no-repeat center center #677523;}
	
	a.oneLine{
		line-height: 250%;}
	
	.item .column, .tile .column{
		width: 64%;
		padding: 2em 3em;
		margin: 0;}
	
	.container.boxTargets div.btn-learn-green{
		float: left;
		position:relative; 
		bottom:0;
		right: 0;
		margin: 0;
		width: auto;}
	
	.btn-grouping {
		margin-bottom: 62px;}
	
	.sponsor {
		width: 30%; 
		margin: 12px 5% 30px 0;}
	
	.sponsor.last {
		margin-right: 0;}
	
	a.button.btn-learn{
		width: auto;
		display: inline-block;
		padding: 19px 42px 0;
		font-size: 1.6em;}
	
	.postheader h3 {
		position: absolute;
		margin: 0 0 0 30px;}
	
	.aside {
		padding-top: 5px;
		margin-bottom: 5px;}
	
	.aside ul {
		margin-top: 15px;
		margin-bottom: 0;}
	
	.postmeta {
		margin: 0 0 0 30px;
		min-width: 290px;}
	
	.postactions a {
		font-size: 1em;}	
	
	.col-xs-12.arrowcontainer .postmeta.arrow {
		width: 0;
		background: transparent;
		height: 0;
		border-style: solid;
		border-width: 14px 725px 0 0;
		padding: 0;
		border-color: #bb6c0c transparent transparent transparent;
		position: absolute;
		margin: 0;}
	
	.photobox.postmeta > div.meta-date {
		font-size: 1.4rem;}
	
	.photobox.postmeta {
		height: 50px;}
	
	.photo-box-share.addthis_sharing_toolbox {
		float: right;
		margin-top: 0;
		padding-right: 2em;}
	
	#gmap-canvas {
		margin-bottom: 2.4em;}
	
	.post .postheader > img{
		position: relative;}
	
	.post .postheader .post-feature-overlay > img{
		position: absolute;
		z-index: 1590;
		left: 65%;
		top: 5%;}

/* ------------------ */			
}/* ---- END MIN 768 MQ + */
/* ------------------------------------------------------------ */
	

@media only screen and (min-width: 992px) {

	.row.post .postmeta.arrow{
		display: inline-block;
		visibility: visible;}	
	
	.logo a {
		background: url(/docroot/assets/abmi_logo.png) no-repeat center center #677523;}
	
	.logo {
		height: 100px;
		width: 100px;}
	
	.tile {
		max-height: 283px;}
	
	.input-group {
		margin-right: 0;}
	
	a.button {
		font-size: 1.6em;
		margin: 0 1.6%;
		width: 30.2%;}
	
	h2 {
		font-size: 48px;}
	
	.aside ul {
		margin-top: 50px;
		margin-bottom: 50px;}
	
	.row-fluid.breadcrumb .col-lg-12 > h3, .row.breadcrumb .col-lg-12 > h3, .row-fluid.breadcrumb .col-lg-12.tmch3 > h3, .row.breadcrumb .col-lg-12.tmch3 > h3 {
		font-size: 3.1em;
		line-height: 66px;
		padding-bottom: 0.2em;}
	
	.postheader h3{
		font-size: 3.5rem;
		line-height: 1.3em;}	
	
	footer ul {
		margin-bottom: 66px;} 
		
	.spotlight .overlay h3 {
		font-size: 3.7em;
		line-height: 1em;}
	
	.spotlight .overlay h4 {
		font-size: 2.4em;
		font-weight: 400;
		line-height: 1.2em;}
	
	.learn-more a.btn-learn, .learn-more button.btn-learn, a.btn-learn {
		float: right;
		margin-top: 25px;
		padding: 13px 32px;
		position: absolute;
		bottom: 30px;}
	
	.row-fluid.explore,.row.explore {
		padding-top: 0;}
	
	.mdside div.sidemenu {
		border-left: 1px solid #313436;
		padding: 0 0 0 14px;}
	
	.mdside div.sidemenu ul {
		padding: 0; 
		margin-left: -2px;} 
	
	.mdside {
		clear: none;} 
	
	.aside {
		padding-top: 35px;
		margin-bottom: 35px;}
	
	.aside ul {
		margin-top: 20px;
		margin-bottom: 30px;}
	.aside ul.sidemenu-nav-expand {
		margin-top: 0px;
		margin-bottom: 10px;
	}
	#gmap-canvas {
		margin-bottom: 0;}


/* ------------- */	
}/* END MIN 992 MQ --------- */

    
@media (max-width: 1199px) {

	div.clear-to-lg{
		clear: both;
		overflow: hidden;}
	
	header .container {
		width: 100%;}
	
	.navbar-header {
		float: none;}
	
	.navbar-toggle {
		display: block;}
	
	.navbar-collapse.collapse {
		display: none !important;
		margin-left: -15px;
		margin-right: -15px;}
	
	.navbar-nav {
		float: none !important;}
	
	.navbar-nav > li {
		float: none;}
	
	.navbar-nav > li > a {
		padding-top: 10px;
		padding-bottom: 10px;}
	
	.navbar-collapse.collapse.in {
		display: block !important;}
	
	.collapsing {
		overflow: hidden !important;}
	
	.navbar-nav .open .dropdown-menu, .navbar-right .dropdown-menu {
		background-color: #f3f0df;
		left: auto;
		right: auto;
		padding: 0;
		width: 100%;}
	
	.navbar-right .dropdown-menu .row {
		width: auto;}
	
	.navbar-right .dropdown-menu .row ul li a {
		color: #3a3a11;
		display: block;
		font-family: "Roboto Slab", serif;
		font-size: 1.2em;
		font-weight: 700;
		padding: 0.8em 1em 0.8em 4.5em;
		-webkit-transition: background-color 0.5s ease-out;
		-moz-transition: background-color 0.5s ease-out;
		transition: background-color 0.5s ease-out;}
	
	.navbar-right .dropdown-menu .row ul li a:hover, .dropdown-menu .row ul li a:active {
		background-color: #677523;
		color: white;}
	
	.aside {
		clear: both;} 
	
	.container.boxTargets div.btn-learn-green{
		float: left;
		position:relative; 
		bottom:0;
		right: 0;}
	
	div.side-top-nav.col-lg-3{
		float: left;
		padding-top: 35px;
		margin-bottom: 0;}
	
	div.widget.listSyle{
		display: block;
		vertical-align: 100%;
		margin-bottom: 1em;}
	
	div.widget.searchbox{
		display: block;}
	
	input.sidemenuSearch {
		width: 400px;
		max-width: 80%;}
	
/* ----------- */	
}/* END MAX WIDTH 1999 MQ ------- */


@media only screen and (min-width: 1200px) {
  
	body {
		font-size: 100%;}
	
	.dropdown-menu {
		background-color: #3a3a11;
		border: 0;
		border-radius: 0;
		box-shadow: none;
		padding-top: 0;
		padding-bottom: 0;}
	
	.dropdown-menu li ul {
		padding: 30px 15px 40px;}
	
	.dropdown-menu li a {
		color: #e8e4bf;
		display: block; 
		/*    line-height: 2em;*/
line-height: 1.2em;
margin-bottom:1em; /*added by joan */
}
	
	.dropdown-menu li a:hover {
		background-color: #3a3a11;
		color: white;}
	
	ul.dropdown-menu li .row ul li {
		padding: 5px 0;}
	
	.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
		background-color: #3a3a11;
		color: white;}
	
	.dropdown-menu .row {
		width: 960px;}
	
	.dropdown-menu div.visible-lg {
		float: left;}
	
	/*set max width*/
.dropdown-menu .list-unstyled {
	display: inline-block;
		margin: 0 9px;
		vertical-align: top;
		max-width:250px;
}
	.biodiversity ul.dropdown-menu {
		width: 788px;}
	
	.about ul.dropdown-menu {
		width: 860px;}
	
	.whatwedo ul.dropdown-menu {
		width: 750px;}
	
	.ourdata ul.dropdown-menu {
		width: 590px;}
	
	.naturelynx ul.dropdown-menu {
		width: 470px;}
	
	.contact ul.dropdown-menu {
		width: 380px;}
	
	.navbar-right .dropdown-menu {
		left: -300px;
		right: auto;}
	
	.navbar-nav {
		margin: 0 -15px 0;}
	
	.navbar-default .navbar-nav > li > a {
		padding: 22px 0.9em 23px;}
	
	.container {
		max-width: 1170px;
		padding: 0;}
	
	.learn-more .column {
		min-height: 283px;}
	
	.fine-print {
		padding: 20px 15px 20px 0;}
	
	div.sidemenu {
		border-left: 1px solid #404446;
		padding: 0 0 0 14px;}
	
	.sidemenu ul {
		padding: 0; 
		margin-left: -2px;} 
	
	div.side-top-nav.col-lg-3{
		float: right;
		padding-top: 35px;}

/* ---------------- */			
}
@media (max-width:991px){
	.shortpost h4{
		font-size: 18px;
	}
}
@media (max-width:767px){
	.post-feature-img {
		float: none;
		padding: 15px 0px 0px 15px;}
}
@media (max-width:1199px){
	.aside ul.sidemenu-nav-expand {
		margin: 0;
		padding: 0;}
}
@media (min-width:768px){
	.post-box-share.addthis_sharing_toolbox {
		float: right;
		margin-top: 0.8em;
		padding-left: 2.5em;}
}
/* END MIN 1200 WIDTH MQ ------ */
	

/* ---------------------------------- */



