/*Bootstrap core CSS */
@import url(bootstrap.css);
@import url(fonts.css);


/*************************************************************/
/*	Basic Style
/*************************************************************/
body{
	font-family: 'ralewayregular';
	background:#E6E7E8;
	font-size: 16px !important;
}
a, a:hover, a:focus, button, input:focus{
	outline:none;
	text-decoration:none;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.container{
	background-color: #fff;
}
.txt-center{
	text-align:center;
}
.txt-left{
	text-align:left;
}
.txt-right{
	text-align:right;
}
input, select, textarea{
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
}
h1{
	font-size:72px;
}
h2{
	font-size:45px;
	color: #447D96;
	margin-bottom: 30px;
}
h3{
	font-size:32px;
	margin-bottom: 15px;
}
h4{
	font-size:24px;
}
h5{
	font-size:22px;
}
h6{
	font-size:18px;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'corbenregular';
}
p{
	font-size:16px;
	line-height: 30px;
	font-family: 'ralewaylight';
}

@media (max-width:1199px){
	h1{
		font-size:60px;
	}
}
@media (max-width:991px){
	h1{
		font-size:50px;
	}
	h2{
		font-size:40px;
		margin-bottom: 25px;
	}
	h3{
		font-size:30px;
	}
	h4{
		font-size:22px;
	}
	h5{
		font-size:20px;
	}
}
@media (max-width:767px){
	h1{
		font-size:45px;
	}
	h2{
		font-size:35px;
	}
	h3{
		font-size:25px;
	}
	h4{
		font-size:20px;
	}
	h5{
		font-size:19px;
	}
}
@media (max-width:480px){

}
/*************************************************************/
/*	Reusable Style
/*************************************************************/
.navyblue{
	background: #292934;
	color: #fff;
}
.green{
	background: #1e795f;
	color: #fff;
}
.yellow{
	background-color: #d58812;
	color: #fff;
}
.red{
	background-color: #d10020;
	color: #fff;
}
.blue{
	background:#539bbb;
	color:#fff;
}
.orange{
	background: #d45f16;
}
.navyblue h2, .green h2, .yellow h2, .red h2, .blue h2, .orange h2{
	color:#fff;
}
.btn, input.btn{
	color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    padding: 12px 15px;
    font-family: 'ralewayregular';
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 0px;
    min-width: 172px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
input.btn:focus, .btn-yellow:focus, .btn-orange:focus{
	outline: none;
}
.btn-line{
	background: transparent;
	border: 1px solid #ffffff;
}
.btn-line:hover, .btn-line:focus, .btn-line:active{
	border: 1px solid #ffffff;
	background: #ffffff;
	color: #464749;
	outline: 0px;
}
.btn-yellow{
	background: #d58812;
	color: #fff;
}
.dark-btn, input.dark-btn{
	background: #292934 !important;
	color: #fff !important;
}
.btn-orange{
	background:#D45F16;
}
a.more-btn{
	color:#fff;
}
.more-btn:hover{
	box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.5);
}
.btn-white{
	background:none;
}
.more-btn.red-btn:hover{
	background:none;
	box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.5);
}
.mrgB2em{
	margin-bottom: 2em;
}
.bg-block{
	background-repeat: no-repeat !important;
	background-position:center left;
	background-size:cover !important;
}
@media (max-width:767px){
	.btn, input.btn{
		font-size: 15px !important;
	    padding: 8px 15px !important;
	    min-width: 150px !important;

	}
}
/*************************************************************/
/*	Header
/*************************************************************/
.topnav-bar{
	background:#508FA7;
	text-align: right;
}
.topnav-bar a{
	color:#ffffff;
	text-transform:uppercase;
	font-size:12px;
	font-family: 'ralewaylight';
	margin-left: 5px;
    padding-left: 10px;
	display: inline-block;
	line-height: 16px;
	border-left: 1px solid #fff;
}
.topnav-bar a:first-child{
	border-left: 0px;
}
.ct-search {
	position: relative;
	height:38px;
	width:38px;
	background:url("img/search-icon.svg") no-repeat right 6px center;
	background-size:24px auto;
	z-index: 100000;
}
.ct-search-input-wrap {
	position: absolute;
	right: 38px;
	height: 38px;
	width: 0;
	overflow: hidden;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
input[type="text"].ct-search-input {
	border: none;
	outline: none;
	background: #fff;
	width: 265px;
	height: 38px;
	margin: 0;
	padding: 2px 7px;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
input[type="submit"].ct-search-submit {
	background: transparent;
	color: transparent;
	box-shadow: none;
	border: none;
	padding: 0;
	border-radius: 0;
	outline: none;
	z-index: -1;
}
.ct-icon-search, input[type="submit"].ct-search-submit {
	height:38px;
	width:38px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	line-height: 42px;
	text-align: center;
	cursor: pointer;
}
 .ct-search.ct-search-open .ct-search-input-wrap {
	width: 278px;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.ct-search.ct-search-open input[type="submit"].ct-search-submit {
	z-index: 90;
}
@media (min-width:768px){
	.ct-search {
		display:inline-block;
		vertical-align: middle;
	}
}
@media (max-width:767px){
	.topnav-bar {
		text-align: center;
		padding-top: 5px;
	}
	.ct-header-items-right {
		float: none;
		margin: 0 auto;
		clear: both;
	}
	.ct-search {
		background-color: #539bbb;
		width: 262px;
		float: none;
		margin: 10px auto;
		height: 38px;
	}
	.ct-search input[type="text"].ct-search-input {
		opacity: 1;
	}
	.ct-search .ct-search-input-wrap, .ct-search.ct-search-open .ct-search-input-wrap {
		width: 228px;
		-webkit-transition: none;
		-moz-transition: none;
		transition: none;
	}
	.ct-search .ct-icon-search {
		z-index: 1;
		pointer-events: none;
	}
}
/*************************************************************/
/*	Navigation
/*************************************************************/
.nav-bar{
	background:#539bbb;
	padding: 0px 15px;
}
.navbar-brand > img{
	width:260px;
	height:48px;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	font-family: 'ralewaybold';
}
.navbar-inverse .navbar-nav > li > a{
	color:#fff;
	text-transform:uppercase;
	font-size:14px;	
	font-family: 'ralewaylight';
	    letter-spacing: 0.5px;
}
@media (min-width: 1200px){
	.navbar-nav {
		float: right;
	}
	.navbar-nav > li:last-child > a{
		padding-right:0px;
	}
	header{
		position: absolute;
		z-index: 1000;
		width: 100%;
	}
}
@media (max-width:1199px){
	header {
		position: relative;
		width: 100%;
	}
	.navbar-brand {
		padding: 13px 15px;
	}
	.navbar-toggle .icon-bar + .icon-bar {
		margin-top: 5px;
	}
	.navbar-brand > img {
		width: 163px;
		height: 30px;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		border-color: #508FA7;
	}
	.navbar-toggle .icon-bar {
		width: 30px;
		height: 3px;
	}
	.navbar-toggle{
		padding: 10px;
	}
}
/*************************************************************/
/*	sigin/signup popup 
/*************************************************************/
.main-nav{
	display: inline-block;
}
.sy-user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 100000;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
  -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
  transition: opacity 0.3s 0, visibility 0 0.3s;
}
.sy-user-modal.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0, visibility 0 0;
  -moz-transition: opacity 0.3s 0, visibility 0 0;
  transition: opacity 0.3s 0, visibility 0 0;
}
.sy-user-modal.is-visible .sy-user-modal-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.sy-user-modal-container {
  position: relative;
  width: 90%;
  max-width: 770px;
  background: #FFF;
  margin: 3em auto 4em;
  cursor: auto;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.sy-user-modal-container .sy-switcher:after {
  content: "";
  display: table;
  clear: both;
}
.sy-user-modal-container .sy-switcher li {
  width: 50%;
  float: left;
  text-align: center;
}
.sy-user-modal-container .sy-switcher a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #C7CBCC;
  color: #6E7576;
  font-size: 18px;
}
.sy-user-modal-container .sy-switcher a.selected {
  background: #FFF;
  color: #464749;
}

.sy-form {
  padding: 1.4em;
}
.sy-form .btn{
	max-width: 200px;
	margin-top: 2em;
}
.sy-form .fieldset {
  margin: 5px 0;
}
.sy-form .fieldset:first-child {
  margin-top: 0;
}
.sy-form .fieldset:last-child {
  margin-bottom: 0;
}
.sy-form input {
  margin: 0;
  padding: 0;
  background: #DFE0E1;
  color: #464749;
  text-align: center;
  width: 100%;
  padding: .8em;
  outline: none;
  border: none;
  font-size: 16px;
}
.sy-form  input[type="checkbox"] {
    width: auto !important;
    padding:0px;
}
.sy-form .sy-error-message {
  display: inline-block;
  position: absolute;
  left: 15px;
  bottom: -35px;
  background: rgba(215, 102, 102, 0.9);
  padding: .2em .5em;
  z-index: 2;
  color: #FFF;
  /* prevent click and touch events */
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
  -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
  transition: opacity 0.2s 0, visibility 0 0.2s;
}
.sy-form .sy-error-message::after {
  /* triangle */
  content: '';
  position: absolute;
  left: 22px;
  bottom: 100%;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}
.sy-form .sy-error-message.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s 0, visibility 0 0;
  -moz-transition: opacity 0.2s 0, visibility 0 0;
  transition: opacity 0.2s 0, visibility 0 0;
}
.sy-form-message {
  padding: 1.4em 1.4em 0;
  line-height: 1.4;
  text-align: center;
  font-size: 14px;
}
.sy-form a{
	color: #539BBB;
}
a.forgot-password {
  float: right;
}
.sy-close-form {
  /* form X button on top right */
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: -40px;
  background: url("img/icon-close.svg") no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#sy-login, #sy-signup, #sy-reset-password {
  display: none;
}
#sy-login.is-selected, #sy-signup.is-selected, #sy-reset-password.is-selected {
  display: block;
}
@media only screen and (min-width: 1170px) {
  .sy-close-form {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
	.sy-form .btn {
    	max-width: 180px;
    }
}
@media only screen and (min-width: 600px) {
  .sy-form {
    padding: 3em;
  }
  .sy-user-modal-container {
    margin: 4em auto;
  }
  .sy-user-modal-container .sy-switcher a {
    height: 80px;
    line-height: 80px;
    font-size: 22px;
  }
  .sy-form-message {
    padding: 2em 2em 0;
  }
  .sy-form input {
    padding: 1.2em;
  }
}
@media (max-width:480px){
	.main-nav{
		display: block;
	}
	.topnav-bar a:nth-child(2){
		border-left: 0px;
		padding-left: 0px;
		margin-left: 0px;
	}
}
@media only screen and (max-width: 420px) {
	.sy-form  .col-xs-6{
		width: 100%;
	}
	.forgot-password{
		float: left !important;
	}
}
/*************************************************************/
/*	Banner
/*************************************************************/
.home.banner{
	height: 800px;
}
.banner{
	height: 500px;
	overflow: hidden;
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner .banner-img{
	display: none;
	width: 100%;
	height: auto;
}
.banner .banner-txt{
	background:rgba(0, 0, 0, 0.20);
	padding:30px 25px;
	margin-top:140px;
	text-align:center;
	position: relative;
	z-index: 100;
	width: 100%;
	color: #ffffff;
}
.home.banner .banner-txt{
	margin-top:220px;
}
.banner .banner-txt .btn{
	min-width: 200px;
}
.banner .banner-txt h1{
	margin-bottom:30px;
	font-family: 'corbenregular';
}
.banner .banner-txt p{
	font-family: 'ralewaylight';
	font-size: 18px;

	margin: 0 auto 30px;
	line-height: 25px;
	max-width:700px;
}
.banner .banner-txt h6{
	letter-spacing:1px;
	margin-top: 30px;
}

@media (max-width:1480px){
	.home.banner{
		height: 700px;
	}
	.banner{
		height: 450px;
	}
	.home.banner .banner-txt{
		margin-top: 200px;
	}
	.banner .banner-txt{
		margin-top: 130px;
		padding: 10px 20px 20px;
	}
}
@media (max-width:1300px){
	.home.banner{
		height: 600px;
	}
	.banner{
		height: 400px;
	}
	.banner-txt h1{
		font-size:50px;
	}
	.home.banner .banner-txt{
		margin-top: 170px;
	}
	.banner .banner-txt {
	    margin-top: 150px;
	}
}
@media (max-width:1199px){
	.home.banner{
		height: 450px;
	}
	.banner{
		height: 300px;
		background: none !important;
	}
	.home.banner .banner-txt{
		margin-top: 40px;
	}
	.banner .banner-txt{
		margin-top: 55px;
	}
	.banner .banner-img{
		display: block;
		position: absolute;
	}
	.banner .banner-txt h1 {
    	font-size: 30px;
	}
}
@media (max-width:767px){
	.banner{
		height: auto;
	}
	.banner .banner-txt{
		margin-top: 0px;
	}
	.banner .banner-img{
		min-height: 100%;
	    width: auto;
	    max-width: 120%;
	}
	.banner .banner-txt .btn{
		min-width: 150px;
	}
}
@media (max-width:480px){
	.banner .banner-img{
		position: relative;
		width: 100%;
		max-width: 100%;
		min-height: 0px;
	}
	.banner .banner-txt{
		margin-top:0px;
	    position: relative;
	    background: #292934;
	}
}
/*************************************************************/
/*	Landing Page
/*************************************************************/
.species-count{
	background: #539bbb;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 1px;
}
.species-count span{
	    vertical-align: middle;
}
.species-count .count{
	font-size: 45px;
	font-family: 'corbenregular';
	border-left: 1px solid #ffffff;
	padding-left: 20px;
	margin-left: 20px;
}
.s_identified{
	padding: 15px 40px;
}
.s_verified{
	padding: 15px 40px;
	background: #447D96;
}
.recent-sightings{
	color: #fff;
	padding: 40px 30px;
	text-align: center;
}
.sightings-icon{
	width: 125px;
	height: 63.74 px;
}
.recent-sightings h2{
	margin: 40px auto;
}
.recent-sightings .btn{
	margin-top: 70px;
}
.sightings-slider{
	position: relative;
	padding: 0px;
}
.flex-control-nav {
    bottom: 10px !important;
}
.flex-control-paging li a {
	width: 12px !important;
    height: 12px !important;
    background: #ccc;
    background: rgba(255, 255, 255, 0.3) !important;
}
.flex-control-paging li a.flex-active {
    background: #fff;
    background: rgba(255, 255, 255, 0.9) !important;
}
.sightings-slider .caption{
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
}
.sightings-slider .caption h4{
	display: inline-block;
	vertical-align: middle;
	padding: 0px 25px;
}
.status{
	font-size: 15px;
	padding: 60px 15px 10px;
    background-position: center top 11px;
    background-repeat: no-repeat;
    background-size: 42px 42px;
    display: inline-block;
    letter-spacing: 0.5px;
    vertical-align: middle;
    text-transform: uppercase;
}
.verified{
	background-color: #21674C;
    background-image: url("img/verified-icon.svg");
}
.pending{
	background-color: #d45f16;
    background-image: url("img/pending-icon.svg");
}
.unknown{
	background-color: #d10020;
    background-image: url("img/unknown-icon.svg");
}
/***** CallOut *****/
.callout{
	padding-top:45px;
	padding-bottom: 45px; 
	color: #fff;
}
.callout img{
	display: inline-block;
	vertical-align: middle;
	margin: 0px 30px;
}
.callout .callout-text{
	display: inline-block;
	vertical-align: middle;
}
.callout p{
	margin-bottom: 0px;
}
.all-about h3{
	margin: 0px;
}
.all-about img{
	height: 45px;
}
.abmi-more img{
	width: 80px;
}
.abmi-more .btn{
	margin-top: 23px;
}
.abmi-more h3{
	margin-top: 0px;
}
.about-sec{
	background:url("img/img-2.jpg") no-repeat;
	background-position: top left;
	background-size:cover;
	color:#fff;
	padding-right: 30px;
	padding-bottom:20px;
	display: table;
}
.mission-sec .btn{
	margin-bottom:20px;
	display:block;
	width: 172px;
}
.mission-sec p, .identify-sec p{
	margin-bottom:20px;
}
.about-sec .btn{
	float: right;
}

.mission-sec{
	padding-right:0px;
	display: table;
}
.toknow-sec{
	background:url("img/img-3.jpg") no-repeat;
	background-position:center left;
	background-size:cover;
	color:#fff;
	padding: 0px 30px 20px;
	display: table;
}
.identify-sec{
	padding-left:0px;
	display: table;
}
.identify-txt{
	padding-left:30px;
}
.about-sec .btn, .toknow-sec .btn, .identify-sec .btn, .story-map-info .btn{
	margin-top: 40px;
    margin-bottom: 20px;
}
/*Story Map*/
.map-icon{
	height:86px;
	width:auto;
	margin-bottom:15px;
}
.map-img{
	padding:0px;
}
.map-img img{
	width:100%;
	height:auto;
}
.story-map-info{
	text-align:center;
	padding: 50px 50px 70px;
}
.story-map-info h2{
	margin-bottom:30px;
}

@media (max-width:1200px){
	.recent-sightings .btn{
		margin-top: 40px;
	}
}
@media (max-width:1199px){
	.callout{
		text-align: center;
	}
	.callout .callout-text{
		margin-bottom: 15px;
		display: block;
	}
	.callout img {
    	display: block;
    	margin: 0px auto 15px;
    }
    .callout .btn{
	    margin-top: 20px;
    }
    .about-sec, .toknow-sec{
		padding:20px 35px 35px !important;
	}
	.story-map-info {
	    padding: 30px 50px;
	}
}
@media (max-width:991px){
	.s_identified{
		text-align: left;
	}
	.story-map-info {
		padding: 30px 20px 50px;
	}
	.species-count span{
		font-size: 18px;
	}
	.s_verified, .s_identified{
		padding: 10px 20px;
		text-align: center;
	}
	.species-count .count{
		font-size: 35px;
		display: block;
	    margin: 0 auto;
	    text-align: center;
	    padding-left: 0;
	    border-left:none;
	}
}
@media (max-width:767px){
	
	.bg-block{
		display:none;
	}
	.mission-sec, .about-sec, .toknow-sec, .identify-sec{
		text-align:center
	}
	.about-sec .btn, .toknow-sec .btn{
		float:none;
		margin: 30px auto 10px;
	}
	.mission-sec .btn, .identify-sec .btn{
		margin: 20px auto;
	}
	.mission-sec, .identify-sec{
		padding: 20px 0px;
	}
	
	.identify-txt {
		padding: 0px 15px;
	}
	.about-sec, .toknow-sec{
		padding:20px 15px 35px !important;
	}
}
@media (max-width:480px){
	
}
/*************************************************************/
/*	Sub nav
/*************************************************************/
.sub-nav{
	background: #E6E7E8;
    position: relative;
    z-index: 100;
    top: -70px;
    margin-bottom: -70px;
    height: 70px;
}
.sub-nav ul{
	text-align: center;
	margin: 0px;
}
.sub-nav ul li{
	list-style: none;
    display: inline-block;
    padding: 24px 15px;
}
.sub-nav ul li a{
	text-transform: uppercase;
	color: #447D96;
	font-size: 14px;
}
.sub-nav ul li.active a{
	font-family: 'ralewaybold';
}
@media (max-width: 1199px){
	.sub-nav {
    	top: -50px;
	    margin-bottom: -50px;
	    height: auto;
    }
	.sub-nav .navbar-toggle {
	    display: block;
	    margin: 4px auto;
	    float: none;
	    font-weight: bold;
	    width: 200px;
	}
	.sub-nav .navbar-toggle .nav-trigger {
	    position: relative;
	    display: inline-block;
	    vertical-align: middle;
	    height: 20px;
	    text-align: left;
	    margin-right: 30px;
	}
	.sub-nav .navbar-toggle .nav-trigger span {
	  position: absolute;
	  height: 2px;
	  width: 25px;
	  top: 50%;
	  margin-top: -3px;
	  left: 50%;
	  -webkit-transition: background-color 0.3s 0.3s;
	  -moz-transition: background-color 0.3s 0.3s;
	  transition: background-color 0.3s 0.3s;
	}
	.sub-nav .navbar-toggle .sr-only{
	    position: relative;
	    color: #447D96;
	}
	.sub-nav .navbar-toggle .nav-trigger span:before,
	.sub-nav .navbar-toggle .nav-trigger span:after {
	  content: '';
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  background-color: #447D96;
	  -webkit-transform: translateZ(0px);
	  -moz-transform: translateZ(0px);
	  -ms-transform: translateZ(0px);
	  -o-transform: translateZ(0px);
	  transform: translateZ(0px);
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	  -webkit-transition: -webkit-transform 0.3s 0.3s;
	  -moz-transition: -moz-transform 0.3s 0.3s;
	  transition: transform 0.3s 0.3s;
	}
	.sub-nav .navbar-toggle.collapsed .nav-trigger span:before {
	  -webkit-transform: translateY(-6px);
	  -moz-transform: translateY(-6px);
	  -ms-transform: translateY(-6px);
	  -o-transform: translateY(-6px);
	  transform: translateY(-6px);
	}
	.sub-nav .navbar-toggle.collapsed .nav-trigger span:after {
	  -webkit-transform: translateY(6px);
	  -moz-transform: translateY(6px);
	  -ms-transform: translateY(6px);
	  -o-transform: translateY(6px);
	  transform: translateY(6px);
	}
	.sub-nav .navbar-toggle.collapsed .nav-trigger span {
	  background-color: #447D96 !important;
	}
	.sub-nav .navbar-toggle .nav-trigger span:before,
	.sub-nav .navbar-toggle .nav-trigger span:after {
	  background-color: #447D96 !important;
	}
	
	.sub-nav .navbar-toggle .nav-trigger span:before {
	  -webkit-transform: translateY(0) rotate(-45deg);
	  -moz-transform: translateY(0) rotate(-45deg);
	  -ms-transform: translateY(0) rotate(-45deg);
	  -o-transform: translateY(0) rotate(-45deg);
	  transform: translateY(0) rotate(-45deg);
	}
	.sub-nav .navbar-toggle .nav-trigger span:after {
	  -webkit-transform: translateY(0) rotate(45deg);
	  -moz-transform: translateY(0) rotate(45deg);
	  -ms-transform: translateY(0) rotate(45deg);
	  -o-transform: translateY(0) rotate(45deg);
	  transform: translateY(0) rotate(45deg);
	}
	.sub-nav ul li {
	    display: block;
	    padding: 10px 0px;
	}
}
@media (max-width: 767px){
	.sub-nav {
	    top: 0;
	    margin-bottom: 0;
    }
}
/*************************************************************/
/*	Groups & Missions
/*************************************************************/
.content-wrap{
	padding: 50px 0px;
}
.txtStyle-blue{
	color: #539BBB;
	text-transform: uppercase;
	font-size: 16px;
}
.btn-aside{
	margin-top: 70px;
}
.btn-aside .btn{
	min-width: 200px;
}
.btn-aside .btn:last-child{
	margin-left: 20px;
}
.txt-wrap{
	padding: 70px;
}
.groups-sec h2, .missions-sec h2{
	margin-top: 0px;
}
@media (max-width:991px){
	.btn-aside{
		margin-top: 40px;
	}
	.txt-wrap{
		padding: 30px;
	}
	.btn-aside .btn:last-child{
		margin-left: 0px;
		margin-top: 20px;
	}
}
@media (max-width:767px){
	.txt-wrap{
		padding: 30px 15px;
	}
	.btn-aside .btn:last-child{
		margin-left: 20px;
		margin-top: 0px;
	}
}
@media (max-width:480px){
	.btn-aside .btn {
	    display: block;
	    width: 200px;
	}
	.btn-aside .btn:last-child{
		margin-left: 0px;
		margin-top: 15px;
	}
}
/*************************************************************/
/*	Search Sightings
/*************************************************************/
.search-sightings-header{
	background: #E6E7E8;
    position: relative;
    z-index: 100;
    width: 100%;
    float: left;
    top: -70px;
    margin-bottom: -70px;
}
.search-sightings-header .btn-orange{
	padding: 20px;
	height: 70px;
	float: left;
}
.sightings-icons{
	float: left;
	padding: 20px;
}
.sightings-icons a{
	 height: 30px;
    width: 35px;
        float: left;
    margin: 0px 5px;
    background-size: auto 30px;
}
.all{
	background: url("img/all-icon.svg") no-repeat;
}
.bird{
	background: url("img/birds-icon.svg") no-repeat;
}
.mammals{
	background: url("img/mammals-icon.svg") no-repeat;
}
.plants{
	background: url("img/plants-icon.svg") no-repeat;
}
.fungi{
	background: url("img/fungi-icon.svg") no-repeat;
}
.mosses{
	background: url("img/mosses-icon.svg") no-repeat;
}
.insects{
	background: url("img/insects-icon.svg") no-repeat;
}
.reptiles{
	background: url("img/reptiles-icon.svg") no-repeat;
}
.fish{
	background: url("img/fish-icon.svg") no-repeat;
}
.sightings-header-right{
	float: right;
}
.layout-icons{
	padding: 20px;
	float: left;
}
.layout-icons a{
	height: 30px;
    width: 35px;
    float: left;
    margin: 0px 5px;
    background-size: auto 30px;
}
.search-icon{
	background-image: url("img/search-icon.svg");
}
.backTomap{
	background: url("img/icon-close.svg") no-repeat center center;
}
.search-link{
	background-size: 25px auto;
	background-color: #539BBB;
	background-repeat: no-repeat;
	padding: 35px;
    background-position: center center;
	float: left;
	transition: none !important;
}
.globe{
	background: url("img/globe-icon.svg") no-repeat;
}
.list{
	background: url("img/thumbview-icon.svg") no-repeat;
}
.map-area, .search-area{
	background: #fff;
}
.map-data{
	width: 100%;
	height: 800px;
	overflow: hidden;
}
.get-data{
	background: #539BBB;
	color: #fff;
	padding: 10px 15px;
}
.get-data .total-spices{
	padding: 14px 0px;
}
.get-data a{
	float: right;
}
.get-data a:first-child{
	margin-left: 15px;
}
.get-data span{
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.get-data span:last-child{
	padding-left: 15px;
	margin-left: 15px;
	border-left: 1px solid #fff;
}


/** Search ***/
.search-area{
	padding: 75px 15px;
}
.search-group{
	border: 1px solid #999FA1;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-bottom: 15px;
}
.searchBy{
	padding: 15px;
	color: #6E7576;
	position: relative;
	padding-right: 50px;
	cursor: pointer;
}
.searchBy:after{
	content: "";
	position: absolute;
	right: 20px;
    top: 23px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 7.5px 0 7.5px;
	border-color: #999FA1 transparent transparent transparent;
}
.searchBy.open:after{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 7.5px 7px 7.5px;
	border-color: transparent transparent #999FA1 transparent;
}
.searchdata{
	padding: 15px;
	color: #464C4A;
}
.group-title{
	display: block;
	padding: 5px 0px;
}
@media (max-width:991px){
	.get-data .total-spices {
    	padding: 0px 0px 15px 0px;
    	text-align: center;
    }
    .get-data{
	    text-align: center;
    }
    .get-data a{
		float: none;
	}
    .map-data {
    	height: 500px;
    }
    .search-sightings-header{
	    top:0px;
	    margin-bottom: 0px;
	    background: #F2F2F2;
	    float: none;
    }
    .search-sightings-header .btn-orange{
	    float: none;
    }
    .sightings-icons{
	    text-align: center;
	    float: none;
    }
    .sightings-icons a{
	    display: inline-block;
	    float: none;
    }
    .get-data a:first-child{
		margin-left: 0px;
	}
	.get-data a:last-child{
		margin-left: 15px;
	}
    .sightings-header-right{
	    position: absolute;
	    top: 0;
	    right: 0;
    }
    .search-area{
		padding: 50px 15px;
	}
}
@media (max-width:767px){
	.get-data span{
		display: block;
	}
	.get-data span:last-child {
	    padding-left: 0;
	    margin-left: 0;
	    border-left: 0;
	    margin-top: 10px;
	}
	.get-data a {
		display: block;
		width: 100%;
	}
	.get-data a:last-child{
		margin-left: 0px;
		margin-top: 10px;
	}
}
@media (max-width:480px){
	.search-sightings-header .btn-orange{
		height: 50px;
	}
	.search-link{
		padding: 25px;
	}
	.layout-icons {
    	padding: 10px 0px;
    }
    .layout-icons a {
    	margin: 0px 3px;
    }
    .map-data {
	    height: 400px;
	}
	.search-area{
		padding: 40px 15px;
	}
}
/*************************************************************/
/*	Footer
/*************************************************************/
footer{
	text-align:center;
	padding:70px 0px 55px;
}
footer .container{
	background-color: transparent;
}
footer a:hover, .footer-nav li a:hover{
	color:#FFFFFF
}
.newsletter-form{
	display:inline-block;
}
.newsletter-form input{
	background:#646275;
	border:none;
	color:#F0F1EE;
	font-size:16px;
	float: left;
	height:58px;
	width:560px;
	padding:10px 15px;
	text-align: center;
}
input::-webkit-input-placeholder {
   
}
.newsletter-form button{
	background:#539bbb;
	font-size:18px;
	font-family: 'ralewaysemibold';
	letter-spacing:2px;
	color:#fff;
	text-transform:uppercase;
	border:none;
	float: left;
	height:58px;
	padding:10px 36px;
}
.footer-links{
	margin: 20px auto;
}
.footer-nav, .social-nav{
	margin:5px auto;
	padding:0px;
	list-style:none;
	display:inline-block;
}
.footer-nav li, .social-nav li{
	display:inline-block;
	vertical-align: middle;
	margin:5px 11px;
}
.footer-nav li a{
	font-size:16px;
	color:#D0D2D3;
}
.social-nav li img{
	height:32px;
	width:auto;
}
.copyright a, .copyright span{
	color:#929497;
	font-size:12px;
}
.copyright a{
	margin:0px 5px;
}

.copyright span{
	border-right:1px solid #929497;
	padding:0px 5px;
}
@media (max-width:991px){
	footer{
		padding: 30px 0px 25px;
	}
}
/*************************************************************/
/*	Media Query
/*************************************************************/
@media (max-width:1199px){
.map-img{
	overflow: hidden;
	width: 400px;
	height: 400px;
	margin: 50px auto 0px;
}
.map-img img {
	top: -44px;
	position: relative;
}

.landing-info{
	margin:15% 0px;
}
}
@media (max-width:1024px){
	.landing-info h1{
	font-size:30px;
	margin:5px auto 10px;
}
}
@media (max-width:991px){
.newsletter-form input {
	width: 550px;
}

}
@media (min-width:992px){
.navbar-nav {
	padding: 14px 0px;
}
}
@media (max-width:960px){
.landing-info {
	margin: 0px 0px;
	position: relative;
	background: #292934;
}
}

@media (max-width:767px){


.newsletter-form {
	width: 100%;
}
.newsletter-form input{
	float: none;
	width: 100%;
}
input::-webkit-input-placeholder {
   font-size:10px;
   line-height:25px;
}
.newsletter-form button {
	float: none;
	margin-top:10px;
}
.join-group{
	text-align:center;
}
}
@media (max-width:600px){
.copyright span {
	margin: 5px;
	display: block;
	border: none;
}
}


@media (max-width:480px){
.map-img{
	width: 100%;
	margin:0;
}
}
@media (max-width:380px){

}
@media (max-width:300px){
	.navbar-toggle{
		padding:0px;
	}
	.navbar-brand {
	 padding: 4px 5px 6px;
	}
	.ct-search {
		width: 220px;
	}
	.ct-search .ct-search-input-wrap{
		width: 185px;
	}
	input[type="text"].ct-search-input {
		width: 180px;
	}
	.about-sec {
		display: block;
	}
	h2 {
	font-size: 23px;
	}
}
@media screen and (min-width: 1em){
#header-box.fixed {
	position: fixed;
	width: 100%;
	left: 0;
	top: -200px;
	z-index: 10000;
}
#header-box.invisible {
	top: -200px;
	opacity: 0;
	-webkit-transition: all .8s;
	transition: all .8s;
}
#header-box.visible {
	top: 0;
	opacity: 1;
	-webkit-transition: all .4s;
	transition: all .4s;
	transition-property: all;
	transition-duration: 0.4s;
	transition-timing-function: initial;
	transition-delay: initial;
}
}
