/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
	background-color: #f9fafb;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgb(0, 0, 0);
  color:grey;  
}

.brand-text{
	color : rgb(57, 178, 140);
	font-size: 20px;
}
