.carousel-indicators {
  position: absolute;
  left: 47%;
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
  list-style: none;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #ffffff;
}

.carousel-inner .item {
	padding: 0px 70px 0px 70px;
}

img.center {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

