.arrow-left {
    height: 0;  
    width: 0;  
    border: 15px solid;  
    border-color: transparent white transparent transparent;  
    font-size: 0;
}

#tiles li {
	opacity: 0;
	-webkit-transition: all 0.8s ease-out;
	-moz-transition: all 0.8s ease-out;
	-o-transition: all 0.8s ease-out;
	transition: all 0.8s ease-out;
}

