/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgb(33,33,33);
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

.span_center { 	
	float: none; 	
	margin-left: auto; 	
	margin-right: auto; 
}

.center_div{
    margin: 0 auto;
    width:27% /* value of your choice which suits your alignment */
}

.center_table{
    margin: 0 auto;
    width:40% /* value of your choice which suits your alignment */
}

.main {
  padding: 20px;
}

.main .page-header {
  margin-top: 0;
}

.text-wrap {
	word-wrap: normal;
	overflow-wrap: normal;
}